/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    padding-top: 2em;
  }

  .parallax_group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    min-height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax_layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax_layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax_layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax_layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }



  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
    color: #fff;
  }
  #group1 .parallax_layer--base {
    background: rgb(0, 0, 0);
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax_layer--back {
    background-image: url(beach.jpg);
    background-position: center;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
    color: #fff;
  }
  #group3 .parallax_layer--base {
    background: rgb(0,0,0);
    color: #fff;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax_layer--back {
    background-image: url(rockyMountain.jpg);
    background-position: center;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
    color: #fff;
  }
  #group5 .parallax_layer--base {
    background: rgb(0,0,0);
    color: #fff;
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax_layer--back {
    background-image: url(city.jpg);
    background-position: center;
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
    color: #fff;
  }
  #group7 .parallax_layer--base {
    background: rgb(0,0,0);
    color: #fff;
  }

  /* Sticky Header */

.twc-container {
  background: #fff;
  max-width: 100vw;
  width: 100vw;
  padding-top: 0;
}

.parallax-container {
  margin: 0 auto;
  padding: 0 2.5%;
  width: 100%;
  max-width: 1280px;
}
header.simply {
  width: 100%;
  clear: both;
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  padding: 0.5em 2.5% 0;
  top: 0;
  z-index: 9999;
}
.simply {
  clear: both;
}

.simpleLogo {
  text-align: left;
  max-width: 20%;
  float: left;
}

.simpleNav {
  text-align: right;
  max-width: 80%;
  float: right;
  line-height: 2;
}

.simpleNav a {
  color: #3f454f;
}

.simpleNav a:hover {
  color: #5f656f;
}

.simpleNav .navContainer {
  position: absolute;
  right: -50%;
  left: 160%;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  background: rgba(255,255,255,0.85);
  color: #3f454f;
  padding: 1em;
  box-shadow: -2px 2px 1px 1px #d5d5d5;
  display: none;
}

.simpleNav .navContainer > ul {
  max-width: 75%;
  display: none;
}

.simpleNav .navContainer > ul.js-active {
  display: block;
}

.simpleNav .navContainer > ul li.js-last a {
  border-bottom: none;
}

.simpleNav .navContainer fieldset.login {
  max-width: 50%;
}

.simpleNav .navContainer a {
  color: #3f454f;
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid #d5d5d5;
}

.simpleNav .navContainer a:after {
  font-family: "FontAwesome";
  content: "\f054";
  float: right;
}

.simpleNav ul.horizontal li {
  border-right: 1px solid #3376b2;
  padding: 0 .5em;
}
.simpleNav ul.horizontal li:last-of-type {
  border-right: none;
  padding-right: 0;
}

.simpleNavHidden {
  display: none;
}

.simpleNavToggle:after {
  font-family: "FontAwesome";
  font-size: 26px;
  font-size: 2.6rem;
  content: "\f0c9";
  color: #fff;
  line-height: 2;
  background: #3376b2;
  border-radius: 3px;
  padding: .125em .25em;
}

.simpleNavToggle {
  display: none;
}

.paraBox {
  background: rgb(0,0,0);
  padding: 0 2.5%;
  min-height: 25vh;
  margin-top: 25vh;
  color: #fff;
}

@media (max-width: 40em) {
  .paraBox {
    margin-top: 5vh;
  }
}

@media (max-width: 66.15em) {
  .twc-container {
      padding: 0;
  }
}

@media (max-width: 48em) {
  .twc-container {
    padding: 0;
  }
  .simpleNav .navContainer > ul {
    display: block;
  }
  .simpleLogo {
    max-width: 75%;
    margin-bottom: 1em;
  }
  .simpleNav {
    width: 100%;
    max-width: 100%;
  }
  .simpleNavItems {
    display: none;
  }
  .simpleNavToggle {
    display: block;
    position: absolute;
    max-width: 10%;
    right: 2.5%;
    top: -0.5em;
    cursor: pointer;
  }
  .simpleNavItems {
    position: relative;
    width: 100%;
    line-height: 3;
    padding: 0.5em 1em;
    background: #fff;
    float: left;
  }
  .simpleNav ul.horizontal li {
    display: block;
    text-align: left;
    border-right: none;
    float: left;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #e2e3e6;
  }
  .simpleNav ul.horizontal li.js-last {
    border-bottom: none;
  }
  .simpleNav ul.horizontal li a:after {
    font-family: "FontAwesome";
    content: "\f054";
    color: #3376b2;
    float: right;
  }
  .simpleNavItems li a {
    display: inline-block;
    width: 100%;
  }

  video {
    min-width: 95vw;
  }
}

.video-container {
  background: transparent;
}

.twc-footer {
  display: none;
}