.javascript-disabled .js-disabled.error-module.browser-error {
	display: none; 
}

.no-js .javascript-disabled .js-disabled.error-module.browser-error {
	display: block; 
}

.javascript-disabled .js-disabled.error-module.browser-error {
    background: #a00;
    color: #fff;
    border: none;
    margin: 0;
    border-radius: 0; 
}

.javascript-disabled .js-disabled.error-module.browser-error .error-wrap {
    margin: 0 auto;
    max-width: 980px;
    line-height: 1.5em; 
}

.javascript-disabled .js-disabled.error-module.browser-error .error-wrap {
    padding: 15px 15px 15px 41px;
    background: url("javascript-disabled/icon-error.png") no-repeat left center;
    min-height: 29px;
}

.javascript-disabled .js-disabled.error-module.browser-error {
    font-weight: bold;
    font-size: 14px;
}

