// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Banner -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-banner {
  position: relative;
  height: auto;
  background-color: #000;
  background-repeat: repeat;
  background-position: center;
  h1 {
    @include margin(.3em,0,.3em,0);
    color: $lightgrey;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    @include bp(medium) {
      @include margin;
      line-height: 1;
    }
  }
  h1 + span {
    float: left;
    width: 50%;
    color: #ccc;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    @include bp(medium) {
      width: 75%;
    }
    @include bp(small) {
      width: 100%;
    }
  }
  /* ie (.ie) */
  .twc-ie & {
    width: 100%;
    filter: none;
  }
  /* ie8 (.ie8) */
  .twc-ie8 & {
    background-image: url("../images/background-feature-header.jpg");
  }
}
.twc-ie8 .twc-banner {
  background-image: url("../../images/background-feature-header.jpg");
}