// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Bottom Boxes - Version: 1.0.1 - Updated: 1/9/13
   ========================================================================== */

.bottom-box {
  overflow: auto;
	background: #98999b;
	color: #fff;
	padding: 1em;
	min-height: 265px;
  @media (max-width: $medium) {
    &:nth-child(1){
      margin-bottom: 1em;
    }
  }
  @media (max-width: $small) {
    margin-bottom: 1em;
  }

}