// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Buttons -- Version: 1.9.0.3 - Updated: 2/27/2014
   ========================================================================== */

button {
  cursor: pointer;
}

.cta, .btn, .button, label.cta {
  @include inline-block();
  a, button, input[type="button"] {
    @include inline-block();
    padding: .75em 1em;
    @include border-radius(3px);
    border: none;
    background: none;
    font-family: $twc-medium;
    font-weight: normal;
    color: $link;
  }
  &.block {
    display: block;
  }
}

div.geoloc-btn button {
    margin: 0;
}

.cta.omega, .cta.js-omega, .cta.blue, .btn.blue, .button.omega {
  a, button, input[type="button"] {
    @include background-gradient(#3779b3, #02447e);
    color: $text-white;
    &:hover {
      @include background-gradient(#265a83, #1b405e);
    }
  }
}

.cta.flat {
  a, button, input[type="button"] {
    @include background-gradient(#7BABDC, #7BABDC);
    color: $text-white;
    &:hover {
      @include background-gradient(#375a7e, #375a7e);
    }
  }
}

.cta.red {
  a {
    background-color: #fff;
    color: #8f1714;
    background-image: none;
    border: 1px solid #8f1714;
    &:hover {
      background-color: #8d1819;
      color: #fff;
    }
  }
}

.white a,
.whiteCTA a {
  background-color: #fff;
  background-image: none;
  border: 1px solid #0252a1;
  color: #0252a1;
  &:active {
    background-color: #0052a1;
    color: #fff;
  }
  &:hover {
    background-color: #00315c;
    border: 1px solid #00315c;
    color: #fff;
  }
}

.flatOmega a {
  background-color: #0252a1;
  background-image: none;
  border: 1px solid #0252a1;
  color: #fff;
  &:active {
    background-color: #00315c;
    border: 1px solid #00315c;
  }
  &:hover {
    background-color: #02a9e0;
    border: 1px solid #02a9e0;
  }
}

.btn.blue, .cta.blue,.btn.omega, .button.omega, .cta.omega, .cta.js-omega {
  a, button, input {
    &:active, &.active, &:focus {
      background: #444545;
      background-image: 0;
    }
  }
}

.btn.black, .cta.black, .button.black  {
  a, button, input {
    @include background-gradient(#3e3e3e, #2b2b2b);
    color: $text-white;
    &:hover, &.hover {
      @include background-gradient(#797979, #6c6c6c);
      color: $text-white;
    }
    &:active, &.active, &:focus {
      background: #2b2b2b;
      background-image: 0;
    }
  }
}

.btn.block, .cta.block, .button {
  a, button, input {
      display: block;
  }
}

.btn.badge, .cta.badge {
  a, button, input {
    height: 40px;
    width: 40px;
    @include border-radius(20px);
  }
}

/* Buttons with checkbox */

.btn, .cta {
    input[type="checkbox"] {
        margin: 0;
        margin-left: .5em;
    }
}

.btn.blue, .cta.blue, .btn.omega, .cta.omega {
  &.checked a, &.js-checked a {
    @include background-gradient(#33cc33, #008700);
  }
}

.btn, .btn.blue, .btn.omega, .button.omega, .cta, .cta.blue, .cta.omega {
  &:disabled, &.disabled {
    a, button, input {
      cursor: default;
      @include background-gradient(#666, #666);
      color: $text-white;
      &:hover, &:active {
        @include background-gradient(#666, #666);
        color: $text-white;
      }
    }
  }
}

input[type="submit"]:disabled {
  @include background-gradient(#bcbcbc, #838383);
  color: $text-white;
  &:hover, &:active {
    @include background-gradient(#bcbcbc, #838383);
    color: $text-white;
  }
}

/* ==========================
  Share
   ========================== */

.cta.omega.share a {
  background: #4F799F;
  margin-bottom: 1em;
  &:hover, .cta.omega.share.hover{
      background: #265A83;
    }
}

/* ==========================
  Flag
   ========================== */

.btn.flag {
  padding: .375em 1em;
}

/* =========================
    Checkbox button
  ========================*/

label.cta.omega {
  padding: .75em 1em;
  @include border-radius(3px);
  @include background-gradient(#3779b3, #02447e);
  font-family: $twc-medium;
  @include font-size(13);
  font-weight: normal;
  color: $text-white;
  &:hover {
     @include background-gradient(#265a83, #1b405e);
  }
  &.js-checked {
    @include background-gradient(#33cc33, #008700);
  }
}

label.cta input {
  @include margin(0,0,0,.5em);
}

.cta.green a {
  background-color: #078f1a;
  border: 1px solid #078f1a;
  color: #fff;
  &:hover {
    background-color: #103f06;
    border: 1px solid #103f06;
  }
}

.cta.orange a{
  background-color:  #f28300;
  background-image: linear-gradient(to bottom, #f28300 0%,#f28300 100%);
  color: #fff;
}

/* Firefox */

@-moz-document url-prefix() {
  /* Remove button padding in FF */
  button::-moz-focus-inner {
    padding: 0;
    border: 0 none;
  }
  input {
    &[type="button"]::-moz-focus-inner, &[type="submit"]::-moz-focus-inner, &[type="reset"]::-moz-focus-inner {
      padding: 0;
      border: 0 none;
    }
  }
}

/* ie (.twc-ie) */
/* make buttons play nice in IE */

.twc-ie button {
  overflow: visible;
  width: auto;
}

@media (max-width: $small) {

  .cta, .btn, .button {
    &.mobile-full {
      width: 100%;
      a {
        display: block;
        text-align: center;
      }
      & + & {
        margin-top: 1em;
      }
    }
  }
  button {
    .mobile-full & {
      width: 100%;
    }
  }

}
