// Pull modules for individually compiled css files
@import "../modules/allModules";


/*Dan*/

// Base Blue #6c9bc7
// Light Blue-Gray #ecf1f7
// Lightest Blue-Gray #f5f6fb
// Alt Blue #387ab4
// Plum #80508a
// Light Plum #f3e9f4

$base: #6c9bc7;
$base-hover: #71b0ea ;

$light-blue-gray: #ecf1f7 ;
$light-blue-gray-hover: #e3effb ;

$lightest-blue-gray: #f5f6fb ;
$lightest-blue-gray-hover: #e3effb ;

$alt: #387ab4 ;
$alt-hover: #3f97e3 ;

$plum: #80508a ;
$plum-hover: #a364b0 ;

$light-plum: #f3e9f4 ;
$light-plum-hover: #fbf0fd ;

$color-package-standard: #6c9bc7;
$color-package-standard-hover: #71b0ea;
$color-package-plum: #80508a;
$color-package-plum-hover: #a364b0;
$color-package-alt: #387ab4;
$color-package-alt-hover: #3f97e3;

$color-feature-standard: #ecf1f7;
$color-feature-standard-hover: #e3effb;
$color-feature-plum: #f3e9f4;
$color-feature-plum-hover: #fbf0fd;
$color-feature-alt: #ecf1f7;
$color-feature-alt-hover: #d9eaf9;

$color-desc-standard: #f5f6fb;
$color-desc-plum: #f5f6fb;
$color-desc-alt: #f5f6fb;
$color-desc-standard-hover: #e3effb;
$color-desc-plum-hover: #fbf0fd;
$color-desc-alt-hover: #d9eaf9;

$color-pricing-standard: #ecf1f7;
$color-pricing-plum: #ecf1f7;
$color-pricing-alt: #ecf1f7;
$color-pricing-standard-hover: #e3effb;
$color-pricing-plum-hover: #fbf0fd;
$color-pricing-alt-hover: #d9eaf9;

$color-order-standard: $color-feature-standard;
$color-order-plum: $color-feature-standard;
$color-order-alt: $color-feature-standard;
$color-order-standard-hover: #e3effb;
$color-order-plum-hover: #fbf0fd;
$color-order-alt-hover: #d9eaf9;

/* ==========================================================================
    Compare Table -- Version: 1.0.6 - Updated: 3/21/2014
   ========================================================================== */

.compEritTable {
  .base {
    background: $base;
    &:hover {
      background: $base-hover;
    }
  }
  .light-blue {
    background: $light-blue-gray;
    &:hover {
      background: $light-blue-gray-hover;
    }
  }
  .lightest-blue {
    background: $lightest-blue-gray;
    &:hover {
      background: $lightest-blue-gray-hover;
    }
  }
  .alt-blue, .alt {
    background: $alt;
    &:hover {
      background: $alt-hover;
    }
  }
  .plum {
    background: $plum;
    &:hover {
      background: $plum-hover;
    }
  }
  .light-plum {
    background: $light-plum;
    &:hover {
      background: $light-plum-hover;
    }
  }

  hr {
    margin: 0.5em 0;
    border: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #fff;
  }
  .compEritTable-row {
    margin-bottom: 0;
  }
  .compare-table-row-detail {
    margin-bottom: 0.5em;
  }
  ul {
    &.table {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        padding: .5em .75em;
        vertical-align: top;
        &.mobile-only {
          display: none;
        }
        p {
          margin-bottom: 0;
        }
        h5, h6 {
          margin-bottom: 0;
        }
        &.desc-details {
          display: block;
        }
        a.viewDetail:after {
          content: "\f107";
          font-family: FontAwesome;
          padding-left: 0.5em;
        }
        a.viewDetail.active:after {
          content: "\f106";
        }
        span.badge {
          position: absolute;
          bottom: 30%;
          left: 85%;
          z-index: 9998;
        }
        ul, ol {
          li {
            display: list-item;
          }
        }
        ol {
          li {
            list-style: decimal;
          }
        }
      }
      li.viewDetail {
        ul.content-list {
          li {
            display: block;
          }
        }
      }  /* .li */

    }  /* .table */
    &.details-content {
      display: none;
      padding: 1em;
      overflow: auto;
      border-radius: 0 0 5px 5px;
      background: $white;
      .cta {
        margin-top: 2em;
        margin-bottom: 0;
      }  /* .cta */
    }  /* .details-content */
  }  /* .ul */

  // Colors //
  &.js-active {
    ul{
      li {
        // &.package {
        //   background: $color-package-standard-hover;
        //   &.plum { background: $color-package-plum-hover;}
        //   &.alt { background: $color-package-alt-hover;}
        // }
        // &.feature {
        //   background: $color-feature-standard-hover;
        //   &.plum { background: $color-feature-plum-hover;}
        //   &.alt { background: $color-feature-alt-hover;}
        // }
        // &.desc {
        //   background: $color-desc-standard-hover;
        //   &.plum { background: $color-desc-plum-hover;}
        //   &.alt { background: $color-desc-alt-hover;}
        // }
        // &.pricing {
        //   background: $white;
        //   &.plum { background: $white;}
        //   &.alt { background: $white;}
        //   .viewMore { text-align: center; }
        // }
        // &.order {
        //   background: $color-order-standard-hover;
        //   &.plum { background: $color-order-plum-hover;}
        //   &.alt { background: $color-order-alt-hover;}
        // }
      } /* .li */
      // &:hover {
      //   li {
      //     &.pricing {
      //       background: $white;
      //       &.plum { background: $white; }
      //       &.alt { background: $white; }
      //     }
      //   }
      // }
    } /* .ul */
  } /* .js-active */
  ul {
    li {
      // &.package { background: $color-package-standard;
      //   &.plum { background: $color-package-plum; }
      //   &.alt { background: $color-package-alt;}
      // }
      // &.feature { background: $color-feature-standard;
      //   &.plum { background: $color-feature-plum; }
      //   &.alt { background: $color-feature-alt;}
      // }
      // &.desc { background: $color-desc-standard;
      //   &.plum { background: $color-desc-plum; }
      //   &.alt { background: $color-desc-alt;}
      // }
      // &.pricing { background: $color-pricing-standard;
      //   &.plum { background: $color-pricing-plum; }
      //   &.alt { background: $color-pricing-alt;}
      // }
      // &.order { background: $color-order-standard;
      //   &.plum { background: $color-order-plum; }
      //   &.alt { background: $color-order-alt;}
      // }
    }
    &:hover {
      li {
        // &.package { background: $color-package-standard-hover;
        //   &.plum { background: $color-package-plum-hover; }
        //   &.alt { background: $color-package-alt-hover; }
        // }
        // &.feature { background: $color-feature-standard-hover;
        //   &.plum { background: $color-feature-plum-hover; }
        //   &.alt { background: $color-feature-alt-hover; }
        // }
        // &.desc { background: $color-desc-standard-hover;
        //   &.plum { background: $color-desc-plum-hover; }
        //   &.alt { background: $color-desc-alt-hover; }
        // }
        // &.pricing { background: $color-pricing-standard-hover;
        //   &.plum { background: $color-pricing-plum-hover; }
        //   &.alt { background: $color-pricing-alt-hover; }
        // }
        // &.order { background: $color-order-standard-hover;
        //   &.plum { background: $color-order-plum-hover; }
        //   &.alt { background: $color-order-alt-hover; }
        // }
      }
    }
  }
  // .colors //

  &.five-column-compare {
    &.js-active {
      ul {
        li {
          &.package { border-radius: 5px 0 0 0; }
          &.pricing { border-bottom: none; }
          &.order { border-radius: 0 5px 0 0; }
        }
      }
    } /* .js-active */
    ul {
      li {
        &.package {
          width: 23%;
          border-radius: 5px 0 0 5px;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid $white;
          border-left: 1px solid #E1E1E1;
          border-bottom: 1px solid #E1E1E1;
        }
        &.feature {
          width: 23%;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid $white;
          border-bottom: 1px solid #E1E1E1;
        }
        &.desc {
          width: 24%;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid $white;
          border-bottom: 1px solid #E1E1E1;
        }
        &.pricing {
          position: relative;
          width: 15%;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid $white;
          border-bottom: 1px solid #E1E1E1;
          text-align: center;
          hr {
            @include margin(.25em,1em);
            border: 0;
            height: 1px;
            background: #e1e1e1;
          }
          .viewMore {
            display: block;
          }
        }
        &.order {
          width: 15%;
          border-radius: 0 5px 5px 0;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid #E1E1E1;
          border-bottom: 1px solid #E1E1E1;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    // .compEritTable-row {
    //   ul {
    //     &.bundle {
    //       li {
    //         &.package, &.desc {
    //           width: 35%;
    //         }
    //       }
    //     }
    //   }
    // }
  }
  .pricing .viewMore {
    text-align: center;
  }
  &.three-column-compare {
    &.js-active {
      ul {
        li.package { border-radius: 5px 0 0 0; }
        li.order { border-radius: 0 5px 0 0; }
      }
    } /* .js-active */
    ul {
      li {
        &.package {
          width: 22%;
          border-left: 1px solid #E1E1E1;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid rgba(255,255,255,.6);
          border-bottom: 1px solid #E1E1E1;
          border-radius: 5px 0 0 5px;
        }
        &.desc {
          width: 60%;
          height: 50%;
          border-top: 1px solid #E1E1E1;
          border-bottom: 1px solid #E1E1E1;
          border-right: 1px solid rgba(255,255,255,.6);
        }
        &.order {
          width: 14%;
          border-top: 1px solid #E1E1E1;
          border-right: 1px solid #E1E1E1;
          border-bottom: 1px solid #E1E1E1;
          border-radius: 0 5px 5px 0;
          text-align: center;
        }
      }
    }
  }
  div.viewMore span.viewDetail{
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #3376b2;
    cursor: pointer;
  }
  div.viewMore span.viewDetail:hover {
    color: #1b405d;
  }
  div.viewMore span.viewDetail:after {
      content: "\f107";
      font-family: FontAwesome;
      padding-left: 0.5em;
  }

}

@-moz-document url-prefix() {}

@media screen and (-webkit-min-device-pixel-ratio: 0) { }

@media (max-width: $medium) {
  .compEritTable {
    ul.table { overflow: auto; }
    .badge { display: none; }
    .compEritTable-row { overflow: auto; }
    &.five-column-compare {
      .mobile-only {
        display: none;
      }
      &.js-active {
        ul {
          li.package {
            border-radius: 5px 0 0 0;
          }
          li.pricing {
            border-radius: 0;
          }
          li.order {
            border-radius: 0 5px 0 0;
          }
        }
      }
    }
    &.three-column-compare {
      ul {
        li {
          display: table-cell;
          float: left;
          &.package {
            width: 50%;
            border-radius: 5px 0 0 0;
            border-bottom: none;
          }
          &.desc {
            width: 50%;
            height: 50%;
            border-right: 1px solid #E1E1E1;
            border-bottom: none;
            border-radius: 0 5px 0 0;
            h5 {
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
          &.order {
            width: 100%;
            border-top: 1px solid #fff;
            border-left: 1px solid #E1E1E1;
            border-radius: 0 0 5px 5px;
          }
        }
      }
      &.js-active {
        ul {
          li.order,
          li.order.plum,
          li.order.alt {
            border-radius: 0 5px 0 0;
            background: $white;
            border-bottom: none;
            border-left: none;
            border-right:none;
          }
        }
      }
    }
  }
}

@media (max-width: $small) {
  .compEritTable {
    ul {
      li {
        &.feature {
          line-height: normal;
          color: inherit;
          font-weight:normal;
          font-size:inherit;
        }
      }
    }
    &.five-column-compare {
      &.richtext {
        div {
          ul, ol {
            li {
              float: none !important ;
            }
          }
        }
      }
      &.js-active {
        ul {
          li.order,
          li.order.plum,
          li.order.alt,
          li.view-more  {
            border-radius: 0;
          }
        }
      }
      ul {
        &.table {
          li {
            display: list-item;
          }
        }
        &.details-content {
          border-left: 1px solid #E1E1E1;
          border-right: 1px solid #E1E1E1;
          border-bottom: 1px solid #E1E1E1;
        }
        li {
          padding: .5em;
          &.package {
            width: 50%;
            border-radius: 5px 0 0 0;
            border-bottom: 1px solid $white;
          }
          &.feature {
            width: 50%;
            border-radius: 0 5px 0 0;
            border-bottom: 1px solid $white;
            border-right: 1px solid #E1E1E1;
            span {
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
          &.desc {
            width: 100%;
            border-radius: 0;
            border-top: none;
            border-left: 1px solid #E1E1E1;
            border-right: 1px solid #E1E1E1;
            border-bottom: none;
          }
          &.pricing {
            width: 50%;
            border-radius: 0;
            border-top: 1px solid $white;
            border-left: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
          }
          &.order {
            width: 50%;
            border-radius: 0;
            border-left: none;
            border-top: 1px solid $white;
            .cta {
              @include vertical-align;
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
          &.view-more {
            border-left: 1px solid #E1E1E1;
            border-right: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            width: 100%;
            text-align: center;
            border-radius: 0 0 3px 3px;
          }
        }
        &.table {
          li {
            display: inline-block;
            float: left;
            &.mobile-only {
              display: block;
            }
          }
        }
      }
    }
    .three-column-compare {}
  }
}