// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Compare Table -- Version: 1.0.2 - Updated: 2/12/2014
   ========================================================================== */
ul.table li {
  display: table-cell;
  padding: .5em 1em;
  vertical-align: middle;
}

.compareTable {
  [class*="twc-col2_3367-c1"]{
    width: 64%;
  }
  .compareTable-row {
    margin-bottom: .25em;
    background: #E2E6E9;
  }

  ul.table li {
    display: table-cell;
    padding: .5em 1em;
    vertical-align: middle;
  }

  ul.details-content {
    display: none;
    padding: 1em;
    .h3 {
      font-size: 24px;
      font-size: 2.2rem;
      font-weight: 100;
    }
  }

  .details-content .cta {
    margin-top: 2em;
    margin-bottom: 0;
  }

  .pricing {
    .h4 {
      font-family: "TWC Round Medium";
    }
  }

  ul {
    li {
      h5, h6 {
        margin-bottom: 0;
      }
      &.package, &.feature, &.desc, &.pricing {
        cursor: pointer;
      }
      &.package {
        width: 24%;
        border-left: 2px solid #6f93af;
        border-top: 2px solid #6f93af;
        border-bottom: 2px solid #6f93af;
        border-radius: 5px 0 0 5px;
        background-color: #7e9db7;
        background-image: linear-gradient(to bottom, #7e9db7, #6f93af);
        text-align: center;
      }
      &.feature {
        width: 17%;
        border-top: 2px solid #e2e6e9;
        border-bottom: 2px solid #e2e6e9;
        background-color: #edf0f2;
        background-image: linear-gradient(to bottom, #edf0f2, #e2e6e9);
        color: #3376B2;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
    }
    &:hover li.feature {
      border-top: 2px solid #c0c9d3;
      border-bottom: 2px solid #c0c9d3;
      background-color: #d3dae1;
      background-image: linear-gradient(to bottom, #d3dae1, #c0c9d3);
    }
    li.desc {
      width: 26%;
      border-top: 2px solid #c6ccd3;
      border-bottom: 2px solid #c6ccd3;
      background-color: #dbdfe4;
      background-image: linear-gradient(to bottom, #dbdfe4, #c6ccd3);
    }
    &:hover li.desc {
      border-top: 2px solid #8698aa;
      border-bottom: 2px solid #8698aa;
      background-color: #aebcc8;
      background-image: linear-gradient(to bottom, #aebcc8, #8698aa);
    }
    li {
      &.desc-details {
        display: block;
      }
      &.pricing {
        position: relative;
        width: 17%;
        border-top: 2px solid #e2e6e9;
        border-bottom: 2px solid #e2e6e9;
        background-color: #edf0f2;
        background-image: linear-gradient(to bottom, #edf0f2, #e2e6e9);
        text-align: center;
      }
      a.viewDetail:after {
        content: "\f107";
        font-family: FontAwesome;
        padding-left: 0.5em; }
      a.viewDetail.active:after {
        content: "\f106"; }
    }
    &:hover li.pricing {
      border-top: 2px solid #c0c9d3;
      border-bottom: 2px solid #c0c9d3;
      background-color: #d3dae1;
      background-image: linear-gradient(to bottom, #d3dae1, #c0c9d3);
    }
  }
  li span.badge {
    position: absolute;
    bottom: 30%;
    left: 85%;
    z-index: 99999;
  }
  ul {
    li.order {
      width: 16%;
      border-top: 2px solid #c6ccd3;
      border-right: 2px solid #c6ccd3;
      border-bottom: 2px solid #c6ccd3;
      border-radius: 0 5px 5px 0;
      background-color: #dbdfe4;
      background-image: linear-gradient(to bottom, #dbdfe4, #c6ccd3);
      box-shadow: inset 7px 0 15px -11px #454545;
      text-align: center;
      .cta {
        float: none;
      }
    }
    &:hover li.order {
      border-top: 2px solid #8698aa;
      border-right: 2px solid #8698aa;
      border-bottom: 2px solid #8698aa;
      background-color: #aebcc8;
      background-image: linear-gradient(to bottom, #aebcc8, #8698aa);
    }
  }
}

.compare-table {
  .compare-table-row-header {
    h5 {
      color: #fff;
    }
  }
}


@-moz-document url-prefix() {}

@media screen and (-webkit-min-device-pixel-ratio: 0) { }

@media (max-width: $medium) {

  .compareTable {
    ul li {
      &.feature, &.desc {
        display: none;
      }
    }
  }

}


@media (max-width: $small) {

  .compareTable {
    ul li {
      padding: .5em;
      &.package {
        width: 34%;
      }
      &.feature, &.desc {
        display: none;
      }
      &.pricing {
        width: 25%;
      }
      &.order {
        width: 10%;
      }
    }
    ul.table li {
      padding: .5em;
    }
   .badge {
      display: none;
    }
    .tempBadge {
      float: right;
    }
  }
}
