// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Component  -- Version: 1.0.0 - Updated: 3/6/2014
   ========================================================================== */

.generic-accordion {
  cursor: default;

  .accordion-link {
    &.nostyle {
      padding: .675em 0;
      border-radius: 0;
      * {
        display: inline;
      }
      a {
        color: #3376b2;
        &:after {
          font-family: 'FontAwesome', sans-serif;
          content: "\f107";
          padding-left: .5em;
        }/* &:after */
        &.active {
          &:after {
            content: "\f106";
          }/* &:after */
        }/* &:active */
      }/* a */
      &.empty {
        a {
          color: #333333;
          &:after {
            content: none;
          }
          &.active {
            &:after {
              content: none;
            }
          }
        } /* a */
      }/* &.empty */
    }/* &.nostyle */
  }/* .accordion-link */

  .details {
    display: none;
    margin-top: .5em;
    clear: both;
  }/* .details */

  .hidedetails {
    display: none;
  }

  .center {
    clear: both;
    text-align: center;
  }

  .clearcss {
    clear: both;
  }

} /* .generic-accordion */

.generic-accordion .accordion-link.right ~ .generic-accordion-cta {
    padding-right: 5px;
}