// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Left Rail List - Version: 1.0.0.2 - Updated: 7/14/14
   ========================================================================== */

.leftRail-list {
  margin-bottom: 2em;
  overflow: auto;
  @include padding();
  @include border-radius();
  background: $text-white;
  background-color: $text-white;
  background-image: none;
  @include box-shadow(0 1px 2px 0 #888888);
  .leftRail-topics {
    position: relative;
    @include padding(1em);
    @include border-radius(3px 0 0 3px);
    @include background-gradient(#3779b3, #02447e);
    overflow: hidden;
    .side-rail-heading {
      display: border-left;
    }
    .leftRail-topic-heading {
      p {
        margin-bottom: 0;
      }
    }
    h3 {
      color: $text-white;
    }
    h5 {
      @include margin();
      @include font-family($arial);
      @include font-size(13);
      color: $text-white;
      + ul {
        display: none;
      }
    }
    a {
      @include margin();
      @include font-family($arial);
      @include font-size(13);
      color: $text-white;
    }
    ul {
      h5.arrow:after {
        float: right;
        font-family: $fontawesome;
        @include font-size(18);
        font-weight: bold;
        content: '\f107';
        color: #b1b2af;
        @include transition(all, .4s, ease-in-out);
      }
      li {
        &.expanded > h5.arrow:after, &.js-expanded > h5.arrow:after {
          @include rotate(180deg);
        }
        ul li ul li.topic h5.arrow:after {
          color: #b1b2af;
        }
        &.topic ul {
          margin-bottom: 0;
          li {
            display: none;
            &.topic {
              display: block;
            }
          }
        }
      }
    }
    li {
      display: block;
      padding: .5em 1em;
      border-bottom: 1px dotted $lightgrey;
      cursor: pointer;
      &.active, &.js-active {
        width: 150%;
        padding: .5em 50% .5em 1em;
        border-bottom: 1px solid $text-white;
        @include horizontal-gradient(#ebebeb, $background-white);
        a, h5 {
          color: $link;
          &:hover {
            color: #1B405D;
          }
        }
        .cta.omega {
          a {
            font-family: "TWC Round Medium";
            span {
              color: $text-white;
            }
          }
        }
      }
      &.js-last, &.-last {
        border-bottom: none;
      }
    }
  }
  .content {
    @include padding(2em);
  }
}

@media (max-width: $medium) {
  .leftRail-list {
    .leftRail-topics {
      padding-right: 0;
      a {
        color: #3376B2;
      }
      .arrow {
        div {
          display: inline-block;
        }
        p {
          margin-bottom: 0px;
        }
      }
      ul {
        padding-left: 0px;
        h5 {
          &.arrow {
            &:after {
              margin-top: -20px;
            }
          }
        }
      }
      .left-topic-content {
        margin-top: 5px;
        margin-bottom: 2px;
      }
      li {
        &.js-active {
          h5 {
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .parsys_column {
      .twc-col2-2476-c0 {
        width: 24%
      }
      .twc-col2-2476-c1 {
        width: 76%
      }
    }
  }
  .marginless [class*="twc-col2_2476-c0"] {
      width: 24%;
  }
  .marginless [class*="twc-col2_2476-c1"] {
      width: 76%;
  }
  .leftRail-list .parsys_column .twc-col2-2476-c0, .leftRail-list .parsys_column .twc-col2-2476-c1 {
    width: 100%;
  }
  .leftRail-list .marginless [class*="twc-col2_2476-c"] {
    width: 100%;
  }
  .leftRail-list .leftRail-topics {
    padding-right: 4%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    border-right: none;
    background: white;
  }
  .leftRail-list .leftRail-topics ul li.topic {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid white;
  }
  .leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: none;
  }
  .leftRail-list .leftRail-topics li h5, .leftRail-list .leftRail-topics li.active h5, .leftRail-list .leftRail-topics li.js-active h5 {
    width: auto;
    padding: .7em .5em;
    background-color: #3779b3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
    background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
    background-image: -moz-linear-gradient(top, #3779b3, #02447e);
    background-image: -ms-linear-gradient(top, #3779b3, #02447e);
    background-image: -o-linear-gradient(top, #3779b3, #02447e);
    background-image: linear-gradient(top, #3779b3, #02447e);
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3779b3', EndColorStr='#02447e')"; */
    font-size: 20px;
    font-size: 2rem;
    font-family: "TWC Round Book";
    font-weight: 100;
    color: white;
  }
  .leftRail-list .leftRail-topics li ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .leftRail-list .leftRail-topics li.js-first ul {
    display: block;
  }
  .leftRail-list .leftRail-topics ul li.topic ul li {
    display: block;
  }
  .leftRail-list .leftRail-topics ul li.topic ul li.topic ul {
    display: none;
  }
  .leftRail-list .leftRail-topics ul li li {
    padding: .5em;
  }
  .leftRail-list .leftRail-topics ul li li.topic {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .leftRail-list .leftRail-topics ul li li.topic h5 {
    background: #eeeeef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 239, 0.5)), color-stop(100%, rgba(221, 223, 226, 0.5)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeef', endColorstr='#dddfe2',GradientType=0 )";
  }
  .leftRail-list .leftRail-topics ul li ul li ul li.topic {
    border-bottom: 1px solid #e1e1e1;
  }
  .leftRail-list .leftRail-topics ul li ul li ul li.topic a {
    background: none;
  }
  .leftRail-list .leftRail-topics ul h5:after {
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    content: '\f107';
    color: inherit;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .leftRail-list .leftRail-topics ul li.expanded > h5:after, .leftRail-list .leftRail-topics ul li.js-expanded > h5:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg))";
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg));
    zoom: 1;
  }
  .leftRail-list .leftRail-topics ul li ul li ul li.topic h5:after {
    color: #B1B2AF;
  }
  .leftRail-list .leftRail-topics h3, .leftRail-list .leftRail-topics h6 {
    color: #333333;
  }
  .leftRail-list .parsys.parsys1.twc-col2_2476-c1.parsys_column {
    display: none;
  }
}

@media (max-width: $small) {

// .leftRail-list {
//   .parsys_column {
//     .twc-col2-2476-c0, .twc-col2-2476-c1 {
//       width: 100%
//     }
//   }
//   .marginless [class*="twc-col2_2476-c"] {
//       width: 100%;
//   }
//   .leftRail-topics {
//     padding-right: 4%;
//     @include border-radius();
//     width: 100%;
//     @include padding(4%);
//     border-right: none;
//     background: $text-white;
//     ul li.topic {
//       @include padding();
//       border-bottom: 1px solid $white;
//     }
//     li {
//       &.active, &.js-active {
//         width: 100%;
//         @include padding();
//         background: none;
//       }
//       h5, &.active h5, &.js-active h5 {
//         width: auto;
//         padding: .7em .5em;
//         @include background-gradient(#3779b3, #02447e);
//         @include font-size(20);
//         font-family: $twc-book;
//         font-weight: 100;
//         color: $text-white;
//       }
//       ul {
//         @include margin(0);
//       }
//       &.js-first ul {
//         display: block;
//       }
//     }
//     ul {
//       li {
//         &.topic ul li {
//           display: block;
//           &.topic ul {
//             display: none;
//           }
//         }
//         li {
//           padding: .5em;
//           &.topic {
//             @include padding(0);
//             h5 {
//               background: #eeeeef;
//               background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
//               background: -moz-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
//               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 239, 0.5)), color-stop(100%, rgba(221, 223, 226, 0.5)));
//               background: -webkit-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
//               background: -o-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
//               background: -ms-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
//               background: linear-gradient(to bottom, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
//               filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeef', endColorstr='#dddfe2',GradientType=0 )";
//             }
//           }
//         }
//         ul li ul li.topic {
//           border-bottom: 1px solid #e1e1e1;
//           a {
//             background: none;
//           }
//         }
//       }
//       h5:after {
//         float: right;
//         font-family: $fontawesome;
//         @include font-size(18);
//         font-weight: 700;
//         content: '\f107';
//         color: inherit;
//         @include transition(all, .4s, ease-in-out);
//       }
//       li {
//         &.expanded > h5:after, &.js-expanded > h5:after {
//           @include rotate(180deg);
//         }
//         ul li ul li.topic h5:after {
//           color: #B1B2AF;
//         }
//       }
//     }
//     h3, h6 {
//       color: $text;
//     }
//     li.topic {
//       &.active, &.js-active {
//         &> h5 {
//           color: #fff;
//           &:hover {
//             color: #fff;
//           }
//         }
//       }
//     }
//   }
//   .parsys.parsys1.twc-col2_2476-c1.parsys_column {
//     display: none;
//   }
// }

}
