@import 'init';

#LEX-hero-banner {
	.columnControl {
		display: table;

		@include respond-to(medium) {
			display: block;
		}


		.twc-col2_6733 {
			display: table-row;

			@include respond-to(medium) {
				display: block;
			}


			> .parsys_column {
				display: table-cell;
				float: none;

				@include respond-to(medium) {
					display: block;
					float: left;
				}
			}

			.twc-col2_6733-c0 {
				padding-right: 2.5%;
				vertical-align: bottom;

				@include respond-to(medium) {
					padding-right: 0;
					vertical-align: inherit;
				}


				figure {
					padding-top: 8%;

					@media (max-width: px-to-em(880)) {
						padding-top: 15%;
					}

					@include respond-to(medium) {
						padding-top: 0;
					}
				}
			}
		}

		.columnControl {
			display: block;
		}
	}
}

div[id*='centered-cta-'] {
	.pricing {
		.cents {
			font-size: 0.6em;
			margin-left: -.2em;
		}

		sup {
			vertical-align: top;
		}

		.term {
			margin-left: -4em;
		}
	}
}
