/* Speed Selection Guide - Business Internet
 * Raymond Heredia
 * 11-05-15
 * 
 * This file is to redo the Speed Selection Guide found at https://business.timewarnercable.com/services/internet/business-internet/overview.html in order to make it more accessible.
 * 
 *  */
.ssg table {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size:.62em;
	width:100%;
}
.ssg table tr {
	background:#F0EFF0;
}
.ssg table td {
	padding:.5em;
	text-align:center;
	vertical-align: top;
}
.ssg table .title {
	background:#097DC2;
	text-align:left;
}
.ssg table h3 {
	text-transform:uppercase;
	color:#FFF;
	margin: .5em;
	font-size:1.2em;
}
.ssg table .heading {
	color:#919291;
	padding:.5em;
	text-align:center;
	margin:1em;
	font-size:.875em;
	background:#FFF;
}
.ssg table ul {
	padding-left:1em;
}
.ssg table em {
	width: 40px;
	height: 40px;
	background: #004990;
	position: relative;
	border: 4px double white;
	margin: 0 20px 0 0;
	color:#FFF;
	border-radius:50%;
	padding:10px;
	line-height:1;
	text-align:center;
	display:block;
	float:left;
}
.ssg table em span {
	display:inline-block;
	margin-top:9px;
}
.ssg tfoot td {
	text-align:left;
	color:#919291;
	font-size: .875em;
	background:#FFF;
}
.ssg .speed {
	display:block;
	width:32px;
	height:20px;
	margin:0 auto;
	background:url("../img/meter_1_sm.png") no-repeat;
}
.ssg .speed15 {
	background:url("../img/meter_2_sm.png") no-repeat;
}
.ssg .speed35 {
	background:url("../img/meter_3_sm.png") no-repeat;
}
.ssg .speed50 {
	background:url("../img/meter_4_sm.png") no-repeat;
}
.ssg .speed100 {
	background:url("../img/meter_5_sm.png") no-repeat;
}
.ssg .speed200 {
	background:url("../img/meter_6_sm.png") no-repeat;
}
.ssg .speed300 {
	background:url("../img/meter_7_sm.png") no-repeat;
}
.ssg .people {
	display:block;
	height:20px;
	width:16px;
	float:left;
	background:url("../img/people_02_sm.png") no-repeat;
}
.ssg .people15 {
	width:21px;
	background:url("../img/people_03_sm.png") no-repeat;
}
.ssg .people35 {
	width:32px;
	background:url("../img/people_05_sm.png") no-repeat;
}
.ssg .people50 {
	width:44px;
	background:url("../img/people_07_sm.png") no-repeat;
}
.ssg .people100 {
	width:61px;
	background:url("../img/people_10_sm.png") no-repeat;
}
.ssg .people200 {
	width:61px;
	background:url("../img/people_12_sm.png") no-repeat;
}
.ssg .people300 {
	width:61px;
	background:url("../img/people_15_sm.png") no-repeat;
}
.ssg .devices {
	display:block;
	height:15px;
	width:26px;
	float:left;
	background:url("../img/device_01_sm.png") no-repeat;
}
.ssg .devices15 {
	width:28px;
	height:17px;
	background:url("../img/device_02_sm.png") no-repeat;
}
.ssg .devices35 {
	width:37px;
	height:19px;
	background:url("../img/device_03_sm.png") no-repeat;
}
.ssg .devices50 {
	width:40px;
	height:18px;
	background:url("../img/device_04_sm.png") no-repeat;
}
.ssg .devices100 {
	width:48px;
	height:22px;
	background:url("../img/device_05_sm.png") no-repeat;
}
.ssg .devices200 {
	width:64px;
	height:24px;
	background:url("../img/device_06_sm.png") no-repeat;
}
.devices300 {
	width:77px;
	height:24px;
	background:url("../img/device_09_sm.png") no-repeat;
}
.ssg .done {
	text-decoration:line-through;
}
.ssg .light {
	color:#FFF;
	text-align:left;
	background: #edc42a;
}
.ssg .moderate {
	color:#FFF;
	text-align:left;
	background: #95b35a;
}
.ssg .heavy {
	color:#FFF;
	text-align:left;
	background: #5784b4;
}
@media only screen and (min-width:40em) {
	.ssg table {
		font-size:.875em;
	}
	.ssg .people {
		height:43px;
		width:34px;
		background:url("../img/people.jpg") no-repeat;
	}
	.ssg .people15 {
		width:43px;
		background-position:-36px 0;
	}
	.ssg .people35 {
		width:64px;
		background-position:-79px 0;
	}
	.ssg .people50 {
		width:88px;
		background-position:-144px 0;
	}
	.ssg .people100 {
		width:122px;
		background-position:-232px 0;
	}
	.ssg .people200 {
		width:122px;
		background-position:-354px 0;
	}
	.ssg .people300 {
		width:122px;
		background-position:-476px 0;
	}
	.ssg .devices {
		display:block;
		height:43px;
		width:52px;
		float:left;
		background:url("../img/devices.jpg") no-repeat;
	}
	.ssg .devices15 {
		width:65px;
		height:50px;
		background-position:-50px 0;
	}
	.ssg .devices35 {
		width:78px;
		height:50px;
		background-position:-115px 0;
	}
	.ssg .devices50 {
		width:84px;
		height:50px;
		background-position:-193px 0;
	}
	.ssg .devices100 {
		width:100px;
		height:50px;
		background-position:-278px 0;
	}
	.ssg .devices200 {
		width:133px;
		height:50px;
		background-position:-379px 0;
	}
	.ssg .devices300 {
		width:160px;
		height:50px;
		background-position:-511px 0;
	}
	.ssg .speed {
		width:70px;
		height:42px;
		margin:0 auto;
		background:url("../img/meters.jpg") no-repeat 0 8px;
	}
	.ssg .speed15 {
		background-position:0 -43px;
	}
	.ssg .speed35 {
		background-position:0 -93px;
	}
	.ssg .speed50 {
		background-position:0 -143px;
	}
	.ssg .speed100 {
		background-position:0 -193px;
	}
	.ssg .speed200 {
		background-position:0 -243px;
	}
	.speed300 {
		background-position:0 -293px;
	}
	.ssg table em {
		width:50px;
		height:50px;
		background: #004990;
		position: relative;
		border: 4px double white;
		margin: 0 20px 0 0;
		color:#FFF;
		border-radius:50%;
		padding:10px;
		line-height:1;
		text-align:center;
		display:block;
		float:left;
	}
	.ssg table em span {
		display:inline-block;
		margin-top:10px;
	}
	.ssg tfoot td {
		font-size: .625em;
	}
	.ssg .light {
		background: #edc42a;
		background: -moz-linear-gradient(top,  #edc42a 0%, #ddb32a 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edc42a), color-stop(100%,#ddb32a));
		background: -webkit-linear-gradient(top,  #edc42a 0%,#ddb32a 100%);
		background: -o-linear-gradient(top,  #edc42a 0%,#ddb32a 100%);
		background: -ms-linear-gradient(top,  #edc42a 0%,#ddb32a 100%);
		background: linear-gradient(to bottom,  #edc42a 0%,#ddb32a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc42a', endColorstr='#ddb32a',GradientType=0 );
	}
	.ssg .moderate {
		background: #95b35a;
		background: -moz-linear-gradient(top,  #95b35a 0%, #86a942 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95b35a), color-stop(100%,#86a942));
		background: -webkit-linear-gradient(top,  #95b35a 0%,#86a942 100%);
		background: -o-linear-gradient(top,  #95b35a 0%,#86a942 100%);
		background: -ms-linear-gradient(top,  #95b35a 0%,#86a942 100%);
		background: linear-gradient(to bottom,  #95b35a 0%,#86a942 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b35a', endColorstr='#86a942',GradientType=0 );
	}
	.ssg .heavy {
		background: #5784b4;
		background: -moz-linear-gradient(top,  #5784b4 0%, #16529e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5784b4), color-stop(100%,#16529e));
		background: -webkit-linear-gradient(top,  #5784b4 0%,#16529e 100%);
		background: -o-linear-gradient(top,  #5784b4 0%,#16529e 100%);
		background: -ms-linear-gradient(top,  #5784b4 0%,#16529e 100%);
		background: linear-gradient(to bottom,  #5784b4 0%,#16529e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5784b4', endColorstr='#16529e',GradientType=0 );
	}
}