
header + twc-box-column {
  border-radius: 0 0 3px 3px;
}

.tabs {
  display: table;
  width: 100%;
  border-radius: 3px;
  ul {
    display: table-row;
  }
  li {
    display: table-cell;
    position: relative;
    padding: 1em;
    border-radius: 3px 3px 0 0;
    background-color: #3779b3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
    background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
    background-image: -moz-linear-gradient(top, #3779b3, #02447e);
    background-image: -o-linear-gradient(top, #3779b3, #02447e);
    background-image: -ms-linear-gradient(top, #3779b3, #02447e);
    background-image: linear-gradient(top, #3779b3, #02447e);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    a {
      display: inline-block;
      position: relative;
      font-family: 'TWC Round Book',Arial,Sans-Serif;
      font-weight: normal;
      text-decoration: none;
      color: #fff;
    }
    &.active {
      background: #fff;
      background-image: none;
      color: #222;
      a {
        color: #222;
      }
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

/* Gateway tabs */

.gateway-tabs {
  display: table;
  width: 100%;
  border-radius: 3px;
  ul {
    display: table-row;
  }
  li {
    display: table-cell;
    position: relative;
    padding: 1em;
    /* border-radius: 3px 3px 0 0; */
    /* background-color: #3779b3; */
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e)); */
    /* background-image: -webkit-linear-gradient(top, #3779b3, #02447e); */
    background-image: -moz-linear-gradient(top, #3779b3, #02447e);
    background-image: -o-linear-gradient(top, #3779b3, #02447e);
    background-image: -ms-linear-gradient(top, #3779b3, #02447e);
    background-image: linear-gradient(top, #3779b3, #02447e);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    a {
      display: inline-block;
      position: relative;
      font-family: 'TWC Round Book',Arial,Sans-Serif;
      font-weight: normal;
      text-decoration: none;
      color: #fff;
    }
    &.active {
      background: #fff;
      background-image: none;
      color: #222;
      a {
        color: #222;
      }
    }
  }
}

#gateway .gateway-tabs {
  display: table;
  width: 100%;
  border-radius: 3px;
  ul {
    display: table-row;
  }
  li {
    width: 50%;
    border: 2px solid #c2d6e8;
    a {
      padding: 1em;
    }
    &.active {
      background: rgba(255, 255, 255, 0.95);
      background-image: none;
    }
  }
}

.twc-ie #gateway .gateway-tabs li {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#05000000,endColorstr=#05000000);
}
