@import '../../core/scss/modules/allModules';
a {
	font-size: 187px;
	@include respond-to(tablet) {
		color: blue;
	}
	@include respond-to(desktop) {
		color: red;
	}
	@include respond-to(tablet) {
		text-align: left;
	}
}