@import '../../init';
@import 'old';

$border-color: $color-steel-dark-lighter;

#content {
	@import 'reset';

	#gateway {
		.gateway-tabs {
			// border-bottom: {
			// 	color: $color-steel-dark-lighter;
			// 	style: solid;
			// 	width: 1px;
			// }

			// List
			ul {
			}

			// List Items
			li {
				width: auto;
				line-height: 4em;
				padding: 0 1em;

				&:not(.active) {
					border:  {
						width: 0 0 1px 0;
						style: solid;
						color: $color-steel-dark;
					}
					&:hover {

					}
					// box-shadow: inset 0px -4px 5px 0px rgba(223, 231, 238, 0.15);
					background-color: transparent;

					a:hover {
						color: $color-sky-dark-darkish;
						transition-property: color;
						transition-duration: .3s;
					}
				}

				// Active Tab
				&.active {
					color: #00549f;
					margin-bottom: -1px;
					position: relative;
					z-index: 187;
					box-shadow: none;
					cursor: default;
					background-color: #fff;
					border-width: 1px;
					border-color: $color-steel-dark;
					border-bottom-color: #fff;
					// margin-bottom: -1px;
					a {
						color: #333;
						cursor: default;
					}
				}
				// Links
				a {
					color: $color-sky-dark-darkish;
				}

				// First
				&:first-child {
					&.active {}
				}

				// Last
				&:last-child {
					&.active {}
				}

			}
		}
	}
}

html {
	overflow-y: scroll;
}