@import '../../init';
@import 'old';

$border-color: $color-steel-dark-lighter;

#content {
	@import 'reset';

	#gateway {
		.gateway-tabs {
			border-bottom: 4px solid $color-sky-dark-darkish;

			// List
			ul {
			}

			// List Items
			li {
				width: auto;
				line-height: 4em;
				padding: 0 1em;
				border-style: solid;

				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					line-height: .3;
					font-size: 20px;
					right: 0;
				}

				&:not(.active) {
					background-color: transparent;
					color: $color-sky-dark-lightish;

					&:hover {
						color: $color-sky-dark-darkish;
						transition-property: color;
						transition-duration: .3s;
						&::after {
							font-awesome: caret-up;
						}
					}

					a {
						&:hover {}
					}
				}

				// Active Tab
				&.active {
					background-color: white;
					position: relative;
					z-index: 187;
					cursor: default;
					color: $color-sky-dark-darkish;
					&::after {
						font-awesome: caret-up;
					}

					a {
					}
				}

				// Links
				a {}

				// First
				&:first-child {
					&.active {}
				}

				// Last
				&:last-child {
					&.active {}
				}
			}
		}
	}
}

html {
	overflow-y: scroll;
}