@import '../../init';
// @import 'old';
// @import 'reset';
// v
$border-color: #e1e1e1;
$bar-height: 7px;
$top-border-width: 1px;

.twc-content {
	background-image: none;
	background-color: #fff;
}

#gateway {
	.gateway-tabs {
		margin-bottom: -1px;
	  // display: table;
	  // width: 100%;
	  border-radius: 0;
		ul {
			li {
				a {
					padding: 0;
					color: inherit;
				}
			}
		}

		// List Items
		li {
			width: auto;
			line-height: 4em;
			padding: 0 1em;
			background-image: none;
			border-style: solid;
			border-width: 1px 0 0 0;
			border-color: $border-color;
			background-color: #fff;
			color: $color-sky-dark-darkish;

			&::before {
				background-color: transparent;
				position: absolute;
				width: 100%;
				height: 7px;
				display: block;
				content: '';
				left: 0;
				top: -$bar-height;
			}

			&:hover {
				border-top-color: transparent;

				&::before {
					background-color: rgba(2, 169, 224, 0.3);
				}
			}
			// Inactive tab
			&:not(.active) {
			}

			// Active Tab
			&.active {
				box-shadow: 5px 0px 15px -5px rgba(0, 0, 0, 0.5);
				background-color: #fff;
				border-width: 1px;
				border-style: solid;
				border-top-color: transparent;
				border-left-color: $border-color;
				border-right-color: $border-color;
				border-bottom-color: #fff;
				position: relative;
				z-index: 187;
				cursor: default;
				color: $text-color;

				&:hover {
					&::before {
						background-color: $color-bright-blue;
					}
				}
				&::before {
					background-color: $color-bright-blue;
				}

				&::after {
					bottom: -20px;
					content: '';
					display: block;
					height: 20px;
					left: 0;
					position: absolute;
					width: 100%;
					background-color: #fff;
					z-index: 200;
				}

				a {
					cursor: default;
				}
			}

			// First
			&:first-child {
				border-left: 1px solid $border-color;
			}

			// Last
			&:last-child {
				border-right: 1px solid $border-color;

				&.active {
					box-shadow: -5px 0px 15px -5px rgba(0, 0, 0, 0.5);
				}
			}

		}
	}

	.gateway {
		border: 1px solid $border-color;
		// 'Sign in with your TWC ID'
		.gateway-headline {
			border-width: 0;
			border-style: none;

			// Tab content's title
			.text {
				color: $text-color;
				position: relative;
				z-index: 300;
			}
		}
	}


	// 'Benefits of a TWC ID' box
	#buyflow-current .gateway-form .skip-section {
		background-image: none;
		background-color: transparent;
	}
}