@import '../../init';
@import 'old';

$border-color: $color-steel-dark-lighter;

#content {
	@import 'reset';

	#gateway {
		.gateway-tabs {
			// List
			ul {}

			// List Items
			li {
				width: auto;
				line-height: 4em;
				padding: 0 1em;
				border-style: solid;

				&:not(.active) {
					background-color: transparent;
					border: {
						width: 7px 0 0 0;
						style: solid;
						color: transparent;
					};
					color: $color-steel-dark-lightish;

					&:hover {
						border-color: $color-steel-dark-lightish;
						transition-property: border-color;
						transition-duration: .3s;
						color: #333;
						transition-property: color;
						transition-duration: .3s;
					}

					a {
						&:hover {
						}
					}
				}

				// Active Tab
				&.active {
					background-color: #fff;
					border-width: 7px 0 0 0;
					border-top-color: $color-bright-blue;
					position: relative;
					z-index: 187;
					box-shadow: none;
					cursor: default;
					color: $color-sky-dark-darkish;

					a {
						cursor: default;
					}
				}

				// Links
				a {
				}

				// First
				&:first-child {
					&.active {}
				}

				// Last
				&:last-child {
					&.active {}
				}
			}
		}
	}
}

html {
	overflow-y: scroll;
}