@import '../../init';

.soc-wrapper {
  background-color: $steelSky-darker;
}
.inner {
  display: table;
  width: 100%;
  max-width: $fixed-width-container;
  text-align: center;
  margin: 0 auto;
}
.soc {
  display: table-row;
  width: 100%;
  // background: $steelSky-darker;
  list-style: none;
  text-align: center;
  // padding-top: 1px;
  height: 79px;
  @include respond-to(desktop) {
    height: 52px;
    // padding: 14px 0;
  }

  li {
    vertical-align: middle;
    display: table-cell;
    margin: 0 1em;
    white-space: nowrap;

    &:first-child {
      position: relative;
      top: -2px;
    }

    a,
    svg {
      display: block;
    }

    a {
      color: #fff;
      fill: #fff;
      text-decoration: none;
      font-size: 1.6rem;
      font-family: $font-stack-sans-light;
      font-weight: 100;

      svg {
        display: inline-block;
        height: auto;
        width: 100%;
        max-width: 3em;
      }

      span {
        display: inline-block;
        vertical-align: calc(100%);
      }
    }
  }
}