// TWC Residential Fonts
$italic: italic;
$bold: bold;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$twc-book: 'TWC Round Book';
$twc-medium: 'TWC Round Medium';
$twc-light: 'TWC Round Light';
$fontawesome: 'FontAwesome';
$pre: Inconsolata,Monaco,Consolas,"Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;

// TWC Business Class Fonts
$bc-uni-lightcn: 'Universal Light Condensed';
$bc-uni-cn:'Universal Condensed';
$bc-uni-boldcn:'Universal Bold Condensed';
$bc-uni-cnobl: 'Universal Condensed Oblique';

$base-font-size: 1.4rem;
$base-line-height: 1.25;