/* ==========================================================================
    Component  -- Version: 1.0.0 - Updated: 10/2/2014
   ========================================================================== */
.newHead #header {
  position: relative;
}

.newHead li .clickIcon > a {
  display: inline-block;
  text-align: center;
  width: 100%;
  min-width: 44px;
  min-height: 44px;
  padding: 0.5em 0;
  margin-bottom: .5em;
}

.newHead li .clickIcon > a figure {
  height: 24px;
  margin: 0 auto;
}

.newHead li .clickIcon > a img {
  opacity: .75;
  margin-bottom: .5em;
  max-height: 100%;
  max-width: 100%;
}

.newHead li:hover .clickIcon > a img {
  opacity: 1;
}

.newHead > .twc-container {
  overflow: visible;
  display: table;
  padding: 0.5em 0 0;
}

.newHead .newHeaderIcons {
  float: right;
  width: 70%;
}

.newHead .newHeaderIcons ul.horizontal {
  text-align: right;
  float: right;
  width: 50%;
}

.newHead .newHeaderIcons ul.horizontal > li {
  float: left;
  width: 25%;
}

.newHead .newHeaderIcons ul.horizontal > li .offPage span {
  color: #b2b4be;
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 0.25em;
}

.newHead .newHeaderIcons ul.horizontal > li span {
  color: #b2b4be;
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 0.25em;
}

.newHead .newHeaderIcons ul.horizontal > li:hover .offPage span, .newHead .newHeaderIcons ul.horizontal > li:hover span {
  color: #fff;
}

.newHead .newHeaderIcons ul.horizontal > li .noZip span {
  color: #bd3300;
}

.newHead #header .cust-loc-dropdown .noZip {
  color: #bd3300;
}

.newHead .cust-loc-dropdown.hiddenCheckboxDropdown figure {
  max-width: 10%;
  float: left;
}

.newHead .cust-loc-dropdown.hiddenCheckboxDropdown .geoLoc {
  width: 90%;
  float: right;
}

.newHead .cust-loc-dropdown.hiddenCheckboxDropdown .geoLoc input {
  width: 70%;
}

.newHead .newHeaderIcons ul.horizontal > li:hover .noZip span {
  color: #f04b23;
}

.newHead #header .cust-loc-dropdown .noZip:hover {
  color: #f04b23;
}

.newHead #header .cust-loc-dropdown p.localize-head {
  color: #3376B2;
  font-size: 16px;
  font-size: 1.6rem;
}

.newHead .newHeaderIcons ul.horizontal > li span:before {
  display: block;
  font-size: 22px;
  font-size: 2.2rem;
  margin: 0 auto 0.25em;
}

.newHead #header input.hiddenCheckbox {
  display: none;
}

.newHead .pushDown {
  background: #fff;
}

.newHead .pushDown .twc-container {
  padding: 0;
}

.newHead .pushDown .hiddenCheckboxDropdown {
  display: none;
  padding: 0.75em 1em;
}

.newHead .pushDown .hiddenCheckboxDropdown .hiddenCheckboxLabel {
  float: right;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  width: 2%;
  margin-right: 0;
}

.newHead .pushDown .hiddenCheckboxDropdown table {
  width: 98%;
}

.newHead .pushDown .hiddenCheckboxDropdown table tr {
  width: 100%;
}

.newHead .pushDown .hiddenCheckboxDropdown table tr td {
  width: 60%;
}

.newHead .pushDown .hiddenCheckboxDropdown table tr td .localize-head {
  margin-right: 1em;
  font-size: 14px;
  font-size: 1.4rem;
}

.newHead .pushDown .hiddenCheckboxDropdown .twc-search-input-wrap {
  text-align: center;
}

.newHead .pushDown .hiddenCheckboxDropdown .contentSearch .twc-search input {
  width: 50%;
}

.newHead .newHeaderIcons ul.horizontal > li label {
  display: block;
  font-size: inherit;
  height: 70%;
  width: 100%;
  cursor: pointer;
}

.newHead #header .cust-loc-dropdown, .newHead #header .search-dropdown {
  position: relative;
  background: #333;
  float: left;
  width: 100%;
  padding: 2%;
  color: #fff;
}

.newHead #header .hiddenCheckboxDropdown {
  display: none;
}

.newHead #header .closeDropdown {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0.25em;
  font-size: 20px;
  font-size: 2rem;
  z-index: 9999;
  cursor: pointer;
}

.newHead #header .closeDropdown:hover {
  color: #777;
}

.newHead #header .twc-search-input-wrap {
  width: 100%;
}

.newHead #header .twc-search input {
  width: 78%;
  margin: 0 0 1em;
}

.newHead #header .search-dropdown .twc-search input {
  margin: 0;
}

.newHead #header .cta.geoloc-btn, .newHead #header .cta.search-btn {
  width: auto;
}

.newHead #header .searchResults {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid;
  margin: 0 -1% -1%;
  padding: 1%;
  width: 102%;
}

.landscapeLabel {
  display: none;
}

html.touch [class*="nav-menu-"] > a {
  display: none;
}

html.touch [class*="nav-menu-"] > .landscapeLabel {
  display: block;
  font-family: "TWC Round Book";
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 1em;
}

@media (max-width: 48em) {
  html.touch [class*="nav-menu-"] > .landscapeLabel, nav.twc-mobile-navigation {
    display: none;
  }
  .newHead .twc-logo {
    width: 40%;
  }
  .newHead .twc-logo img {
    max-width: 225px;
    margin: .25em .5em;
  }
  .newHead .newHeaderIcons {
    width: 60%;
  }
  .newHead .newHeaderIcons ul.horizontal {
    width: 80%;
  }
  .newHead #header .twc-search input {
    width: 78%;
  }
  .newHead #header .twc-module {
    max-width: 100%;
  }
}

@media (max-width: 40em) {
  .newHead .clickIcon > a {
    margin-bottom: 0;
  }
  .newHead .twc-header .twc-container {
    padding: 2.5% 0;
    position: relative;
  }
  .newHead .twc-logo {
    width: 50%;
  }
  .newHead .twc-logo img {
    max-width: 185px;
    width: 90%;
  }
  .newHead .newHeaderIcons {
    width: 40%;
    min-height: 2.75em;
  }
  .newHead .newHeaderIcons ul.horizontal {
    width: 100%;
    margin: .25em 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .newHead .pushDown .hiddenCheckboxDropdown .contentSearch .twc-search input {
    width: 77%;
  }
  .newHead.tophat .desktop-hidden.tablet-hidden {
    display: block !important;
  }
  .newHead .newHeaderIcons ul.horizontal > li {
    width: 33%;
  }
  .newHead .newHeaderIcons ul.horizontal > li span:before {
    font-size: 20px;
    font-size: 2rem;
  }
  .newHead #header .twc-search input {
    width: 75%;
  }
}

/*# sourceMappingURL=newHeader.css.map */
