@import '../../../init';
// Version 1.0
.twc-content {
  // background: #fff;
  // background-image: none;
}

$color-bold-blue: #0070c0;
$color-border: #ececec;
// wrapper for all packages
.packageSelect {
  .package {
    .packageHead {
      background-color: transparent;
      padding: 0;
      fieldset {
         background-color: #0070c0;
         width: auto;
         float: none;
         max-width: none;
         text-align: center;
         min-height: 36px;
      }
      .packageTitle {
        color: $text-color;
        float: none;
        text-align: center;
        max-width: none;
        padding-top: 45px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: none;
        &[data-packagetitle="Internet"] {
          background-image: url('http://d23.us/TWC/images/cic/icon-internet-45x35.png');
          background-repeat: no-repeat;
          background-position: center 5px;
        }
        .package-name {

        }
        .package-name-tv {

        }
        .package-name-internet {

        }
        .package-name-phone {

        }
        .right {
          float: none;
          right: auto;
        }

      }
      .compare-label {
        font-size: 1.6rem;
        &::after {
          content: ' Plan';
        }

      }
    }
    &.single.js-compare,
    &.double.js-compare,
    &.triple.js-compare {

      border-color: #0070c0;
    }
  }
  // Custom grid for now
  .wrap {
    display: table;
    width: 100%;
    .row {
      display: table-row;
      .col {
        display: table-cell;
        width: 50%;
        text-align: center;
        + .col {
          border-left: 1px solid $color-border;
        }
      }
      .col-third {
        width: 33%;
      }
    }
  }
}

.expandable-tile .packageHead > fieldset input:checked ~ .compare-button {
  background-color: #fff;
}

.discountTerm {
  clear: both;
}

.packageSelect .package .pricing .h4 sup.pre-text {
  top: -0.5em;
  margin-right: 0.25em;
}
.test1 {
	color: #000;
}
.packageSelect .package .pricing .term .discountTerm,
.sbsCompare .main-content .pricing .term .discountTerm,
.packageSelect .package .pricing .term .postTerm,
.sbsCompare .main-content .pricing .term .postTerm {
  margin-top: -3px;
}

/* Begin BYOB CSS */
@media (max-width: 66.15em) {

  .twc-container {
    padding: 0;
  }
}

// [data-packagetitle="TV, Internet"]