// TWC Residential Fonts
$italic: italic;
$bold: bold;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$twc-book: 'TWC Round Book';
$twc-medium: 'TWC Round Medium';
$twc-light: 'TWC Round Light';
$fontawesome: 'FontAwesome';
$pre: Inconsolata,Monaco,Consolas,"Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;

$base-font-size: 13;
$base-line-height: 1.25;