/* ==========================================================================
    Accordion -- Version: 1.9.0.0 - Updated: 1/11/2014
   ========================================================================== */
.expandable li h6, .expandableHybrid li h6 {
  margin-bottom: 0;
}
.expandable li.js-notexpandable h6:after, .expandable li.js-notexpandableHybrid h6:after, .expandableHybrid li.js-notexpandable h6:after, .expandableHybrid li.js-notexpandableHybrid h6:after {
  float: right;
  content: '\f105';
  color: inherit;
}
.expandable li.js-expandable h6:after, .expandable li.js-expandableHybrid h6:after, .expandableHybrid li.js-expandable h6:after, .expandableHybrid li.js-expandableHybrid h6:after {
  float: right;
  content: '\f107';
  color: inherit;
}
.expandable li.js-expandable.js-active h6:after, .expandable li.js-expandableHybrid.js-active h6:after, .expandableHybrid li.js-expandable.js-active h6:after, .expandableHybrid li.js-expandableHybrid.js-active h6:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-180deg), M12=-sin(-180deg), M21=sin(-180deg), M22=cos(-180deg))";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-180deg), M12=-sin(-180deg), M21=sin(-180deg), M22=cos(-180deg));
  zoom: 1;
}
.expandable li ul, .expandableHybrid li ul {
  display: none;
}
@media (max-width: 48em) {
  .expandable li ul, .expandableHybrid li ul {
    border-right: none;
  }
}
.expandable li ul li.js-notexpandableHybrid a:after, .expandableHybrid li ul li.js-notexpandableHybrid a:after {
  float: right;
  content: '\f105';
}
.expandable li ul li.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-expandableHybridSub a:after {
  float: right;
  content: '\f105';
}
.expandable li ul li.js-active.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-active.js-expandableHybridSub a:after {
  float: right;
  content: '\f105';
}
.expandable li li, .expandableHybrid li li {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
.expandable li.js-last, .expandableHybrid li.js-last {
  border-bottom: none;
}

.activeContent {
  display: none;
}

@media (max-width: 48em) {
  .expandable li ul li.js-notexpandableHybrid a:after, .expandableHybrid li ul li.js-notexpandableHybrid a:after {
    float: right;
    content: '\f105';
  }
  .expandable li ul li.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-expandableHybridSub a:after {
    float: right;
    content: '\f107';
  }
  .expandable li ul li.js-active.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-active.js-expandableHybridSub a:after {
    float: right;
    content: '\f106';
  }
}
