/* ==========================================================================
    Alerts -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.twc-alert-section .twc-alert {
  background: #d14853;
  -webkit-box-shadow: inset 0 -10px 14px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -10px 14px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -10px 14px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
.twc-alert-section p.twc-alert-text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
}
.twc-alert-section .twc-customerLocation p.twc-alert-text:before, .twc-alert-section p.twc-alert-text:before {
  padding-right: 10px;
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 100;
  color: #f6b42a;
  text-shadow: 0 1px 3px #333;
}
.twc-alert-section .twc-alert-close:after {
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-weight: lighter;
}
.twc-alert-section a.twc-icon:hover {
  color: inherit;
}
@media (max-width: 48em) {
  .twc-alert-section .twc-alert-close:after {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media (max-width: 40em) {
  .twc-alert-section .twc-alert-text:before {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
