/* ==========================================================================
    Buttons -- Version: 1.9.0.3 - Updated: 2/27/2014
   ========================================================================== */
button {
  cursor: pointer;
}

.cta, .btn, .button, label.cta {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.cta a, .cta button, .cta input[type="button"], .btn a, .btn button, .btn input[type="button"], .button a, .button button, .button input[type="button"], label.cta a, label.cta button, label.cta input[type="button"] {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.cta.block, .btn.block, .button.block, label.cta.block {
  display: block;
}

.btn.block a, .btn.block button, .btn.block input, .cta.block a, .cta.block button, .cta.block input, .button a, .button button, .button input {
  display: block;
}

.btn.badge a, .btn.badge button, .btn.badge input, .cta.badge a, .cta.badge button, .cta.badge input {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

/* Buttons with checkbox */
.btn input[type="checkbox"], .cta input[type="checkbox"] {
  margin: 0;
  margin-left: .5em;
}

.btn:disabled a, .btn:disabled button, .btn:disabled input, .btn.disabled a, .btn.disabled button, .btn.disabled input, .btn.blue:disabled a, .btn.blue:disabled button, .btn.blue:disabled input, .btn.blue.disabled a, .btn.blue.disabled button, .btn.blue.disabled input, .btn.omega:disabled a, .btn.omega:disabled button, .btn.omega:disabled input, .btn.omega.disabled a, .btn.omega.disabled button, .btn.omega.disabled input, .button.omega:disabled a, .button.omega:disabled button, .button.omega:disabled input, .button.omega.disabled a, .button.omega.disabled button, .button.omega.disabled input, .cta:disabled a, .cta:disabled button, .cta:disabled input, .cta.disabled a, .cta.disabled button, .cta.disabled input, .cta.blue:disabled a, .cta.blue:disabled button, .cta.blue:disabled input, .cta.blue.disabled a, .cta.blue.disabled button, .cta.blue.disabled input, .cta.omega:disabled a, .cta.omega:disabled button, .cta.omega:disabled input, .cta.omega.disabled a, .cta.omega.disabled button, .cta.omega.disabled input {
  cursor: default;
}

/* ==========================
  Share
   ========================== */
/* ==========================
  Flag
   ========================== */
.flag {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

/* =========================
    Checkbox button
  ========================*/
label.cta.omega {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

label.cta input {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0.5em;
}

/* Firefox */
@-moz-document url-prefix() {
  /* Remove button padding in FF */
  button::-moz-focus-inner {
    padding: 0;
    border: 0 none;
  }

  input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
  }
}
/* ie (.twc-ie) */
/* make buttons play nice in IE */
.twc-ie button {
  overflow: visible;
  width: auto;
}

@media (max-width: 40em) {
  .cta.mobile-full, .btn.mobile-full, .button.mobile-full {
    width: 100%;
  }
  .cta.mobile-full a, .btn.mobile-full a, .button.mobile-full a {
    display: block;
    text-align: center;
  }
  .cta.mobile-full + .cta.mobile-full, .btn.mobile-full + .cta.mobile-full, .button.mobile-full + .cta.mobile-full, .cta.mobile-full + .btn.mobile-full, .btn.mobile-full + .btn.mobile-full, .button.mobile-full + .btn.mobile-full, .cta.mobile-full + .button.mobile-full, .btn.mobile-full + .button.mobile-full, .button.mobile-full + .button.mobile-full {
    margin-top: 1em;
  }

  .mobile-full button {
    width: 100%;
  }
}
