/* ==========================================================================
    Channel Lineup  -- Version: 1.0.0 - Updated: 3/14/2014
   ========================================================================== */
.clu .channel-search {
  margin-top: 2em;
}
@media (max-width: 48em) {
  .clu .channel-search {
    margin-top: 0;
  }
}
.clu .channel-search .channels-input {
  width: 60.5%;
}
.clu .channel-search .channels-input input {
  border: none;
}
.clu .channel-search .channels-submit {
  width: 37%;
}
.clu .box.link {
  background: none;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
@media (max-width: 40em) {
  .clu .box.link a {
    font-size: 11px;
  }
}
.clu .box .location {
  background: white;
  margin: 0;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
}
@media (max-width: 40em) {
  .clu .box .location {
    background: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .clu .box .location p {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-bottom: .5em;
  }
}
@media (max-width: 40em) {
  .clu .box {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: none;
  }
}
.clu table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
@media (max-width: 40em) {
  .clu table {
    font-size: 10px;
    font-size: 1rem;
  }
}
.clu table th, .clu table td {
  border: 1px solid #b4d6f3;
}
.clu table thead {
  display: table;
  float: left;
  width: 100%;
  background-color: #4596df;
}
.clu table thead tr {
  display: table-row;
  width: 100%;
}
.clu table thead th {
  width: 18.5%;
  padding: 1em;
  color: white;
  font-weight: 100;
}
.clu table thead th.channels {
  width: 26%;
}
@media (max-width: 40em) {
  .clu table thead th {
    padding-top: 0.5em;
    padding-right: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
  }
}
.clu table tbody {
  display: block;
  float: left;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
@media (max-width: 48em) {
  .clu table tbody {
    max-height: 350px;
  }
}
.clu table tbody tr {
  display: table;
  width: 100%;
  background: white;
}
.clu table tbody td {
  width: 18.5%;
  padding: 1em;
}
.clu table tbody td.channels {
  width: 26%;
  text-align: left;
}
.clu table tbody td.channels img {
  vertical-align: bottom;
}
.clu table tbody td.channels, .clu table tbody td.stanTV, .clu table tbody td.espTV {
  background-color: #e7f2fb;
}
.clu table tbody td.prefTV, .clu table tbody td.stanTV, .clu table tbody td.startTV, .clu table tbody td.espTV {
  color: #4596df;
}
.clu table tbody td .channel-name {
  color: #333333;
}
.clu table tbody td .table-content {
  color: #4596df;
}
@media (max-width: 40em) {
  .clu table tbody td {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
  .clu table tbody td .channel-logo {
    display: none;
  }
}
.clu .table-footer {
  display: block;
  margin-top: 1em;
}
.clu .channel-logo {
  margin-right: .5em;
}
