/* ==========================================================================
    Compare Table -- Version: 1.0.2 - Updated: 2/12/2014
   ========================================================================== */
.compareTable .compareTable-row {
  margin-bottom: .25em;
}
.compareTable ul.table li {
  display: table-cell;
  padding: .5em 1em;
  vertical-align: middle;
}
.compareTable ul.details-content {
  display: none;
  padding: 1em;
}
.compareTable .details-content .cta {
  margin-top: 2em;
  margin-bottom: 0;
}
.compareTable ul li h5, .compareTable ul li h6 {
  margin-bottom: 0;
}
.compareTable ul li.package {
  width: 24%;
  border-left: 2px solid #6f93af;
  border-top: 2px solid #6f93af;
  border-bottom: 2px solid #6f93af;
  border-radius: 5px 0 0 5px;
  text-align: center;
}
.compareTable ul li.feature {
  width: 17%;
  text-align: center;
}
.compareTable ul li.desc {
  width: 26%;
}
.compareTable ul li.desc-details {
  display: block;
}
.compareTable ul li.pricing {
  position: relative;
  text-align: center;
}
.compareTable ul li a.viewDetail:after {
  content: "\f107";
  padding-left: 0.5em;
}
.compareTable ul li a.viewDetail.active:after {
  content: "\f106";
}
.compareTable li span.badge {
  position: absolute;
  bottom: 30%;
  left: 85%;
  z-index: 99999;
}
.compareTable ul li.order {
  width: 16%;
  text-align: center;
}

@-moz-document url-prefix() {}
@media (max-width: 48em) {
  .compareTable ul li.feature, .compareTable ul li.desc {
    display: none;
  }
}
@media (max-width: 40em) {
  .compareTable ul li {
    padding: .5em;
  }
  .compareTable ul li.package {
    width: 34%;
  }
  .compareTable ul li.feature, .compareTable ul li.desc {
    display: none;
  }
  .compareTable ul li.pricing {
    width: 25%;
  }
  .compareTable ul li.order {
    width: 10%;
  }
  .compareTable .badge {
    display: none;
  }
  .compareTable .tempBadge {
    float: right;
  }
}
