/* ==========================================================================
    Compare Table -- Version: 1.0.2 - Updated: 2/12/2014
   ========================================================================== */
.compareTable .compareTable-row {
  background: #E2E6E9;
}
.compareTable ul li.package {
  background-color: #7e9db7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e9db7), to(#6f93af));
  background-image: -webkit-linear-gradient(top, #7e9db7, #6f93af);
  background-image: -moz-linear-gradient(top, #7e9db7, #6f93af);
  background-image: -o-linear-gradient(top, #7e9db7, #6f93af);
  background-image: -ms-linear-gradient(top, #7e9db7, #6f93af);
  background-image: linear-gradient(top, #7e9db7, #6f93af);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7e9db7', EndColorStr='#6f93af');
}
.compareTable ul li.feature {
  border-top: 2px solid #e2e6e9;
  border-bottom: 2px solid #e2e6e9;
  background-color: #edf0f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf0f2), to(#e2e6e9));
  background-image: -webkit-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: -moz-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: -o-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: -ms-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: linear-gradient(top, #edf0f2, #e2e6e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#edf0f2', EndColorStr='#e2e6e9');
}
.compareTable ul:hover li.feature {
  border-top: 2px solid #c0c9d3;
  border-bottom: 2px solid #c0c9d3;
  background-color: #d3dae1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d3dae1), to(#c0c9d3));
  background-image: -webkit-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: -moz-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: -o-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: -ms-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: linear-gradient(top, #d3dae1, #c0c9d3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d3dae1', EndColorStr='#c0c9d3');
}
.compareTable ul li.desc {
  border-top: 2px solid #c6ccd3;
  border-bottom: 2px solid #c6ccd3;
  background-color: #dbdfe4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdfe4), to(#c6ccd3));
  background-image: -webkit-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: -moz-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: -o-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: -ms-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: linear-gradient(top, #dbdfe4, #c6ccd3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dbdfe4', EndColorStr='#c6ccd3');
}
.compareTable ul:hover li.desc {
  border-top: 2px solid #8698aa;
  border-bottom: 2px solid #8698aa;
  background-color: #aebcc8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aebcc8), to(#8698aa));
  background-image: -webkit-linear-gradient(top, #aebcc8, #8698aa);
  background-image: -moz-linear-gradient(top, #aebcc8, #8698aa);
  background-image: -o-linear-gradient(top, #aebcc8, #8698aa);
  background-image: -ms-linear-gradient(top, #aebcc8, #8698aa);
  background-image: linear-gradient(top, #aebcc8, #8698aa);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#aebcc8', EndColorStr='#8698aa');
}
.compareTable ul li.pricing {
  width: 17%;
  border-top: 2px solid #e2e6e9;
  border-bottom: 2px solid #e2e6e9;
  background-color: #edf0f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf0f2), to(#e2e6e9));
  background-image: -webkit-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: -moz-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: -o-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: -ms-linear-gradient(top, #edf0f2, #e2e6e9);
  background-image: linear-gradient(top, #edf0f2, #e2e6e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#edf0f2', EndColorStr='#e2e6e9');
}
.compareTable ul li a.viewDetail:after {
  font-family: FontAwesome;
}
.compareTable ul:hover li.pricing {
  border-top: 2px solid #c0c9d3;
  border-bottom: 2px solid #c0c9d3;
  background-color: #d3dae1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d3dae1), to(#c0c9d3));
  background-image: -webkit-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: -moz-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: -o-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: -ms-linear-gradient(top, #d3dae1, #c0c9d3);
  background-image: linear-gradient(top, #d3dae1, #c0c9d3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d3dae1', EndColorStr='#c0c9d3');
}
.compareTable ul li.order {
  border-top: 2px solid #c6ccd3;
  border-right: 2px solid #c6ccd3;
  border-bottom: 2px solid #c6ccd3;
  border-radius: 0 5px 5px 0;
  background-color: #dbdfe4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdfe4), to(#c6ccd3));
  background-image: -webkit-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: -moz-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: -o-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: -ms-linear-gradient(top, #dbdfe4, #c6ccd3);
  background-image: linear-gradient(top, #dbdfe4, #c6ccd3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dbdfe4', EndColorStr='#c6ccd3');
  box-shadow: inset 7px 0 15px -11px #454545;
}
.compareTable ul:hover li.order {
  border-top: 2px solid #8698aa;
  border-right: 2px solid #8698aa;
  border-bottom: 2px solid #8698aa;
  background-color: #aebcc8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aebcc8), to(#8698aa));
  background-image: -webkit-linear-gradient(top, #aebcc8, #8698aa);
  background-image: -moz-linear-gradient(top, #aebcc8, #8698aa);
  background-image: -o-linear-gradient(top, #aebcc8, #8698aa);
  background-image: -ms-linear-gradient(top, #aebcc8, #8698aa);
  background-image: linear-gradient(top, #aebcc8, #8698aa);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#aebcc8', EndColorStr='#8698aa');
}

@-moz-document url-prefix() {}
