/* ==========================================================================
    Content Gallery - Version: 1.0.0 - Updated: 5/12/14
   ========================================================================== */
.bc-content-gallery {
  overflow: auto;
  padding: 1em;
  min-height: 265px;
}
@media (max-width: 48em) {
  .bc-content-gallery:nth-child(1) {
    margin-bottom: 1em;
  }
}
@media (max-width: 40em) {
  .bc-content-gallery {
    margin-bottom: 1em;
  }
}
