/* ==========================================================================
    Feedback Survey -- Version: 1.9.0.2 - Updated: 12/30/2013
   ========================================================================== */
.feedback-survey .initiate-feedback, .feedback-survey .feedback-survey-yes-response, .feedback-survey .feedback-survey-no-response {
  overflow: auto;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
  width: 100%;
  margin: 1em 0;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
.feedback-survey .initiate-feedback fieldset, .feedback-survey .feedback-survey-yes-response fieldset, .feedback-survey .feedback-survey-no-response fieldset {
  padding-top: 0.75em;
  padding-right: 0;
  padding-bottom: 0.75em;
  padding-left: 0;
}
.feedback-survey .feedback-survey-yes-response, .feedback-survey .feedback-survey-no-response {
  display: none;
}
.feedback-survey .improve-feedback {
  display: none;
}
.feedback-survey input[type="radio"] + label {
  width: auto;
}

@media (max-width: 48em) {
  .feedback-survey [class*='twc-col3_252550-c'] {
    width: 23.75%;
  }
  .feedback-survey [class*='twc-col3_252550-c1'] {
    margin-top: 0;
    margin-left: 2.5%;
  }
  .feedback-survey [class*='twc-col3_252550-c2'] {
    margin-left: 0;
    width: 48.75%;
  }
}
@media (max-width: 40em) {
  .feedback-survey .initiate-feedback, .feedback-survey .feedback-survey-yes-response, .feedback-survey .feedback-survey-no-response {
    text-align: center;
  }
  .feedback-survey [class*='twc-col3_252550-c'], .feedback-survey [class*='twc-col3_252550-c1'], .feedback-survey [class*='twc-col3_252550-c2'] {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
