/* ==========================================================================
    Forms -- Version: 1.9.0.0 - Updated: 6/16/2014
   ========================================================================== */
.twc-backgroundGradient-5, .twc-content {
  background: none;
}

input[type='search'], input[type='text'], input[type='email'], input[type='textarea'], input[type='password'], input[type='tel'], textarea, label, select {
  font-size: 15px;
  font-size: 1.5rem;
}

input, textarea {
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

select {
  width: 100%;
  height: 100%;
  padding: 0.4em 0.25em;
  border: 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

input {
  vertical-align: baseline;
}
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  border: 0;
}

input.twc-text:focus {
  color: #666;
}

input[type=submit] {
  background-color: #387ab4 !important;
  width: 200px !important;
  height: 40px !important;
  background-image: linear-gradient(#387ab4, #d4d5d6) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #387ab4), color-stop(18%, #3173ad), color-stop(74, #0d4f89), color-stop(100, #01437d)) !important;
  background-image: -webkit-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%) !important;
  background-image: -moz-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%) !important;
  background-image: -ms-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%) !important;
  background-image: -o-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%) !important;
  background: -pie-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3678b2', EndColorStr='#044680') !important;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font: 500 1.4em Arial, Sans-Serif !important;
  color: #fff;
}

input:required ~ span:after,
input span, input span:after, input + span:after, ul.checkbox-alert:required ~ span:after,
ul.checkbox-alert span, ul.checkbox-alert span:after, ul.checkbox-alert + span:after, input.minlength:required ~ span:after,
input.minlength span, input.minlength span:after, input.minlength + span:after, input.max-input:required ~ span:after,
input.max-input span, input.max-input span:after, input.max-input + span:after {
  color: red;
  font-weight: 700;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition-duration: .5s;
  transition-delay: .5s;
}

.error-msg {
  color: #d10010;
}

.first-name {
  width: 77.5% !important;
}

.middle-initial {
  width: 20% !important;
}

.cc-number {
  width: 47.5% !important;
}

.cc-exp-month {
  width: 27.5% !important;
}

.cc-csc {
  width: 20%;
}

.ssn {
  width: 64% !important;
}

.dob {
  width: 33.5% !important;
}

.zip, .state {
  width: 48.75% !important;
}

input:invalid.required-input,
input.required-input.maxlength:required:invalid,
input:required.max-input.maxlength,
input.max-input.maxlength,
input.minlength:invalid,
ul.checkbox-alert {
  box-shadow: 0 0 3px 1px #f00;
}

input[type="checkbox"] {
  border-radius: 0;
}

@media (max-width: 48em) {
  ul.checkbox-alert > li {
    margin-bottom: 1.5em;
  }
}
@media (max-width: 40em) {
  .checkbox-alert > span {
    top: 100%;
  }

  .form-item.split {
    width: 100%;
  }
}
