/* ==========================================================================
    IconFu  -- Version: 1.0.0 - Updated: 3/12/2014
   ========================================================================== */
@font-face {
  font-family: 'IconFu';
  src: url("http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.eot?gpdf00");
  src: url("http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.eot?#iefixgpdf00") format("embedded-opentype"), url("http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.woff?gpdf00") format("woff"), url("http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.ttf?gpdf00") format("truetype"), url("http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.svg?gpdf00#IconFu") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iconfu .icon {
  font-family: 'IconFu';
  speak: none;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfu .twc-container {
  padding: 2em 0 3em;
}
.iconfu .blue {
  color: blue;
}
.iconfu .red {
  color: red;
}
.iconfu .green {
  color: green;
}
.iconfu .icon-shadow {
  text-shadow: black 1px 1px 4px;
}
.iconfu .font-16 {
  font-size: 16px;
}
.iconfu .font-32 {
  font-size: 32px;
}
.iconfu .font-64 {
  font-size: 64px;
}
.iconfu .font-128 {
  font-size: 128px;
}
.iconfu .font-256 {
  font-size: 256px;
}
.iconfu .iconfu-icons [class*='ifu-'],
.iconfu .iconfu-icons .icon-name {
  font-size: 24px;
}
.iconfu .ifu-untangled:before {
  content: "\e603";
}
.iconfu .ifu-enjoy-better:before {
  content: "\e672";
}
.iconfu .ifu-warning:before {
  content: "\e600";
}
.iconfu .ifu-utensils:before {
  content: "\e601";
}
.iconfu .ifu-upload:before {
  content: "\e602";
}
.iconfu .ifu-up-down:before {
  content: "\e604";
}
.iconfu .ifu-umbrella:before {
  content: "\e605";
}
.iconfu .ifu-twitter:before {
  content: "\e606";
}
.iconfu .ifu-trash:before {
  content: "\e607";
}
.iconfu .ifu-transfer:before {
  content: "\e608";
}
.iconfu .ifu-timewarner:before {
  content: "\e609";
}
.iconfu .ifu-tablet:before {
  content: "\e60a";
}
.iconfu .ifu-super:before {
  content: "\e60b";
}
.iconfu .ifu-sub:before {
  content: "\e60c";
}
.iconfu .ifu-star:before {
  content: "\e60d";
}
.iconfu .ifu-speed:before {
  content: "\e60e";
}
.iconfu .ifu-smile:before {
  content: "\e60f";
}
.iconfu .ifu-sitemap:before {
  content: "\e610";
}
.iconfu .ifu-side-by-side:before {
  content: "\e611";
}
.iconfu .ifu-search:before {
  content: "\e612";
}
.iconfu .ifu-rev-star:before {
  content: "\e613";
}
.iconfu .ifu-rev-remove:before {
  content: "\e614";
}
.iconfu .ifu-rev-half-star:before {
  content: "\e615";
}
.iconfu .ifu-rev-envelope:before {
  content: "\e616";
}
.iconfu .ifu-rev-comments:before {
  content: "\e617";
}
.iconfu .ifu-rev-comment:before {
  content: "\e618";
}
.iconfu .ifu-rev-arrow-up:before {
  content: "\e619";
}
.iconfu .ifu-rev-arrow-right:before {
  content: "\e61a";
}
.iconfu .ifu-rev-arrow-left:before {
  content: "\e61b";
}
.iconfu .ifu-rev-arrow-down:before {
  content: "\e61c";
}
.iconfu .ifu-reply:before {
  content: "\e61d";
}
.iconfu .ifu-reply-all:before {
  content: "\e61e";
}
.iconfu .ifu-remove:before {
  content: "\e61f";
}
.iconfu .ifu-refresh:before {
  content: "\e620";
}
.iconfu .ifu-quotes:before {
  content: "\e621";
}
.iconfu .ifu-question:before {
  content: "\e622";
}
.iconfu .ifu-question-sign:before {
  content: "\e623";
}
.iconfu .ifu-printer:before {
  content: "\e624";
}
.iconfu .ifu-phone:before {
  content: "\e625";
}
.iconfu .ifu-open-quotes:before {
  content: "\e626";
}
.iconfu .ifu-ok:before {
  content: "\e627";
}
.iconfu .ifu-ok-sign:before {
  content: "\e628";
}
.iconfu .ifu-mobile:before {
  content: "\e629";
}
.iconfu .ifu-meh:before {
  content: "\e62a";
}
.iconfu .ifu-location:before {
  content: "\e62b";
}
.iconfu .ifu-location-arrow:before {
  content: "\e62c";
}
.iconfu .ifu-locate:before {
  content: "\e62d";
}
.iconfu .ifu-loading:before {
  content: "\e62e";
}
.iconfu .ifu-linkedin:before {
  content: "\e62f";
}
.iconfu .ifu-lightning:before {
  content: "\e630";
}
.iconfu .ifu-lightbulb:before {
  content: "\e631";
}
.iconfu .ifu-left-right:before {
  content: "\e632";
}
.iconfu .ifu-leaf:before {
  content: "\e633";
}
.iconfu .ifu-laptop:before {
  content: "\e634";
}
.iconfu .ifu-keyboard:before {
  content: "\e635";
}
.iconfu .ifu-information:before {
  content: "\e636";
}
.iconfu .ifu-information-sign:before {
  content: "\e637";
}
.iconfu .ifu-info-sign:before {
  content: "\e638";
}
.iconfu .ifu-home:before {
  content: "\e639";
}
.iconfu .ifu-heart:before {
  content: "\e63a";
}
.iconfu .ifu-half-star:before {
  content: "\e63b";
}
.iconfu .ifu-game-controller:before {
  content: "\e63d";
}
.iconfu .ifu-frown:before {
  content: "\e63e";
}
.iconfu .ifu-forward:before {
  content: "\e63f";
}
.iconfu .ifu-forward-all:before {
  content: "\e640";
}
.iconfu .ifu-folder-open:before {
  content: "\e641";
}
.iconfu .ifu-folder-closed:before {
  content: "\e642";
}
.iconfu .ifu-flag:before {
  content: "\e643";
}
.iconfu .ifu-file:before {
  content: "\e644";
}
.iconfu .ifu-facebook:before {
  content: "\e645";
}
.iconfu .ifu-expand:before {
  content: "\e646";
}
.iconfu .ifu-expand-alt:before {
  content: "\e647";
}
.iconfu .ifu-exclamation:before {
  content: "\e648";
}
.iconfu .ifu-exclamation-sign:before {
  content: "\e649";
}
.iconfu .ifu-eraser:before {
  content: "\e64a";
}
.iconfu .ifu-ellipsis:before {
  content: "\e64b";
}
.iconfu .ifu-download-alt:before {
  content: "\e64c";
}
.iconfu .ifu-double-angle-up:before {
  content: "\e64d";
}
.iconfu .ifu-double-angle-right:before {
  content: "\e64e";
}
.iconfu .ifu-double-angle-left:before {
  content: "\e64f";
}
.iconfu .ifu-double-angle-down:before {
  content: "\e650";
}
.iconfu .ifu-document:before {
  content: "\e651";
}
.iconfu .ifu-desktop:before {
  content: "\e652";
}
.iconfu .ifu-crop:before {
  content: "\e653";
}
.iconfu .ifu-comments:before {
  content: "\e654";
}
.iconfu .ifu-comment:before {
  content: "\e655";
}
.iconfu .ifu-cogs:before {
  content: "\e656";
}
.iconfu .ifu-cog:before {
  content: "\e657";
}
.iconfu .ifu-coffee:before {
  content: "\e658";
}
.iconfu .ifu-cloud:before {
  content: "\e659";
}
.iconfu .ifu-close-quotes:before {
  content: "\e65a";
}
.iconfu .ifu-clock:before {
  content: "\e65b";
}
.iconfu .ifu-clipboard:before {
  content: "\e65c";
}
.iconfu .ifu-chevron-up:before {
  content: "\e65d";
}
.iconfu .ifu-chevron-right:before {
  content: "\e65e";
}
.iconfu .ifu-chevron-left:before {
  content: "\e65f";
}
.iconfu .ifu-chevron-down:before {
  content: "\e660";
}
.iconfu .ifu-checkbox:before {
  content: "\e661";
}
.iconfu .ifu-check:before {
  content: "\e662";
}
.iconfu .ifu-caret-up:before {
  content: "\e663";
}
.iconfu .ifu-caret-right:before {
  content: "\e664";
}
.iconfu .ifu-caret-left:before {
  content: "\e665";
}
.iconfu .ifu-caret-down:before {
  content: "\e666";
}
.iconfu .ifu-building:before {
  content: "\e667";
}
.iconfu .ifu-briefcase:before {
  content: "\e668";
}
.iconfu .ifu-bookmark:before {
  content: "\e669";
}
.iconfu .ifu-arrow-up:before {
  content: "\e66a";
}
.iconfu .ifu-arrow-right:before {
  content: "\e66b";
}
.iconfu .ifu-arrow-left:before {
  content: "\e66c";
}
.iconfu .ifu-arrow-down:before {
  content: "\e66d";
}
.iconfu .ifu-angle-up:before {
  content: "\e66e";
}
.iconfu .ifu-angle-right:before {
  content: "\e66f";
}
.iconfu .ifu-angle-left:before {
  content: "\e670";
}
.iconfu .ifu-angle-down:before {
  content: "\e671";
}
.iconfu .ifu-twc-logo:before {
  content: "\e673";
}
