/* ==========================================================================
    Image Content Panel -- Version: 1.0.0.3 - Updated: 1/16/2014
   ========================================================================== */
.imagecontent-panel {
  position: relative;
  padding-top: 2em;
  padding-right: 4em;
  padding-bottom: 2em;
  padding-left: 4em;
}
.imagecontent-panel img {
  background-size: auto;
  background-position: 85% 15%;
}
.imagecontent-panel .disclaimer {
  position: absolute;
  bottom: .5rem;
}

.slide .image-banner {
  position: absolute;
  top: 0;
}

.image-banner {
  position: relative;
  padding: 1em 2em;
}
.image-banner .cta {
  margin-bottom: .5em;
}

@media (max-width: 48em) {
  .panel .image-banner,
  .panel .image-banner.right,
  .panel .image-banner.left,
  .panel .image-banner.center {
    position: relative;
    float: none;
    width: 100% !important;
    left: 0 !important;
  }
}
@media (max-width: 40em) {
  .imagecontent-panel {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
  }
}
