/* ==========================================================================
    Layout -- Version: 1.9.0.2 - Updated: 1/11/2014
   ========================================================================== */
.twc-full {
  width: 100%;
}

.twc-container {
  display: block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2em 0;
  overflow: visible;
}

.twc-content {
  position: relative;
  overflow: auto;
  z-index: 0;
}

/* ==========================
    Column Control
   ========================== */
.columnControl {
  clear: both;
}

.parsys_column {
  float: left;
  min-height: 1px;
  width: 100%;
  margin-left: 2.5%;
  border: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.columnControl > .parsys_column, .columnControl .parsys_column .parsys0 {
  margin-top: 0;
  margin-left: 0;
}

.columnClear {
  clear: both;
}

.marginless > [class*='twc-col'] {
  margin-left: 0 !important;
}

[class*='twc-col1_100-c'] {
  width: 100%;
}

.push {
  float: right;
}

.pull {
  float: left;
  margin-left: 0;
}

/* ==========================
    2 Column Layouts
   ========================== */
/* ==========================
    50/50
   ========================== */
[class*='twc-col2_5050-c'] {
  width: 48.75%;
}
.marginless [class*='twc-col2_5050-c'] {
  width: 50%;
}

/* ==========================
    55/45 * 45/55
   ========================== */
[class*='twc-col2_5545-c'] {
  width: 43.75%;
}
.marginless [class*='twc-col2_5545-c'] {
  width: 45%;
}

[class*='twc-col2_5545-c0'], [class*='twc-col2_4555-c'] {
  width: 53.75%;
}
.marginless [class*='twc-col2_5545-c0'], .marginless [class*='twc-col2_4555-c'] {
  width: 55%;
}

[class*='twc-col2_4555-c0'] {
  width: 43.75%;
}
.marginless [class*='twc-col2_4555-c0'] {
  width: 45%;
}

/* ==========================
    60/40 * 40/60
   ========================== */
[class*='twc-col2_6040-c'] {
  width: 38.75%;
}
.marginless [class*='twc-col2_6040-c'] {
  width: 40%;
}

[class*='twc-col2_6040-c0'] {
  width: 58.75%;
}
.marginless [class*='twc-col2_6040-c0'] {
  width: 60%;
}

[class*='twc-col2_4060-c'] {
  width: 58.75%;
}
.marginless [class*='twc-col2_4060-c'] {
  width: 60%;
}

[class*='twc-col2_4060-c0'] {
  width: 38.75%;
}
.marginless [class*='twc-col2_4060-c0'] {
  width: 40%;
}

/* ==========================
    The Golden Ratio
   ========================== */
[class*='twc-col2_6238-c'] {
  width: 36.75%;
}
.marginless [class*='twc-col2_6238-c'] {
  width: 38%;
}

[class*='twc-col2_6238-c0'] {
  width: 60.75%;
}
.marginless [class*='twc-col2_6238-c0'] {
  width: 62%;
}

[class*='twc-col2_3862-c'] {
  width: 60.75%;
}
.marginless [class*='twc-col2_3862-c'] {
  width: 62%;
}

[class*='twc-col2_3862-c0'] {
  width: 36.75%;
}
.marginless [class*='twc-col2_3862-c0'] {
  width: 38%;
}

/* ==========================
    67/33 * 33/67
   ========================== */
[class*='twc-col2_6733-c'] {
  width: 31.75%;
}
.marginless [class*='twc-col2_6733-c'] {
  width: 33%;
}

[class*='twc-col2_6733-c0'], [class*='twc-col2_3367-c'] {
  width: 65.75%;
}
.marginless [class*='twc-col2_6733-c0'], .marginless [class*='twc-col2_3367-c'] {
  width: 67%;
}

[class*='twc-col2_3367-c0'] {
  width: 31.75%;
}
.marginless [class*='twc-col2_3367-c0'] {
  width: 33%;
}

/* ==========================
    70/30 * 30/70
   ========================== */
[class*='twc-col2_7030-c'] {
  width: 28.75%;
}
.marginless [class*='twc-col2_7030-c'] {
  width: 30%;
}

[class*='twc-col2_7030-c0'], [class*='twc-col2_3070-c'] {
  width: 68.75%;
}
.marginless [class*='twc-col2_7030-c0'], .marginless [class*='twc-col2_3070-c'] {
  width: 70%;
}

[class*='twc-col2_3070-c0'] {
  width: 28.75%;
}
.marginless [class*='twc-col2_3070-c0'] {
  width: 30%;
}

/* ==========================
    75/25 * 25/75
   ========================== */
[class*='twc-col2_7525-c'] {
  width: 23.75%;
}
.marginless [class*='twc-col2_7525-c'] {
  width: 25%;
}

[class*='twc-col2_7525-c0'] {
  width: 73.75%;
}
.marginless [class*='twc-col2_7525-c0'] {
  width: 75%;
}

[class*='twc-col2_2575-c'] {
  width: 73.75%;
}
.marginless [class*='twc-col2_2575-c'] {
  width: 75%;
}

[class*='twc-col2_2575-c0'] {
  width: 23.75%;
}
.marginless [class*='twc-col2_2575-c0'] {
  width: 25%;
}

/* ==========================
    76/24 * 24/76
   ========================== */
[class*='twc-col2_7624-c'] {
  width: 22.75%;
}
.marginless [class*='twc-col2_7624-c'] {
  width: 24%;
}

[class*='twc-col2_7624-c0'], [class*='twc-col2_2476-c'] {
  width: 74.75%;
}
.marginless [class*='twc-col2_7624-c0'], .marginless [class*='twc-col2_2476-c'] {
  width: 76%;
}

[class*='twc-col2_2476-c0'] {
  width: 22.75%;
}
.marginless [class*='twc-col2_2476-c0'] {
  width: 24%;
}

/* ==========================
    82/18
   ========================== */
[class*='twc-col2_8218-c'] {
  width: 16.75%;
}
.marginless [class*='twc-col2_8218-c'] {
  width: 18%;
}

[class*='twc-col2_8218-c1'] {
  padding-left: 1em;
}

[class*='twc-col2_8218-c0'] {
  width: 80.75%;
}
.marginless [class*='twc-col2_8218-c0'] {
  width: 82%;
}

/* ==========================
    3 Column Layouts
   ========================== */
/* ==========================
    14/72/14
   ========================== */
[class*='twc-col3_157015-c'] {
  width: 13%;
  margin-left: 0;
}

[class*='twc-col3_157015-c1'] {
  width: 69%;
}
[class*='twc-col3_157015-c1'] > .parsys {
  padding: 0 2%;
}

/* ==========================
    17/56/17
   ========================== */
[class*='twc-col3_175617-c'] {
  width: 21.9%;
  margin: 0;
  padding: 0 2%;
}

[class*='twc-col3_175617-c1'] {
  width: 56.2%;
}
[class*='twc-col3_175617-c1'] > .parsys {
  padding: 0 2%;
}

/* ==========================
    33/33/33
   ========================== */
[class*='twc-col3_333333-c'] {
  width: 31.6666667%;
}
.marginless [class*='twc-col3_333333-c'] {
  width: 33.3333334%;
}

/* ==========================
    50/25/25
   ========================== */
[class*='twc-col3_502525-c'] {
  width: 23.125%;
}
.marginless [class*='twc-col3_502525-c'] {
  width: 25%;
}

[class*='twc-col3_502525-c0'] {
  width: 48.75%;
}
.marginless [class*='twc-col3_502525-c0'] {
  width: 50%;
}

/* ==========================
    25/25/50
   ========================== */
[class*='twc-col3_252550-c'] {
  width: 23.125%;
}
.marginless [class*='twc-col3_252550-c'] {
  width: 25%;
}

[class*='twc-col3_252550-c2'] {
  width: 48.75%;
}
.marginless [class*='twc-col3_252550-c2'] {
  width: 50%;
}

/* ==========================
    4 Columns
   ========================== */
/* ==========================
    25/25/25/25
   ========================== */
[class*='twc-col4_25252525-c'] {
  width: 23.125%;
}
.marginless [class*='twc-col4_25252525-c'] {
  width: 25%;
}

.twc-submenu [class*='twc-col4_25252525-c'] {
  width: 25%;
  margin: 0;
  padding: 0 2%;
}
.twc-submenu [class*='twc-col'] {
  border: solid transparent;
  border-width: 0 0 0 1px;
  border-image: url("../images/tall-divider-gray.png") 2 2 stretch stretch;
}
.twc-submenu [class*='twc-col']:first-child {
  border-image: none;
}

/* ==========================
    5 Columns
   ========================== */
[class*='twc-col5_2020202020-c'] {
  width: 18%;
}
.marginless [class*='twc-col5_2020202020-c'] {
  width: 20%;
}

/* ==========================
    6 Columns
   ========================== */
[class*='twc-col6_151515151515-c'] {
  width: 14.583333%;
}
.marginless [class*='twc-col6_151515151515-c'] {
  width: 16.6666667%;
}

/* ==========================
    7 Columns
   ========================== */
[class*='twc-col7_12121212121212-c'] {
  width: 12.142857142857%;
}
.marginless [class*='twc-col7_12121212121212-c'] {
  width: 14.28571428571429%;
}

/* ==========================
    Multi Column
   ========================== */
[class*='two_column_'] {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

[class*='three_column_'] {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

[class*='four_column_'] {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

/* ==========================
	  Main Content
   ========================== */
.subHead {
  display: block;
  margin: .5em 0;
}

p.subHead a {
  font-size: 13px;
  font-size: 1.3rem;
}
p.subHead a:before {
  font-family: "FontAwesome";
  content: "\f104";
  padding-right: 5px;
}

a.subHead:before {
  font-family: "FontAwesome";
  content: "\f104";
  padding-right: 5px;
}

.page-header, .content-header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.page-footer, .content-footer {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.twc-box-column {
  padding: 1.5em;
  margin-bottom: 2em;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px 0 #888888;
  -moz-box-shadow: 0 1px 2px 0 #888888;
  box-shadow: 0 1px 2px 0 #888888;
  overflow: auto;
}

.page-header + .twc-box-column {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.twc-borderBottom {
  padding-bottom: .5em;
  border-bottom: 1px solid #CDCFD1;
}
.twc-borderBottom h3 {
  margin-bottom: .5em;
}

/* ==========================
	  Aside / Sidebar Section
   ========================== */
.twc-share-module {
  display: inline-block;
}

.twc-block {
  display: inline;
}
.twc-block ul.twc-share, .twc-block a {
  display: inline-block;
  float: left;
  padding: .5em 1em;
  background: #4f799f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  color: #f2f4f6;
}

.twc-share-module li, .twc-share-module .twc-print {
  float: right;
  padding: .5em 2em;
  color: #d4dadf;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

ul.twc-share li {
  border-bottom: 0;
}

.twc-print {
  margin: 0;
  padding: 0 7px;
}
.twc-print:hover {
  background: #265a83;
}

.twc-block .twc-share {
  float: right;
}
.twc-block .twc-share li {
  float: left;
  height: 18px;
  padding: 0 7px;
  border-right: 1px solid #ababab;
}
.twc-block .twc-share li:first-child {
  border-right: none;
}
.twc-block .twc-share a {
  display: block;
  float: left;
  text-indent: -9999em;
  padding: 0;
  margin: 0;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.twc-block .twc-share a:hover {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.twc-share li:last-child {
  border-right: 0;
}

.twc-arrow {
  background: url(../images/arrow-white-right.png) no-repeat scroll 100% center transparent;
  padding-right: 15px;
}

.viewAll {
  display: inline-block;
  margin: 1em 0;
  font-weight: 500;
}
.viewAll:after {
  padding-left: 5px;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: inherit;
  content: '\f105';
}

@media (max-width: 66.15em) {
  .twc-container {
    padding: 2.5%;
  }
}
@media (max-width: 48em) {
  /* ==========================
      2 and 3 Columns
     ========================== */
  [class*='twc-col2'] {
    width: 100%;
    margin-left: 0;
  }

  .tablet [class*='twc-col2_5050-c'] {
    width: 48.75%;
    margin-left: 2.5%;
  }
  .marginless .tablet [class*='twc-col2_5050-c'] {
    width: 50%;
  }

  [class*='twc-col2_7525-c'].marginless, [class*='twc-col2_6040-c'].marginless {
    width: 100%;
  }

  .marginless [class*='twc-col2_2476-c'] {
    width: 100%;
  }

  /* ==========================
      17/56/17
     ========================== */
  [class*='twc-col3'] {
    width: 100%;
    margin-left: 0;
  }

  /* ==========================
      50/25/25
     ========================== */
  [class*='twc-col3_502525-c'] {
    width: 48.75%;
  }
  .marginless [class*='twc-col3_502525-c'] {
    width: 50%;
  }

  [class*='twc-col3_502525-c0'] {
    width: 100%;
  }
  .marginless [class*='twc-col3_502525-c0'] {
    width: 100%;
  }

  [class*='twc-col3_502525-c2'] {
    margin-left: 2.5%;
  }

  /* ==========================
      25/25/50
     ========================== */
  [class*='twc-col3_252550-c'] {
    width: 48.75%;
  }
  .marginless [class*='twc-col3_252550-c'] {
    width: 50%;
  }

  [class*='twc-col3_252550-c1'] {
    margin-top: 0;
    margin-left: 2.5%;
  }

  [class*='twc-col3_252550-c2'] {
    margin-left: 0;
    width: 100%;
  }
  .marginless [class*='twc-col3_252550-c2'] {
    width: 100%;
  }

  /* ==========================
      33/33/33
     ========================== */
  [class*='twc-col3_333333-c'] {
    width: 100%;
    margin-left: 0;
  }
  .marginless [class*='twc-col3_333333-c'] {
    width: 100%;
  }
  .tablet [class*='twc-col3_333333-c'] {
    width: 31.6666667%;
    margin-left: 2.5%;
  }
  .marginless .tablet [class*='twc-col3_333333-c'] {
    width: 33.3333334%;
  }

  /* ==========================
      4 Columns
     ========================== */
  [class*='twc-col4_25252525-c'] {
    width: 48.75%;
  }
  .marginless [class*='twc-col4_25252525-c'] {
    width: 50%;
  }
  [class*='twc-col4_25252525-c']:nth-of-type(2n+1) {
    margin-left: 0;
  }

  [class*='twc-col4_25252525-c1'] {
    margin-top: 0;
  }

  /* ==========================
      5 Columns
     ========================== */
  [class*='twc-col5_5-c'] {
    width: 48.75%;
  }
  .marginless [class*='twc-col5_5-c'] {
    width: 50%;
  }
  [class*='twc-col5_5-c']:nth-of-type(2n+1) {
    margin-left: 0;
  }

  [class*='twc-col5_5-c1'] {
    margin-top: 0;
  }

  /* ==========================
  	  6 Columns
     ========================== */
  [class*='twc-col6_151515151515-c'] {
    width: 31.666667%;
    margin-left: 2.5%;
  }
  .marginless [class*='twc-col6_151515151515-c'] {
    width: 33.3333334%;
  }
  [class*='twc-col6_151515151515-c']:nth-of-type(4) {
    margin-left: 0;
  }

  [class*='twc-col6_151515151515-c1'], [class*='twc-col6_151515151515-c2'] {
    margin-top: 0;
    margin-bottom: 2em;
  }

  /* ==========================
  	  7 Columns
     ========================== */
  [class*='twc-col7_12121212121212-c'] {
    width: 31.666667%;
    margin-left: 2.5%;
  }
  .marginless [class*='twc-col7_12121212121212-c'] {
    width: 33.3333334%;
  }
  [class*='twc-col7_12121212121212-c']:nth-of-type(4), [class*='twc-col7_12121212121212-c']:nth-of-type(7) {
    margin-left: 0;
  }

  [class*='twc-col7_12121212121212-c'] {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
@media (max-width: 40em) {
  [class*='_column_'] {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    column-gap: 0;
  }

  [class*="twc-col"] {
    width: 100%;
    margin-left: 0;
  }
  .tablet [class*="twc-col"] {
    width: 100%;
    margin-left: 0;
  }

  /* ==========================
      2 Columns
     ========================== */
  [class*='twc-col2'] {
    width: 100%;
  }
  .marginless [class*='twc-col2'] {
    width: 100%;
  }

  /* ==========================
      5 Columns
     ========================== */
  [class*='twc-col5_2020202020-c'] {
    width: 48.75%;
    margin-left: 2.5%;
  }
  .marginless [class*='twc-col5_2020202020-c'] {
    width: 50%;
  }
  [class*='twc-col5_2020202020-c']:nth-of-type(5) {
    width: 100%;
  }
  [class*='twc-col5_2020202020-c']:nth-of-type(2n+1) {
    margin-left: 0;
  }

  /* ==========================
 6 Columns
========================== */
  [class*='twc-col6_151515151515-c'] {
    width: 31.666667%;
    margin-left: 2.5%;
  }
  .marginless [class*='twc-col6_151515151515-c'] {
    width: 33.3333334%;
  }
  [class*='twc-col6_151515151515-c']:nth-of-type(4) {
    margin-left: 0;
  }

  [class*='twc-col6_151515151515-c1'], [class*='twc-col6_151515151515-c2'] {
    margin-top: 0;
    margin-bottom: 1em;
  }

  footer [class*='twc-col6_151515151515-c'] {
    position: relative;
    width: 33.334%;
    margin: 0;
    text-align: center;
  }
  footer [class*='twc-col6_151515151515-c']:nth-of-type(1n+2) {
    margin-top: 0;
  }

  /* ==========================
      7 Columns
     ========================== */
  [class*='twc-col7_12121212121212-c'] {
    width: 31.666667%;
    margin-left: 2.5%;
  }
  .marginless [class*='twc-col7_12121212121212-c'] {
    width: 33.3333334%;
  }
  [class*='twc-col7_12121212121212-c']:nth-of-type(4), [class*='twc-col7_12121212121212-c']:nth-of-type(7) {
    margin-left: 0;
  }
  [class*='twc-col7_12121212121212-c']:nth-of-type(7) {
    width: 100%;
  }

  [class*='twc-col7_12121212121212-c'] {
    margin-top: 0;
    margin-bottom: 1em;
  }

  footer [class*='twc-col7_12121212121212-c'] {
    width: 33.334%;
    margin: 0;
    text-align: center;
  }
  footer [class*='twc-col7_12121212121212-c']:nth-of-type(1n+2) {
    margin-top: 0;
  }
}
