/* ==========================================================================
    Left Rail List - Version: 1.0.0.1 - Updated: 2/7/14
   ========================================================================== */
.leftRail-list {
  margin-bottom: 2em;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.leftRail-list .leftRail-topics {
  position: relative;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  overflow: hidden;
}
.leftRail-list .leftRail-topics h5 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.leftRail-list .leftRail-topics h5 + ul {
  display: none;
}
.leftRail-list .leftRail-topics a {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.leftRail-list .leftRail-topics ul h5.arrow:after {
  float: right;
  content: '\f107';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.leftRail-list .leftRail-topics ul li.expanded > h5.arrow:after, .leftRail-list .leftRail-topics ul li.js-expanded > h5.arrow:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg))";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg));
  zoom: 1;
}
.leftRail-list .leftRail-topics ul li.topic ul {
  margin-bottom: 0;
}
.leftRail-list .leftRail-topics ul li.topic ul li {
  display: none;
}
.leftRail-list .leftRail-topics ul li.topic ul li.topic {
  display: block;
}
.leftRail-list .leftRail-topics li {
  display: block;
  padding: .5em 1em;
  border-bottom: 1px dotted #e1e1e1;
  cursor: pointer;
}
.leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
  width: 150%;
  padding: .5em 50% .5em 1em;
}
.leftRail-list .leftRail-topics li.js-last {
  border-bottom: none;
}
.leftRail-list .content {
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}

@media (max-width: 48em) {
  .marginless [class*="twc-col2_2476-c0"] {
    width: 24%;
  }

  .marginless [class*="twc-col2_2476-c1"] {
    width: 76%;
  }
}
@media (max-width: 40em) {
  .leftRail-list .marginless [class*="twc-col2_2476-c"] {
    width: 100%;
  }
  .leftRail-list .leftRail-topics {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    border-right: none;
  }
  .leftRail-list .leftRail-topics ul li.topic {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: none;
  }
  .leftRail-list .leftRail-topics li h5, .leftRail-list .leftRail-topics li.active h5, .leftRail-list .leftRail-topics li.js-active h5 {
    width: auto;
    padding: .7em .5em;
  }
  .leftRail-list .leftRail-topics li ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .leftRail-list .leftRail-topics li.js-first ul {
    display: block;
  }
  .leftRail-list .leftRail-topics ul li.topic ul li {
    display: block;
  }
  .leftRail-list .leftRail-topics ul li.topic ul li.topic ul {
    display: none;
  }
  .leftRail-list .leftRail-topics ul li li {
    padding: .5em;
  }
  .leftRail-list .leftRail-topics ul li li.topic {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .leftRail-list .leftRail-topics ul li ul li ul li.topic {
    border-bottom: 1px solid #e1e1e1;
  }
  .leftRail-list .leftRail-topics ul li ul li ul li.topic a {
    background: none;
  }
  .leftRail-list .leftRail-topics ul h5:after {
    float: right;
    content: '\f107';
    color: inherit;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .leftRail-list .leftRail-topics ul li.expanded > h5:after, .leftRail-list .leftRail-topics ul li.js-expanded > h5:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg))";
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg));
    zoom: 1;
  }
  .leftRail-list .parsys.parsys1.twc-col2_2476-c1.parsys_column {
    display: none;
  }
}
