/* ==========================================================================
    Left Rail List - Version: 1.0.0.1 - Updated: 2/7/14
   ========================================================================== */
.leftRail-list {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 #888888;
  -moz-box-shadow: 0 1px 2px 0 #888888;
  box-shadow: 0 1px 2px 0 #888888;
}
.leftRail-list .leftRail-topics {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #487a97;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#487a97), to(#0e4460));
  background-image: -webkit-linear-gradient(top, #487a97, #0e4460);
  background-image: -moz-linear-gradient(top, #487a97, #0e4460);
  background-image: -ms-linear-gradient(top, #487a97, #0e4460);
  background-image: -o-linear-gradient(top, #487a97, #0e4460);
  background-image: linear-gradient(top, #487a97, #0e4460);
  /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#487a97', EndColorStr='#0e4460')"; */
  overflow: hidden;
}
.leftRail-list .leftRail-topics h3 {
  color: white;
}
.leftRail-list .leftRail-topics h5 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  color: white;
}
.leftRail-list .leftRail-topics a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  font-size: 1.3rem;
  color: white;
}
.leftRail-list .leftRail-topics ul h5.arrow:after {
  font-family: "FontAwesome";
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #b1b2af;
}
.leftRail-list .leftRail-topics ul li ul li ul li.topic h5.arrow:after {
  color: #b1b2af;
}
.leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
  border-bottom: 1px solid white;
  /* fallback/image non-cover color */
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(left, #ebebeb 0%, white 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #ebebeb), color-stop(100%, white));
  background-image: -webkit-linear-gradient(left, #ebebeb 0%, white 100%);
  background-image: -o-linear-gradient(left, #ebebeb 0%, white 100%);
  background: -ms-linear-gradient(left, #ebebeb 0%, white 100%);
  background: linear-gradient(to right, #ebebeb 0%, white 100%);
}
.leftRail-list .leftRail-topics li.active a, .leftRail-list .leftRail-topics li.active h5, .leftRail-list .leftRail-topics li.js-active a, .leftRail-list .leftRail-topics li.js-active h5 {
  color: #333333;
}

@media (max-width: 40em) {
  .leftRail-list .leftRail-topics {
    background: white;
  }
  .leftRail-list .leftRail-topics ul li.topic {
    border-bottom: 1px solid white;
  }
  .leftRail-list .leftRail-topics li h5, .leftRail-list .leftRail-topics li.active h5, .leftRail-list .leftRail-topics li.js-active h5 {
    background-color: #3779b3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
    background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
    background-image: -moz-linear-gradient(top, #3779b3, #02447e);
    background-image: -ms-linear-gradient(top, #3779b3, #02447e);
    background-image: -o-linear-gradient(top, #3779b3, #02447e);
    background-image: linear-gradient(top, #3779b3, #02447e);
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3779b3', EndColorStr='#02447e')"; */
    font-size: 20px;
    font-size: 2rem;
    font-family: "TWC Round Book";
    font-weight: 100;
    color: white;
  }
  .leftRail-list .leftRail-topics ul li li.topic h5 {
    background: #eeeeef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 239, 0.5)), color-stop(100%, rgba(221, 223, 226, 0.5)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 239, 0.5) 0%, rgba(221, 223, 226, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeef', endColorstr='#dddfe2',GradientType=0 );
  }
  .leftRail-list .leftRail-topics ul h5:after {
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .leftRail-list .leftRail-topics ul li ul li ul li.topic h5:after {
    color: #B1B2AF;
  }
  .leftRail-list .leftRail-topics h3, .leftRail-list .leftRail-topics h6 {
    color: #333333;
  }
}
