/* ==========================================================================
    Main Navigation -- Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
nav.twc-mobile-navigation {
  display: none;
}

ul.twc-main-nav {
  display: table-row;
  position: relative;
  width: 100%;
}

nav.twc-navigation li {
  display: table-cell;
  border-left: 1px solid #545457;
  text-align: center;
}

ul.twc-main-nav li li {
  text-align: left;
}

nav li a em {
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
}
nav li figure {
  float: none;
}
nav.twc-navigation .twc-main-nav > li.js-last {
  border-right: 1px solid #545457;
}
nav.twc-navigation li.active {
  background: #eeeeef;
  border-right: 1px solid #eeeeef;
}
nav.twc-navigation li.active a {
  color: #333333;
}
nav.twc-navigation a {
  color: white;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  line-height: 40px;
}
nav.twc-navigation li a {
  padding: 0 10px;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "TWC Round Medium", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-family: 'TWC Round Medium',Arial,Sans-Serif;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
}
nav.twc-mobile-navigation li a {
  padding: 0;
  text-align: center;
}
nav.twc-navigation li:hover {
  background: white;
}
nav.twc-navigation li:hover.twc-active {
  background: white;
}
nav.twc-navigation li:hover a, nav.twc-navigation li:hover.twc-active a {
  color: #333333;
}
nav.twc-navigation li a.twc-active {
  background: #eeeeef;
  color: #333333;
}
nav.twc-navigation li a.twc-active:hover {
  background: white;
  color: #333333;
}

/* ==========================
	  Mega Menu
   ========================== */
.twc-navigation .twc-container {
  position: relative;
  overflow: visible;
}

ul.twc-main-nav li:hover > ul {
  display: block;
}

.twc-main-nav > li:hover .twc-submenu {
  display: block;
  position: absolute;
  left: 0;
  width: 980px;
  margin: 0 auto;
}

.twc-submenu {
  display: none;
  padding: 10px 0;
  background: white;
  -webkit-box-shadow: 0 4px 3px -3px #888888;
  -moz-box-shadow: 0 4px 3px -3px #888888;
  box-shadow: 0 4px 3px -3px #888888;
}

.twc-mega-section {
  position: absolute;
  min-height: 240px;
  width: 980px;
  margin: 0 auto;
  z-index: 9999;
}

nav.twc-navigation .twc-submenu li {
  text-align: center;
}
nav.twc-navigation .labelList ul li, nav.twc-navigation .labelList h5 {
  text-align: left;
}

.twc-submenu .deal {
  float: none;
  color: #3376b2;
}

.twc-mega-section [class*='twc-col4_25252525-c'] img {
  width: 70%;
}

.megamenu .parsys > img {
  width: 100%;
}

/* mega-menu carousel */
.carousel {
  clear: both;
  padding: 0;
  position: relative;
}

ul.carousel-apps li {
  display: inline;
  float: left !important;
  height: auto;
  max-width: 255.5px;
  padding: 20px;
  margin-left: 19px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  text-align: center;
  color: #ddd;
}
ul.carousel-apps li.js-last {
  border-bottom: 1px solid #666666 !important;
}
ul.carousel-apps li a {
  color: #333333;
  font: bold 12px verdana,sans-serif;
}
ul.carousel-apps li img {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
ul.carousel-apps li figcaption {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'TWC Round Book',Arial,Sans-Serif;
  font-weight: 100;
  font-style: normal;
  color: #333333;
}

.twc-submenu div.sliderContent {
  float: none;
}

.sliderContent .deal h4 {
  margin-bottom: 0;
}

.carousel div.arrow {
  background: url(../images/button-slider-controls-blue.png) no-repeat 50% 0;
  position: absolute;
  top: 95px;
  width: 36px;
  height: 60px;
  cursor: pointer;
}
.carousel .arrow.left {
  left: -10px;
  background-position: 10px 0;
}
.carousel .arrow.left:hover {
  left: -10px;
  background-position: 10px 0;
}
.carousel .arrow.right {
  right: -9px;
  background-position: -28px 0;
}
.carousel .arrow.right:hover {
  right: -9px;
  background-position: -28px 0;
}
.carousel .arrow:hover {
  background: url(../images/button-slider-controls-hover-fullshadow.png) no-repeat 50% 0;
}

/* Infinite promo slider */
.twc-submenu [class*="twc-col"] {
  height: inherit;
}
.twc-submenu [class*="twc-col"]:first-child {
  height: 236px;
}

.carousel.groupr {
  width: 549px;
  height: 236px;
  visibility: visible;
  overflow: hidden;
  position: relative;
  left: -19px;
}
.carousel.groupr > .btnprev, .carousel.groupr > .btnnext {
  display: none;
}

ul.carousel-apps {
  position: absolute;
}
ul.carousel-apps li {
  width: 274.5px;
}

.carousel-apps.group > li {
  height: 235px;
}

ul.carousel-apps li:first {
  margin-left: 9.5px;
}
ul.carousel-apps li:last {
  border-bottom: 1px solid #CCCCCC !important;
}

/* ==========================
	  Mega Menu Innards
   ========================== */
nav.twc-navigation .twc-submenu h5 {
  margin-bottom: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
}
nav.twc-navigation .twc-submenu ul {
  width: auto;
}
nav.twc-navigation .twc-submenu li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
nav.twc-navigation .twc-submenu .labelList ul li {
  border-left: none;
}
nav.twc-navigation .twc-submenu li.js-last {
  border-bottom: none;
}
nav.twc-navigation .twc-submenu li a {
  padding: 0;
  border: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
  color: #3376b2;
  text-transform: none;
}
nav.twc-navigation .twc-submenu li a:hover {
  color: #1e262c;
  text-decoration: underline;
}
nav.twc-navigation .twc-submenu form#login-form {
  text-align: left;
  line-height: inherit;
}
nav.twc-navigation .twc-submenu form#login-form a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: inherit;
  font-family: sans-serif;
  font-weight: bold;
  color: #3376b2;
  text-decoration: none;
  text-transform: none;
  line-height: 1.443;
}
nav.twc-navigation .twc-submenu form#login-form p {
  margin-top: 1em;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.443;
}
nav.twc-navigation .twc-submenu form#login-form input {
  border: 1px solid #98999b;
  margin: 5px 0;
}
nav.twc-navigation .twc-submenu form#login-form input.twc-blue-button {
  border: none;
}

/* ie8 (.twc-ie8) */
.twc-ie8 .twc-submenu [class*='twc-col'], .twc-ie9 .twc-submenu [class*='twc-col'] {
  border-left: 1px solid #dedede;
}

.twc-ie8 .twc-submenu [class*='twc-col']:first-child, .twc-ie9 .twc-submenu [class*='twc-col']:first-child {
  border-left: none;
}

@media (max-width: 68.6875em) {
  nav.twc-navigation, .twc-mobile-navigation li.js-last a.twc-icon {
    display: none;
  }

  /* Mobile Nav Elements */
  nav.twc-mobile-navigation {
    display: block;
    height: 40px;
  }
  nav.twc-mobile-navigation a {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    line-height: 40px;
  }
  nav.twc-mobile-navigation li {
    float: left;
    border-right: 1px solid #323237;
    border-left: 1px solid #545456;
  }
  nav.twc-mobile-navigation li.js-first {
    width: 25%;
    border: none;
  }
  nav.twc-mobile-navigation li.js-last {
    width: 25%;
    border-right: none;
  }
  nav.twc-mobile-navigation li.twc-custLoc {
    width: 50%;
  }
  nav.twc-mobile-navigation li a {
    width: 100%;
    padding: 0;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'TWC Round Medium',Arial,Sans-Serif;
    font-weight: 100;
    color: #333333;
  }
  nav.twc-mobile-navigation li ul.mobile-megamenu li {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    background: white;
  }
  nav.twc-mobile-navigation li ul.mobile-megamenu li.js-last {
    border-bottom: 0;
  }
  nav.twc-mobile-navigation > li.js-first a:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    padding-right: 5px;
    color: white;
  }

  .twc-mobile-navigation ul {
    display: table;
    width: 100%;
  }
  .twc-mobile-navigation li {
    display: table-cell;
    vertical-align: middle;
  }

  nav.twc-menu-dropdown input[type=radio], nav.twc-custLoc-dropdown input[type=radio], nav.twc-search-dropdown input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  nav.twc-menu-dropdown ul {
    display: none;
    height: 100%;
  }
  nav.twc-menu-dropdown ul li {
    background-color: #eeeeef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
    background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
    background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
    background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
    background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
    background-image: linear-gradient(top, #eeeeef, #dddfe2);
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeef', EndColorStr='#dddfe2')"; */
  }
  nav.twc-menu-dropdown ul:nth-of-type(2) li, nav.twc-menu-dropdown ul:nth-of-type(3) li {
    background-color: #7e9db7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7e9db7), to(#4b7191));
    background-image: -webkit-linear-gradient(top, #7e9db7, #4b7191);
    background-image: -moz-linear-gradient(top, #7e9db7, #4b7191);
    background-image: -ms-linear-gradient(top, #7e9db7, #4b7191);
    background-image: -o-linear-gradient(top, #7e9db7, #4b7191);
    background-image: linear-gradient(top, #7e9db7, #4b7191);
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7e9db7', EndColorStr='#4b7191')"; */
  }
  nav.twc-menu-dropdown ul:nth-of-type(2) li a, nav.twc-menu-dropdown ul:nth-of-type(3) li a {
    color: white;
  }
  nav.twc-custLoc-dropdown ul, nav.twc-search-dropdown ul {
    display: none;
    height: 100%;
  }
  nav.twc-menu-dropdown label, nav.twc-custLoc-dropdown label, nav.twc-search-dropdown label {
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'TWC Round Medium',Arial,Sans-Serif;
    font-weight: 100;
    line-height: 2.65;
    color: white;
    text-align: center;
  }

  .twc-mobile-navigation.simpleNav nav.twc-menu-dropdown label {
    padding: 0 1em;
    text-align: left;
  }

  .js-first nav.twc-menu-dropdown label:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    padding-right: 5px;
    color: white;
  }

  nav.twc-custLoc-dropdown .twc-icon-after[class*="icon-"]:before {
    float: none;
  }

  .twc-menu-dropdown input[type=radio]:checked ~ ul {
    position: relative;
    top: 1px;
  }

  input[type=radio]:checked ~ ul {
    display: block;
    position: absolute;
    left: 0;
    height: auto;
    width: 75%;
    max-width: 1099px;
    z-index: 99999;
  }

  nav.twc-custLoc-dropdown input[type=radio]:checked ~ ul, nav.twc-search-dropdown input[type=radio]:checked ~ ul {
    width: 100%;
  }

  input[type=radio]:checked ~ ul > li {
    width: 400%;
    /*     border-bottom: 1px solid #f0f0f0; */
    border-left: none;
    border-right: none;
    text-align: left;
  }
  input[type=radio]:checked ~ ul > li.js-first {
    border-bottom: 1px solid #f0f0f0;
  }

  nav.twc-mobile-navigation nav.twc-menu-dropdown li a {
    width: 100%;
    padding: .1em 1em;
    border: none;
    text-align: left;
    text-transform: uppercase;
  }
  nav.twc-mobile-navigation nav.twc-menu-dropdown li.twc-otherSites a {
    color: white;
  }
  nav.twc-mobile-navigation nav.twc-custLoc-dropdown li, nav.twc-mobile-navigation nav.twc-search-dropdown li {
    position: relative;
    width: 100%;
    padding: 2% 4%;
    color: #333333;
    text-align: left;
  }
  nav.twc-mobile-navigation nav.twc-menu-dropdown li a:after {
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    content: '\f105';
    color: inherit;
  }
  nav.twc-mobile-navigation nav.twc-menu-dropdown li a[href^="#"]:after {
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    content: '\f105';
    color: inherit;
  }
  nav.twc-mobile-navigation nav.twc-menu-dropdown ul:first-of-type li.js-expandable a:after {
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    content: '\f107';
    color: inherit;
  }
  nav.twc-mobile-navigation nav.twc-menu-dropdown ul:first-of-type li.js-expandable a[href^="#"]:after {
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    content: '\f105';
    color: inherit;
  }
  nav.twc-mobile-navigation nav.twc-menu-dropdown li.js-expandable.js-active a:first-of-type:after {
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    font-size: 1.8rem;
    content: '\f106';
    color: inherit;
  }

  .twc-mobile-navigation .twc-custLoc-dropdown .message {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 4%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    background: #c6c9cf;
    -webkit-box-shadow: 0 2px 2px #333333;
    -moz-box-shadow: 0 2px 2px #333333;
    box-shadow: 0 2px 2px #333333;
    z-index: 9999;
  }
  .twc-mobile-navigation .twc-custLoc-dropdown .message p {
    text-align: center;
  }
  .twc-mobile-navigation .twc-custLoc-dropdown p.twc-alert-text {
    font-weight: 700;
  }
  .twc-mobile-navigation .twc-custLoc-dropdown ul li p a {
    display: inline;
    line-height: inherit;
  }
}
@media (max-width: 31.25em) {
  .twc-mobile-navigation li.js-last a.twc-icon {
    display: inherit;
  }
}
