/* ==========================================================================
    Compare Table -- Version: 1.0.5 - Updated: 3/5/2014
   ========================================================================== */
.compEritTable {
  margin-bottom: .5em;
  /* .ul */
  /* .js-active */
}
.compEritTable ul {
  /* .table */
  /* .details-content */
}
.compEritTable ul.table {
  /* .li */
}
.compEritTable ul.table li {
  display: table-cell;
  padding: .5em .75em;
  vertical-align: middle;
}
.compEritTable ul.table li h5, .compEritTable ul.table li h6 {
  margin-bottom: 0;
}
.compEritTable ul.table li.desc-details {
  display: block;
}
.compEritTable ul.table li a.viewDetail:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 0.5em;
}
.compEritTable ul.table li a.viewDetail.active:after {
  content: "\f106";
}
.compEritTable ul.table li span.badge {
  position: absolute;
  bottom: 30%;
  left: 85%;
  z-index: 99999;
}
.compEritTable ul.details-content {
  display: none;
  padding: 1em;
  overflow: auto;
  border-radius: 0 0 5px 5px;
  background: white;
  /* .cta */
}
.compEritTable ul.details-content .cta {
  margin-top: 2em;
  margin-bottom: 0;
}
.compEritTable .js-active {
  /* .ul */
}
.compEritTable .js-active ul {
  /* .li */
  /* .:hover li.pricing */
}
.compEritTable .js-active ul li.package {
  background: #71b0ea;
}
.compEritTable .js-active ul li.package-plum {
  background: #a364b0;
}
.compEritTable .js-active ul li.package-alt {
  background: #3f97e3;
}
.compEritTable .js-active ul li.feature {
  background: #e3effb;
}
.compEritTable .js-active ul li.feature-plum {
  background: #e3effb;
}
.compEritTable .js-active ul li.feature-alt {
  background: #e3effb;
}
.compEritTable .js-active ul li.desc {
  background: #e3effb;
}
.compEritTable .js-active ul li.desc-plum {
  background: #e3effb;
}
.compEritTable .js-active ul li.desc-alt {
  background: #e3effb;
}
.compEritTable .js-active ul li.pricing {
  background: white;
}
.compEritTable .js-active ul li.pricing-plum {
  background: white;
}
.compEritTable .js-active ul li.pricing-alt {
  background: white;
}
.compEritTable .js-active ul li.order {
  background: #e3effb;
}
.compEritTable .js-active ul li.order-plum {
  background: #e3effb;
}
.compEritTable .js-active ul li.order-alt {
  background: #e3effb;
}
.compEritTable .js-active ul:hover li.pricing, .compEritTable .js-active ul:hover li.pricing.plum, .compEritTable .js-active ul:hover li.pricing.alt {
  background: white;
}
.compEritTable ul li.package {
  background: #6c9bc7;
}
.compEritTable ul li.package.plum {
  background: #80508a;
}
.compEritTable ul li.package.alt {
  background: #387ab4;
}
.compEritTable ul li.feature {
  background: #ecf1f7;
}
.compEritTable ul li.feature.plum {
  background: #f3e9f4;
}
.compEritTable ul li.feature.alt {
  background: #ecf1f7;
}
.compEritTable ul li.desc {
  background: #f5f6fb;
}
.compEritTable ul li.desc.plum {
  background: #f5f6fb;
}
.compEritTable ul li.desc.alt {
  background: #f5f6fb;
}
.compEritTable ul li.pricing {
  background: #ecf1f7;
}
.compEritTable ul li.pricing.plum {
  background: #ecf1f7;
}
.compEritTable ul li.pricing.alt {
  background: #ecf1f7;
}
.compEritTable ul li.order {
  background: #ecf1f7;
}
.compEritTable ul li.order.plum {
  background: #ecf1f7;
}
.compEritTable ul li.order.alt {
  background: #f3e9f4;
}
.compEritTable ul:hover li.package {
  background: #71b0ea;
}
.compEritTable ul:hover li.package.plum {
  background: #a364b0;
}
.compEritTable ul:hover li.package.alt {
  background: #3f97e3;
}
.compEritTable ul:hover li.feature {
  background: #e3effb;
}
.compEritTable ul:hover li.feature.plum {
  background: #fbf0fd;
}
.compEritTable ul:hover li.feature.alt {
  background: #d9eaf9;
}
.compEritTable ul:hover li.desc {
  background: #e3effb;
}
.compEritTable ul:hover li.desc.plum {
  background: #fbf0fd;
}
.compEritTable ul:hover li.desc.alt {
  background: #d9eaf9;
}
.compEritTable ul:hover li.pricing {
  background: #e3effb;
}
.compEritTable ul:hover li.pricing.plum {
  background: #fbf0fd;
}
.compEritTable ul:hover li.pricing.alt {
  background: #d9eaf9;
}
.compEritTable ul:hover li.order {
  background: #e3effb;
}
.compEritTable ul:hover li.order.plum {
  background: #fbf0fd;
}
.compEritTable ul:hover li.order.alt {
  background: #d9eaf9;
}
.compEritTable.five-column-compare {
  /* .js-active */
}
.compEritTable.five-column-compare.js-active ul li.package {
  border-radius: 5px 0 0 0;
}
.compEritTable.five-column-compare.js-active ul li.feature {
  border-radius: inherit;
}
.compEritTable.five-column-compare.js-active ul li.desc {
  border-radius: inherit;
}
.compEritTable.five-column-compare.js-active ul li.pricing {
  border-radius: inherit;
  border-bottom: none;
}
.compEritTable.five-column-compare.js-active ul li.order {
  border-radius: 0 5px 0 0;
}
.compEritTable.five-column-compare ul li.package {
  width: 23%;
  border-radius: 5px 0 0 5px;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid white;
  border-left: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  text-align: center;
}
.compEritTable.five-column-compare ul li.feature {
  width: 23%;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid white;
  border-bottom: 1px solid #E1E1E1;
  text-align: center;
}
.compEritTable.five-column-compare ul li.desc {
  width: 24%;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid white;
  border-bottom: 1px solid #E1E1E1;
}
.compEritTable.five-column-compare ul li.pricing {
  position: relative;
  width: 15%;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid white;
  border-bottom: 1px solid #E1E1E1;
  text-align: center;
}
.compEritTable.five-column-compare ul li.pricing hr {
  margin-top: 0.25em;
  margin-right: 1em;
  margin-bottom: 0.25em;
  margin-left: 1em;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.25), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.25), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.25), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.25), transparent);
}
.compEritTable.five-column-compare ul li.pricing .viewMore {
  display: block;
}
.compEritTable.five-column-compare ul li.order {
  width: 15%;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  text-align: center;
}
.compEritTable.three-column-compare {
  /* .js-active */
}
.compEritTable.three-column-compare.js-active ul li.package {
  border-radius: 5px 0 0 0;
}
.compEritTable.three-column-compare.js-active ul li.desc {
  border-radius: inherit;
}
.compEritTable.three-column-compare.js-active ul li.order {
  border-radius: 0 5px 0 0;
}
.compEritTable.three-column-compare ul li.package {
  width: 24%;
  border-left: 2px solid #6f93af;
  border-top: 2px solid #6f93af;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid #6f93af;
  border-radius: 5px 0 0 5px;
  text-align: center;
}
.compEritTable.three-column-compare ul li.desc {
  width: 60%;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.compEritTable.three-column-compare ul li.order {
  width: 14%;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-radius: 0 5px 5px 0;
  text-align: center;
}

@-moz-document url-prefix() {}
@media (max-width: 48em) {
  .compEritTable ul.table {
    overflow: auto;
  }
  .compEritTable .badge {
    display: none;
  }
  .compEritTable .compEritTable-row {
    overflow: auto;
  }
  .compEritTable .five-column-compare.js-active ul li.package {
    border-radius: 5px 0 0 0;
  }
  .compEritTable .five-column-compare.js-active ul li.pricing {
    border-radius: 0;
  }
  .compEritTable .five-column-compare.js-active ul li.order {
    border-radius: 0 5px 0 0;
  }
  .compEritTable .five-column-compare.js-active ul li.pricing {
    border-bottom: none;
    background: white;
  }
  .compEritTable .three-column-compare ul li {
    display: table-cell;
    float: left;
  }
  .compEritTable .three-column-compare ul li.package {
    width: 50%;
    border-radius: 5px 0 0 0;
    border-bottom: none;
  }
  .compEritTable .three-column-compare ul li.desc {
    width: 50%;
    border-right: 1px solid #E1E1E1;
    border-bottom: none;
    border-radius: 0 5px 0 0;
  }
  .compEritTable .three-column-compare ul li.desc h5 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 48em) and (max-width: 48em) {
  .columnControl .compEritTable .three-column-compare ul li.desc h5 {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 48em) {
  .compEritTable .three-column-compare ul li.order {
    width: 100%;
    border-top: 1px solid #fff;
    border-left: 1px solid #E1E1E1;
    border-radius: 0 0 5px 5px;
  }
  .compEritTable .three-column-compare.js-active ul li.order,
  .compEritTable .three-column-compare.js-active ul li.order.plum,
  .compEritTable .three-column-compare.js-active ul li.order.alt {
    border-radius: 0;
    background: white;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}
@media (max-width: 40em) {
  .compEritTable .five-column-compare.js-active ul li.order,
  .compEritTable .five-column-compare.js-active ul li.order.plum,
  .compEritTable .five-column-compare.js-active ul li.order.alt {
    border-radius: 0;
  }
  .compEritTable .five-column-compare.js-active ul li.pricing,
  .compEritTable .five-column-compare.js-active ul li.pricing.plum,
  .compEritTable .five-column-compare.js-active ul li.pricing.alt {
    border-bottom: 1px solid #fff;
    background: white;
    border-radius: 0;
  }
  .compEritTable .five-column-compare ul li {
    padding: .5em;
  }
  .compEritTable .five-column-compare ul li.package {
    width: 50%;
    border-radius: 5px 0 0 0;
    border-bottom: 1px solid white;
  }
  .compEritTable .five-column-compare ul li.feature {
    width: 50%;
    border-radius: 0 5px 0 0;
    border-bottom: 1px solid white;
    border-right: 1px solid #E1E1E1;
  }
  .compEritTable .five-column-compare ul li.feature span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 40em) and (max-width: 48em) {
  .columnControl .compEritTable .five-column-compare ul li.feature span {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 40em) {
  .compEritTable .five-column-compare ul li.desc {
    width: 100%;
    border-radius: 0;
    border-top: none;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: none;
  }
  .compEritTable .five-column-compare ul li.pricing {
    width: 50%;
    border-radius: 0 0 0 5px;
    border-top: 1px solid white;
    border-left: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
  }
  .compEritTable .five-column-compare ul li.order {
    width: 50%;
    border-radius: 0 0 5px 0;
    border-left: none;
    border-top: 1px solid white;
  }
  .compEritTable .five-column-compare ul li.order .cta {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 40em) and (max-width: 48em) {
  .columnControl .compEritTable .five-column-compare ul li.order .cta {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 40em) {
  .compEritTable .five-column-compare ul.table li {
    display: inline-block;
    float: left;
  }
}
