/* ==========================================================================
    Operational Message -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.operationalMessage .twc-box-column {
  padding: 1em;
  background: #e1ecf5;
}
.operationalMessage .notices {
  width: 8%;
  border-right: 1px solid #666666;
}
.operationalMessage .marquee-messages {
  width: 84%;
  margin: 0 auto;
  text-align: center;
}
.operationalMessage .marquee-messages ul {
  margin-bottom: 0;
}
.operationalMessage .marquee-messages li {
  display: none;
}
.operationalMessage .controls {
  display: none;
  width: 3%;
  text-align: right;
}
.operationalMessage .controls span {
  cursor: pointer;
}

@media (max-width: 48em) {
  .operationalMessage .notices {
    border: 0;
  }
  .operationalMessage .marquee-messages {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
  }
  .operationalMessage .controls {
    width: 6%;
  }
}
@media (max-width: 40em) {
  .operationalMessage .controls {
    width: 10%;
  }
}
