/* ==========================================================================
    Pagination -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.pagination ol {
  margin: 0;
  padding: 0;
}
.pagination li {
  display: inline;
  position: relative;
}
.pagination li.page_first, .pagination li.page_prev, .pagination li.page_next, .pagination li.page_last {
  display: block;
}
.pagination li.page_prev button:before {
  content: '\f104';
  padding-right: 1em;
}
.pagination li.page_next button:after {
  content: '\f105';
  padding-left: 1em;
}
.pagination li.js-last {
  margin-right: 0;
}
.pagination button {
  font-size: 13px;
  font-size: 1.3rem;
}
.pagination button.first:before {
  content: '\f100';
  padding-right: 1em;
}
.pagination button.last:after {
  content: '\f101';
  padding-left: 1em;
}

@media (max-width: 40em) {
  .pagination {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .pagination .btn.number {
    display: none;
  }
}
