/* ==========================================================================
    Pagination -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.pagination li.page_prev button:before {
  font-family: "FontAwesome";
}
.pagination li.page_next button:after {
  font-family: "FontAwesome";
}
.pagination button {
  font-size: 13px;
  font-size: 1.3rem;
}
.pagination button.first:before {
  font-family: "FontAwesome";
}
.pagination button.last:after {
  font-family: "FontAwesome";
}
.pagination .number span {
  background: none repeat scroll 0 0 #ebedec;
}
