/* ==========================================================================
    Pricing -- Version: 1.0.0.1 - Updated: 2/18/2014
   ========================================================================== */
.pricing {
  font-family: "TWC Round Book";
  color: #333333;
}
.pricing .h4 {
  font-family: "TWC Round Book";
  color: inherit;
}
.pricing .h4 span.dollars {
  font-size: 33px;
}
.pricing .h4 sup {
  font-size: 14px;
}
.pricing .term {
  font-size: 11px;
  line-height: 1;
}
