/* ==========================================================================
    Pricing -- Version: 1.0.0.1 - Updated: 2/18/2014
   ========================================================================== */
.pricing {
  float: none;
}
.pricing .h4 {
  margin-bottom: 0;
  background: inherit;
  font-family: "TWC Round Book";
}
.pricing .h4 sup {
  position: relative;
  top: -.5em;
}
.pricing .term {
  display: inline-block;
  text-align: right;
  margin-left: -1.35em;
}
.pricing .term.under {
  display: block;
  margin-left: 0;
  text-align: center;
}
