/* ==========================================================================
    Search -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.twc-search-module {
  background: #d4d5d6;
}

.twc-module li {
  border-right: 1px solid #9d9d9e;
}

.twc-module {
  max-width: 440px;
}

.twc-banner-search {
  width: 100%;
  margin: 0 auto;
}

.twc-search input {
  width: 77%;
}

@media (max-width: 48em) {
  .twc-tablet-search {
    height: 40px;
  }

  .twc-mobile-search button:before {
    font-family: "FontAwesome";
  }
}
@media (max-width: 40em) {
  .twc-search-module input#submit {
    width: 25%;
  }
}
