/* ==========================================================================
    Share -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.share .btn.blue.share, .share .cta.blue.share {
  background: #4F799F;
  margin-bottom: 1em;
}
.share .btn.blue.share:hover, .share .btn.blue.share.hover, .share .cta.blue.share:hover, .share .cta.blue.share.hover {
  background: #265A83;
}
.share .text {
  color: white;
}
.share .email-module {
  width: 100%;
  max-width: 265px;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: #e0ebf5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0ebf5), to(#f8fafc));
  background-image: -webkit-linear-gradient(top, #e0ebf5, #f8fafc);
  background-image: -moz-linear-gradient(top, #e0ebf5, #f8fafc);
  background-image: -ms-linear-gradient(top, #e0ebf5, #f8fafc);
  background-image: -o-linear-gradient(top, #e0ebf5, #f8fafc);
  background-image: linear-gradient(top, #e0ebf5, #f8fafc);
  /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e0ebf5', EndColorStr='#f8fafc')"; */
  -webkit-box-shadow: 0 1px 2px 0 #888888;
  -moz-box-shadow: 0 1px 2px 0 #888888;
  box-shadow: 0 1px 2px 0 #888888;
}
