/* ==========================================================================
    Sticky -- Version: 1.9.0.1 - Updated: 12/31/2013
   ========================================================================== */
.sticky {
  text-align: center;
}
.sticky .twc-container {
  padding: .675em 0;
}
.sticky .twc-icon {
  padding: 0 .5em;
}

.js-fixed {
  position: fixed;
  bottom: 0;
  z-index: 9999;
}
