/* ==========================================================================
    Tables -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
table.checkboxTables {
  display: none;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
table.checkboxTables th {
  height: 30px;
  max-width: 100px;
  padding: .675em 1em;
  border: none;
  border-left: 1px solid #e1e1e1;
  vertical-align: middle;
}
table.checkboxTables th:empty {
  min-width: 200px;
  background-color: transparent;
  background-image: none;
  border: none;
}
table.checkboxTables td {
  height: 40px;
  padding: 5px 2%;
  border-left: 1px solid #cdd2d8;
  border-right: 1px solid #cdd2d8;
  vertical-align: middle;
}
table.checkboxTables td.row-title {
  text-align: left;
}

@media (max-width: 40em) {
  table.checkboxTables thead, table.checkboxTables tbody, table.checkboxTables th, table.checkboxTables td, table.checkboxTables tr {
    border: none;
    text-align: left;
  }
  table.checkboxTables tr.column-title td .h5 {
    padding-top: .375em;
  }
  table.checkboxTables tr.column-title:not(:first-child) {
    margin-top: 1rem;
  }
  table.checkboxTables table td {
    width: 50%;
    border: none;
    position: relative;
    min-height: 30px;
  }
  table.checkboxTables table td:before {
    left: 6px;
    position: absolute;
    top: 6px;
    white-space: nowrap;
    font-weight: bold;
  }
  table.checkboxTables .cta {
    float: right;
  }
}
