/* ==========================================================================
    Tabs -- Version: 1.9.0.3 - Updated: 1/8/2013
   ========================================================================== */
.tab-component .tab-content-container {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 #888888;
  -moz-box-shadow: 0 1px 2px 0 #888888;
  box-shadow: 0 1px 2px 0 #888888;
}
.tab-component .tabs {
  box-shadow: 0 1px 2px 0 #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.tab-component .tabs li {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-left: 1px solid #ededed;
  background-color: #eeeeef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
  background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: linear-gradient(top, #eeeeef, #dddfe2);
  /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeef', EndColorStr='#dddfe2')"; */
  color: #333333;
  text-align: center;
  vertical-align: middle;
}
.tab-component .tabs li a {
  font-family: "TWC Round Book", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  text-decoration: none;
}
.tab-component .tabs li.active, .tab-component .tabs li.js-active {
  background: white;
}
.tab-component .tabs li.active a, .tab-component .tabs li.js-active a {
  color: #333333;
}
@media (max-width: 48em) {
  .tab-component .tabs li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
  }
  .tab-component .tabs li a:after {
    font-family: "FontAwesome";
  }
  .tab-component .tabs li.js-first {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .tab-component .tab-content {
    background: white;
  }
}
