/* ==========================================================================
    Wrapping Columns -- Version: 1.9.0.1 - Updated: 2/12/2014
   ========================================================================== */
.wrappingColumns li.heading {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 100%;
}
.wrappingColumns li.heading h5 {
  margin-bottom: .5em;
  padding: .5em 5%;
  border-bottom: 1px solid white;
}
.wrappingColumns li.heading ul.content {
  margin-bottom: 1em;
  padding-top: 0;
  padding-right: 5%;
  padding-bottom: 0;
  padding-left: 5%;
}
@media (max-width: 40em) {
  .wrappingColumns .twc-box-column {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .wrappingColumns ul {
    margin-bottom: 0;
  }
  .wrappingColumns ul li.heading h5 {
    margin-bottom: 0;
  }
  .wrappingColumns ul li.heading h5:after {
    content: "\f106";
    float: right;
  }
  .wrappingColumns ul li.heading .expanded:after {
    content: "\f107";
    float: right;
  }
  .wrappingColumns ul ul {
    margin-top: .5em;
  }
  .wrappingColumns ul ul.content {
    display: none;
  }
}

/* ie8 (.ie8) */
.no-csscolumns {
  visibility: hidden;
}
.no-csscolumns ul li.heading {
  padding: 0 1em;
}
