input[type="radio"] {
  display: none;
}

input[type="radio"][id^="checkbox-"] + div,
input[type="radio"] + .final-content {
  display: none;
}

input[type="radio"]:checked + div {
  display: block;
}

[class^="path-"] .columnControl {
  padding: 1em;
}