/* ==========================================================================
   CSS code for LOB Topic Details
   Version: 1.0.0 - Updated: 10/1/13
   ========================================================================== */

	.infobox {
		background-color: #dbe7f1;
		padding: 1em 1em 0 1em; }

	.sidebar-section { padding: 1em 0;}