// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Side-by-side Compare Package  -- Version: 1.0.0 - Updated: 10/22/2014
   ========================================================================== */

.packageCompare {
  .mobile-only, .tablet-only {
    display: none
  }
  table {
    &.compare-packages {
      text-align: center;
      width: 75%;
      float: left;
      border-collapse: collapse;
      &.full-width {
        width: 100%;
      }
    }
    tr {
      width: 100%;
    }
    thead {
      tr {
        th {
          background: #717171;
          padding: 1em;
          color: #ffffff;
          width: 25%;
          border-right: 1px solid #98999b;
        }
      }
    }
    tbody {
      tr {
        td {
          width: 25%;
          padding: 1em;
          border-right: 1px solid #98999b;
          &.compare-subHead {
            width: 100%;
            padding: 0.5em;
            background: #98999b;
            color: #fff;
          }
        }
      }
    }
  }


}

@media (max-width: $medium) {
  .packageCompare {



  }
}

@media (max-width: $small) {
  .packageCompare {



  }
}