// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Component  -- Version: 1.0.0 - Updated: 3/6/2014
   ========================================================================== */

/* Select and Filter Component */

.selectFilter .collapse-button span:after {
  font-family: "FontAwesome";
  content: "\f057";
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: transform 0.5s ease 0s;
}
.selectFilter .stickyWrapper.js-closed .collapse-button span:after {
  transition: transform 0.5s ease 0s;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.selectFilter.js-sticky .collapse-button span:after {
  right: 1em;
  top: 1em;
}

.selectFilter {
  padding: 1em;
  background: #4578af;
  margin-bottom: 1em;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  border-radius: 3px;
  &.js-sticky {
    border-radius: 0;
  }
  p {
    font-family: "TWC Round Book";
  }
  table {
    width: 100%;
    tr {
      width: 100%;
    }
  }
  input[type="checkbox"] {
    vertical-align: text-bottom;
    ~ label {
      display: inline-block;
      margin: 0 auto;
      font-size: 24px;
      font-size: 2.4rem;
      font-family: "TWC Round Light";
    }
  }

  .stickyWrapper {
    position: relative;
  }
}

.packageSelectTabs .sticky.js-sticky {
  max-width: 100vw;
  background: none;
  box-shadow: none;
  width: 100%;
  padding: 0;
  left: 0;
  .stickyWrapper {
    margin: 0 auto;
    max-width: 980px;
    padding: 1em;
    border-radius: 0 0 3px 3px;
  }
  &.js-sticky-past {
    display: none;
  }
  &.selectFilter {
    background: #4578af;
  }
  &.byoSelectFilter {
    background: #dddddd;
  }
}


/* Packages*/

.packageSelect .package {
  border: 2px solid #acacac;
  background: #fefefe;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 1em;
  margin-left: -4px;/* Fix for Inline-block's default margin */
  display: inline-block;
  vertical-align: top;
  &:nth-of-type(3n+1) {
    margin-left: 0;
  }
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  .packageHead {
    color: #fff;
    background: #0070c0;
    padding: 0.5em;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  &.single .packageHead {
    background: #0352a1;
  }
  &.double .packageHead {
    background: #747679;
  }
  &.triple .packageHead {
    background: #5B1F69;
  }
  &.single.js-compare,
  &.single.js-selected {
    border: 5px solid #0352a1;
  }
  &.double.js-compare,
  &.double.js-selected {
    border: 5px solid #747679;
  }
  &.triple.js-compare,
  &.triple.js-selected {
    border: 5px solid #5B1F69;
  }
  .packageBody {
    padding: 0.5em;
  }
  .packageHead {
    > fieldset {
      max-width: 55%;
      float: left;
      input {
        display: inline-block;
        ~ label.compare-label {
          display: inline-block;
          font-size: 14px;
          font-size: 1.4rem;
          line-height: 2.4;
        }
        &:checked {
          ~ label.compare-label {
            display: none;
          }
          ~ .compare-button {
            display: inline-block;
          }
        }
        ~ .compare-button {
          display: none;
        }
      }
    }
    .packageTitle {
      font-size: 14px;
      font-size: 1.4rem;
      font-family: "TWC Round Medium";
      padding: 0.75em 0 0.25em;
      float: right;
      max-width: 45%;
    }
  }
  .packageInfo {
    min-height: 72px;
    overflow: hidden;
  }
  .specialOffer {
    min-height: 72px;
    overflow: hidden;
    text-align: center;
    background-image: url("/TWC/sandbox/packageSelect/css/offer-bg.png");
    background-repeat: repeat-y;
    background-size: contain;
    .blue {
      color: #02549d;
    }
  }
  .packageFooter {
    min-height: 50px;
  }
  hr {
    margin: 0;
  }
  .pricing {
    margin-bottom: 1em;
    .term {
      display: inline-block;
      font-size: 9px;
      line-height: 1;
      margin-left: -2.75em;
      text-align: right;
      &.under {
        display: block;
        margin-left: 0;
        text-align: center;
      }
      .discountTerm, .preTerm {
        float: left;
        margin-top: 0.25em;
      }
      .postTerm {
        float: left;
        margin-left: 3px;
        margin-top: -6px;
      }
      .discountTerm {
        margin-top: -6px;
      }
    }
    .h4 {
      sup {
        font-size: 22px;
        font-size: 2.2rem;
        position: relative;
        top: -0.75em;
      }
      span.dollars {
        font-size: 44px;
        font-size: 4.4rem;
      }
    }
  }
  .whiteCTA {
    width: 100%;
  }
}

.orderCTA {
  width: 100%;
  a {
    background-color: #0252a1;
    background-image: none;
    border: 1px solid #0252a1;
    color: #fff;
  }
}

.packageFooter.side-by-side {
  width: 100%;
}

.side-by-side .buttonWrapper {
  width: 50%;
  margin: 0;
  float: left;
  text-align: center;
}

.packageFooter {
  &.stacked-buttons .cta, &.stacked-buttons-below .cta {
    margin-bottom: 0.5em;
    width: 100%;
  }
  &.stacked-buttons .cta a, &.stacked-buttons-below .cta a {
    width: 100%;
    text-align: center;
  }
}

.packageSelect [class*="twc-col3_333333"] {
  margin-bottom: 1em;
}

.compare-button.cta a {
  background-color: #ededed;
  background-image: none;
}

.detailsExpansion {
  display: none;
  position: relative;
}

.detailsContent {
  padding: 2em 1em 0;
}

.bulleted ul li.listHead {
  list-style: none;
}

.closeDetails {
  a {
    color: #333;
    font-family: Arial;
    &:after {
      color: #333;
      font-family: Arial;
    }
  }
  &:hover a {
    color: #333;
    &:after {
      color: #333;
    }
  }
}

.alertTooltip {
  display: none;
  padding: 1em;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}

input.comparePackage.js-alert ~ .alertTooltip {
  display: block;
}

/* Compare Alert */

.compareAlert {
  position: absolute;
  display: none;
  left: 5%;
  top: 3em;
  max-width: 70%;
  z-index: 99999;
  background: #e3ecf4;
  color: #333;
  box-shadow: 0px 5px 10px #888888;
  .compareAlertBody {
    position: relative;
    width: 100%;
    padding: 5%;
  }
  .cta a {
    text-decoration: underline;
  }
  .compareAlertBody .closeBtn {
    background: url("http://d23.us/TWC/core/images/modal_close.png");
    background-size: 2em;
    cursor: pointer;
    float: right;
    height: 2em;
    position: absolute;
    right: -1em;
    top: -1em;
    width: 2em;
  }
  &:before {
    border-bottom: 10px solid #e3ecf4;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: " ";
    height: 0;
    left: 18%;
    position: absolute;
    top: -9px;
    width: 0;
    z-index: 5;
  }
}

/* Build Your Own */

.packageSelect .byoPackages .package {
  display: block;
  margin: 1em 0;
  &.js-selected, .js-notSelected {
    display: block;
  }
  .deSelect {
    display: none;
  }
  &.js-selected {
    .deSelect {
      display: block;
    }
    .select {
      display: none;
    }
  }
}

.buildYourOwn {
  width: 31.667%;
  margin-right: 2%;
  margin-bottom: 1em;
  float: left;
  &:last-of-type {
    margin-right: 0;
  }
  .package {
    width: 100%;
  }
  .byoHeader {
    position: relative;
    padding: .5em;
    background: #dfeaf3;
    border-radius: 3px;
    color: #084ca7;
    p {
      margin-bottom: 0;
      width: 100%;
      font-size: 2.2rem;
      font-weight: 700;
      &:after {
        font-family: "FontAwesome";
        content: "\f068";
        float: right;
      }
      &.js-active:after {
        content: "\f067";
      }
    }
  }
}
.byoSelectFilter {
  margin-bottom: 1em;
  .monthlyEstimate {
    background: #e6e6e7;
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    .estimate-left {
      float: left;
      width: 50%;
      .price, .term {
        display: block;
      }
    }
    .estimate-right {
      float: right;
      width: 50%;
      .monthlyEstimateCTA {
        text-align: right;
      }
    }
  }
}
.byoUpsellPanel {
  display: none;
  position: relative;
  background: #387ab4;
  padding: 1em;
  margin-bottom: 1em;
  .byoUpsellContent {
    border-radius: 8px;
    background: #fff;
    padding: 1em;
    width: 100%;
    h2, .h2 {
      display: inline-block;
      margin-bottom: 0;
      max-width: 85%;
    }
    .upsellPricing {
      color: #084ca7;
      display: inline-block;
      vertical-align: middle;
    }
    .upsellPricing .dollar-sign, .upsellPricing .cents {
        font-size: 2.8rem;
    }
    .upsellPricing .dollars {
        font-size: 4.4rem;
    }
    .upsellPricing sup {
        vertical-align: top;
    }
    .byoUpsellViewMore {
      max-width: 10%;
      display: inline;
      float: right;
      color: #084ca7;
      cursor: pointer;
      &:after {
        font-family: "FontAwesome";
        content: "\f067";
      }
    }
  }
}

/* Tabs */

.packageSelectTabs {
  width: 100%;
  [class*="tab-head-"] {
    position: relative;
    min-width: 25%;
    float: left;
    padding: .5em;
    border-radius: 3px 3px 0 0;
    text-align: center;
    cursor: pointer;
    background: #fff;
    z-index: 1;
    &.js-active {
      margin-top: -.5em;
      padding-top: 1em;
      box-shadow: 1px -3px 2px 1px #999;
      z-index: 2;
    }
    h2 {
      margin-bottom: 0;
    }
  }
  [class*="tab-content-"] {
    clear: both;
    position: relative;
    padding: 1em;
    width: 100%;
    background: #fff;
    display: none;
    box-shadow: 0 0px 3px 0 #999;
    z-index: 1;
    &.js-active {
      display: block;
    }
  }
  .psTabs {
    width: 100%;
    display: inline-block;
  }
  .tab-links {
    &:after {
      display: block;
      clear: both;
      content: '';
    }
    li {
      position: relative;
      padding: 0.75em 0.5em;
      float: left;
      width: 25%;
      text-align: center;
      background: #dfeaf3;
      z-index: 1;
      cursor: pointer;
      border-radius: 0 3px 0 0;
      box-shadow: 0px -1px 3px 1px #999;
    }
    span {
      padding: 0;
      display: inline-block;
      border-radius: 3px 3px 0px 0px;
    }
  }
  li.tabHead {
    &.js-active {
      box-shadow: 0 -3px 3px 0 #b5b5b5;
      background: #fff;
      z-index: 2;
      margin-top: -0.5em;
      padding: 1em 0;
      border-radius: 3px 3px 0 0;
      span {
        font-weight: 700;
        color: #000;
      }
    }
    span {
      color: #084ca7;
      font-size: 22px;
      font-size: 2.2rem;
    }
  }
  .tab-content {
    position: relative;
    padding: 1em;
    width: 100%;
    background: #fff;
    box-shadow: 0 0px 3px 0 #999;
    z-index: 1;
  }
  .tab {
    display: none;
    width: 100%;
    &.js-active {
      display: inline-block;
    }
  }
  .tab-links .cta {
    margin-top: -0.5em;
  }
}

.packageSelect .showLess,
.packageSelect .showMore,
.buildYourOwn .byoHeader p:after {
  display: none;
}

.price-box {
  background: none repeat scroll 0 0 #ddd;
  display: table;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  .price {
    display: table-cell;
    font-size: 2.8rem;
    font-family: "TWC Round Medium";
    padding: 0.5em;
    text-align: center;
    span {
      font-size: 1.0rem;
      font-weight: bold;
    }
    sup {
      font-family: "TWC Round Book";
      font-size: 1.6rem;
    }
  }
  .btn-container {
    position: relative;
    display: table-cell;
    padding: 0.5em;
    text-align: center;
    border-left: 1px solid #333;
    &.js-disabled {
      opacity: 0.5;
      .disabled-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 99999;
      }
    }
  }
}

@media (max-width: 48em) {
  .packageSelect .package {
    width: 49%;
    margin-right: 2%;
    &:nth-of-type(3n) {
      margin-right: 2%;
    }
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:nth-of-type(3n+1) {
      margin-left: -4px;
    }
    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
  .packageSelectTabs li.tabHead span {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .compareAlert {
    max-width: 90%;
  }
  .selectFilter {
    table tr td {
      display: inline-block;
      float: left;
      width: 50%;
    }
    input[type="checkbox"] ~ label {
      font-size: 18px;
      font-size: 1.8rem;
    }
  }
  .packageSelect .package .packageHead {
    .packageTitle, > fieldset {
      max-width: 50%;
    }
  }
  /* Build your own */
  .buildYourOwn .package {
    width: 100%;
  }
  /* Tabs */
  .packageSelectTabs {
    ul.tab-links {
      display: block;
      width: 100%;
      li.tabHead {
        width: 50%;
      }
    }
    .tab-content {
      display: block;
    }
    .psTabs li.tabHead {
      color: inherit;
    }
  }
  .byoSelectFilter {
    .monthlyEstimate {
      width: 100%;
      margin-top: 1em;
      .estimate-right {
        .monthlyEstimateCTA {
          text-align: center;
        }
      }
    }
  }
  /* Build your own */
  .buildYourOwn {
    width: 100%;
    margin-right: 0;
    .package {
      width: 100%;
    }
  }
  .byoHeader {
    cursor: pointer;
    .showMore {
      display: none;
    }
    .js-active ~ {
      .showLess {
        display: none;
      }
      .showMore {
        display: block;
      }
    }
  }
  .packageSelect .showLess, .packageSelect .showMore {
    position: absolute;
    display: none;
    right: 3em;
    top: 30%;
  }
  .packageSelect .showLess, .buildYourOwn .byoHeader p:after {
    display: block;
  }
  .price-box {
    max-width: 320px;
    margin: 1em auto 0;
  }
  .js-sticky .sticky-tablet-hidden {
    display: none;
  }
  .packageSelectTabs .byoSelectFilter.sticky.js-sticky .stickyWrapper {
    padding: 0 1em 1em
  }

}

@media (max-width: 40em) {
  .packageSelectTabs .sticky.js-sticky {
    max-width: 100vw;
    left: 0;
  }
  .packageSelect .package {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .compareAlert:before {
    left: 5%;
  }
  .packageSelect .package {
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
  .stickyWrapper p.h4 {
    padding-right: 0.75em;
  }
}