// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Pagination -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.pagination {
  margin-bottom: .5em;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    position: relative;
    &.page_first, &.page_prev, &.page_next, &.page_last {
      display: block;
    }
    .cta {
      a {
        background-image: none;
        background-color: #f0f5fa;
        color: #3376B2;
        &:hover {
          background-image: none;
          background-color: #c5d7e8;
        }
        &:active, &:focus {
          background-image: none;
          background-color: rgba(255,255,255,0.0);
          color: #333;
        }
      }
      &.disabled {
        a {
          background-image: none;
          background-color: rgba(255,255,255,0.0);
          color: #333;
          &:hover {
            background-image: none;
            background-color: rgba(255,255,255,0.0);
            color: #333;
          }
          &:active {
            &:hover {
              background-image: none;
              background-color: rgba(255,255,255,0.0);
              color: #333;
            }
          }
        }
      }
      .prev {
        &:before {
          content: '\f104';
          font-family: $fontawesome;
          padding-right: .5em;
        }
      }
      .next {
        &:after {
          content: '\f105';
          font-family: $fontawesome;
          padding-left: .5em;
        }
      }
    }
    &.page_prev button:before {
      content: '\f104';
      padding-right: 1em;
      font-family: $fontawesome;
    }
    &.page_next button:after {
      content: '\f105';
      padding-left: 1em;
      font-family: $fontawesome;
    }
    &.js-last {
      margin-right: 0;
    }
  }
  button {
    @include font-size(13);
    &.first:before {
      content: '\f100';
      padding-right: 1em;
      font-family: $fontawesome;
    }
    &.last:after {
      content: '\f101';
      padding-left: 1em;
      font-family: $fontawesome;
    }
  }
  .number span {
    background: none repeat scroll 0 0 #ebedec;
  }
}

@media (max-width: $small) {

  .pagination {
    @include inline-block();
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .btn.number {
      display: none;
    }
    li {
      .prev, .next {
        div {
          display: block;
        }
      }
    }
    .cta {
      .prev {
        span {
          display: none;
        }
        &:before {
          padding-right: 0;
        }
      }
      .next {
        span {
          display: none;
        }
        &:after {
          padding-left: 0;
        }
      }
    }
  }
}

