// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Smart Link  -- Version: 1.0.0 - Updated: 5/23/2014
   ========================================================================== */

.smartLink {
  a {
    img {
      padding-right: .5em;
    }
  }
  &.align-middle {
    a {
      img {
        vertical-align: middle;
      }
    }
  }
  &.align-top {
    a {
      img {
        vertical-align: top;
      }
    }
  }
  &.align-bottom {
    a {
      img {
        vertical-align: bottom;
      }
    }
  }
}

@media (max-width: $medium) {
.smartLink {



}
}

@media (max-width: $small) {
.smartLink {



}
}