// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Tile List - Version: 1.9.0.3 - Updated: 2/25/2014
   ========================================================================== */

.tileList {
  display: table;
  @include padding();
  @include margin(0,auto, 1em);
  background: $background-white;
  @include border-radius();
  @include box-shadow(0 1px 2px 0 #888);
  overflow: hidden;
  width: 100%;
  ul {
    display: table-row;
    @include padding(1em,0);
  }
  li {
    float: none;
    display: table-cell;
    width: 16.6666667%;
    @include margin(1em,0);
    @include padding(1em,0);
    text-align: center;
    &.js-first {
      border: 0;
    }
    &:hover {
      background: #f3f6f9;
    }
/*
    &.nextHover, &.js-nextHover {
      @include margin();
    }
*/
    img {
      display: block;
      @include margin(0,auto,1em);
    }
    &:hover img {
      @include opacity(.9);
    }
    a {
      display: block;
      @include padding(.5em);
      border-left: 1px dotted $grey;
      font-family: 'Arial', sans-serif;
      @include font-size(16);
      color: $text-black;
    }
    &:first-child a {
        border: none;
      }
  }
  p {
    @include font-size(14);
  }
}

[class*='25-25-50'] .labelList h5.label:last-of-type {
  height: 22px;
}

[class*='twc-col3_252550-c'] {
  ul {
    @include margin(1em,0);
  }
  li {
    clear: left;
    width: 100%;
    padding: 2px 0;
    border-bottom: 1px dotted #ccc;
    &.js-last {
      border-bottom: none;
    }
    a {
      @include padding();
      border: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      line-height: 2;
      color: $link;
      text-transform: none;
    }
  }
}

@media (max-width: $medium) {

  section {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .tileList {
    width: 100%;
    background: $background-white;
    li {
      @include inline-block();
      width: 100%;
      @include margin();
      @include padding();
      text-align: left;
      border-left: 0;
      border-bottom: 1px solid #ccc;
      &.js-first {
        border: 0;
        border-bottom: 1px solid #ccc;
      }
      &:hover {
        background: #f6f6f6;
        @include margin();
        text-align: left;
      }
/*
      &.nextHover, &.js-nextHover {
        @include margin();
      }
*/
      img {
        display: none;
      }
      a {
        border: none;
        @include font-size(16);
        color: #3376b2;
        text-align: center;
        &:after {
          padding: 0 .5em;
          font-family: $fontawesome;
          @include font-size(20);
          content: '\f105';
          color: #b1b2af;
          float: right;
          margin-top: -.125em;
        }
      }
    }
    .parsys_column ul, .parsys_column[class*='twc-col']:nth-child(2) {
        @include margin;
    }
  }

  [class*='25-25-50'] .twc-col3_252550-c2 {
    margin-top: 1em;
  }

}

@media (max-width: $small) {

  [class*='25-25-50'] .labelList h5.label:last-of-type {
    height: auto;
    @include margin();
  }
  [class*='twc-col3_252550-c'] li {
    clear: left;
    width: 100%;
    padding: 2px 0;
    /*border-bottom: none;*/
    list-style: disc;
  }

}