// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    TWC Geo Locate  -- Version: 1.0.0 - Updated: 7/10/2014
   ========================================================================== */

.twc-modal-geo-soaid {
  &.display-hide {
    display: none;
  }
  .radioButton {
    display: block;
    text-align: left;
    padding-left: 20%;
    line-height: 20px;
  }
  input[type="radio"] {
    margin-bottom: 0;
    margin-top: 3px;
    float: left;
  }
  .bordered-solid {
    margin: 0 auto;
  }
  .modal-body {
    .bordered-solid {
      width :270px;
      padding: 0.4em;
    }
  }

  .modal-footer {
    a {
      &:hover {
        color: white; /*WEBCMS-12587*/
        text-decoration: none; /*WEBCMS-12587*/
      }
    }
  }
}

// IE Fixes
.twc-ie {
  .twc-modal-geo-soaid {
    span {
      &.divisionName {
        padding-left: 4px;
      }
    }
  }
}

@media (max-width: $medium) {
  .twc-modal-geo-soaid {

  }
}

@media (max-width: $small) {
  .twc-modal-geo-soaid {
    .modal-body {
      .bordered-solid {
        width: 80%;
      }
    }
  }
}