@charset "UTF-8";
/*	Raymond Heredia
 * 	12-10-15
 * 	qc_mobileHero.css
 */
@media screen and (min-width:320px) {
	body {
		font-family:Arial, Helvetica, sans-serif;
	}
	.qc section:nth-child(1) {
		background: url(../img/Q3-2015-SMB-customerbg-PawBeach_mob.jpg) no-repeat bottom left;
		min-height:280px;
		padding:0;
	}
	.qc section:nth-child(2) {
		padding:20px;
		border-top:5px solid #FFF;
		position:relative;
		background: #007ec3;
		background: -moz-linear-gradient(top,  #007ec3 1%, #002f65 100%);
		background: -webkit-linear-gradient(top,  #007ec3 1%,#002f65 100%);
		background: linear-gradient(to bottom,  #007ec3 1%,#002f65 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ec3', endColorstr='#002f65',GradientType=0 );
	}
	.qc i {
		width: 52px;
		height:52px;
		background:no-repeat center center #FFF;
		display:block;
		margin:-50px auto 20px;
		border-radius:50%;
	}
	.qc.paw i {
		background-image:url(../img/paw-beach-customer-icon2_blue.png);
	}
	.qc section p {
		color: #FFF;
		padding:15px 0;
	}
	.qc section:nth-child(2) {
		border-bottom:1px solid #FFF;
	}
	.qc section:nth-child(2) p:last-child {
		color:#DB971C;
		border-top:1px solid #FFF;
	}
	.qc .tablet {
		display:none;
	}
}
@media screen and (min-width:568px) {
	.qc section:nth-child(1) {
		background: url(../img/Q3-2015-SMB-customerbg-PawBeach.jpg) no-repeat bottom right;
		min-height:280px;
	}
}
@media screen and (min-width:768px) {
	.qc section:nth-child(1) {
		position:relative;
	}
	.qc .tablet {
		display:block;
		background:#007DC3;
		width:100%;
		position:absolute;
		bottom:0;
	}
	.qc .icon {
		background:url(../img/paw-beach-customer-icon2.png) no-repeat center center;
		width: 110px;
		height:110px;
		float:left;
	}
	br.clear {
		display:block;
		height:0;
		visibility:hidden;
		clear:both;
		color:transparent;
	}
	br.clear:after {
		content:".";
	}
	.qc .tabletCopy {
		padding:20px 20px 20px 130px;
	}
	.qc .tabletCopy p {
		margin: 0;
		padding:0 0 .5em;
	}
	.qc .tabletCopy p:nth-child(1) {
		font-weight:bold;
	}
	.qc .tabletCopy p:last-child {
		font-size:.725em;
	}
	.qc section:nth-child(2) {
		display:none;
	}
}
@media screen and (min-width:900px) {
	.qc .tablet {
		width:50%;
		bottom:15%;
	}
}
