.speedometer
	.wrap
		.dial
			.bar
				.half-circle.half-circle-bg
				.half-circle.half-circle-speed
				.half-circle.half-circle-cover
			.needle
				.inner
					.top
					.bottom
.controls
	//- button.play Play
