/* ==========================================================================
    Channel Lineup  -- Version: 1.0.0 - Updated: 3/14/2014
   ========================================================================== */
.clu .channel-search {
  margin-top: 2em;
}
@media (max-width: 48em) {
  .clu .channel-search {
    margin-top: 0;
  }
}
.clu .channel-search .channels-input {
  width: 100%;
}
.clu .channel-search .channels-input input {
  border: none;
}
.clu .channel-search .channels-submit {
  width: 37%;
}
.clu .box.link {
  background: none;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
@media (max-width: 40em) {
  .clu .box.link a {
    font-size: 11px;
  }
}
.clu .box .location {
  background: white;
  margin: 0;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
}
@media (max-width: 40em) {
  .clu .box .location {
    background: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .clu .box .location p {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-bottom: .5em;
  }
}
@media (max-width: 40em) {
  .clu .box {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: none;
  }
}
