/* ==========================================================================
    Tabs -- Version: 1.9.0.3 - Updated: 1/8/2013
   ========================================================================== */
.tab-component .tab-content-container {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 #888888;
  -moz-box-shadow: 0 1px 2px 0 #888888;
  box-shadow: 0 1px 2px 0 #888888;
}
.tab-component .tabs {
  display: table;
  width: 100%;
  box-shadow: 0 1px 2px 0 #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.tab-component .tabs ul {
  display: table-row;
}
.tab-component .tabs li {
  display: table-cell;
  position: relative;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-left: 1px solid #ededed;
  background-color: #eeeeef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
  background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: linear-gradient(top, #eeeeef, #dddfe2);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeef', EndColorStr='#dddfe2')";
  zoom: 1;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.tab-component .tabs li.js-first {
  border-left: none;
}
.tab-component .tabs li a {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
  font-family: "TWC Round Book", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  text-decoration: none;
}
.tab-component .tabs li.active, .tab-component .tabs li.js-active {
  background: white;
  filter: none;
}
.tab-component .tabs li.active a, .tab-component .tabs li.js-active a {
  color: #333333;
}
.tab-component .tab-content {
  display: none;
}
.tab-component .tab-content.active, .tab-component .tab-content.js-active {
  display: block;
}
@media (max-width: 48em) {
  .tab-component .tabs {
    display: block;
  }
  .tab-component .tabs ul {
    display: block;
  }
  .tab-component .tabs li {
    display: block;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    width: 100%;
  }
  .tab-component .tabs li.js-last {
    border-bottom: none;
  }
  .tab-component .tabs li a {
    width: 100%;
  }
  .tab-component .tabs li a:after {
    font-family: "FontAwesome";
    content: '\f107';
    float: right;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .tab-component .tabs li.active a:after, .tab-component .tabs li.js-active a:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg))";
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg));
    zoom: 1;
    float: right;
  }
  .tab-component .tabs li.js-first {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .tab-component .tab-content-container {
    display: none;
  }
  .tab-component .tab-content {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    background: white;
    filter: none;
  }
}
