/* ==========================================================================
    Wrapping Columns -- Version: 1.9.0.1 - Updated: 2/12/2014
   ========================================================================== */
.wrappingColumns [class*='column-count'] > li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 100%;
}
.wrappingColumns [class*='column-count'] > li h5 {
  cursor: pointer;
  margin-bottom: .5em;
  padding: .5em 5%;
  border-bottom: 1px solid white;
  background-color: #eeeeef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
  background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: linear-gradient(top, #eeeeef, #dddfe2);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeef', EndColorStr='#dddfe2')";
  zoom: 1;
}
.wrappingColumns [class*='column-count'] > li ul.content {
  margin-bottom: 1em;
  padding-top: 0;
  padding-right: 5%;
  padding-bottom: 0;
  padding-left: 5%;
}
@media (max-width: 40em) {
  .wrappingColumns .twc-box-column {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .wrappingColumns ul {
    margin-bottom: 0;
  }
  .wrappingColumns ul li.heading.js-first {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .wrappingColumns ul li.heading h5 {
    margin: 0;
    border-bottom: 1px solid #34546f;
    background-color: #5d92c0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5d92c0), to(#2c608f));
    background-image: -webkit-linear-gradient(top, #5d92c0, #2c608f);
    background-image: -moz-linear-gradient(top, #5d92c0, #2c608f);
    background-image: -o-linear-gradient(top, #5d92c0, #2c608f);
    background-image: -ms-linear-gradient(top, #5d92c0, #2c608f);
    background-image: linear-gradient(top, #5d92c0, #2c608f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5d92c0', EndColorStr='#2c608f');
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
  }
  .wrappingColumns ul li.heading h5:after {
    content: "\f106";
    float: right;
    font-family: "FontAwesome";
  }
  .wrappingColumns ul li.heading .expanded:after {
    content: "\f107";
    float: right;
    font-family: "FontAwesome";
  }
  .wrappingColumns ul ul {
    margin-top: .5em;
  }
  .wrappingColumns ul ul.content {
    display: none;
  }
}

/* ie8 (.ie8) */
.no-csscolumns {
  visibility: inherit;
}
