@charset 'UTF-8';

sup {
  font-size: 70%;
}
/*GENERAL BLOCKS*/
.twc-content, .huge-hero {
    max-width: 100% !important;
    padding: 0px;
}
.huge-hero {
   position: relative;
   height: auto;
   overflow: hidden;
}
.huge-hero .twc-container {
    position: relative;
}
.huge-hero, .huge-hero-image, .huge-hero .overlay {
   /*height: 550px !important;*/
   min-height:400px;
}
.huge-hero .overlay {
    background-color: #FFFFFF;
    display:none;
    width: 100%;
    z-index: 0;
    opacity: 0.8;
}
.huge-hero .overlay.dark {
    background: #000;
    opacity: 0.45;
}
.huge-hero .no-padding a {
    padding-left: 0px;
}
.huge-hero .spacer {
    margin-bottom: 0.25em;
}

/* Hero Offer Section */

.heroOfferWrapper {
    width: 100%;
    float: left;
    padding: 1em;
    background: linear-gradient(to right, rgba(186,208,226,0.5) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.0) 100%);
}

.heroOfferWrapper.dark {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.heroOfferPricing {
    display: inline;
    position: relative;
}
.heroOfferPricing {
    position: relative;
}
.heroOfferPricing sup {
    position: absolute;
    top: -0.25em;
    right: -1.25em;
    font-size: 0.5em;
}
.heroOfferPricing sub {
   bottom: -1em;
    font-size: 1.0rem;
    position: absolute;
    width: 82px;
    left: 0;
    text-align: left;
}
.huge-hero-image .heroOfferWrapper .twc-container {
    padding: 0 2em;
}

/*SLIDES PROGRESS BAR*/
.hero-slider-progress {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    min-height: 0;
    top: auto;
    bottom: 0;
    padding: 0.5em 0;
    text-align: center;
    z-index: 1;
}
.hero-slider-progress .slide {
    background: #8E8E8E;
    border-radius: 25px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

}
.hero-slider-progress .active {
    background-color: transparent;
  box-shadow: 0 0 0 2px #3376b2;
}

.hero-slider-progress .slide:hover, .hero-slider-progress .slide:focus {
    background: #3376b2;
}
.hero-slider-progress .slide {
    margin: 4px 8px;
    display: inline-block;
}

.hero-slider-progress img {
    max-width: 40px;
}
.hero-slider-controls img:nth-child(1) {
    display: block;
}
.hero-slider-controls img:nth-child(2) {
    display: none;
}

.hero-slider-controls .active {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hero-slider-controls .active img:nth-child(1) {
    display: none;
}
.hero-slider-controls .active img:nth-child(2) {
    display: block;
}
/*HERO WRAPPER*/
.hero-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
}
.huge-hero .vertical {
    height: 9000px;
    width: 100%;
}
.huge-hero .horizontal {
    height:auto;
    width: 9000px;
}
.huge-hero .horizontal .huge-hero-image {
    display: inline-block;
}
.huge-hero-image .twc-container {
    padding: 0px;
}
.huge-hero-image video, .huge-hero-image img {
    margin: 0;
    width:100%;
}
.huge-hero-image {
    overflow: hidden;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background: rgb(194, 194, 194);
    background-repeat: no-repeat;
}
.huge-hero-image video {
     width: 100%;
     height: 400px;
    background-color: rgb(194, 194, 194);
    background-position: center center;
    background-size: contain;
    object-fit: cover;
}


.forward-carousel {
    position: absolute;
    background: rgba(0,0,0,0.8);
    padding: 0.5em;
    text-align: center;
    color: #fff;
    width: 20%;
    margin: 0 auto;
    left: 40%;
    bottom: 1px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    z-index: 1;
}

.forward-carousel span:after {
    font-family: "FontAwesome";
    content: "\f078";
    font-size: 20px;
    display: block;
}
.huge-hero-image-content ul {
    padding-left: 1em;
}
.huge-hero-image-content ul li {
      list-style: disc outside none;
}
.heroslider-0 .huge-hero-image-content {
    width: 100%;
    height: 100%;
    position: relative;
}
.heroslider-3 .huge-hero-image-content .right {
    padding-left: 2em;
    padding-right: 0;
}

/*GENERIC POSITION*/
.huge-hero-image-content > div {
    position: absolute;
}
.huge-hero-image-content .top {
    padding-top: 1em;
}
.huge-hero-image-content .left {
    padding-left: 2em;
    margin-top: 6em;
}
.huge-hero-image-content .right {
    padding-right: 2em;
    margin-top: 6em;
}
.huge-hero-image .text-blue{
    color: #1381e4;
}

.huge-hero-image-content .padding-top {
    padding-top: 1.5em;
}

.hero-slider-progress-clone {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    min-height: 0;
    top: auto;
    bottom: 0;
    padding: 0.5em 0;
    background: rgba(0,0,0,0.6);
    border-radius: 12px 12px 0 0;
    text-align: center;
    z-index: 1;
}
.hero-slider-progress-clone .slide {
    margin: 0 8px;
    display: inline-block;
}
.forward-carousel {
    display: none;
}

.hero-slider-progress-clone .slide {
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 1px solid rgba(5, 5, 5, 0.8);
    box-shadow: 0px 0px 3px 0px #FFFFFF;
    -moz-box-shadow: 0px 0px 3px 0px #FFFFFF;
    -webkit-box-shadow: 0px 0px 3px 0px#FFFFFF;
    -o-box-shadow: 0px 0px 3px 0px #FFFFFF;
}
.hero-slider-progress-clone .active {
    background: #3376b2;
}

.hero-slider-progress-clone .slide:hover {
    border: 1px solid #fff;
}
.hp-pre-lex {
  border-bottom: 8px solid #fff;
}
.hp-pre-lex section {
  margin-bottom: 0;
}

/* ARROWS CONTROLS*/
    .huge-hero .hero-slider-controls .arrows {
        font-size: 2em;
        position:relative;
        z-index: 1;
        cursor: pointer;
        margin: 0px;
        display: inline-block;
        box-shadow: none;
        opacity: 1;
        background: transparent;
    }

    .huge-hero .hero-slider-controls .arrows span {
        color: #8e8e8e;
    }
    .huge-hero .arrow-right , .huge-hero .arrow-left {
        left: auto;
        width:  auto;
        background: none;
        padding: 0 0px 0 11px;
    }


@media (max-width: 48em) {
   
    .huge-hero, .huge-hero-image, .huge-hero .overlay {
       /* height: 400px !important;*/
    }
    .huge-hero .overlay{
        display:block;
    }
    .heroOfferWrapper {
        text-align: center;
        padding: 0.5em;
        float: none;
        background: rgba(255,255,255,0.9);
    }
    .heroOfferWrapper.dark {
        background: rgba(0,0,0,0.75);
    }
    .huge-hero-image-content .right,
    .huge-hero-image-content .left {
        margin-top: 0;
    }
    .huge-hero-image-content .padding-top {
        padding-top: 1em;
    }
}


/* MOBILE VERSION*/
@media (max-width: 40em) {

    .huge-hero, .huge-hero-image figure img {
        width: 100%;
        height: auto;
    }
    .huge-hero, .huge-hero-image , .huge-hero .overlay {
       /*height: 358px !important;*/
    }

    .forward-carousel {
        display: none;
    }
    .hero-slider-progress .slide img {
        display: none !important;
    }
    .huge-hero-image {
        display: inline-block;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        /*background-size: inherit !important;*/
    }

    .heroslider-0 .huge-hero-image-content {
        width: 100%;
    }

    .huge-hero-image-content > div {
        padding: 1em !important;
    }

    .opaque {
        margin-left: -2.5%;
        padding: 1em;
        width: 105%;
    }
    .huge-hero .overlay {
        display:block;
    }
    .huge-hero-image-content .padding-top {
        padding-top: 0;
    }
    .heroOfferPricing sub {
       bottom: -2em;
       height: 19px;
       max-width: 50px;
    }
   .huge-hero .spacer {
       margin-left: -2em;
   }
   .heroOfferPricing sup {
       top: -0.5em;
   }

}
.huge-hero-image-content .super-h1 {
    margin-bottom: 0.4em;
}











/*START SCROLL ARROW*/
.scroll-arrow {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 3.2em;
    z-index: 1;
    pointer-events: none;
}
.scroll-arrow .scroll {
    border-radius: 25px;
    padding: 12px 5px 5px 5px;
    -webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
    color: #00549f;
    background: #ffffff;
	border: 2px solid #00549f;
    opacity: 0.8;
    width: 35px;
    height: 27px;
    text-transform: uppercase;
    font-size: 0.7em;
    display: inline-block;
}
.scroll-arrow .twc-icon-before {
    margin: 0;
    padding: 0px;
    font-size: 1.3em;
    margin-left: 0.4em;
    margin-top: 1px;
    font-weight: initial;
}
/*END SCROLL ARROW*/