// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Accordion -- Version: 1.9.0.0 - Updated: 1/11/2014
   ========================================================================== */

.expandable, .expandableHybrid {
  li {
    h6 {
      @include padding(.5em);    // Theme
      border-bottom: 1px solid #e1e1e1;    // Theme
      @include background-gradient(#3779b3, #02447e);    // Theme
      color: $text-white;    // Theme
    }
    &.js-notexpandable h6:after, &.js-notexpandableHybrid h6:after {
      font-family: $fontawesome;    // Theme
    }
    &.js-expandable, &.js-expandableHybrid {
      h6:after {
        font-family: $fontawesome;    // Theme
      }
    }
    ul {
      border-right: 1px solid $lightgrey;    // Theme
      li {
        &.js-notexpandableHybrid {
          a:after {
            font-family: $fontawesome;    // Theme
            color: #C2C2C2;    // Theme
          }
        }
        &.js-expandableHybridSub {
          a:after {
            font-family: $fontawesome;    // Theme
            color: #C2C2C2;    // Theme
          }
        }
        &.js-active.js-expandableHybridSub {
          background: #e3effb;    // Theme
          a:after {
            font-family: $fontawesome;    // Theme
            color: #C2C2C2;    // Theme
          }
        }
      }
    }
    li {
      border-bottom: 1px dotted $lightgrey;    // Theme
    }
    &.liState {
      background: $steelSky-light;    // Theme
    }
  }
}

@media (max-width: $medium) {
  .expandable, .expandableHybrid {
    li {
      ul {
        li {
          &.js-notexpandableHybrid {
            a:after {
              font-family: $fontawesome;    // Theme
              color: #C2C2C2;    // Theme
            }
          }
          &.js-expandableHybridSub {
            a:after {
              font-family: $fontawesome;    // Theme
              color: #C2C2C2;    // Theme
            }
          }
          &.js-active.js-expandableHybridSub {
            background: #e3effb;    // Theme
            a:after {
              font-family: $fontawesome;    // Theme
              color: #C2C2C2;    // Theme
            }
          }
        }
      }
    }
  }
}