// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Banner -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-banner {
  background-color: #000;    // Theme
  background-image: url("../images/line-pattern.png"), url("../images/background-feature-header.jpg");    // Theme
  background-repeat: repeat;    // Theme
  background-position: center;    // Theme
  h1 {
    @include margin(.3em,0,.3em,0);    // Theme
    color: $lightgrey;    // Theme
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);    // Theme
  }
  span {
    width: 50%;    // Theme
    color: $text-white;    // Theme
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);    // Theme
    @include bp(medium) {
      width: 75%;    // Theme
    }
    @include bp(small) {
      width: 100%;    // Theme
    }
  }
  /* ie (.ie) */
  /* ie8 (.ie8) */
  .twc-ie8 & {
    background-image: url("../images/background-feature-header.jpg");    // Theme
  }
}