// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Bottom Boxes - Version: 1.0.1 - Updated: 1/9/13
   ========================================================================== */

.bottom-box {
  overflow: auto;    // Framework
	padding: 1em;    // Framework
	min-height: 265px;    // Framework
  @media (max-width: $medium) {
    &:nth-child(1){
      margin-bottom: 1em;    // Framework
    }
  }
  @media (max-width: $small) {
    margin-bottom: 1em;    // Framework
  }

}