// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Breadcrumbs -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-breadcrumbs-gradient {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));    // Theme
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
}

.twc-banner {
  ul {
    color: $lightgrey;    // Theme
  }
  li {
    a {
      color: $lightgrey;    // Theme
      font-weight: 100;    // Theme
      line-height: 2.5;    // Theme
    }
    &.js-last a {
      font-weight: 700;    // Theme
    }
  }
}
