// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Breadcrumbs -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-breadcrumbs-gradient {
  position: absolute;    // Framework
  top: 2px;    // Framework
  // background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  // background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));    // Theme
  // background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  // background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  // background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  // background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);    // Theme
  .twc-container {
    padding: 1em 0;    // Framework
  }
}

.twc-banner {
  ul {
    position: absolute;    // Framework
    top: 0;    // Framework
    // color: $lightgrey;    // Theme
  }
  li {
    a {
      // color: $lightgrey;    // Theme
      // font-weight: 100;    // Theme
      // line-height: 2.5;    // Theme
    }
    &.js-last a {
      // font-weight: 700;    // Theme
    }
  }
}

/* ie9 (.ie9) */

.twc-ie9 .twc-breadcrumbs {
  background: none;    // Framework
}

@media (max-width: $medium) {

  .twc-breadcrumbs-gradient, .twc-breadcrumbs, .twc-banner ul {
    display: none;    // Framework
  }

}
