// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Buttons -- Version: 1.9.0.3 - Updated: 2/27/2014
   ========================================================================== */

button {
  cursor: pointer;
}

.cta, .btn, .button, label.cta {
  @include inline-block();    // Framework
  a, button, input[type="button"] {
    @include inline-block();    // Framework
    // padding: .75em 1em;    // Theme
    // @include border-radius(3px);    // Theme
    // border: none;    // Theme
    // background: none;    // Theme
    // font-family: $twc-medium;    // Theme
    // font-weight: normal;    // Theme
    // color: $link;    // Theme
  }
  &.block {
    display: block;    // Framework
  }
}

.cta.omega, .cta.js-omega, .cta.blue, .btn.blue, .button.omega {
  a, button, input[type="button"] {
    // @include background-gradient(#3779b3, #02447e);    // Theme
    // color: $text-white;    // Theme
    &:hover {
      // @include background-gradient(#265a83, #1b405e);    // Theme
    }
  }
}

.btn.blue, .cta.blue,.btn.omega, .button.omega, .cta.omega, .cta.js-omega {
  a, button, input {
    &:active, &.active, &:focus {
      // background: #444545;    // Theme
      // background-image: 0;    // Theme
    }
  }
}

.btn.black, .cta.black, .button.black  {
  a, button, input {
    // @include background-gradient(#3e3e3e, #2b2b2b);    // Theme
    // color: $text-white;    // Theme
    &:hover, &.hover {
      // @include background-gradient(#797979, #6c6c6c);    // Theme
      // color: $text-white;    // Theme
    }
    &:active, &.active, &:focus {
      // background: #2b2b2b;    // Theme
      // background-image: 0;    // Theme
    }
  }
}

.btn.block, .cta.block, .button {
  a, button, input {
      display: block;    // Framework
  }
}

.btn.badge, .cta.badge {
  a, button, input {
    height: 40px;    // Framework
    width: 40px;    // Framework
    @include border-radius(20px);    // Theme
   }
}

/* Buttons with checkbox */

.btn, .cta {
    input[type="checkbox"] {
        margin: 0;    // Framework
        margin-left: .5em;    // Framework
    }
}

.btn.blue, .cta.blue, .btn.omega, .cta.omega {
  &.checked a, &.js-checked a {
    // @include background-gradient(#33cc33, #008700);    // Theme
  }
}

.btn, .btn.blue, .btn.omega, .button.omega, .cta, .cta.blue, .cta.omega {
  &:disabled, &.disabled {
    a, button, input {
      cursor: default;    // Framework
      // @include background-gradient(#666, #666);    // Theme
      // color: $text-white;    // Theme
      &:hover, &:active {
        // @include background-gradient(#666, #666);    // Theme
        // color: $text-white;    // Theme
      }
    }
  }
}

input[type="submit"]:disabled {
  // @include background-gradient(#bcbcbc, #838383);    // Theme
  // color: $text-white;    // Theme
  &:hover, &:active {
    // @include background-gradient(#bcbcbc, #838383);    // Theme
    // color: $text-white;    // Theme
  }
}

/* ==========================
  Share
   ========================== */

.cta.omega.share a {
  // background: #4F799F;    // Theme
  // margin-bottom: 1em;    // Theme
  &:hover, .cta.omega.share.hover {
      // background: #265A83;    // Theme
    }
}

/* ==========================
  Flag
   ========================== */

.flag {
  @include border-radius(0);    // Framework
  // background: #cf0004;    // Theme
  // font-family: $twc-light;    // Theme
  // color: $text-white;    // Theme
}

.btn.flag {
  // padding: .375em 1em;    // Theme
}

/* =========================
    Checkbox button
  ========================*/

label.cta.omega {
  // padding: .75em 1em;    // Theme
  @include border-radius(3px);    // Theme
  // @include background-gradient(#3779b3, #02447e);    // Theme
  // font-family: $twc-medium;    // Theme
  // @include font-size(13);    // Theme
  // font-weight: normal;    // Theme
  // color: $text-white;    // Theme
  &:hover {
     // @include background-gradient(#265a83, #1b405e);    // Theme
  }
  &.js-checked {
    // @include background-gradient(#33cc33, #008700);    // Theme
  }
}

label.cta input {
  @include margin(0,0,0,.5em);    // Framework
}

/* Firefox */

@-moz-document url-prefix() {
  /* Remove button padding in FF */
  button::-moz-focus-inner {
    padding: 0;    // Framework
    border: 0 none;    // Framework
  }
  input {
    &[type="button"]::-moz-focus-inner, &[type="submit"]::-moz-focus-inner, &[type="reset"]::-moz-focus-inner {
      padding: 0;    // Framework
      border: 0 none;    // Framework
    }
  }
}

/* ie (.twc-ie) */
/* make buttons play nice in IE */

.twc-ie button {
  overflow: visible;    // Framework
  width: auto;    // Framework
}

@media (max-width: $small) {

  .cta, .btn, .button {
    &.mobile-full {
      width: 100%;    // Framework
      a {
        display: block;    // Framework
        text-align: center;    // Framework
      }
      & + & {
        margin-top: 1em;    // Framework
      }
    }
  }
  button {
    .mobile-full & {
      width: 100%;    // Framework
    }
  }

}