// Pull modules for individually compiled css files
@import "../modules/allModules";

$th-packages-start: #6f93af;
$th-packages-end: #59768d;
$th-channels-start: lighten($th-packages-start,72%);
$th-channels-end: lighten($th-packages-end,72%);
$td-channels: #fff;
$tr-even: #f2f2f2;

/* ==========================================================================
    Channel Lineup  -- Version: 1.0.0 - Updated: 3/14/2014
   ========================================================================== */

.clu {

  .channel-search {
    margin-top: 2em;
    @include bp(medium) {
      margin-top: 0;
    }
    .channels-input {
      width: 60.5%;
      input {
        border: none;
      }
    }
    .channels-submit {
      width: 37%;
    }
  }
  .box {
    &.link {
      background: none;
      @include padding;
      a {
        @include bp(small) {
          font-size: 11px;
        }
      }
    }

    .location{
      background: $white;
      margin: 0;
      @include padding(1em,0);
      @include bp(small) {
        background: none;
        @include padding;
        p {
          @include inline-block;
          margin-bottom: .5em;
        }
      }
    }
    @include bp(small) {
      @include padding;
      background: none;
    }
  }
  table {
    @include bp(small) {
      @include font-size(10)
    }
    th, td {
      border: 1px solid #b4d6f3;
    }
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    thead {
      display: table;
      float: left;
      width: 100%;
      background-color: #4596df;
      tr {
        display: table-row;
        width: 100%;
      }
      th {
        width: 18.5%;
        padding: 1em;
        color: $white;
        font-weight: 100;
        &.channels {
          width: 26%;
        }
        @include bp(small) {
          @include padding(.5em,0);
        }
      }
    }
    tbody {
      display: block;
      float: left;
      width: 100%;
      max-height: 500px;
      @include bp(medium) {
        max-height: 350px;
      }
      overflow: auto;
      tr {
        display: table;
        width: 100%;
        background: $white;
      }
      td {
        width: 18.5%;
        padding: 1em;
        &.channels {
          width: 26%;
          text-align: left;
          img {
            vertical-align: bottom;
          }
        }
        &.channels, &.stanTV, &.espTV {
          background-color: #e7f2fb;
        }
        &.prefTV, &.stanTV, &.startTV, &.espTV {
          color: #4596df;
        }
        .channel-name {
          color: $text;
        }
        .table-content {
          color: #4596df;
        }
        @include bp(small) {
           @include padding(.5em);
           .channel-logo { display: none; }
        }
      }
    }
  }

  .table-footer {
    display: block;
    margin-top: 1em;
  }
  .channel-logo {
    margin-right: .5em;
  }
}