// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Compare Table -- Version: 1.0.2 - Updated: 2/12/2014
   ========================================================================== */
.compareTable {
  .compareTable-row {
    margin-bottom: .25em;    // Framework
    // background: #E2E6E9;    // Theme
  }

  ul.table li {
    display: table-cell;    // Framework
    padding: .5em 1em;    // Framework
    vertical-align: middle;    // Framework
  }

  ul.details-content {
    display: none;    // Framework
    padding: 1em;    // Framework
  }

  .details-content .cta {
    margin-top: 2em;    // Framework
    margin-bottom: 0;    // Framework
  }

  ul {
    li {
      h5, h6 {
        margin-bottom: 0;    // Framework
      }
      &.package {
        width: 24%;    // Framework
        border-left: 2px solid #6f93af;    // Framework
        border-top: 2px solid #6f93af;    // Framework
        border-bottom: 2px solid #6f93af;    // Framework
        border-radius: 5px 0 0 5px;    // Framework
        // background-color: #7e9db7;    // Theme
        // background-image: -webkit-gradient(linear, left top, left bottom, from(#7e9db7), to(#6f93af));    // Theme
        // background-image: -webkit-linear-gradient(top, #7e9db7, #6f93af);    // Theme
        // background-image: -moz-linear-gradient(top, #7e9db7, #6f93af);    // Theme
        // background-image: -o-linear-gradient(top, #7e9db7, #6f93af);    // Theme
        // background-image: -ms-linear-gradient(top, #7e9db7, #6f93af);    // Theme
        // background-image: linear-gradient(top, #7e9db7, #6f93af);    // Theme
        // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7e9db7', EndColorStr='#6f93af');    // Theme
        text-align: center;    // Framework
      }
      &.feature {
        width: 17%;    // Framework
        // border-top: 2px solid #e2e6e9;    // Theme
        // border-bottom: 2px solid #e2e6e9;    // Theme
        // background-color: #edf0f2;    // Theme
        // background-image: -webkit-gradient(linear, left top, left bottom, from(#edf0f2), to(#e2e6e9));    // Theme
        // background-image: -webkit-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: -moz-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: -o-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: -ms-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#edf0f2', EndColorStr='#e2e6e9');    // Theme
        text-align: center;    // Framework
      }
    }
    &:hover li.feature {
      // border-top: 2px solid #c0c9d3;    // Theme
      // border-bottom: 2px solid #c0c9d3;    // Theme
      // background-color: #d3dae1;    // Theme
      // background-image: -webkit-gradient(linear, left top, left bottom, from(#d3dae1), to(#c0c9d3));    // Theme
      // background-image: -webkit-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: -moz-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: -o-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: -ms-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d3dae1', EndColorStr='#c0c9d3');    // Theme
    }
    li.desc {
      width: 26%;    // Framework
      // border-top: 2px solid #c6ccd3;    // Theme
      // border-bottom: 2px solid #c6ccd3;    // Theme
      // background-color: #dbdfe4;    // Theme
      // background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdfe4), to(#c6ccd3));    // Theme
      // background-image: -webkit-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: -moz-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: -o-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: -ms-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dbdfe4', EndColorStr='#c6ccd3');    // Theme
    }
    &:hover li.desc {
      // border-top: 2px solid #8698aa;    // Theme
      // border-bottom: 2px solid #8698aa;    // Theme
      // background-color: #aebcc8;    // Theme:
      // background-image: -webkit-gradient(linear, left top, left bottom, from(#aebcc8), to(#8698aa));    // Theme
      // background-image: -webkit-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: -moz-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: -o-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: -ms-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#aebcc8', EndColorStr='#8698aa');    // Theme
    }
    li {
      &.desc-details {
        display: block;    // Framework
      }
      &.pricing {
        position: relative;    // Framework
        // width: 17%;    // Theme
        // border-top: 2px solid #e2e6e9;    // Theme
        // border-bottom: 2px solid #e2e6e9;    // Theme
        // background-color: #edf0f2;    // Theme
        // background-image: -webkit-gradient(linear, left top, left bottom, from(#edf0f2), to(#e2e6e9));    // Theme
        // background-image: -webkit-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: -moz-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: -o-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: -ms-linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // background-image: linear-gradient(top, #edf0f2, #e2e6e9);    // Theme
        // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#edf0f2', EndColorStr='#e2e6e9');    // Theme
        text-align: center;    // Framework
      }
      a.viewDetail:after {
        content: "\f107";    // Framework
        // font-family: FontAwesome;    // Theme
        padding-left: 0.5em;    // Framework
      }
      a.viewDetail.active:after {
        content: "\f106";    // Framework
      }
    }
    &:hover li.pricing {
      // border-top: 2px solid #c0c9d3;    // Theme
      // border-bottom: 2px solid #c0c9d3;    // Theme
      // background-color: #d3dae1;    // Theme
      // background-image: -webkit-gradient(linear, left top, left bottom, from(#d3dae1), to(#c0c9d3));    // Theme
      // background-image: -webkit-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: -moz-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: -o-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: -ms-linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // background-image: linear-gradient(top, #d3dae1, #c0c9d3);    // Theme
      // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d3dae1', EndColorStr='#c0c9d3');    // Theme
    }
  }
  li span.badge {
    position: absolute;    // Framework
    bottom: 30%;    // Framework
    left: 85%;    // Framework
    z-index: 99999;    // Framework
  }
  ul {
    li.order {
      width: 16%;    // Framework
      // border-top: 2px solid #c6ccd3;    // Theme
      // border-right: 2px solid #c6ccd3;    // Theme
      // border-bottom: 2px solid #c6ccd3;    // Theme
      // border-radius: 0 5px 5px 0;    // Theme
      // background-color: #dbdfe4;    // Theme
      // background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdfe4), to(#c6ccd3));    // Theme
      // background-image: -webkit-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: -moz-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: -o-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: -ms-linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // background-image: linear-gradient(top, #dbdfe4, #c6ccd3);    // Theme
      // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dbdfe4', EndColorStr='#c6ccd3');    // Theme
      // box-shadow: inset 7px 0 15px -11px #454545;    // Theme
      text-align: center;    // Framework
    }
    &:hover li.order {
      // border-top: 2px solid #8698aa;    // Theme
      // border-right: 2px solid #8698aa;    // Theme
      // border-bottom: 2px solid #8698aa;    // Theme
      // background-color: #aebcc8;    // Theme
      // background-image: -webkit-gradient(linear, left top, left bottom, from(#aebcc8), to(#8698aa));    // Theme
      // background-image: -webkit-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: -moz-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: -o-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: -ms-linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // background-image: linear-gradient(top, #aebcc8, #8698aa);    // Theme
      // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#aebcc8', EndColorStr='#8698aa');    // Theme
    }
  }
}


@-moz-document url-prefix() {}

@media screen and (-webkit-min-device-pixel-ratio: 0) { }

@media (max-width: $medium) {

  .compareTable {
    ul li {
      &.feature, &.desc {
        display: none;    // Framework
      }
    }
  }

}


@media (max-width: $small) {

  .compareTable {
    ul li {
      padding: .5em;    // Framework
      &.package {
        width: 34%;    // Framework
      }
      &.feature, &.desc {
        display: none;    // Framework
      }
      &.pricing {
        width: 25%;    // Framework
      }
      &.order {
        width: 10%;    // Framework
      }
    }
   .badge {
      display: none;    // Framework
    }
    .tempBadge {
      float: right;    // Framework
    }
  }
}