// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Content Gallery - Version: 1.0.0 - Updated: 5/12/14
   ========================================================================== */

.bc-content-gallery {
	background: none;
	color: #333;
}
.bc-content-gallery h6 {
  max-height: 45px;
  min-height: 45px;
  overflow: hidden;
  position: relative;
  // margin-bottom: 0.938em;
}
.bc-content-gallery h6 a {
  font-weight: 100;
}
.bc-content-gallery p.content-intro {
  min-height: 63px;
  overflow: hidden;
  // max-height: 63px;
}
.bc-content-gallery .box {
  background: none;
}
.bc-content-gallery .box > .parbase.section {
  border-bottom: 1px dotted #333333;
  padding-bottom: 1em;
}
.bc-content-gallery .box .parbase.section:last-of-type {
  border: medium none;
}
.bc-content-gallery .box.shadow {
  box-shadow: 0 8px 5px -5px #888888;
}

@media (max-width: $medium) {
  .bc-content-gallery, .bottom-box {
    padding: 0;
  }
}

@media (max-width: 40em) {
  .bc-content-gallery .box > .parbase.section {
   border-bottom: none;
   padding-bottom: 0;
 }
  [class*='twc-col3_333333-c'] {
   border-bottom: 1px dotted #333333;
   padding-bottom: 1em;
 }
}