// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Forms -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

input, textarea {
  width: 100%;    // Framework
  max-width: 100%;    // Framework
  @include padding(.4125em);    // Framework
  border: 0;    // Framework
  &[type='search'], &[type='text'], &[type='email'], &[type='textarea'], &[type='password'], &[type='tel'] {
    -webkit-appearance: none;    // Framework
  }
  &[type='search'] {
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
      -webkit-appearance: none;    // Framework
    }
  }
}

select {
  max-width: 100%;    // Framework
}

textarea {
  min-height: 9.375em;    // Framework
}

textarea, datalist {
    -webkit-appearance: none;    // Framework
}

input {
  &[type="checkbox"], &[type="radio"] {
    width: auto;    // Framework
  }
  &[type="text"], &[type="search"], &[type="tel"] {
    margin: 0;    // Framework
  }
}

select {
  margin: 0;    // Framework
}

.formitem {
  position: relative;    // Framework
  float: left;    // Framework
  width: 100%;    // Framework
  margin-left: 2.5%;    // Framework
  &.split-phone-number{
    max-width: 320px;    // Framework
    #phone-number-1{
      max-width: 15%;    // Framework
      float: left;    // Framework
    }
    #phone-number-2{
      max-width: 15%;    // Framework
      float: left;    // Framework
      margin-left: .5em;    // Framework
    }
    #phone-number-3{
      max-width: 20%;    // Framework
      float: left;    // Framework
      margin-left: .5em;    // Framework
    }
    span {
      float: left;    // Framework
    }
  }
  &.split-zip{
    max-width: 250px;
    #zip-1 {
      max-width: 30%;    // Framework
      float: left;    // Framework
    }
    #zip-2 {
      max-width: 25%;    // Framework
      float: left;    // Framework
      margin-left: .5em;    // Framework
    }
    span {
      float: left;    // Framework
    }
  }
  &.radio, &.checkbox {
      margin-left: 0;    // Framework
  }
  &:first-of-type {
      margin-left: 0;    // Framework
  }
  input, select, textarea, .cta {
    margin-top: .5em;    // Framework
    margin-bottom: .5em;    // Framework
  }
  input[type="radio"], input[type="checkbox"] {
    float: left;    // Framework
    @include margin(.25em,.5em,1em,0);    // Framework
  }
}

.form-item {
  display: inline-block;    // Framework
  position: relative;    // Framework
  width: 100%;    // Framework
  margin: .5em 0;    // Framework
  &.split {
    width: auto;    // Framework
  }
}

.support-center form {
  position: relative;    // Framework
  top: 0;    // Framework
}

form label p {
  margin-bottom: 0;    // Framework
}

.section.end {
  clear: left;    // Framework
}

.form_leftcolmark {
  display: none;    // Framework
}

.text.section {
  &:nth-of-type(6), &:nth-of-type(7) {
    width: 140px;    // Framework
  }
}

.form_button_submit {
  padding: 10px 15px;    // Framework
}

input, ul.checkbox-alert, input.minlength, input.max-input {
  &:required ~ span:after,
  span, span:after, +span:after {
    position: relative;    // Framework
    content: attr(title);    // Framework
    transition-property: opacity;    // Framework
  }
}

.split-phone-number,
.split-zip {
  span {
    float: left;    // Framework
  }
}



input:invalid.required-input ~ span:after,
input.required-input.maxlength:required:invalid ~ span:after,
input:required:invalid.required-input ~ span:after,
input:required.max-input.maxlength ~ span:after,
input.max-input.maxlength ~ span:after,
input.max-input ~ span,
input.minlength ~ span,
ul.checkbox-alert span:after,
input.minlength:invalid span:after,
input.minlength:invalid,
input.minlength:invalid +span:after {
    @include opacity(1);    // Framework
}

ul.checkbox-alert {
  position: relative;    // Framework
}

.checkbox-alert > span {
    left: 0;    // Framework
    position: absolute;    // Framework
    bottom: 0;    // Framework
}

.required:after {
    content: '*';    // Framework
}

.error-msg {
  display: none;    // Framework
}

#fillit {
  display: none;    // Framework
}

.first-name {
  // width: 77.5% !important;    // Theme
}

.middle-initial {
  // width: 20% !important;    // Theme
}

.cc-number {
  // width: 47.5% !important;    // Theme
}

.cc-exp-month {
  // width: 27.5% !important;    // Theme
}

.cc-csc {
  // width: 20%;    // Theme
}

.ssn {
  // width: 64% !important;    // Theme
}

.dob {
  // width: 33.5% !important;    // Theme
}

.zip, .state {
  // width: 48.75% !important;    // Theme
}

input:invalid.required-input,
input.required-input.maxlength:required:invalid,
input:required.max-input.maxlength,
input.max-input.maxlength,
input.minlength:invalid,
ul.checkbox-alert {
  // box-shadow: 0 0 3px 1px #f00;    // Theme
}


input[type="submit"] {
  cursor: pointer;    // Framework
}

@media (max-width: 31.25em) {
  .cc-number { width: 100% !important; }    // Framework
  .cc-exp-month {
      width: 48.75% !important;    // Framework
      margin-left: 0;    // Framework
    }
  .cc-csc {
    width: 48.75%;    // Framework
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
  select {
    height: 42px;    // Framework
  }
  form {
    input::-webkit-validation-bubble-message, select::-webkit-validation-bubble-message, textarea::-webkit-validation-bubble-message {
      display: none;    // Framework
    }
  }
}

/* ie (.ie) */

.twc-ie input[type="radio"] {
  border: 0px !important;    // Framework:
}

@media (max-width: $medium) {
  ul.checkbox-alert > li {
    margin-bottom: 1.5em;    // Framework
  }
}
@media (max-width: $small) {

  .checkbox-alert > span {
    top: 100%;    // Framework
  }

  .form-item.split {
    width: 100%;    // Framework
  }

}
