// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Forms -- Version: 1.9.0.0 - Updated: 6/16/2014
   ========================================================================== */
.elq-form {
  overflow: auto;
  background: none;

  .h3, h3 {
    font-size: 1.5em!important;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif!important;
    font-weight: normal!important;
    padding: 0.5em 0!important;
    color: #333!important;
  }
  label {
    color: #333!important;
  }
  input[type='search'], input[type='text'], input[type='email'], input[type='textarea'], input[type='password'], input[type='tel'], textarea, label, select {
    @include font-size(15);
  }
  input, textarea {
    border: 1px solid #ccc;
    @include border-radius(6px);
  }
  select {
    width: 100%;
    height: 100%;
    padding: 0.4em 0.25em;
    border: 0;
    border: 1px solid #ccc;
    @include border-radius(6px);
  }
  input {
    vertical-align: baseline;
    &[type="checkbox"], &[type="radio"] {
      padding: 0;
      border: 0;
    }
  }
  input.twc-text:focus {
    color: #666;
  }
  input[type=submit] {
    background-color: #387ab4;
    width: 200px!important;
    height: 40px!important;
    margin: 1em 0!important;
    background-image: linear-gradient(#387ab4, #B7780F);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #387ab4), color-stop(18%, #3173ad), color-stop(74, #0d4f89), color-stop(100, #01437d));
    background-image: -webkit-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%);
    background-image: -moz-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%);
    background-image: -ms-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%);
    background-image: -o-linear-gradient(top, #387ab4 0%, #3173ad 18%, #0d4f89 74%, #01437d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3678b2', EndColorStr='#044680');
    border: 0;
    @include border-radius(6px);
    font: 500 1.4em Arial, Sans-Serif!important;
    color: #fff;
  }

  /* ======= BACKGROUND DARK ======= */

  // .twc-backgroundGradient-5, .twc-content {
    // background: none;
  // }

  input, ul.checkbox-alert, input.minlength, input.max-input {
    &:required ~ span:after,
    span, span:after, +span:after {
      color: $text-error;
      font-weight: 700;
      @include opacity(0);
      transition-duration: .5s;
      transition-delay: .5s;
    }
  }

  #formElement0 {
    display: none!important;
  }

  .error-msg {
    color: #d10010;
  }

  .first-name {
    width: 77.5% !important;
  }

  .middle-initial {
    width: 20% !important;
  }

  .cc-number {
    width: 47.5% !important;
  }

  .cc-exp-month {
    width: 27.5% !important;
  }

  .cc-csc {
    width: 20%;
  }

  .ssn {
    width: 64% !important;
  }

  .dob {
    width: 33.5% !important;
  }

  .zip, .state {
    width: 48.75% !important;
  }

  input:invalid.required-input,
  input.required-input.maxlength:required:invalid,
  input:required.max-input.maxlength,
  input.max-input.maxlength,
  input.minlength:invalid,
  ul.checkbox-alert {
    box-shadow: 0 0 3px 1px #f00;
  }

  input[type="checkbox"] {
    border-radius: 0;
  }

  @media (max-width: $medium) {
    ul.checkbox-alert > li {
      margin-bottom: 1.5em;    // Framework
    }
  }

  @media (max-width: $small) {

    .checkbox-alert > span {
      top: 100%;    // Framework
    }

    .form-item.split {
      width: 100%;    // Framework
    }

  }
}