// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Header -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-top {
  background: #000;
  border-bottom: 1px solid #4d4f53;
  .twc-container {
    overflow: inherit;
    padding: 5px 0 0;
  }
}

/* ==========================
	  Top-Nav Menu
   ========================== */

ul.twc-top-nav {
  margin-bottom: 0;
}

.twc-top-nav {
  li {
    display: inline-block;
    margin-bottom: -1px;
  }
  .smartLink {
    padding: .5em;
    a {
      font-weight: inherit;
      color: #a2a5a6;
    }
  }
  li {
    &.twc-active .smartLink {
      position: relative;
      background: #D0D6DD;
      @include border-radius(5px 5px 0 0);
      border-top: 1px solid #4d4f53;
      border-right: 1px solid #4d4f53;
      border-left: 1px solid #4d4f53;
      // @include box-shadow(0 1px 0 0 #2d2e2e);
      z-index: 7999;
      a {
        color: #292929;
      }
    }
    a:hover {
      color: $text-white;
    }
  }
}

/* ==========================
	  Top-Nav Drop Down
   ========================== */

.twc-drop-nav.persist a, .twc-drop-nav.js-persist a {
  color: $text-white;
}

.twc-top-nav ul li {
  ul {
    display: none;
    position: absolute;
    width: 150px;
    padding: 5px;
    background: #677986;
    @include border-radius(3px 0 3px 3px);
    visibility: hidden;
    z-index: 9999;
    li {
      display: block;
      color: #fff;
    }
  }
  &.persist ul, &.js-persist ul  {
    display: block;
    position: absolute;
    right: 0;
    @include opacity(1);
    visibility: visible;
    z-index: 99999;
  }
}

/* ==========================
	  Top Search
   ========================== */

header > .twc-container {
  overflow: auto;
}

.twc-user-input {
  padding-right: 20px;
}

.twc-header-search {
  float: left;
  width: 590px;
  margin-top: 10px;
}

.twc-search-input-wrap {
  margin: 0 auto;
}

.twc-header-search {
  .twc-search-input-wrap {
    input {
      float: left;
      width: 80%;
      background: $text-white;
      border: 0 none;
      @include border-radius(3px 0 0 3px);
      overflow: hidden;
    }
    button.btn {
      height: 30px;
      padding-left: 10%;
      @include border-radius(0 3px 3px 0);
      background: $text-white;
      color: $link;
    }
  }
  .twc-search-btn {
    float: none;
    background: $text-white;
    filter: 0;
    border: none;
    @include border-radius(0 3px 3px 0);
    color: $link;
    &:hover {
      background: $text-white;
      color: $link;
    }
    icon-search {
      float: right;
    }
  }
}

/* Specific Buttons */

.btn {
  &.search-btn, &.geoloc-btn {
    width: 20%;
  }
}

.cta {
  &.search-btn, &.geoloc-btn {
    width: 21%;
    button {
      width: 100%;
    }
  }
}

.twc-search-input-wrap input#search-support {
  width: 76%;
}

.twc-logo {
  float: left;
  width: 20%;
  img {
    height: auto;
  }
}

.twc-icon-twitter:before {
  content: "\f099";
  color: #f7f7f7;
}

.twc-icon-facebook:before {
  content: "\f09a";
  color: #f7f7f7;
}

.twc-header-icons {
  @include background-gradient(#2f3032, #191a1c);
  padding: 10px 20px 5px;
  @include border-radius();
  border: 2px solid #3a3b3d;
  @include font-size(9);
  text-align: center;
}

.header-icons {
  div.twc-image-link {
    display: inline;
  }
  &.list > ul {
    height: 25px;
  }
}

.twc-header-search button:before {
  content: '\f002';
  font-family: $fontawesome;
  color: $link;
  line-height: 1;
}

.btn.icon-search {
  font-family: $fontawesome;
}

.twc-contact {
  float: right;
  li {
    display: inline;
    padding: 0 1px;
  }
  a {
    @include font-size(12);
    font-family: $twc-light;
  }
}

#logoHeader {
  .twc-contact {
    margin-bottom: 20px;
    li {
      display: inline;
      padding: 0 5px 0 8px;
      border-left: 1px solid #fff;
      &:first-child {
        border-left: 0;
      }
    }
    a {
      @include font-size(14);
      font-family: $twc-light;
      color: $text-white;
    }
  }
  &.twc-header {
    span {
      color: $text-white;
      margin-top: 5px;
    }
    button {
      float: right;
    }
  }
}

.twc-email {
  float: left;
  padding-right: 15px;
  border-right: 1px solid #9d9d9e;
}

.twc-follow {
  margin-top: 3px;
  color: #9d9d9e;
}

.twc-container.twc-mega-menu {
  display: table;
  width: 980px;
  padding: 0;
}

/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
  .twc-header-search {
    .twc-search-input-wrap input, .twc-search-btn {
      height: 39px;
    }
  }
  .twc-top-nav ul li ul {
    right: 0;
  }
}

@media (max-width: 68.6875em) {
  header {
    .twc-top, .twc-header-search {
      display: none;
    }
  }
  .twc-header-icons, header .twc-share-module {
    display: none;
  }

}

@media (max-width: 31.25em) {

  .twc-header .twc-container {
    padding: 10px 4%;
  }
  .twc-logo {
    width: 21%;
    img {
      width: 230%;
    }
  }

}
