// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    IconFu  -- Version: 1.0.0 - Updated: 3/12/2014
   ========================================================================== */

@font-face {
  font-family: 'IconFu';
  src:url('http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.eot?gpdf00');
  src:url('http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.eot?#iefixgpdf00') format('embedded-opentype'),
    url('http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.woff?gpdf00') format('woff'),
    url('http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.ttf?gpdf00') format('truetype'),
    url('http://maxquattromani.com/TWC/bc/core/css/fonts/iconfu/IconFu.svg?gpdf00#IconFu') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfu {

  .icon {
    font-family: 'IconFu';
    speak: none;
    font-style: normal;
    font-weight: lighter;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 .twc-container { padding: 2em 0 3em; }

  .blue{ color: blue;}
  .red{ color: red;}
  .green{ color: green;}

  .icon-shadow { text-shadow: black 1px 1px 4px; }

  .font-16 { font-size: 16px; }
  .font-32 { font-size: 32px; }
  .font-64 { font-size: 64px; }
  .font-128 { font-size: 128px; }
  .font-256 { font-size: 256px; }

  .iconfu-icons [class*='ifu-'],
  .iconfu-icons .icon-name {
    font-size: 24px; }

  .ifu-untangled:before {
    content: "\e603";
  }
  .ifu-enjoy-better:before {
    content: "\e672";
  }
  .ifu-warning:before {
    content: "\e600";
  }
  .ifu-utensils:before {
    content: "\e601";
  }
  .ifu-upload:before {
    content: "\e602";
  }
  .ifu-up-down:before {
    content: "\e604";
  }
  .ifu-umbrella:before {
    content: "\e605";
  }
  .ifu-twitter:before {
    content: "\e606";
  }
  .ifu-trash:before {
    content: "\e607";
  }
  .ifu-transfer:before {
    content: "\e608";
  }
  .ifu-timewarner:before {
    content: "\e609";
  }
  .ifu-tablet:before {
    content: "\e60a";
  }
  .ifu-super:before {
    content: "\e60b";
  }
  .ifu-sub:before {
    content: "\e60c";
  }
  .ifu-star:before {
    content: "\e60d";
  }
  .ifu-speed:before {
    content: "\e60e";
  }
  .ifu-smile:before {
    content: "\e60f";
  }
  .ifu-sitemap:before {
    content: "\e610";
  }
  .ifu-side-by-side:before {
    content: "\e611";
  }
  .ifu-search:before {
    content: "\e612";
  }
  .ifu-rev-star:before {
    content: "\e613";
  }
  .ifu-rev-remove:before {
    content: "\e614";
  }
  .ifu-rev-half-star:before {
    content: "\e615";
  }
  .ifu-rev-envelope:before {
    content: "\e616";
  }
  .ifu-rev-comments:before {
    content: "\e617";
  }
  .ifu-rev-comment:before {
    content: "\e618";
  }
  .ifu-rev-arrow-up:before {
    content: "\e619";
  }
  .ifu-rev-arrow-right:before {
    content: "\e61a";
  }
  .ifu-rev-arrow-left:before {
    content: "\e61b";
  }
  .ifu-rev-arrow-down:before {
    content: "\e61c";
  }
  .ifu-reply:before {
    content: "\e61d";
  }
  .ifu-reply-all:before {
    content: "\e61e";
  }
  .ifu-remove:before {
    content: "\e61f";
  }
  .ifu-refresh:before {
    content: "\e620";
  }
  .ifu-quotes:before {
    content: "\e621";
  }
  .ifu-question:before {
    content: "\e622";
  }
  .ifu-question-sign:before {
    content: "\e623";
  }
  .ifu-printer:before {
    content: "\e624";
  }
  .ifu-phone:before {
    content: "\e625";
  }
  .ifu-open-quotes:before {
    content: "\e626";
  }
  .ifu-ok:before {
    content: "\e627";
  }
  .ifu-ok-sign:before {
    content: "\e628";
  }
  .ifu-mobile:before {
    content: "\e629";
  }
  .ifu-meh:before {
    content: "\e62a";
  }
  .ifu-location:before {
    content: "\e62b";
  }
  .ifu-location-arrow:before {
    content: "\e62c";
  }
  .ifu-locate:before {
    content: "\e62d";
  }
  .ifu-loading:before {
    content: "\e62e";
  }
  .ifu-linkedin:before {
    content: "\e62f";
  }
  .ifu-lightning:before {
    content: "\e630";
  }
  .ifu-lightbulb:before {
    content: "\e631";
  }
  .ifu-left-right:before {
    content: "\e632";
  }
  .ifu-leaf:before {
    content: "\e633";
  }
  .ifu-laptop:before {
    content: "\e634";
  }
  .ifu-keyboard:before {
    content: "\e635";
  }
  .ifu-information:before {
    content: "\e636";
  }
  .ifu-information-sign:before {
    content: "\e637";
  }
  .ifu-info-sign:before {
    content: "\e638";
  }
  .ifu-home:before {
    content: "\e639";
  }
  .ifu-heart:before {
    content: "\e63a";
  }
  .ifu-half-star:before {
    content: "\e63b";
  }
  .ifu-game-controller:before {
    content: "\e63d";
  }
  .ifu-frown:before {
    content: "\e63e";
  }
  .ifu-forward:before {
    content: "\e63f";
  }
  .ifu-forward-all:before {
    content: "\e640";
  }
  .ifu-folder-open:before {
    content: "\e641";
  }
  .ifu-folder-closed:before {
    content: "\e642";
  }
  .ifu-flag:before {
    content: "\e643";
  }
  .ifu-file:before {
    content: "\e644";
  }
  .ifu-facebook:before {
    content: "\e645";
  }
  .ifu-expand:before {
    content: "\e646";
  }
  .ifu-expand-alt:before {
    content: "\e647";
  }
  .ifu-exclamation:before {
    content: "\e648";
  }
  .ifu-exclamation-sign:before {
    content: "\e649";
  }
  .ifu-eraser:before {
    content: "\e64a";
  }
  .ifu-ellipsis:before {
    content: "\e64b";
  }
  .ifu-download-alt:before {
    content: "\e64c";
  }
  .ifu-double-angle-up:before {
    content: "\e64d";
  }
  .ifu-double-angle-right:before {
    content: "\e64e";
  }
  .ifu-double-angle-left:before {
    content: "\e64f";
  }
  .ifu-double-angle-down:before {
    content: "\e650";
  }
  .ifu-document:before {
    content: "\e651";
  }
  .ifu-desktop:before {
    content: "\e652";
  }
  .ifu-crop:before {
    content: "\e653";
  }
  .ifu-comments:before {
    content: "\e654";
  }
  .ifu-comment:before {
    content: "\e655";
  }
  .ifu-cogs:before {
    content: "\e656";
  }
  .ifu-cog:before {
    content: "\e657";
  }
  .ifu-coffee:before {
    content: "\e658";
  }
  .ifu-cloud:before {
    content: "\e659";
  }
  .ifu-close-quotes:before {
    content: "\e65a";
  }
  .ifu-clock:before {
    content: "\e65b";
  }
  .ifu-clipboard:before {
    content: "\e65c";
  }
  .ifu-chevron-up:before {
    content: "\e65d";
  }
  .ifu-chevron-right:before {
    content: "\e65e";
  }
  .ifu-chevron-left:before {
    content: "\e65f";
  }
  .ifu-chevron-down:before {
    content: "\e660";
  }
  .ifu-checkbox:before {
    content: "\e661";
  }
  .ifu-check:before {
    content: "\e662";
  }
  .ifu-caret-up:before {
    content: "\e663";
  }
  .ifu-caret-right:before {
    content: "\e664";
  }
  .ifu-caret-left:before {
    content: "\e665";
  }
  .ifu-caret-down:before {
    content: "\e666";
  }
  .ifu-building:before {
    content: "\e667";
  }
  .ifu-briefcase:before {
    content: "\e668";
  }
  .ifu-bookmark:before {
    content: "\e669";
  }
  .ifu-arrow-up:before {
    content: "\e66a";
  }
  .ifu-arrow-right:before {
    content: "\e66b";
  }
  .ifu-arrow-left:before {
    content: "\e66c";
  }
  .ifu-arrow-down:before {
    content: "\e66d";
  }
  .ifu-angle-up:before {
    content: "\e66e";
  }
  .ifu-angle-right:before {
    content: "\e66f";
  }
  .ifu-angle-left:before {
    content: "\e670";
  }
  .ifu-angle-down:before {
    content: "\e671";
  }
  .ifu-twc-logo:before {
    content: "\e673";
  }
}