// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Images -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

figure {
  position: relative;
  width: 100%;
  img {
    max-width: 100%;
    margin: 0 auto 1em;
  }
}

figcaption {
  width: auto;
  margin-bottom: .5em;
  @include font-size(14);
  line-height: 1;
}

img {
  display: inherit;
  border: 0;
}

.image-rounded {
  @include border-radius();
}

.image-circular {
  @include border-radius(100%);
}

.image-bordered {
  border: 3px solid $text-white;
  outline: 1px solid $grey;
}

// Responsive Images

[class*='image-focus-'] {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-focus-1 {
  background-position: left center;
}

.image-focus-2 {
  background-position: 25% center;
}

.image-focus-3 {
  background-position: 50% center;
}

.image-focus-4 {
  background-position: 75% center;
}

.image-focus-5 {
  background-position: right center;
}

/* ie8 (.twc-ie8) */
/* Fix IE8 background-position issue */
.twc-ie8 [class*="image-focus-"] {
  background-position: center center;
  width: 100%;
}

/* ie9 (.twc-ie9) */
/* Fix IE9 overflow bug */

.twc-ie9 svg:not(:root) {
  overflow: hidden;
}
