// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Image Content Panel -- Version: 1.0.0.3 - Updated: 7/9/2014
   ========================================================================== */

.imagecontent-panel {
  position: relative;    // Framework
  @include padding(0.75em, 2em);    // Framework
  img {
    background-size: auto;    // Framework
    background-position: 85% 15%;    // Framework
    margin: 0 auto;
  }
  .disclaimer {
    position: absolute;    // Framework
    bottom: 0.5rem;    // Framework
  }
}

// Images in Carousel
.slide {
  .image-banner {
    position: absolute;    // Framework
    top: 0;    // Framework
  }
}

.image-banner {
    position: relative;    // Framework
    padding: 1em 2em;    // Framework
    .cta {
      margin-bottom: 0.5em;    // Framework
    }
  }

@media (max-width: $medium) {
  .panel .image-banner,
  .panel .image-banner.right,
  .panel .image-banner.left,
  .panel .image-banner.center {
    position: relative;    // Framework
    float: none;    // Framework
    width: 100% !important;    // Framework
    left: 0 !important;    // Framework
  }
}

@media (max-width: $small) {
  .imagecontent-panel {
    @include padding(1em, 2em);    // Framework
    .cta.omega.twc-icon-after.icon-angle-right {
      padding-bottom: 1.5em;
    }
  }
}
