// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    List Accordion -- Version: 1.9.0.4 - Updated: 12/31/2013
   ========================================================================== */
.listAccordion {
    .listAccordionItem {
      cursor: pointer;    // Framework
      .listAccordionItem-title {
        @include inline-block();    // Framework
        @include padding(.75em, 0);    // Framework
        a {
          // color: $link;    // Theme
          &:after {
            // font-family: $fontawesome;    // Theme
            content: "\f107";    // Framework
            padding-left: .5em;    // Framework
          }
        }
        &.active a:after, &.js-active a:after {
          content: "\f106";    // Framework
        }
        &.empty a {
            // color: $text;    // Theme
            &:after {
                content: none;    // Framework
            }
        }
      }
    }
    .details {
      display: none;    // Framework
      margin-top: .5em;    // Framework
    }
}
