// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Meters -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.meter {
  position: relative;    // Framework
  margin: 2em 0;    // Framework
  padding: 1em;    // Framework
  // @include border-radius();    // Theme
  // background: $lightgrey;    // Theme
  @include box-shadow(inset 0 -1px 1px rgba(255, 255, 255, 0.3));    // Framework
  text-align: center;    // Framework
  > span {
    position: relative;    // Framework
    overflow: hidden;    // Framework
    display: block;    // Framework
    height: 100%;    // Framework
    padding: .5em;    // Framework
    // @include border-radius(2px);    // Theme
    // @include background-gradient(#3779b3, #02447e);    // Theme
    // color: $text-white;    // Theme
  }
}
