// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Chat Modals -- Version: 1.9.1.0 - Updated: 3/26/2015
   ========================================================================== */

.modal {
  .modal-container {
    @include border-radius();    // Theme
    color: $text;    // Theme
  }

  .modal-header {
    @include border-radius(3px 3px 0 0);    // Theme
    background: #f0f2f5;    // Theme
  }

  .modal-footer {
    @include border-radius(0 0 3px 3px);    // Theme
    background: #f0f2f5;    // Theme
  }
}