// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Operational Message -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.operationalMessage {
  .twc-box-column {
    padding: 1em;    // Framework
    background: #e1ecf5;    // Theme
  }
  .notices {
    width: 8%;    // Framework
    border-right: 1px solid $grey;    // Theme
  }
  .marquee-messages {
    width: 84%;    // Theme
    margin: 0 auto;    // Framework
    text-align: center;    // Framework
    ul {
      margin-bottom: 0;    // Framework
    }
    li {
      display: none;    // Framework
    }
  }
  .controls {
    display: none;    // Framework
    width: 3%;    // Framework
    text-align: right;    // Framework
    span {
      cursor: pointer;    // Framework
    }
  }
}

@media (max-width: $medium) {

  .operationalMessage{
    .notices {
      border: 0;    // Framework
    }
    .marquee-messages {
      display: block;    // Framework
      width: 100%;    // Framework
      @include padding();    // Framework
      text-align: left;    // Framework
    }
    .controls {
      width: 6%;    // Framework
    }
  }

}

@media (max-width: $small) {

  .operationalMessage{
    .controls {
      width: 10%;    // Framework
    }
  }

}
