// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Pagination -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.pagination {
  ol {
    margin: 0;    // Framework
    padding: 0;    // Framework
  }
  li {
    display: inline;    // Framework
    position: relative;    // Framework
    &.page_first, &.page_prev, &.page_next, &.page_last {
      display: block;    // Framework
    }
    &.page_prev button:before {
      content: '\f104';    // Framework
      padding-right: 1em;    // Framework
      // font-family: $fontawesome;    // Theme
    }
    &.page_next button:after {
      content: '\f105';    // Framework
      padding-left: 1em;    // Framework
      // font-family: $fontawesome;    // Theme
    }
    &.js-last {
      margin-right: 0;    // Framework
    }
  }
  button {
    @include font-size(13);
    &.first:before {
      content: '\f100';    // Framework
      padding-right: 1em;    // Framework
      // font-family: $fontawesome;    // Theme
    }
    &.last:after {
      content: '\f101';    // Framework
      padding-left: 1em;    // Framework
      // font-family: $fontawesome;    // Theme
    }
  }
  .number span {
    // background: none repeat scroll 0 0 #ebedec;    // Theme
  }
}

@media (max-width: $small) {

  .pagination {
    @include inline-block();    // Framework
    width: 100%;    // Framework
    margin: 0 auto;    // Framework
    text-align: center;    // Framework
    .btn.number {
      display: none;    // Framework
    }
  }

}
