// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Pricing -- Version: 1.0.0.1 - Updated: 2/18/2014
   ========================================================================== */

.pricing {
  font-family: $twc-book;    // Theme
  color: $text;    // Theme
  .h4 {
    font-family: $twc-book;    // Theme
    color: inherit;    // Theme
    span.dollars {
      font-size: 33px;    // Theme
    }
    sup {
      font-size: 14px;    // Theme
    }
  }
  .term {
    font-size: 11px;    // Theme
    line-height: 1;    // Theme
  }
}