// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Pricing -- Version: 1.0.0.1 - Updated: 2/18/2014
   ========================================================================== */

.pricing {
  float: none;    // Framework
  // font-family: $twc-book;    // Theme
  // color: $text;    // Theme
  .h4 {
    margin-bottom: 0;    // Framework
    background: inherit;    // Framework
    font-family: $twc-book;    // Theme
    // color: inherit;    // Theme
    span.dollars {
      // font-size: 33px;    // Theme
    }
    sup {
      position: relative;    // Framework
      // font-size: 14px;    // Theme
      top: -.5em;    // Framework
    }
  }
  .term {
    // font-size: 11px;    // Theme
    display: inline-block;    // Framework
    text-align: right;    // Framework
    // line-height: 1;    // Theme
    margin-left: -1.35em;    // Framework
    &.under {
      display: block;    // Framework
      margin-left: 0;    // Framework
      text-align: center;    // Framework
    }
  }
}

