// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Scroll To -- Version: 1.9.0.1 - Updated: 2/7/2014
   ========================================================================== */

.scrollToTop {
  position: fixed;    // Framework
  @include inline-block();    // Framework
  right: 1em;    // Framework
  bottom: .5em;    // Framework
  @include margin(.5em, 0);    // Framework
  @include padding(.5em, 1em);    // Framework
  // @include border-radius();    // Theme
  // background: rgba(0,0,0,.1);    // Theme
  // font-weight: 100;    // Theme
  z-index: 999999;    // Framework
  -webkit-transform: translateZ(0);    // Framework
  &:after {
    padding-left: .5em;    // Framework
    // font-family: $fontawesome;    // Theme
    // font-size: inherit;    // Theme
    // font-weight: inherit;    // Theme
    content: '\f093';    // Framework
  }
}

.scrollToTop-modal {
  @extend .scrollToTop;    // Framework
  position: relative;    // Framework
  float: right;    // Framework
}
