// Pull modules for individually compiled css files
@import "../modules/allModules";;

/* ==========================================================================
    Search -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-search-module {
  margin: 0 auto;    // Framework
  // background: #d4d5d6;    // Theme
  .twc-container {
    padding: 1em 4%;    // Framework
  }
}

.twc-module {
  ul {
    margin-bottom: 5px;    // Framework
    text-align: justify;    // Framework
  }
  li {
    @include inline-block();    // Framework
    padding: 0 10px;    // Framework
    // border-right: 1px solid #9d9d9e;    // Theme
    &.js-first {
      padding-left: 0;    // Framework
    }
    &.js-last {
      border-right: 0;    // Framework
    }
  }
}

header .twc-module {
  width: auto;    // Framework
}

.twc-module {
  width: auto;    // Framework
  // max-width: 440px;    // Theme
  margin: 0 auto;    // Framework
  .twc-search-input-wrap {
    width: auto;    // Framework
  }
}

.twc-banner-search {
  @include inline-block();    // Framework
  // width: 100%;    // Theme
  // margin: 0 auto;    // Theme
}

.twc-search input {
  // width: 77%;    // Theme
}

@media (max-width: $medium) {
  .twc-search-module {
    display: none;    // Framework
  }

  .twc-search-input-wrap {
    width: auto;    // Framework
  }
  .twc-tablet-search {
    display: table-cell;    // Framework
    // height: 40px;    // Theme
    vertical-align: middle;    // Framework
  }
  .twc-mobile-search button:before {
    content: '\f002';    // Framework
    // font-family: $fontawesome;    // Theme
  }

}

@media (max-width: $small) {

  .twc-tablet-search {
    display: none;    // Framework
  }
  .twc-search-module {
    .twc-module {
      width: 100%;    // Framework
      ul {
        display: none;    // Framework
      }
    }
    input#submit {
      // width: 25%;    // Theme
      padding: 9px 0;    // Framework
    }
  }

}
