// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Share -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.share {
  position: relative;
  .share-social {
    padding-bottom: 3em;
  }

  .twc-container {
    display: block;
    margin: 0 auto;
    max-width: 980px;
    min-height: 500px;
    overflow: visible;
    padding: 2.5%;
    width: 100%;
  }
  .btn.blue.share, .cta.blue.share {
    background: #4F799F;    // Theme
    margin-bottom: 1em;    // Theme
  }
  .twc-backgroundGradient-5, .twc-content {
    background: none repeat scroll 0 0 #fff;
  }

  .btn.blue.share, .cta.blue.share {
    &:hover, &.hover {
      background: #265A83;    // Theme
    }
  }

#linkedin > span {
    color: #fff;
    font-size: 1.75em;
    // background: #017fb2;
}

#facebook > span {
    color: #fff;
    font-size: 1.75em;
}

#twitter > span {
    color: #fff;
    font-size: 1.75em;
}

.cta.bc-omega.share.twc-icon-before span {
    color: #809cb6;
    font-size: 1.75em;
    // margin: 0 0.5em;
}

.cta.bc-omega.share.twc-icon-only.icon-linkedin {
    background: none repeat scroll 0 0 #017fb2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    a {
      padding: 0.5em 0.75em;
    }
}

.cta.bc-omega.share.twc-icon-only.icon-facebook {
    background: none repeat scroll 0 0 #3a579d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 0.45em;
    margin: 0 1.5em;
    a {
      padding: 0.5em 0.75em;
    }
}

.cta.bc-omega.share.twc-icon-only.icon-twitter {
    background: none repeat scroll 0 0 #28abe3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    a {
      padding: 0.5em 0.75em;
    }
}

  .text {
    color: $text-white;    // Theme
  }

  .email-module {
    width: 100%;    // Theme
    max-width: 265px;    // Theme
    @include padding(1em);    // Theme
    border-radius: 3px;    // Theme
    border: 1px solid #fff;    // Theme
    @include background-gradient(#e0ebf5,#f8fafc );    // Theme
    @include box-shadow(0 1px 2px 0 #888);    // Theme
    label {
      color: #333!important ;
    }
  }
}
