// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Share -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

  .email-module {
    display: none;    // Framework
    position: absolute;    // Framework
    right: 0;
    top: 3em;
    overflow: visible;    // Framework
    z-index: 99999;    // Framework
    margin-left: 140px;
    &:before {
      position: absolute;    // Framework
      content: "";    // Framework
      left: 88%;    // Framework
      bottom: 100%;    // Framework
      border-left: 8px solid transparent;    // Framework
      border-right: 8px solid transparent;    // Framework
      border-bottom: 8px solid #e1ebf5;    // Framework
    }
  }
  [class*="icon-"] span:before {
      margin-right: 0;
  }
  [class*='social-media'] {
    padding: 2px 2px 2em;    // Framework
  }
  // > div[class*='share-'] {
  //   display: inline;    // Framework
  // }

@media (max-width: $medium) {
  .share {
    .email-module {
      right: 0;    // Framework
      margin-right: 1em;    // Framework
      margin-left: none;
      &:before {
        border: none;    // Framework
      }
    }
  }
}

@media (max-width: $small) {
  .share {
    .twc-icon-after[class*="icon-"]:before, .twc-icon-before[class*="icon-"]:before {
      margin: 0;    // Framework
    }
    .email-module {
      left: 50%;    // Framework
      right: 50%;    // Framework
      margin-left: -133px;    // Framework
      &:before {
          border: none;    // Framework
      }
    }
  }
}
