// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Sticky -- Version: 1.9.0.1 - Updated: 12/31/2013
   ========================================================================== */

.sticky {
  // background: #3a647b;    // Theme
  // @include box-shadow(0 1px 2px 0 $grey);    // Theme
  text-align: center;    // Framework
  .twc-container {
    padding: .675em 0;    // Framework
  }
  a {
    // color: #ddd;    // Theme
  }
  .twc-icon {
    padding: 0 .5em;    // Framework
  }
}

.js-fixed {
  position: fixed;    // Framework
  bottom: 0;    // Framework
  z-index: 9999;    // Framework
}

.spacer {
  // background: $text-black;    // Theme
}
