// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Tabs -- Version: 1.9.0.3 - Updated: 1/8/2013
   ========================================================================== */

.tab-component {
  .tab-content-container {
    @include border-radius(0 0 3px 3px);    // Theme
    background: $background-white;    // Theme
    @include box-shadow(0 1px 2px 0 #888);    // Theme
  }

  .tabs {
    box-shadow: 0 1px 2px 0 #888;    // Theme
    @include border-radius();    // Theme
    li {
      @include border-radius(3px 3px 0 0);    // Theme
      border-left: 1px solid #ededed;    // Theme
      // @include background-gradient(#eeeeef, #dddfe2);    // Theme
      color: $text;    // Theme
      text-align: center;    // Theme
      vertical-align: middle;    // Theme
      a {
        @include font-family($twc-book);    // Theme
        font-weight: normal;    // Theme
        text-decoration: none;    // Theme
      }
      &.active, &.js-active {
        background: $background-white;    // Theme
        a {
          color: $text;    // Theme
        }
      }
    }
  }

  @media (max-width: $medium) {

    .tabs {
      li {
        @include border-radius(0);    // Theme
        border-bottom: 1px solid $lightgrey;    // Theme
        text-align: left;    // Theme
        a {
          &:after {
            font-family: $fontawesome;    // Theme
          }
         }
        &.js-first {
          @include border-radius(3px 3px 0 0);    // Theme
        }
      }
    }
    .tab-content {
      background: $background-white;    // Theme
    }
  }

}