// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Tabs -- Version: 1.9.0.3 - Updated: 1/8/2013
   ========================================================================== */

.tab-component {
  .tab-content-container {
    @include padding(1em);    // Framework
    // @include border-radius(0 0 3px 3px);    // Theme
    // background: $background-white;    // Theme
    // @include box-shadow(0 1px 2px 0 #888);    // Theme
  }

  .tabs {
    display: table;    // Framework
    width: 100%;    // Framework
    // box-shadow: 0 1px 2px 0 #888;    // Theme
    // @include border-radius();    // Theme
    ul {
      display: table-row;    // Framework
    }
    li {
      display: table-cell;    // Framework
      position: relative;    // Framework
      @include padding(1em);    // Framework
      // @include border-radius(3px 3px 0 0);    // Theme
      // border-left: 1px solid #ededed;    // Theme
      // @include background-gradient(#eeeeef, #dddfe2);    // Theme
      // color: $text;    // Theme
      // text-align: center;    // Theme
      // vertical-align: middle;    // Theme
      cursor: pointer;    // Framework
      &.js-first {
          border-left: none;    // Framework
      }
      a {
        @include inline-block();    // Framework
        position: relative;    // Framework
        // @include font-family($twc-book);    // Theme
        // font-weight: normal;    // Theme
        // text-decoration: none;    // Theme
      }
      &.active, &.js-active {
        // background: $background-white;    // Theme
        filter: none;    // Framework
        a {
          // color: $text;    // Theme
        }
      }
    }
  }
  .tab-content {
    display: none;    // Framework
    &.active, &.js-active {
      display: block;    // Framework
    }
  }

  @media (max-width: $medium) {

    .tabs {
      display: block;    // Framework
      ul {
        display: block;    // Framework
      }
      li {
        display: block;    // Framework
        border: none;    // Framework
        // @include border-radius(0);    // Theme
        // border-bottom: 1px solid $lightgrey;    // Theme
        // text-align: left;    // Theme
        &.js-last {
          border-bottom: none;    // Framework
        }
        a {
          width: 100%;    // Framework
          &:after {
            // font-family: $fontawesome;    // Theme
            content: '\f107';    // Framework
            float: right;    // Framework
            @include transition(all, .5s, ease-in-out);    // Framework
          }
         }
        &.active, &.js-active {
          a {
            &:after {
              @include rotate(180deg);    // Framework
              float: right;    // Framework
            }
          }
        }
        &.js-first {
          // @include border-radius(3px 3px 0 0);    // Theme
        }
      }
    }
    .tab-content-container {
      display: none;    // Framework
    }
    .tab-content {
      @include padding(1em);    // Framework
      // background: $background-white;    // Theme
      filter: none;    // Framework
    }
  }
}
.tab-component .respTabs li
{ padding: 1em .50em; }