// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Tooltips -- Version: 1.9.0.1 - Updated: 2/6/2014
   ========================================================================== */

.tooltip {
  // position: relative;font-family:
  // color: $link;    // Theme
  // text-decoration: none;    // Theme
  a {
    position: relative;    // Framework
  }
  span.tooltip-text {
    position: absolute;    // Framework
    left: 50%;    // Framework
    width: 150px;    // Framework
    margin-left: -75px;    // Framework
    padding: .5em 1em;    // Framework
    border: 3px solid $text-white;    // Framework
    // @include border-radius(2px);    // Theme
    // @include background-gradient(#e0e7eb, $background-white);    // Theme
    // color: $text;    // Theme
    text-align: center;    // Framework
    @include opacity(0);    // Framework
    @include box-shadow(0 0 3px 0 $text);    // Framework
    @include transition(opacity, .3s, ease);    // Framework
    z-index: 999999;    // Framework
  }
  &:hover span.tooltip-text {
    @include opacity(1);    // Framework
  }
  span.tooltip-text:hover {
    @include opacity(0);    // Framework
    cursor: default;    // Framework
  }
  &.above span.tooltip-text {
    bottom: 2em;    // Framework
    &:before {
      position: absolute;    // Framework
      bottom: -11px;    // Framework
      left: 43%;    // Framework
      width: 0;    // Framework
      height: 0;    // Framework
      content: " ";    // Framework
      border-left: 10px solid transparent;    // Framework
      border-right: 10px solid transparent;    // Framework
      border-top: 10px solid $text-white;    // Framework
      z-index: 5;    // Framework
    }
    &:after {
      position: absolute;    // Framework
      display: block;    // Framework
      left: 43%;    // Framework
      bottom: -13px;    // Framework
      width: 0;    // Framework
      height: 0;    // Framework
      content: " ";    // Framework
      border-left: 10px solid transparent;    // Framework
      border-right: 10px solid transparent;    // Framework
      border-top: 10px solid #999;    // Framework
    }
  }
  &.below span.tooltip-text {
    top: 2em;    // Framework
    &:before {
      position: absolute;    // Framework
      top: -11px;    // Framework
      left: 43%;    // Framework
      width: 0;    // Framework
      height: 0;    // Framework
      content: " ";    // Framework
      border-left: 10px solid transparent;    // Framework
      border-right: 10px solid transparent;    // Framework
      border-bottom: 10px solid $text-white;    // Framework
      z-index: 5;    // Framework
    }
    &:after {
      position: absolute;    // Framework
      display: block;    // Framework
      left: 43%;    // Framework
      top: -13px;    // Framework
      width: 0;    // Framework
      height: 0;    // Framework
      content: " ";    // Framework
      border-left: 10px solid transparent;    // Framework
      border-right: 10px solid transparent;    // Framework
      border-bottom: 10px solid #999;    // Framework
    }
  }
}

/* ie8 (.ie8) */

.twc-ie8 .tooltip {
  span.tooltip-text {
    background-image: none;    // Framework
    @include opacity(0);    // Framework
  }
  &:hover span.tooltip-text {
    @include opacity(1);    // Framework
  }
}
