// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    User Location -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-customerLocation {
  color: $text-white;    // Theme
  ul li.twc-drop-nav.js-persist {
    @include border-radius(3px 3px 0 0);    // Theme
    background: #677986;    // Theme
  }
  p.twc-alert-text {
    font-weight: 700;    // Theme
  }
  ul li ul {
    width: 225px;    // Theme
    top: 28px;    // Theme
    background: #677986;    // Theme
    @include border-radius(3px 0 3px 3px);    // Theme
    li {
      color: $text-white;    // Theme
    }
  }
  button.btn {
    background: #444545;    // Theme
    &:hover {
      background: $text;    // Theme
    }
  }
}

a.twc-change {
  font-weight: 100;    // Theme
  color: #9d9d9e;    // Theme
  &:after {
    font-family: $fontawesome;    // Theme
  }
}

li.twc-drop-nav.js-persist a.twc-change:after {
  font-family: $fontawesome;    // Theme
}

.message {
  @include border-radius(0 0 3px 3px);    // Theme
  background: #c6c9cf;    // Theme
}

.twc-customerLocation .message p {
  @include font-family($arial);    // Theme
  color: $text;    // Theme
  a {
    color: $link;    // Theme
  }
}