$circle-size: 120px;
$circle-background: transparent;
$circle-color: $color-lex-sky;
$inset-size: $circle-size * .75;
$inset-color: #ffffff;
$transition-length: 1s;
$shadow: 6px 6px 10px rgba(0,0,0,0.2);
$percentage-color: #97a71d;
$percentage-font-size: 22px;
$percentage-text-width: 57px;


.circle-02 {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	.controls {
		top: $circle-size;
		position: absolute;
	}
.radial-progress {
	margin-left: auto;
	margin-right: auto;

	margin-top: 50px;
	margin-bottom: 50px;
	width:  $circle-size;
	height: $circle-size;

	background-color: $circle-background;
	border-radius: 50%;

	.circle {
		.mask, .fill, .shadow {
			width:    $circle-size;
			height:   $circle-size;
			position: absolute;
			border-radius: 50%;
		}
		// .shadow {
		// 	box-shadow: $shadow inset;
		// }
		.mask, .fill {
			-webkit-backface-visibility: hidden;
			// transition: -webkit-transform $transition-length;
			// transition: -ms-transform $transition-length;
			transition: transform $transition-length;
			border-radius: 50%;
		}
		.mask {
			clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
			.fill {
				clip: rect(0px, $circle-size/2, $circle-size, 0px);
				background-color: $circle-color;
			}
		}
	}

	.inner-circle {
		width:       $inset-size;
		height:      $inset-size;
		position:    absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top:  ($circle-size - $inset-size)/2;

		background-color: $inset-color;
		border-radius: 50%;
	}

	$i: 0;
	$increment: 180deg / 100;
	@for $i from 1 to 100 {
		&[data-progress="${i}"] {
			.circle {
				.mask.full, .fill {
					// -webkit-transform: rotate($increment * $i);
					// -ms-transform: rotate($increment * $i);
					transform: rotate($increment * $i);
				}
				.fill.fix {
					// -webkit-transform: rotate($increment * $i * 2);
					// -ms-transform: rotate($increment * $i * 2);
					transform: rotate($increment * $i * 2);
				}
			}
			// .inset .percentage .numbers {
			// 	width: $i * $percentage-text-width + $percentage-text-width;
			// }
		}
		// .loop($i + 1);
	}
	// .loop($i);
}
}
