@import 'init';
.hidden {
	display: none;
	visibility: hidden;
}
[class*='circle-0'] {
	margin-left: auto;
	margin-right: auto;
}
@import
	'circle-01',
	'circle-02b',
	'circle-03',
	'circle-04',
	'circle-05',
	'circle-06',
	'circle-07',
	'circle-08',
	'circle-09';







