// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    User Location -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.twc-location {
  padding-right: 0;
  text-align: right;
}

.twc-customerLocation {
  position: relative;
  color: $text-white;
  li {
    @include padding(.5em);
    ul {
      display: none;
    }
  }
  ul li.twc-drop-nav.js-persist {
    @include border-radius(3px 3px 0 0);
    background: #677986;
  }
  p.twc-alert-text {
    font-weight: 700;
  }
  ul li ul {
    display: none;
    position: absolute;
    width: 225px;
    top: 28px;
    background: #677986;
    @include border-radius(3px 0 3px 3px);
    @include opacity(0);
    visibility: hidden;
    z-index: 9999;
    li {
      display: block;
      color: $text-white;
    }
  }
  button.btn {
    background: #444545;
    &:hover {
      background: $text;
    }
  }
  ul li li {
    padding: 0;
  }
}

a.twc-change {
  font-weight: 100;
  color: #9d9d9e;
  &:after {
    font-family: $fontawesome;
    content: '\f078';
    margin-left: 4px;
  }
}

li.twc-drop-nav.js-persist a.twc-change:after {
  font-family: $fontawesome;
  content: '\f00d';
  padding: 0 1px;
}

.message {
  top: 4px;
  margin-top: 5px;
  padding: 10px;
  @include border-radius(0 0 3px 3px);
  background: #c6c9cf;
  z-index: 9999;
}

.twc-customerLocation .message p {
  @include font-family($arial);
  color: $text;
  line-height: 1;
  text-align: center;
  a {
    @include padding();
    color: $link;
  }
}

.oof-error-text {
  display: inline-block;
}

/* ie (.ie) */

.twc-ie .twc-customerLocation ul li ul {
  right: 0;
}

@media (max-width: 40em) {

  div.twc-mobile-custLoc input {
    margin-right: 0;
  }

}
