// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Feedback Survey -- Version: 1.9.0.2 - Updated: 12/30/2013
   ========================================================================== */

.faq-survey {
  .initiate-feedback {
    overflow: auto;
    @include inline-block();
    position: relative;
    width: 100%;
    margin: 1em 0;
    @include padding(1em);
    @include border-radius();
    border: 1px solid $lightgrey;
    background: #f0f3f2;
    fieldset {
      @include padding(.75em,0,.75em,0);
    }
  }

  .feedback-survey-yes-response,.feedback-survey-no-response {
    @extend .initiate-feedback;
    display: none;
  }

  .improve-feedback {
    display: none;
  }

  input[type="radio"] + label {
    width: auto;
  }
}

@media (max-width: $medium) {

  .faq-survey {
    [class*='twc-col3_252550-c'] {
      width: 23.75%;
    }
    [class*='twc-col3_252550-c1'] {
      margin-top: 0;
      margin-left: 2.5%;
    }
    [class*='twc-col3_252550-c2'] {
      margin-left: 0;
      width: 48.75%;
    }
  }

}

@media (max-width: $small) {

  .faq-survey {
    .initiate-feedback {
      text-align: center;
    }
    [class*='twc-col3_252550-c'], [class*='twc-col3_252550-c1'], [class*='twc-col3_252550-c2'] {
      width: 100%;
      @include margin();
    }
  }

}
