/* Fix pricing | v2 */
.pricing .cents,
.pricing .dollar-sign {
	font-size: 2.3rem;
}
.pricing .dollar-sign {
	vertical-align: super;
	font-size: 7.2rem;
}

.pricing .dollars {
	font-size: 12rem;
	font-family: "TWC Round Book", sans-serif;
}
.pricing .cents {
	font-size: 3.6rem;
}


.pricing .term {
	margin-left: -5.85em;
	text-align: left;
}
