@import 'init';

$color-cta                : #068a2a;
$color-pkg-select         : $color-lex-bright-sky;
$color-pkg-silver         : $color-ch-teal;
$color-pkg-gold           : $color-ch-yellow;
$price-block-table-layout : true;

@mixin pseudo-img($pos: absolute) {
	content: '';
	display: block;
	position: $pos;
	background-repeat: no-repeat;
}

.upsell-component {
	border: 2px solid $text-lightgrey;
	width: 700px;
	margin: 0 auto;
	background-color: #fff;

	+ .upsell-component {
		margin-top: 20px;
	}

	+ .heading {
		margin-top: 2rem;
	}
}

// Status
.upsell-component-01 {
	header {
		padding: 10px;
		border-bottom: 2px solid $color-lex-bright-sky;
		position: relative;

		@include clearfix;

		// Triangle
		$triangle-01-width: 46px;
		$triangle-01-height: 8px;

		&::before {
			@include pseudo-img;

			width: 0;
			height: 0;
			bottom: -$triangle-01-height;
			left: 22px;
			border-style: solid;
			border-width: $triangle-01-height ($triangle-01-width / 2) 0 ($triangle-01-width / 2);
			border-color: $color-lex-bright-sky transparent transparent transparent;
		}

		.column {
			float: left;

			&::first-child {
				width: 3rem;
			}
		}

		.indicator-icon {
			width: 22px;
			height: 24px;

			path {
				fill: $color-lex-bright-sky;
			}

			&.pkg-silver path {
				fill: $color-pkg-silver;
			}

			&.pkg-gold path {
				fill: $color-pkg-gold;
			}
		}

		.title {
			color: $color-lex-deep-gray;
			font-size: 1.6rem;
			font-family: $font-stack-sans-book;
			padding-left: 5px;
			position: relative;
			margin-bottom: 0;

			.package {
				display: block;
				font-family: $font-stack-sans-light;
				font-size: 2.4rem;
				text-transform: uppercase;
				color: $color-lex-bright-sky;
			}
		}
	}

	.body {
		padding-top: 15px;
		padding-left: 19px;
		padding-bottom: 15px;
		padding-right: 15px;
	}

	.package-contents-heading {
		color: $color-lex-deep-gray;
		font-size: 1.8rem;
		font-family: $font-stack-sans-book;
	}

	.package-contents {
		padding-left: 12px;

		li {
			line-height: 2;
			color: $color-lex-bright-sky;
			list-style-type: disc;
			font-size: 1.4rem;
			font-family: $font-stack-sans-light;
			list-style-position: inside;

			span {
				color: $color-lex-deep-gray;
			}

			strong {
				color: $color-lex-sky;
				font-family: $font-stack-sans-book;
			}

			em {
				font-style: normal;
				text-transform: uppercase;
				color: #000;
				font-family: $font-stack-sans-book;
			}
		}
	}

	// Change upsell theme color based on package
	&.pkg-select {
		.indicator-icon path {
			fill: $color-pkg-select;
		}

		header {
			border-color: $color-pkg-select;

			&::before {
				border-color: $color-pkg-select transparent transparent transparent;
			}
		}

		header .title .package,
		.package-contents li {
			color: $color-pkg-select;
		}
	}

	// Silver package
	&.pkg-silver {
		.indicator-icon path {
			fill: $color-pkg-silver;
		}

		header {
			border-color: $color-pkg-silver;

			&::before {
				border-color: $color-pkg-silver transparent transparent transparent;
			}
		}

		header .title .package,
		.package-contents li {
			color: $color-pkg-silver;
		}
	}

	// Silver package
	&.pkg-gold {
		.indicator-icon path {
			fill: $color-pkg-gold;
		}

		header {
			border-color: $color-pkg-gold;

			&::before {
				border-color: $color-pkg-gold transparent transparent transparent;
			}
		}

		header .title .package,
		.package-contents li {
			color: $color-pkg-gold;
		}
	}
}

// Upgrade/downgrade options
.upsell-component-02 {
	padding: 10px 15px;

	header {
		@include clearfix;
	}

	.title {
		font-size: 2.4rem;
		font-family: $font-stack-sans-light;
		color: $color-lex-deep-gray;
		float: left;
	}

	.cart-notifier {
		border: 2px solid $color-lex-bright-sky;
		min-height: 3.6rem;
		padding-top: 6px;
		padding-left: 18px;
		padding-bottom: 5px;
		padding-right: 30px;
		font-size: 1.4rem;
		font-family: $font-stack-sans-book;
		background-color: $color-lex-light-sky;
		position: relative;
		line-height: 1;
		float: right;

		&.upsell-pkg-select {
			border-color: $color-pkg-select;

			&::before {
				border-color: transparent transparent transparent $color-pkg-select;
			}

			.indicator-icon g.outer {
				fill: $color-pkg-select;
			}
		}

		&.upsell-pkg-silver {
			border-color: $color-pkg-silver;

			&::before {
				border-color: transparent transparent transparent $color-pkg-silver;
			}

			.indicator-icon g.outer {
				fill: $color-pkg-silver;
			}
		}

		&.upsell-pkg-gold {
			border-color: $color-pkg-gold;

			&::before {
				border-color: transparent transparent transparent $color-pkg-gold;
			}

			.indicator-icon g.outer {
				fill: $color-pkg-gold;
			}
		}

		.inner {}

		$triangle-02-width: 10px;
		$triangle-02-height: 33px;

		&::before {
			@include pseudo-img;

			width: 0;
			height: 0;
			left: 0;
			top: 0;
			border-style: solid;
			border-width: ($triangle-02-height / 2) 0 ($triangle-02-height / 2) $triangle-02-width;
			border-color: transparent transparent transparent $color-lex-bright-sky;
		}

		.indicator-icon {
			display: block;
			position: absolute;
			background-repeat: no-repeat;
			width: 0;
			height: 0;
			top: -4px;
			width: 27px;
			height: 25px;
			z-index: 1;
			min-height: 1px;
			right: -6px;

			svg {
				max-width: 100%;
			}

			g.outer {
				fill: $color-lex-bright-sky;
			}

			g.inner {
				fill: #fff;
			}

			&.pkg-silver g.outer {
				fill: $color-pkg-silver;
			}

			&.pkg-gold g.outer {
				fill: $color-pkg-gold;
			}
		}

		.package-name {
			font-size: 1.8rem;
			color: $color-lex-sky;
			text-transform: uppercase;
			font-family: $font-stack-sans-book;
			font-weight: normal;
		}
	}

	.upsells {
		clear: both;
		margin-top: 12px;
	}

	.upsell-option {
		border: 2px solid $color-lex-bright-sky;
		border-radius: 5px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 10px;
		padding-right: 0;
		font-family: $font-stack-sans-light;
		color: $color-lex-deep-gray;
		margin-top: 1rem;

		@include clearfix;

		.inner {
			display: table;
			width: 100%;
		}

		.col {
			display: table-cell;
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			border-right: 1px solid black;
			padding-top: 6px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
				border: none;
			}
		}

		.col-pricing,
		.col-cta {
			width: 25%;
		}

		.col-cta {
			padding-top: 0;
			position: relative;
			vertical-align: middle;
			text-align: center;
		}

		.action {
			font-size: 1.6rem;
			font-family: $font-stack-sans-light;
			margin-bottom: 0;
		}

		.package {
			font-size: 2.2rem;
			font-family: $font-stack-sans-light;
			margin-bottom: 0;
		}

		.price-lockup {
			color: $color-lex-bright-sky;
			line-height: 1;

			@if $price-block-table-layout == true {
				display: table;
			}
		}

		.currency-symbol,
		.dollars,
		.terms {
			vertical-align: top;
			display: inline-block;

			@if $price-block-table-layout == true {
				display: table-cell;
			}
		}

		.currency-symbol {
			font-size: 2.7rem;
			line-height: 1.7;
		}

		.dollars {
			font-size: 5rem;
			font-family: $font-stack-sans-book;
		}

		.terms {
			text-transform: uppercase;
			font-size: 1.7rem;
			line-height: 1;
			margin-top: 1rem;

			@if $price-block-table-layout == true {
				vertical-align: middle;
			}
		}

		.row-channels {
			p, a {
				font-family: $font-stack-sans-book;
				font-weight: normal;
				vertical-align: middle;
			}

			p {
				font-size: 1.8rem;
				color: $color-lex-bright-sky;
				padding-right: 10px;
				margin-right: 10px;
				border-right: 1px solid #7a7a7a;
				display: inline-block;
				margin-bottom: 0;
			}

			a {
				font-size: 1.6rem;
				text-decoration: underline;
			}
		}

		.channel-description {
			font-size: 1.6rem;
			font-family: $font-stack-sans-light;
			line-height: 1.6;
			margin-bottom: .5rem;
		}
	}

	.upsell-pkg-select {
		border-color: $color-pkg-select;

		.price-lockup {
			color: $color-pkg-select;
		}

		.row-channels {
			p {
				color: $color-pkg-select;
			}
		}
	}

	.upsell-pkg-silver {
		border-color: $color-pkg-silver;

		.price-lockup {
			color: $color-pkg-silver;
		}

		.row-channels {
			p {
				color: $color-pkg-silver;
			}
		}
	}

	.upsell-pkg-gold {
		border-color: $color-pkg-gold;

		.price-lockup {
			color: $color-pkg-gold;
		}

		.row-channels {
			p {
				color: $color-pkg-gold;
			}
		}
	}

	footer {
		margin-top: 1rem;
	}
}
