@import 'init';

$h1SuperSize: 4.6rem;
$h1Size: 3.6rem;
$h2Size: 3rem;
$h3Size: 2.7rem;
$h4Size: 2.4rem;
$h5Size: 2rem;
$h6Size: 1.8rem;
$headingSizes: $h1Size $h2Size $h3Size $h4Size $h5Size $h6Size;
$scalingFactorMedium: 0.75;
$scalingFactorSmall: 0.65;

@mixin heading-size($size, $scale: 'medium') {

	@if $scale == 'medium' {
		$scalingFactor: $scalingFactorMedium;
	}
	@else {
		$scalingFactor: $scalingFactorSmall;
	}

	font-size: nth($headingSizes, $size) * ($i * 0.02 + $scalingFactor);
}

.heading {
	font-family: $font-stack-sans-light;
	font-weight: normal;
}

// Global Headings
@for $i from 1 through 6 {
	h#{$i}, .h#{$i} {
		@extend .heading;

		font-size: nth($headingSizes, $i);

		@include respond-to('medium') {
			@include heading-size($i);
		}


		@include respond-to('small') {
			@include heading-size($i, 'small');
		}
	}
}

// Links
a {
	color: $color-lex-sky;

	&:hover {
		color: $color-lex-bright-sky;
	}
}

// Helper for large titles
.page-heading,
.super-h1 {
	font-size: $h1SuperSize;

	@include respond-to('medium') {
		font-size: $h1SuperSize * $scalingFactorMedium;
	}


	@include respond-to('small') {
		font-size: $h1SuperSize * $scalingFactorSmall;
	}
}

// Helper for paragraph text
.medium-body-text {
	font-family: $font-stack-sans-light;
	font-size: 1.6rem;
}

/*
Bug from https://podio.com/tasks/50318154
This rule was removed from residential.css, line 1671
It may either be restored there, or added here
*/
.h1, .h2, .h3, .h4, .h5, .h6 {
	display: inline-block;
}

/* Mobile/tablet versions */
