$menu-item-height: 40px;
$color-bright-blue: #02a9e0;
$color-light-blue: #f2fbfd;
@mixin submenu-top-level-item {
	text-transform: none;
	color: $skyDark-darkish;
	font-family: $twc-medium;
	font-size: 1.6rem;
	width: 100%;
}
@mixin right-chevron() {
	content: '\f054';
	font-family: $fontawesome;
	font-weight: normal;
	margin-left: 4px;
	font-size: 80%;
}
body > .header {
	@import 'header-top',
	'header-nav';
}