$menu-item-height: 40px;
$color-bright-blue: #02a9e0;
$color-light-blue: #f2fbfd;
body > .header {
	// Contains logo and newHeaderIcons
	.twc-header {
		// Overwrite .twc-backgroundGradient-2
		background-color: transparent;
		background-image: none;

		// Logo
		.twc-logo {
			// Temporary until we can use new image
			background-color: $skyDark-darkish;
			-webkit-mask-image: url(http://www.timewarnercable.com/content/dam/residential/images/global/ge-header/twc-logo.png);
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: 7px 4px;
			img {
				height: 0;
				padding-bottom: 47px;
				padding-left: 180px;
			}

		}
	}
	// Primary nav (Explore, All Plans, etc)
	.new-mega-menu {
		.twc-new-navigation {
			background-color: $color-light-blue;
			background-image: none;
			height: $menu-item-height;
			> .twc-container {
				&,
				& .twc-new-nav {
					height: 100%;
				}
			}

			.twc-new-nav {
				// Top level
				> ul {
					> li {
						border-color: #7eabd0;
					}
				}
				ul {
					li {
						label {
							color: $skyDark-darkish;
							font-family: $twc-book;
							font-size: 1.2rem;
							line-height: $menu-item-height;
						}
						.mobile-nav {
							> label {
								top: auto;
								padding: 0;
							}
						}
						// Active top-level menu item
						.mega-menu-item {
							&.js-active {
								background-color: $color-bright-blue;
								background-image: none;

								label {
									color: #fff;
								}
							}
						}
					}

				}

				// temporarily hide nav icons
				figure {
					display: none;
				}
			}
			// submenus
			.twc-submenu {
				.labelList {
					.label {
						text-transform: none;
						color: $skyDark-darkish;
						font-family: $twc-medium;
						// Active
						&.js-active {
							background-color: $color-bright-blue;
							color: #fff;
						}
					}
					// sub-submenu
					ul {
						background-color: $color-light-blue;
						color: $skyDark-darkish;
					}
				}

			}
		} // end .twc-new-navigation

	}
}