// Tophat tab bar ('Your Home', 'Your Business' etc)
.header_v2 {
	.twc-header {
		.twc-top {
			background-color: $skyDark-darker;
			border-color: #a1a1a1;

			// Topmost navigation list
			.twc-top-nav {
				li {
					a,
					a:link,
					a:active {
						color: #fff;
					}

					// Active tab
					.twc-active {
						background-color: #fff;
						border-color: #a1a1a1;
						box-shadow: none;
						border-bottom-color: #fff;
						border-bottom-width: 1px;
						border-bottom-style: solid;
						margin-bottom: -1px;

						a,
						a:link,
						a:active {
							color: $text-color;
							font-weight: bold;
						}
					}
				}
			}
		}
	}

	// Header Icons: Shop, Pay Bill, Email etc
	.newHeaderIcons {
		.list.horizontal {
			ul > li a {
				color: $skyDark-darkish;
				img {
					height: auto;
					min-width: 100%
				}
			}
		}
	}
}

// Logo and Header Icons
.twc-header {
	// Overwrite .twc-backgroundGradient-2
	background-color: transparent;
	background-image: none;
}