#site-header {
  border-bottom: 7px solid #02a9e0;
}
#site-header #top-hat .twc-top {
  background-color: #00315c;
  border-color: #a1a1a1;
}
#site-header #top-hat .twc-top-nav li a {
  color: #fff;
}
#site-header #top-hat .twc-top-nav li .twc-active {
  background-color: #fff;
  border-color: #a1a1a1;
  box-shadow: none;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: -1px;
}
#site-header #top-hat .twc-top-nav li .twc-active a {
  color: #333;
  font-weight: bold;
}
#site-header #top-hat .twc-header > .twc-container {
  display: none;
}
#site-header #logo-row .twc-header {
  background-color: transparent;
  background-image: none;
}
#site-header #logo-row .newHeaderIcons a {
  color: #00549f;
}
#site-header #logo-row .newHeaderIcons a img {
  height: auto;
  min-width: 100%;
}
#site-header .twc-new-navigation {
  background-color: #f2fbfd;
  background-image: none;
  height: 40px;
}
#site-header .twc-new-navigation .twc-new-nav {
  height: 100%;
}
#site-header .twc-new-navigation .twc-new-nav > ul > li {
  border-color: #7eabd0;
}
#site-header .twc-new-navigation .twc-new-nav > ul > li:hover {
  background-color: #02a9e0;
  background-image: none;
  box-shadow: none;
}
#site-header .twc-new-navigation .twc-new-nav > ul > li:hover .desktopLink a,
#site-header .twc-new-navigation .twc-new-nav > ul > li:hover label {
  color: #fff;
}
#site-header .twc-new-navigation .twc-new-nav > ul > li:hover form label {
  color: #000;
}
#site-header .twc-new-navigation .twc-new-nav > ul > li:nth-of-type(4) .twc-submenu li a {
  color: #00549f;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: none;
}
#site-header .twc-new-navigation .twc-new-nav > ul label,
#site-header .twc-new-navigation .twc-new-nav > ul .desktopLink a {
  color: #00549f;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 40px;
}
#site-header .twc-new-navigation .twc-new-nav > ul .desktopLink a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
}
#site-header .twc-new-navigation .twc-new-nav > ul .mobile-nav > label {
  font-size: 12px;
  font-size: 1.2rem;
  top: auto;
  padding: 0;
}
#site-header .twc-new-navigation .twc-new-nav > ul .mega-menu-item {
  padding: 0;
  height: 40px;
  border-color: #7eabd0;
}
#site-header .twc-new-navigation .twc-new-nav > ul .mega-menu-item.js-active {
  background-color: #02a9e0;
  background-image: none;
}
#site-header .twc-new-navigation .twc-new-nav > ul .mega-menu-item.js-active label {
  color: #fff;
}
#site-header .twc-new-navigation .twc-new-nav > ul .mega-menu-item.js-active form label {
  color: #000;
}
#site-header .twc-new-navigation .twc-new-nav .expand-left .twc-submenu {
  top: 7px;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu {
  box-shadow: 0 5px 18px -4px rgba(0, 0, 0, 0.15);
  top: 47px;
  border-top: 1px solid white;
  background-color: #fff;
  background-image: none;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a {
  text-transform: none;
  width: 100%;
  color: #333;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a::after {
  content: '';
  margin: 0;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label {
  text-transform: none;
  width: 100%;
  color: #333;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label.js-active {
  background-color: #02a9e0;
  color: #fff;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul {
  background-color: transparent;
  color: #00549f;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li::before {
  content: none !important;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a {
  color: #00549f;
  padding-right: 0;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: none;
}
#site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a::after {
  content: '';
  margin: 0;
}
#site-header .twc-new-navigation figure {
  display: none;
}

.twc-footer {
  background-color: #fff;
  background-image: none;
}
.twc-footer > .footer {
  border-color: #c2c2c2;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.twc-footer #footer-menu {
  border-color: #c2c2c2;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding-top: 7px;
  padding-bottom: 0;
}
.twc-footer #footer-menu h3.label {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 0;
  border-width: 0;
  border-style: none;
  text-align: left;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: none;
  background-color: transparent;
  min-height: auto;
  padding: 0;
  font-weight: normal;
  color: #333;
}
.twc-footer #footer-menu h3.label + ul {
  display: block;
  position: static;
  width: auto;
  padding-left: 0;
}
.twc-footer #footer-menu h3.label + ul li {
  border-width: 0;
  border-style: none;
  padding: 0;
  background-image: none;
  background-color: transparent;
}
.twc-footer #footer-menu h3.label + ul li a:after {
  float: none;
  content: '';
  position: initial;
  right: auto;
}
.twc-footer #footer-menu p {
  color: #333;
}
.twc-footer #footer-menu a {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #00549f;
  font-weight: normal;
}
.twc-footer #footer-menu a:hover {
  color: #02a9e0;
}
.twc-footer #footer-menu [class*='twc-col5'] {
  margin-bottom: 22px;
}
.twc-footer #footer-menu a,
.twc-footer #footer-menu .parsys_column a {
  color: #00549f;
}
.twc-footer #footer-links {
  margin-top: 34px;
}
.twc-footer #footer-links ul {
  line-height: 1;
}
.twc-footer #footer-links .horizontal {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0px;
}
.twc-footer #footer-legal {
  padding-top: 0;
  margin-top: 19px;
}
.twc-footer #footer-links,
.twc-footer #footer-legal {
  text-align: center;
}
.twc-footer #footer-links p,
.twc-footer #footer-links a,
.twc-footer #footer-legal p,
.twc-footer #footer-legal a {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #333;
}
.twc-footer #footer-links li:after,
.twc-footer #footer-legal li:after {
  color: #e0e0e0;
}
.twc-footer .horizontal.pipes li.js-last:after {
  padding: 0;
}
.twc-footer ul.mobile .smartLink.horizontal-center a {
  padding: 0;
}

@media (max-width: 40em) {
  #site-header .twc-new-navigation .twc-new-nav .expand-left .twc-submenu {
    top: 47px;
  }
}

@media (max-width: 48em) {
  #site-header .twc-new-navigation .twc-new-nav .twc-submenu {
    padding: 0;
    border-top-width: 0;
  }
  #site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a {
    color: #00549f;
    font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
  }
  #site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a::after {
    content: '\f054';
    font-family: "FontAwesome";
    font-weight: normal;
    margin-left: 4px;
    font-size: 80%;
  }
  #site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label {
    color: #00549f;
    font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
  }
  #site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul {
    background-color: #f2fbfd;
  }
  #site-header .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a::after {
    content: '\f054';
    font-family: "FontAwesome";
    font-weight: normal;
    margin-left: 4px;
    font-size: 80%;
  }
  .twc-footer #footer-menu {
    padding-bottom: 20px;
  }
  .twc-footer #footer-menu [class*='twc-col5'] {
    margin-bottom: 2em;
  }
  .twc-footer #footer-links .horizontal {
    margin-top: 11px;
  }
  .twc-footer #footer-legal {
    margin-top: 15px;
  }
}
