body > .header .twc-header {
  background-color: transparent;
  background-image: none;
}
body > .header .twc-header .twc-logo {
  background-color: #00549f;
  -webkit-mask-image: url(http://www.timewarnercable.com/content/dam/residential/images/global/ge-header/twc-logo.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 7px 4px;
}
body > .header .twc-header .twc-logo img {
  height: 0;
  padding-bottom: 47px;
  padding-left: 180px;
}
body > .header .new-mega-menu .twc-new-navigation {
  background-color: #f2fbfd;
  background-image: none;
  height: 40px;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li {
  border-color: #7eabd0;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li label {
  color: #00549f;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 40px;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mobile-nav > label {
  top: auto;
  padding: 0;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.js-active {
  background-color: #02a9e0;
  background-image: none;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.js-active label {
  color: #fff;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.js-active form label {
  color: #000;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav figure {
  display: none;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
  top: 41px;
  border-top: 1px solid white;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul:first-child li a {
  text-transform: none;
  color: #00549f;
  font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  width: 100%;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul:first-child li a::after {
  content: '\f054';
  font-family: "FontAwesome";
  font-weight: normal;
  margin-left: 4px;
  font-size: 80%;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label {
  text-transform: none;
  color: #00549f;
  font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  width: 100%;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label.js-active {
  background-color: #02a9e0;
  color: #fff;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul {
  background-color: #f2fbfd;
  color: #00549f;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li::before {
  content: none !important;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a,
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:link,
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:visited {
  color: #00549f;
  padding-right: 0;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  text-transform: none;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a::after,
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:link::after,
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:visited::after {
  content: '';
  text-decoration: none;
}
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a::after,
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:link::after,
body > .header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:visited::after {
  content: '\f054';
  font-family: "FontAwesome";
  font-weight: normal;
  margin-left: 4px;
  font-size: 80%;
}
body > .header .new-mega-menu .twc-new-navigation > .twc-container, body > .header .new-mega-menu .twc-new-navigation > .twc-container .twc-new-nav {
  height: 100%;
}

.twc-footer {
  background-color: #fff;
  background-image: none;
  /* Overwrite styles that are introduced by js that will eventually be removed */
}
.twc-footer h3.label {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 0;
  border-width: 0;
  border-style: none;
  text-align: left;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: none;
  background-color: transparent;
  min-height: auto;
  padding: 0;
  font-weight: normal;
  color: #333;
}
.twc-footer h3.label + ul {
  display: block;
  position: static;
  width: auto;
  padding-left: 0;
}
.twc-footer h3.label + ul li {
  border-width: 0;
  border-style: none;
  padding: 0;
  background-image: none;
  background-color: transparent;
}
.twc-footer h3.label + ul li a:after {
  float: none;
  content: '';
  position: initial;
  right: auto;
}
.twc-footer p {
  color: #333;
}
.twc-footer a,
.twc-footer a:link,
.twc-footer a:visited {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  color: #00549f;
  font-weight: normal;
}
.twc-footer a:hover {
  color: #02a9e0;
}
.twc-footer > .footer {
  border-color: #c2c2c2;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.twc-footer > .footer div .footer > .section:nth-of-type(1) {
  border-color: #c2c2c2;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding-top: 7px;
  padding-bottom: 20px;
}
.twc-footer > .footer div .footer > .section:nth-of-type(1) [class*='twc-col3_333333-c'] {
  margin-bottom: 2em;
}
.twc-footer > .footer div .footer > .section:nth-of-type(3) .horizontal {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 11px;
}
.twc-footer > .footer div .footer > .section:nth-of-type(3),
.twc-footer > .footer div .footer > .section:nth-of-type(4) {
  text-align: center;
}
.twc-footer > .footer div .footer > .section:nth-of-type(3) p,
.twc-footer > .footer div .footer > .section:nth-of-type(3) a,
.twc-footer > .footer div .footer > .section:nth-of-type(3) a:link,
.twc-footer > .footer div .footer > .section:nth-of-type(3) a:visited,
.twc-footer > .footer div .footer > .section:nth-of-type(4) p,
.twc-footer > .footer div .footer > .section:nth-of-type(4) a,
.twc-footer > .footer div .footer > .section:nth-of-type(4) a:link,
.twc-footer > .footer div .footer > .section:nth-of-type(4) a:visited {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22.4px;
  font-size: 1.4rem;
  color: #333;
}
.twc-footer > .footer div .footer > .section:nth-of-type(3) li:after,
.twc-footer > .footer div .footer > .section:nth-of-type(4) li:after {
  color: #e0e0e0;
}
.twc-footer > .footer .twc-footer-copyright-msg {
  margin-top: 15px;
  padding-top: 0;
}
.twc-footer > .footer .twc-footer-copyright-msg br {
  display: none;
}
.twc-footer .horizontal.pipes li.js-last:after {
  padding: 0;
}
.twc-footer ul.mobile .smartLink.horizontal-center a {
  padding: 0;
}

@media only screen and (min-width: 40em) {
  .twc-footer > .footer div .footer > .section:nth-of-type(1) {
    padding-bottom: 0;
  }
  .twc-footer > .footer div .footer > .section:nth-of-type(1) [class*='twc-col3_333333-c'] {
    margin-bottom: 22px;
  }
  .twc-footer > .footer div .footer > .section:nth-of-type(3) .horizontal {
    margin-top: 0px;
  }
  .twc-footer > .footer .twc-footer-copyright-msg {
    margin-top: 19px;
  }
}
