#site-header .header_v2 .twc-header .twc-top {
  background-color: #00315c;
  border-color: #a1a1a1;
}
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li a,
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li a:link,
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li a:active {
  color: #fff;
}
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li .twc-active {
  background-color: #fff;
  border-color: #a1a1a1;
  box-shadow: none;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: -1px;
}
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li .twc-active a,
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li .twc-active a:link,
#site-header .header_v2 .twc-header .twc-top .twc-top-nav li .twc-active a:active {
  color: #333;
  font-weight: bold;
}
#site-header .header_v2 .newHeaderIcons .list.horizontal ul > li a {
  color: #00549f;
}
#site-header .twc-header {
  background-color: transparent;
  background-image: none;
}
#site-header .new-mega-menu .twc-new-navigation {
  background-color: #f2fbfd;
  background-image: none;
  height: 40px;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li {
  border-color: #7eabd0;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li:hover {
  background-color: #02a9e0;
  background-image: none;
  box-shadow: none;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li:hover .desktopLink a {
  color: #fff;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li label,
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .desktopLink a {
  color: #00549f;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 40px;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .desktopLink a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mobile-nav > label {
  font-size: 12px;
  font-size: 1.2rem;
  top: auto;
  padding: 0;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item {
  padding: 0;
  height: 40px;
  border-color: #7eabd0;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.expand-left .twc-submenu {
  top: auto;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.js-active {
  background-color: #02a9e0;
  background-image: none;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.js-active label {
  color: #fff;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li .mega-menu-item.js-active form label {
  color: #000;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav figure {
  display: none;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
  top: 40px;
  border-top: 1px solid white;
  background-color: #fff;
  background-image: none;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a {
  text-transform: none;
  color: #00549f;
  font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  width: 100%;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a::after {
  content: '\f054';
  font-family: "FontAwesome";
  font-weight: normal;
  margin-left: 4px;
  font-size: 80%;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label {
  text-transform: none;
  color: #00549f;
  font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  width: 100%;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label.js-active {
  background-color: #02a9e0;
  color: #fff;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul {
  background-color: #f2fbfd;
  color: #00549f;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li::before {
  content: none !important;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a,
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:link,
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:visited {
  color: #00549f;
  padding-right: 0;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: none;
}
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a::after,
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:link::after,
#site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:visited::after {
  content: '\f054';
  font-family: "FontAwesome";
  font-weight: normal;
  margin-left: 4px;
  font-size: 80%;
}
#site-header .new-mega-menu .twc-new-navigation > .twc-container, #site-header .new-mega-menu .twc-new-navigation > .twc-container .twc-new-nav {
  height: 100%;
}

.twc-footer {
  background-color: #fff;
  background-image: none;
}
.twc-footer h3.label {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 0;
  border-width: 0;
  border-style: none;
  text-align: left;
  font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: none;
  background-color: transparent;
  min-height: auto;
  padding: 0;
  font-weight: normal;
  color: #333;
}
.twc-footer h3.label + ul {
  display: block;
  position: static;
  width: auto;
  padding-left: 0;
}
.twc-footer h3.label + ul li {
  border-width: 0;
  border-style: none;
  padding: 0;
  background-image: none;
  background-color: transparent;
}
.twc-footer h3.label + ul li a:after {
  float: none;
  content: '';
  position: initial;
  right: auto;
}
.twc-footer p {
  color: #333;
}
.twc-footer a,
.twc-footer a:link,
.twc-footer a:visited {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #00549f;
  font-weight: normal;
}
.twc-footer a:hover {
  color: #02a9e0;
}
.twc-footer > .footer {
  border-color: #c2c2c2;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.twc-footer #footer-menu {
  border-color: #c2c2c2;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding-top: 7px;
  padding-bottom: 20px;
}
.twc-footer #footer-menu [class*='twc-col5'] {
  margin-bottom: 2em;
}
.twc-footer #footer-links {
  margin-top: 34px;
}
.twc-footer #footer-links ul {
  line-height: 1;
}
.twc-footer #footer-links .horizontal {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 11px;
}
.twc-footer #footer-legal {
  margin-top: 15px;
  padding-top: 0;
}
.twc-footer #footer-links,
.twc-footer #footer-legal {
  text-align: center;
}
.twc-footer #footer-links p,
.twc-footer #footer-links a,
.twc-footer #footer-links a:link,
.twc-footer #footer-links a:visited,
.twc-footer #footer-legal p,
.twc-footer #footer-legal a,
.twc-footer #footer-legal a:link,
.twc-footer #footer-legal a:visited {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #333;
}
.twc-footer #footer-links li:after,
.twc-footer #footer-legal li:after {
  color: #e0e0e0;
}
.twc-footer .horizontal.pipes li.js-last:after {
  padding: 0;
}
.twc-footer ul.mobile .smartLink.horizontal-center a {
  padding: 0;
}

@media only screen and (min-width: 48em) {
  #site-header .new-mega-menu .twc-new-navigation {
    background-color: #fff;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li:nth-of-type(4) {
    position: relative;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li:nth-of-type(4) .twc-submenu {
    position: absolute;
    right: 0;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav > ul > li:nth-of-type(4) .twc-submenu li a {
    color: #00549f;
    font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
    text-transform: none;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a {
    color: #333;
    font-size: 1.8rem;
    font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList ul li a::after {
    content: '';
    margin: 0;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label {
    color: #333;
    font-size: 1.8rem;
    font-family: "TWC Round Book", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul {
    background-color: transparent;
  }
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a::after,
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:link::after,
  #site-header .new-mega-menu .twc-new-navigation .twc-new-nav .twc-submenu .labelList .label ~ ul li a:visited::after {
    content: '';
    margin: 0;
  }
  .twc-footer #footer-menu {
    padding-bottom: 0;
  }
  .twc-footer #footer-menu [class*='twc-col5'] {
    margin-bottom: 22px;
  }
  .twc-footer #footer-links .horizontal {
    margin-top: 0px;
  }
  .twc-footer #footer-legal {
    margin-top: 19px;
  }
}
