.twc-content .twc-container-full {
  display: block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2em 0;
  overflow: visible;
}

.packageSelect .package {
  position: relative;
}

.packageSelect .package.double .packageHead, .packageSelect .package.single .packageHead, .packageSelect .package.triple .packageHead {
  background-color: #00549f;
}

.packageSelect .package.triple.js-compare, .packageSelect .package.triple.js-selected {
  border: 5px solid #00549f;
}

.packageSelect .package .packageHead > fieldset {
  float: none;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
}

.packageSelect .package .packageHead > fieldset input ~ label.compare-label {
  font-size: 16px;
  font-size: 1.6rem;
}

.packageSelect .package .packageHead .packageTitle {
  float: none;
  text-align: center;
  font-family: 'TWC Round Medium';
  font-size: 14px;
  font-size: 1.4rem;
  max-width: 100%;
  padding: 0;
}

.packageSelect .package .packageHead .packageTitle .h5 {
  margin-bottom: 0;
}

.packageSelect .package .packageBody {
  margin-top: 1em;
}

.packageSelect .package .pricing {
  padding-bottom: 15px;
  padding-bottom: 1.5rem;
  padding-top: 8px;
  padding-top: .8rem;
  margin: 0;
  line-height: 1;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.packageSelect .package .pricing::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 65%, white 100%);
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 5px;
  width: 100%;
}

.packageSelect .package .pricing .currency-symbol {
  font-size: 66%;
  vertical-align: top;
  line-height: 1.25;
}

.packageSelect .package .pricing:not(.specialPricing) .column {
  float: left;
  position: relative;
  min-height: 1px;
  width: 50%;
}

.packageSelect .package .pricing .before {
  margin-left: 25%;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  color: #00549f;
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.packageSelect .package .pricing .base-offer {
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
}

.packageSelect .package .pricing .term {
  display: inline-block;
  font-size: 9px;
  line-height: 1;
  margin-left: 0;
  text-align: left;
  vertical-align: top;
}

.packageSelect .package .pricing .term.under {
  display: block;
  margin-left: 0;
  text-align: center;
}

.packageSelect .package .pricing .term .discountTerm, .packageSelect .package .pricing .term .preTerm {
  float: left;
  margin-top: 0.25em;
}

.packageSelect .package .pricing .term .postTerm {
  float: left;
  margin-left: 3px;
  margin-top: -6px;
}

.packageSelect .package .pricing .term .discountTerm {
  margin-top: -6px;
}

.packageSelect .package .pricing .super,
.packageSelect .package .pricing .term {
  margin-left: 4px;
}

.packageSelect .package hr.spacer {
  margin: 1.5em 0 0;
}

.packageSelect .package .quickCheckoutAccordion hr {
  margin: 1em 0;
}

.packageSelect .package .specialOffer {
  background-image: none;
}

.packageSelect [class*='twc-col3_333333'] {
  margin-bottom: 0;
}

.packageSelect .box {
  background: #f2f9ff;
  border: 1px solid #9a9c9e;
  padding: 0;
}

.specialOffer .pricing {
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 0%, #eff7ff 25%, #eff7ff 75%, #ffffff 100%);
}

.specialOffer .h2,
.specialOffer .price {
  font-weight: bold;
  color: #00549f;
  margin-bottom: 0;
  position: relative;
  vertical-align: middle;
}

.specialOffer .h2 p,
.specialOffer .price p {
  margin-bottom: 0;
}

.specialOffer .specialPricing {
  position: relative;
  min-height: 90px;
}

.specialOffer .specialPricing::after {
  content: '\f067';
  font-family: fontawesome;
  font-size: 14px;
  font-size: 1.4rem;
  position: absolute;
  -webkit-transform: translateX(-100%) translateY(-50%);
      -ms-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
  top: 50%;
}

.specialOffer .specialPricing .h2:nth-of-type(2):after {
  display: none;
}

.specialOffer .previousPricing {
  color: #333;
  clear: both;
  text-align: right;
}

.specialOffer .previousPricing .strikethrough {
  display: inline-block;
  position: relative;
}

.specialOffer .previousPricing .strikethrough::after {
  content: '';
  width: 100%;
  background-color: red;
  position: absolute;
  height: 2px;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-10deg);
      -ms-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.specialOffer .h2:nth-of-type(1) .previousPricing {
  text-align: left;
}

.specialOffer .icon-only {
  color: #1666a7;
}

.specialOffer .h2 .left {
  width: 50%;
  text-align: right;
}

.specialOffer .h2 .right {
  width: 50%;
  text-align: left;
}

.specialOffer .h4 {
  font-weight: bold;
  margin-bottom: 0;
}

.specialOffer .term {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  min-width: 85px;
}

.w30 {
  margin-right: 5%;
}

.w30:last-of-type {
  margin-right: 0;
}

.bordered-right {
  padding-left: 0;
}

.tooltip {
  border-bottom: 1px dotted #3376b2;
  pointer-events: initial;
}

.tooltip-text {
  display: none;
  pointer-events: none;
}

a:hover > .tooltip-text {
  display: block;
}

.discountTerm {
  clear: both;
}

.detailsExpansion {
  position: relative;
  width: 100%;
}

.detailsContent {
  padding: 2em 1em 1em;
}

.quickCheckoutAccordion {
  text-align: center;
  padding: 1em 0;
}

.quickCheckoutContent {
  text-align: left;
  display: none;
  font-size: 12px;
  font-size: 1.2rem;
}

.quickCheckoutContent .cta {
  font-size: 13px;
  font-size: 1.3rem;
}

.quickCheckoutContent input {
  vertical-align: top;
}

.quickCheckoutContent label, .quickCheckoutContent .priceTally td {
  font-size: 11.5px;
  font-size: 1.15rem;
}

.quickCheckoutContent .productSelect {
  text-align: left;
}

.quickCheckoutContent .productSelect table {
  width: 100%;
}

.quickCheckoutContent .productSelect table tr {
  width: 100%;
}

.quickCheckoutContent .productSelect table td:first-of-type {
  width: 5%;
}

.quickCheckoutContent .productSelect a {
  display: inline-block;
  max-width: none;
}

.quickCheckoutContent .priceTally table {
  width: 100%;
  border-collapse: collapse;
}

.quickCheckoutContent .priceTally .totals td {
  font-size: 1.6rem;
  font-size: 16px;
}

.quickCheckoutContent .pricing {
  text-align: right;
  white-space: nowrap;
}

.quickCheckoutContent .disclaimer-text.text-center {
  text-align: center;
}

.quickCheckoutAccordion.js-open .quickCheckoutBtn {
  display: none;
}

.closeAccordion {
  cursor: pointer;
  margin-top: 0.5em;
}

.totals {
  background: #b7e3ff;
}

.box p {
  padding: 0 0.5em;
}

table tr td:first-of-type {
  padding-left: 0.5em;
}

table tr td:last-of-type {
  padding-right: 0.5em;
}

.totals td {
  padding: 0.5em 0;
}

.totals td.text-right {
  padding-right: 0.5em;
}

.quickCheckoutContent
.priceTally tr:nth-of-type(2) td {
  padding-top: 1em;
}

.charterTitle {
  width: 100%;
  background: #00549f;
  padding: 0.5em;
  color: #fff;
}

.packageInfo .cta {
  text-align: center;
  width: 100%;
}

figure img {
  margin: 0 auto 0.25em;
}

@media (max-width: 66.2em) {

  .twc-container {
    padding: 0;
  }
}

/*# sourceMappingURL=page.css.map */
