/* ==========================================================================
    Main Navigation -- Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */

.twc-backgroundGradient-5 {
  background-color: #333534;
  background-image: linear-gradient(to bottom, #d0d6dd, #d0d6dd, #ffffff, #ffffff);
}

nav.twc-mobile-navigation {
  display: none;
}

.twc-mobile-navigation {
  display: none;
  li {
    width: 50%;
    &.js-last {
      float: right;
      border-left: none;
    }
  }
  nav {
    &.twc-custLoc-dropdown {
      span.twc-icon-after:before {
        content: "\f05B";
        font-family: FontAwesome;
        margin-left: 0.5em;
      }
      label {
        text-align: left;
        padding-left: 2em;
        width: 100%;
      }
    }
    &.twc-search-dropdown {
      span.twc-icon-after:before {
        content: "\f002";
        font-family: FontAwesome;
        margin-left: 0.5em;
      }
      label {
        text-align: right;
        padding-right: 2em;
        width: 100%;
      }
    }
  }
}

.twc-customerLocation ul li.twc-drop-nav.persist {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #677986;
}

li.twc-drop-nav.persist a.twc-change:after {
  font-family: "FontAwesome";
  content: '\f00d';
  padding: 0 1px;
}

.twc-menu-dropdown .current-nav-list {
  position: relative;
}

.hiddenCheckboxLabel.closeDropdown.twc-icon-only.icon-remove-sign {
  &.bc-zip > img {
    margin-top: -29px;
  }
  &.bc-search > img {
    margin-top: 9px;
  }
}

.twc-new-navigation {
  height: 3em;
  border-top: 1px solid #cacbce;
  background-color: #65676c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ced1d5));
  background-image: -webkit-linear-gradient(top, #ffffff, #ced1d5);
  background-image: -moz-linear-gradient(top, #ffffff, #ced1d5);
  background-image: -ms-linear-gradient(top, #ffffff, #ced1d5);
  background-image: -o-linear-gradient(top, #ffffff, #ced1d5);
  background-image: linear-gradient(top, #ffffff, #ced1d5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#65676c', EndColorStr='#303136')";
  zoom: 1;
  .mobile-only {
    display: none;
  }
  .twc-new-nav {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    figure img {
      display: none;
    }
    label ~ a {
      text-transform: uppercase;
    }
    > li {
      float: left;
      width: 16.666%;
      text-align: center;
      padding: .9em 0 0.85em;
      border-right: 1px solid #cacbce;
      &:hover {
        border-right: 1px solid #343b46;
        background-color: #343b46;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#343b46), to(#343b46));
        background-image: -webkit-linear-gradient(top, #343b46, #343b46);
        background-image: -moz-linear-gradient(top, #343b46, #343b46);
        background-image: -ms-linear-gradient(top, #343b46, #343b46);
        background-image: -o-linear-gradient(top, #343b46, #343b46);
        background-image: linear-gradient(top, #343b46, #343b46);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#343b46', EndColorStr='#343b46')";
        zoom: 1;
        box-shadow: 0 4px 4px 0px #000;
        > ul .twc-new-mega-section {
          display: block;
        }
      }
      &:nth-of-type(6), &:last-of-type {
        border-right: none;
      }
      &[class*="nav-menu-"] > a {
        font-family: "Arial";
        font-weight: normal;
        font-size: 1.3rem;
      }
      &.nav-menu-3 .twc-new-mega-section {
        .parsys1 {
          border-left: none;
        }
        .labelList li.js-last {
          border-bottom: none;
        }
      }
      > a {
        color: #000;
      }
      &:hover > a {
        color: #fff;
      }
      > label {
        color: #000;
      }
    }
    .nav-menu-3 .twc-new-mega-section {
      padding: 2em 1.5em 2em;
    }
    .twc-new-mega-section {
      margin: 0 auto;
      padding: 2em 3em 3em;
      position: absolute;
      z-index: 9998;
      text-align: left;
      top: 3em;
      background-color: #fbfbfb;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(whitesmoke));
      background-image: -webkit-linear-gradient(top, #fbfbfb, whitesmoke);
      background-image: -moz-linear-gradient(top, #fbfbfb, whitesmoke);
      background-image: -ms-linear-gradient(top, #fbfbfb, whitesmoke);
      background-image: -o-linear-gradient(top, #fbfbfb, whitesmoke);
      background-image: linear-gradient(top, #fbfbfb, whitesmoke);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfbfb', EndColorStr='whitesmoke')";
      zoom: 1;
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
      display: none;
      .parsys1 {
        border-left: 1px solid #e1e1e1;
        margin-left: 0;
        padding: 0 1em;
      }
      .labelList {
        .label {
          font-size: 1.6rem;
          text-transform: uppercase;
          margin-bottom: 1.25em;
        }
        ul > li {
          margin-top: 1em;
          &:first-of-type {
            margin-top: 0;
          }
          &:hover > a {
            text-decoration: underline;
          }
        }
      }
      .rounded-input-wrap {
        label {
          margin-bottom: 0.5em;
          &.visually-hidden {
            visibility: hidden;
          }
        }
        &:nth-of-type(2) {
          margin-bottom: 1em;
          margin-top: 1em;
        }
      }
    }
  }
  form#login-form {
    label {
      font-family: 'TWC Round Book',"Helvetica Neue",Helvetica,sans-serif,Arial,Sans-Serif;
    }
    input.rounded#username {
      margin-top: 0.5em;
    }
  }
  li {
    a, span {
      border: medium none;
      color: #3376B2;
      font-family: 'TWC Round Book',"Helvetica Neue",Helvetica,sans-serif,Arial,Sans-Serif;
      font-weight: 400;
      line-height: 1;
      padding: 0 0 1em 0;
      font-size: 14px;
      font-size: 1.4rem;
    }
    a:hover {
      text-decoration: underline;
    }
    span {
      color: #333;
    }
  }
  [class*="nav-menu-"] > a:hover {
    text-decoration: none;
  }
  .twc-container {
    padding: 0;
  }
  [class*="width-"] {
    min-width: 25%;
  }
  .width-twentyFive {
    width: 25%;
    max-width: 245px;
  }
  .width-fifty {
    width: 50%;
    max-width: 490px;
  }
  .width-sixty {
    width: 60%;
    max-width: 588px;
  }
  .width-seventyFive {
    width: 75%;
    max-width: 735px;
  }
  .width-ninetyFive {
    width: 95%;
    max-width: 931px;
  }
  .width-oneHundred {
    width: 100%;
    max-width: 980px;
  }
  .nav-menu-1 .expand-left {
    left: 0;
  }
  .nav-menu-2 .expand-left {
    right: 16.666%;
  }
  .nav-menu-3 .expand-right {
    left: 33.332%;
  }
  .nav-menu-4 .expand-left {
    right: 33.332%;
  }
  .nav-menu-5 .expand-left {
    right: 16.666%;
  }
  .nav-menu-6 .expand-left, .nav-menu-7 .expand-left {
    right: 0;
  }
}

/*.twc-new-navigation [class*="nav-menu-"] > label:hover {
  text-decoration: none;
}*/

.cta.omega {
  &.geoloc-btn.twc-icon-after.icon-angle-right > a, &.twc-icon-after.icon-angle-right > a {
    padding: 0.63em;
  }
}

@media (max-width: 48em) {
  .twc-mobile-navigation {
    display: block;
  }
  .twc-mobile-city {
    display: none;
  }
  nav.twc-mobile-navigation {
    display: block;
    height: 40px;
    li {
      float: left;
      &.twc-custLoc {
        width: 50%;
      }
      a {
        width: 100%;
        padding: 0;
        font-size: 15px;
        font-size: 1.5rem;
        font-family: 'TWC Round Medium',Arial,Sans-Serif;
        font-weight: 100;
        color: #333333;
      }
    }
  }
  .twc-new-navigation .twc-new-nav > li > label {
    color: #6F8C9E;
  }
  nav {
    &.twc-custLoc-dropdown input[type=radio], &.twc-search-dropdown input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    &.twc-custLoc-dropdown ul, &.twc-search-dropdown ul {
      display: none;
      height: 100%;
    }
    &.twc-custLoc-dropdown label, &.twc-search-dropdown label {
      display: block;
      font-size: 15px;
      font-size: 1.5rem;
      font-family: 'TWC Round Medium',Arial,Sans-Serif;
      font-weight: 100;
      line-height: 2.65;
      color: white;
      text-align: center;
    }
  }
  input[type=radio]:checked ~ ul {
    display: block;
    position: absolute;
    left: 0;
    height: auto;
    width: 75%;
    max-width: 980px;
    z-index: 9998;
  }
  nav {
    &.twc-custLoc-dropdown input[type=radio]:checked ~ ul, &.twc-search-dropdown input[type=radio]:checked ~ ul {
      width: 100%;
    }
  }
  input[type=radio]:checked ~ ul > li.js-first {
    border-bottom: 1px solid #f0f0f0;
  }
  nav.twc-mobile-navigation nav {
    &.twc-custLoc-dropdown li, &.twc-search-dropdown li {
      position: relative;
      width: 100%;
      padding: 2% 4%;
      color: #333333;
      text-align: left;
    }
  }
  .twc-mobile-navigation .twc-custLoc-dropdown {
    .message {
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      padding: 4%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
      background: #c6c9cf;
      -webkit-box-shadow: 0 2px 2px #333333;
      -moz-box-shadow: 0 2px 2px #333333;
      box-shadow: 0 2px 2px #333333;
      z-index: 9998;
      p {
        text-align: center;
      }
    }
    p.twc-alert-text {
      font-weight: 700;
    }
    ul li p a {
      display: inline;
      line-height: inherit;
    }
  }
  .twc-new-navigation {
    display: block;
    height: 3.4375em;
    .mobile-only {
      display: none;
    }
    .nav-menu-1 [class*="width-"] {
      left: 0;
    }
    .nav-menu-2 [class*="width-"], .nav-menu-3 [class*="width-"], .nav-menu-4 [class*="width-"] {
      left: 20%;
      right: 20%;
    }
    .nav-menu-3 .twc-new-mega-section {
      padding: 0.5em 1em;
    }
    .nav-menu-5 {
      [class*="width-"], .twc-new-mega-section {
        right: 0;
      }
    }
    [class*="nav-menu-"] [class*="width-"] {
      width: 60%;
    }
    form#login-form {
      margin-top: 1em;
    }
    ul.twc-new-nav {
      .twc-new-mega-section, .nav-menu-3 .twc-new-mega-section {
        padding: 0 1em;
      }
      > li {
        float: left;
        width: 20%;
        text-align: center;
        margin-top: 0;
        padding: 0;
        &:hover {
          background-color: inherit;
          box-shadow: none;
          margin-top: 0;
          border-right: 1px solid #cacbce;
          padding: 0;
          background: none;
          > ul .twc-new-mega-section {
            display: none;
          }
        }
        &:last-of-type:hover {
          border-right: none;
        }
        &:nth-of-type(6) {
          border-right: 1px solid #cacbce;
        }
        border-right: 1px solid #cacbce;
        > label {
          font-size: .75em;
        }
        input[type="checkbox"] {
          ~ label {
            cursor: pointer;
            margin: -1.8em 0 0;
            padding: 3em 0 0;
            width: 100%;
          }
          &:checked ~ {
            label {
              background-color: #343b46;
              background-image: -webkit-gradient(linear, left top, left bottom, from(#343b46), to(#343b46));
              background-image: -webkit-linear-gradient(top, #343b46, #343b46);
              background-image: -moz-linear-gradient(top, #343b46, #343b46);
              background-image: -ms-linear-gradient(top, #343b46, #343b46);
              background-image: -o-linear-gradient(top, #343b46, #343b46);
              background-image: linear-gradient(top, #343b46, #343b46);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#343b46', EndColorStr='#343b46')";
              zoom: 1;
              z-index: 0;
              position: relative;
              padding-bottom: 0.4em;
            }
            ul {
              > li .twc-new-mega-section {
                display: block;
              }
              .label ~ ul {
                display: none;
              }
            }
          }
        }
      }
      label {
        text-transform: uppercase;
      }
      .twc-new-mega-section {
        top: 3.4375em;
        .parsys1 {
          border-left: none;
          padding: 0;
        }
        [class*="parsys_column"] {
          margin-bottom: 1em;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        [class*="twc-col"] {
          width: 100%;
          margin-left: 0;
        }
        .labelList {
          .label {
            text-transform: uppercase;
            color: #333;
            font-family: "TWC Round Book";
            font-size: 1.4rem;
            font-weight: 100;
            display: block;
            width: 100%;
            padding: 1em 0;
            ~ ul {
              background: #DEE7F0;
              > li {
                padding-left: 1.5em;
                &.js-last {
                  padding-bottom: 1.5em;
                }
              }
            }
          }
          ul {
            padding-left: 0;
            > li {
              margin-top: 1.5em;
            }
          }
          > ul:first-child > li {
            border-bottom: 1px solid #e2e3e6;
            margin-top: 0;
            a {
              color: #333;
              font-family: "TWC Round Book";
              font-size: 1.4rem;
              font-weight: 100;
              text-transform: uppercase;
              display: block;
              width: 100%;
              padding: 1em 0;
              &:after {
                font-family: "FontAwesome";
                content: '\f054';
                float: right;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        .parbase.section > .labelList .label {
          margin-top: 0;
          margin-bottom: 0;
          padding: 1em;
          border-bottom: 1px solid #e2e3e6;
          cursor: pointer;
          &:after {
            font-family: "FontAwesome";
            content: '\f078';
            float: right;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
          }
          &.js-active {
            background: #6C9BC7;
            color: #fff;
            border-bottom: none;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
            &:after {
              -webkit-transform: rotate(-180deg);
              -moz-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              -o-transform: rotate(-180deg);
              transform: rotate(-180deg);
            }
          }
          ~ ul li {
            padding-left: 1em;
            &:before {
              content: "\f054";
              float: left;
              font-family: FontAwesome;
              margin-right: 0.5em;
              color: #3376B2;
              margin-top: .125em;
              font-size: 1.4rem;
            }
            &:first-of-type {
              padding-top: 1em;
            }
          }
        }
      }
      .mobile-nav ~ ul {
        &.plans-packages .twc-new-mega-section {
          padding: 0;
        }
        .twc-new-mega-section [class*="parsys_column"] {
          margin-bottom: 0;
        }
      }
      > li > input[type="checkbox"] {
        display: none;
      }
      figure {
        pointer-events: none;
        margin: 0.4em auto -0.75em;
        img {
          pointer-events: none;
          display: block;
          height: 22px;
          z-index: 999;
          position: relative;
          margin: 0 auto;
        }
      }
    }
    li {
      a, span {
        font-family: Arial,'TWC Round Book',"Helvetica Neue",Helvetica,sans-serif,Arial,Sans-Serif;
      }
    }
  }
  .hiddenCheckboxLabel.closeDropdown.twc-icon-only.icon-remove-sign.bc-zip > img {
    padding: 0 0 0 0.5em;
  }
}

@media (max-width: 40em) {
  .twc-new-navigation {
    .mobile-only {
      display: block;
    }
    ul.twc-new-nav > li > label {
      text-transform: none;
    }
  }
  .hiddenCheckboxLabel.closeDropdown.twc-icon-only.icon-remove-sign.bc-zip > img {
    padding: 0 0.5em 0 0;
  }
  .twc-new-navigation ul.twc-new-nav .twc-new-mega-section {
    width: 100%;
    left: 0;
    right: 0;
    max-width: 100%;
    .parbase.section > .labelList .label {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      border-bottom: 1px solid #e2e3e6;
      &.js-active {
        border-bottom: 1px solid #e2e3e6;
      }
      ~ ul > li {
        padding-left: 1em;
      }
    }
  }
}