/* Begin new Tophat*/


.newHead .clickIcon > a {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.newHead li .clickIcon > a figure {
  height: 24px;
  margin: 0 auto;
}

.newHead li .clickIcon > a img {
  opacity: .75;
  margin-bottom: .5em;
  max-height: 100%;
  max-width: 100%;
}

.newHead li:hover .clickIcon > a img {
  opacity: 1;
}

.newHead #header {
  position: relative;
}

header.newHead > .twc-container {
  overflow: visible;
  display: table;
  padding: 1em 0;
}

.newHead .newHeaderIcons {
  float: right;
  width: 70%;
}

.newHead .newHeaderIcons ul.horizontal {
  text-align: right;
  float: right;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.newHead .newHeaderIcons ul.horizontal > li {
    float: left;
    width: 25%;
}

.newHead .newHeaderIcons ul.horizontal > li .offPage span,
.newHead .newHeaderIcons ul.horizontal > li span {
    color: #b2b4be;
    float: left;
    text-align: center;
    width: 100%;
}

.newHead .newHeaderIcons ul.horizontal > li:hover .offPage span,
.newHead .newHeaderIcons ul.horizontal > li:hover span {
  color: #fff;
}

.newHead .newHeaderIcons ul.horizontal > li .noZip span,
.newHead #header .cust-loc-dropdown .noZip {
  color: #bd3300;
}

.newHead .newHeaderIcons ul.horizontal > li:hover .noZip span,
.newHead #header .cust-loc-dropdown .noZip:hover {
  color: #f04b23;
}

.newHead #header .cust-loc-dropdown p.localize-head {
  color: #3376B2;
  font-size: 16px;
  font-size: 1.6rem;

}

.newHead .newHeaderIcons ul.horizontal > li span:before {
  display: block;
  font-size: 2.2rem;
  margin: 0 auto 0.25em;
}

.newHead #header input.hiddenCheckbox {
  display: none;
}

.newHead .newHeaderIcons ul.horizontal > li label {
  display: block;
  font-size: inherit;
  height: 70%;
  width: 100%;
  cursor: pointer;
}

.newHead #header .cust-loc-dropdown,
.newHead #header .search-dropdown {
  position: absolute;
  width: 100%;
  top: 5.25em;
  right: 0;
  background: #e7eef8;
  z-index: 9999;
  padding: 2%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.newHead #header .hiddenCheckboxDropdown {
  display: none;
}

.newHead #header .cust-loc-dropdown:before,
.newHead #header .search-dropdown:before {
  position: absolute;
  content: "";
  bottom: 100%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e1ebf5;
}
.newHead #header  .cust-loc-dropdown:before {
  right: 31%;
}
.newHead #header  .search-dropdown:before {
  right: 9%;
}

.newHead #header .closeDropdown {
  color: #333333;
  position: absolute;
  right: 0;
  top: 0.25em;
  font-size: 2rem;
  z-index: 9999;
  cursor: pointer;
}

.newHead #header .closeDropdown:hover {
  color: #777;
}

.newHead #header .twc-search-input-wrap {
  width: 100%;
}
.newHead #header .twc-search input {
  width: 78%;
  margin: 0 0 1em;
}
.newHead #header .search-dropdown .twc-search input {
  margin: 0
}
.newHead #header .cta.geoloc-btn,
.newHead #header .cta.search-btn {
  width: auto;
}

.newHead #header .searchResults {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid;
  margin: 0 -1% -1%;
  padding: 1%;
  width: 102%;
}

.landscapeLabel {
  display: none;
}

html.touch [class*="nav-menu-"] > a {
  display: none;
}

html.touch [class*="nav-menu-"] > .landscapeLabel {
  display: block;
  font-family: "TWC Round Book";
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 1em;
}

@media (max-width: 48em) {

  html.touch [class*="nav-menu-"] > .landscapeLabel {
    display: none;
  }
  nav.twc-mobile-navigation {
    display: none;
  }

  .newHead .twc-logo {
    width: 40%;
  }
  .newHead .twc-logo img {
    max-width: 225px;
    margin: .25em .5em;
  }
  .newHead .newHeaderIcons {
    width: 60%;
  }
  .newHead .newHeaderIcons ul.horizontal {
    width: 80%;
  }
  .newHead #header .cust-loc-dropdown:before {
    right: 43%;
  }
  .newHead #header .search-dropdown:before {
    right: 12%;
  }
  .newHead #header .twc-search input {
    width: 78%;
  }
  .newHead #header .twc-module {
    max-width: 100%;
  }

}


@media (max-width: 40em) {
  .newHead .twc-header .twc-container {
    padding: 2.5% 0;
    position: relative;
  }
  .newHead .twc-logo {
    width: 70%;
  }
  .newHead .twc-logo img {
    max-width: 200px;
    width: 100%;
  }
  .newHead .newHeaderIcons {
    width: 30%;
    min-height: 2.75em;
  }
  .newHead .newHeaderIcons ul.horizontal {
    width: 100%;
    margin: .25em 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
  }
  .newHead.tophat .desktop-hidden.tablet-hidden {
    display: block !important;
  }
  .newHead .newHeaderIcons ul.horizontal > li {
    width: 33%;
  }
  .newHead .newHeaderIcons ul.horizontal > li span:before {
    font-size: 2rem;
  }
  .newHead #header .cust-loc-dropdown,
  .newHead #header .search-dropdown {
    width: 100%;
    top: 3.75em;
  }
  .newHead #header .cust-loc-dropdown:before {
    right: 14%;
  }
  .newHead #header .search-dropdown:before {
    right: 3.5%;
  }
  .newHead #header .twc-search input {
    width: 75%;
  }
}
/* End new Tophat*/