.countdown
	.container
		h2.title Countdown to the US Open:
		.clock#clock
			.counter
				.count.days 21
				.label Days
			.counter
				.count.hours 24
				.label Hours
			.counter
				.count.minutes 15
				.label Minutes
			.seconds 23
