@import 'init';
@import 'carousel';

// Wraps everything, including hidden spacer
$sticky-menu-wrap: '#sticky-subnav-wrapper';
$sticky-carousel-menu-wrap: '#sticky-carousel-subnav-wrapper';

// Contains just elements related to menu
$sticky-menu-container: '#sticky-subnav';

// Inner div
$sticky-menu-inner: '.parsys';

// Contains actualy menu (formerly UL)
$sticky-menu: '.twc-container';

// Menu Items (formerly LI)
$sticky-menu-item: '.cta';
$sticky-el: '.stickyElement';

// States
$sticky-offscreen: '.js-sticky-past';
$sticky-active: '.js-sticky';
$sticky-closed: '.js-closed';

// Hidden spacer element, to prevent content jumpeing
$sticky-spacer: '#sticky-spacer';
$sticky-scroll-item: '.stickyScrollItem';
$btn-close: '.closeSticky';
$container-width: 980px;
$hover-transition-duration: 200ms;

.twc-content {
	background-image: none;
	background: #fff;
}

// Menu wrapper wrapper
#{$sticky-menu-wrap} {
	// max-width: $container-width;
	// margin: 0 auto;
}

// Menu wrapper
#{$sticky-menu-container} {
	padding: 1rem 0;
	overflow: hidden;
	transition: opacity 0.5s;
	display: table;
	margin: 0 auto;
	border-bottom: 1px solid $color-lex-deep-sky;
	width: 100%;

	// max-width: 50%;

	// Activated/stuck sticky menu
	&#{$sticky-active} {
		visibility: visible;
		opacity: 1;
		left: 0;
		right: 0;
		position: fixed;
		height: auto;
		top: 0;
		z-index: 9999;
		width: 100%;

		// max-width: $container-width;
		display: block;
		background-color: rgba(255, 255, 255, 0.85);

		// max-width: 100%;

		// li#{$sticky-scroll-item} a svg {
		// 	display: inline-block;
		// 	display: none;
		// }

	}

	> #{$sticky-menu-inner} {
		max-width: 980px;
		display: table;
		margin: 0 auto;
	}

	// Menu (formerly UL)
	#{$sticky-menu} {
		// width: 100%;
		text-align: center;
		padding: 1em 0;
		position: relative;
		display: table-row;
		max-width: initial;
	}

	// Menu items (formerly LI)
	#{$sticky-menu-item} {
		display: table-cell;
		padding: 0 12px;

		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;

			a {
				margin-right: 0;
			}
		}

		a {
			// box-shadow: 1px 1px 2px 0 #888888;
			display: inline-block;
			width: 100%;

			// max-width: 105px;
			height: auto;

			// 10px 26px @ 1.8rem
			padding: .556em 1.445em;
			margin-right: 1%;

			// border: 2px solid $color-steel-dark-lightish;
			// background: rgba(255, 255, 255, 0.8);
			border-radius: 7px;
			text-align: center;
			transition: all $hover-transition-duration ease-out;
			color: $color-lex-sky;
			font-family: $font-stack-sans-light;
			text-transform: uppercase;
			font-size: 1.8rem;
			position: relative;
			border: 1px solid $color-lex-sky;
			background-color: #fff;

			// &::after {
			// 	opacity: 0;
			// 	transition: opacity $hover-transition-duration ease-out;
			// }

			// svg {
			// 	display: none;
			// 	fill: $text-color;
			// 	max-width: 50%;
			// 	transition: fill 300ms linear;
			// }

			&:hover {
				color: #fff;
				background-color: $color-lex-bright-sky;
				border-color: $color-lex-bright-sky;

				// &::after {
				// 	content: '';
				// 	background-color: $color-lex-bright-sky;
				// 	height: 5px;
				// 	position: absolute;
				// 	bottom: 0px;
				// 	left: 0;
				// 	right: 0;
				// 	border-radius: 3px;
				// 	opacity: 1;
				// }

				// svg {
				// 	fill: #4578af;
				// }

			}
		}

		&.active a {
			// border: 2px solid #4578af;
			// box-shadow: 1px 1px 2px 0 #3376b2;
			// color: #4578af;

			// svg {
			// 	fill: #4578af;
			// 	display: none;
			// }

		}

		&:last-of-type a {
			margin-right: 0;
		}
	}

	&#{$sticky-closed} {
		display: none;
	}

	~ #{$sticky-spacer} {
		display: none !important;
	}
}

@media (max-width: 40em) {
	#{$sticky-menu-container} {
		#{$sticky-menu} {}

		#{$sticky-menu-item} {
			padding: 0 2px;

			a {
				font-size: 1.4rem;
				padding: 0.556em .2em;
			}
		}
	}

	#{$btn-close} {
		// top: 0;
		// right: 0;

	}
}

#{$btn-close} span:after {
	padding-left: 0.5em;
}

// Carousel
#{$sticky-carousel-menu-wrap} {
	#{$sticky-menu-container} {
		display: block;

		> #{$sticky-menu-inner} {
			display: block;
			max-width: $container-width - 200px;
		}
	}

	#{$sticky-menu} {
		display: block;
	}

	#{$sticky-menu-item} {
		display: inherit;
	}

	// Buttons
	[class*='btn-'] {
		position: absolute;

		@include center(vertical);
	}

	.btn-prev {
		left: -100px;

		&::before {
			font-awesome: angle-left;
			font-size: 3.6rem;
		}
	}

	.btn-next {
		right: -100px;

		&::before {
			font-awesome: angle-right;
			font-size: 3.6rem;
		}
	}
}
