// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Accessibility -- Version: 1.9.0.1 - Updated: 1/1/14 #{timestamp()}
   ========================================================================== */

// This class does not have a component class requirement

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  @include margin(-1px);
  overflow: hidden;
  @include padding();
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      @include margin();
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}
