// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Colors & Gradients -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */

.color-block {
  padding: 4em 0;
  color: #fff;
}

  .color-block.small { padding: 1em 0; }

  .color-block.text { color: #333;}

.whiteBackground {
  background: #fff;
}

.twc-backgroundGradient-1 {
  @include background-gradient(#191a1b, #161719);
}

.twc-backgroundGradient-2 {
  @include background-gradient(#333534, #1a1b1f);
}

.twc-backgroundGradient-3 {
  @include background-gradient(#4c4d51, #2f2f33);
}

.twc-backgroundGradient-4 {
  @include background-gradient(#eeeeef, #dddfe2);
}


.twc-backgroundGradient-5, .twc-content {
  background-image: #e9eaee;
  background-image: -moz-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9eaee), color-stop(20%, #f2f4f6), color-stop(80%, #f2f4f6), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: -o-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: -ms-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: linear-gradient(to bottom, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eaee', endColorstr='#fdfdfd',GradientType=0 )";
}

.twc-backgroundGradient-6 {
  @include background-gradient(#d8d8da, $background-white);
  background-image: rgb(211, 211, 212);
  background-image: -moz-linear-gradient(top, rgba(211, 211, 212, 1) 0%, rgba(231, 231, 232, 1) 3%, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(211, 211, 212, 1)), color-stop(3%, rgba(231, 231, 232, 1)), color-stop(16%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background-image: -webkit-linear-gradient(top, rgba(211, 211, 212, 1) 0%, rgba(231, 231, 232, 1) 3%, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(211, 211, 212, 1) 0%, rgba(231, 231, 232, 1) 3%, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(top, rgba(211, 211, 212, 1) 0%, rgba(231, 231, 232, 1) 3%, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(211, 211, 212, 1) 0%, rgba(231, 231, 232, 1) 3%, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d4', endColorstr='#ffffff',GradientType=0 )";
}

.twc-backgroundGradient-7 {
  @include background-gradient(#f8fafc, #dddfe2);
}

.twc-mainBackground-EBF {
  @include background-gradient(#2b2d32, #f7f7f7);
}

.twc-mainStageBackground-EBF { background: #eee; }

.twc-mainNavBackground-EBF {
  @include background-gradient(#404040, #000);
}

.twc-cartHeader-EBF {
  @include background-gradient(#f8fafc, #e0ebf5);
}

.twc-progressionBarArrow-EBF {
  @include background-gradient(#5d92c0, #2c608f);
}

.twc-selectProductBar-EBF {
  @include background-gradient(#f6f6f6, #e5e5e6);
}

.twc-productBox-EBF {
  @include background-gradient(#2b2d32, #f7f8f7);
}

/* ==========================
  Primary Color Palette
   ========================== */

.paletteBox { text-align: center; }

.paletteBox div > div > div {
    height: 300px;
}

.palette {
  overflow: auto;
  text-align: center;
}

.palette .twc-row:nth-of-type(-n+2) .light { color: #fff; }

.outline { border: 1px solid #333; }

/* ==========================
  Steel Dark
   ========================== */

.steelDark-1 { background: #191a1b; }

.steelDark-2 { background: #2d2e30; }

.steelDark-3 { background: #3c3e41; }

.steelDark-4 { background: #4d4f53; }

.steelDark-5 { background: #747679; }

.steelDark-6 { background: #98999b; }

.steelDark-7 { background: #d4d5d6; }

.steelDark-8 { background: #e6e6e7; }

.steelDark-9 { background: #f6f6f6; }

/* ==========================
  Steel Sky
   ========================== */

.steelSky-1 { background: #0a1c2b; }

.steelSky-2 { background: #12314c; }

.steelSky-3 { background: #184266; }

.steelSky-4 { background: #205381; }

.steelSky { background: #4f799e; }

.steelSky-6 { background: #7b9cb9; }

.steelSky-7 { background: #c8d6e3; }

.steelSky-8 { background: #dfe7ee; }

.steelSky-9 { background: #f3f6f9; }

/* ==========================
  Sky Dark
   ========================== */

.skyDark-1 { background: #001c34; }

.skyDark-2 { background: #00315c; }

.skyDark-3 { background: #00427c; }

.skyDark-4 { background: #00549f; }

.skyDark-5, .skyDark { background: #387ab4; }

.skyDark-6 { background: #6b9cc7; }

.skyDark-7 { background: #c2d6e8; }

.skyDark-8, .skyDark-lighter { background: #dbe7f1; }

.skyDark-9 { background: #f2f6fa; }

/* ==========================
  Rich Black
   ========================== */

.richBlack-3 {
    background: #fff;
    border: 1px solid #333;
    color: #333;
}

.richBlack-4 { background: #000; }

.richBlack-5 { background: #383838; }

.richBlack-6 { background: #6b6b6b; }

.richBlack-7 { background: #c2c2c2; }

.richBlack-8 { background: #f2f2f2; }

.richBlack-9 { background: #f2f6fa; }

.plumDark-1 { background: #1e0a23; }

.plumDark-2 { background: #35123d; }

.plumDark-3 { background: #471852; }

.plumDark-4 { background: #5b1f69; }

.plumDark-5 { background: #7f508a; }

.plumDark-6 { background: #a07da8; }

/* ==========================
  typography
   ========================== */

.typography-1 { background: #010101; }

  .text-black { color: #010101; }

.typography-2 { background: #174061; }

  .text-darkblue { color: #174061; }

.typography-3 { background: #222e36; }

  .text-blueBlack { color: #222e36;}

.typography-4 { background: #3376b2; }

  .text-link { color: #3376b2; }

.typography-5 { background: #333; }

  .text { color: #333; }

.typography-6 { background: #666; }

  .text-grey { color: #666; }

/* ==========================
  backgrounds
   ========================== */

.background-1 { background: #161d22; }

.background-2 { background: #1e262c; }

.background-3 { background: #424e57; }

.background-4 { background: #445f74; }

.background-5 { background: #5d84a3; }

.background-6 { background: #8e96a0; }

.background-7 { background: #c6c9cf; }

.background-8 { background: #d2d5da; }

.background-9 { background: #f2f4f6; }

/* ==========================
    Component Gradients
   ========================== */

.grad-steel-blue {
  @include background-gradient($color-steel-blue-start, $color-steel-blue-end);
}

.grad-deep-blue {
  @include background-gradient($color-deep-blue-start, $color-deep-blue-end);
}

.grad-steel-grey {
  @include background-gradient($color-steel-grey-start, $color-steel-grey-end);
}

.grad-deep-grey {
  @include background-gradient($color-deep-grey-start, $color-deep-grey-end);
}


/* ==========================
  Background Gradients
   ========================== */

[class*='palettBox backgroundGradient-'] {
  height: 300px;
  text-transform: uppercase;
}

.paletteBox p {
    margin: 20px 0;
    text-transform: uppercase;
}

p.upper {
  position: relative;
  top: 20%;
  border-top: 1px dashed #c2c2c2;
}

p.lower {
  position: relative;
  top: 46%;
  border-bottom: 1px dashed #c2c2c2;
}

.gradient { filter: none; }

/* ie9 (.ie9) */

.twc-ie9 [class*='gradient'] {
  filter: none;
}
