// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    List Accordion -- Version: 1.9.0.4 - Updated: 12/31/2013
   ========================================================================== */
.listAccordion {
    .listAccordionItem {
      .cta {
        &.nostyle {
          padding: .675em 0;
          border-radius: 0;
          text-align: left;
          a {
            color: #3376b2;
            &:after {
              font-family: 'FontAwesome', sans-serif;
              content: "\f107";
              padding-left: .5em;
            }
            &.active {
              &:after {
                content: "\f106";
              }
            }
          }
          &.empty {
            a {
              color: #333333;
              &:after {
                content: none;
              }
              .active {
                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
      .listAccordionItem-title {
        cursor: pointer;
        @include inline-block();
        @include padding(.75em, 0);
        a {
          color: $link;
          &:after {
            font-family: $fontawesome;
            content: "\f107";
            padding-left: .5em;
          }
        }
        &.active a:after, &.js-active a:after {
          content: "\f106";
        }
        &.empty a {
            color: $text;
            &:after {
                content: none;
            }
        }
      }
    }
    .details {
      display: none;
      margin-top: .5em;
    }
}

.listAccordionItem .details {
  display: none;
}
