// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Side Accordion -- Version: 1.9.0.0 - Updated: 3/11/2014
   ========================================================================== */

.sideAccordion {

  .js-expandable > ul {
    > li.js-notexpandable {
      &:after {
        float: right;
        font-family: $fontawesome;
        content: '\f105';
        color: inherit;
        @include bp(medium) {
          content: '\f107';
        }
      }
    }
  }

}