// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Sticky -- Version: 1.9.0.1 - Updated: 12/31/2013
   ========================================================================== */

.sticky {
  background: #3a647b;
  text-align: center;
  .twc-container {
    padding: .675em 0;
  }
  .twc-icon {
    padding: 0 .5em;
  }
  &.js-sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    max-width: 980px;
    background: #e1e1e1;
    padding: 1em;
    @include box-shadow(0 1px 2px 0 $grey);
    & ~ .stickySpacing {
      display: block;
    }
  }
  .stickySpacing {
    display: none;
    margin-bottom: 1em;
  }
}
