// Pull modules for individually compiled css files
@import "../modules/allModules";

$th-packages-start: #6f93af;
$th-packages-end: #59768d;
$th-channels-start: lighten($th-packages-start,72%);
$th-channels-end: lighten($th-packages-end,72%);
$td-channels: #fff;
$tr-even: #f2f2f2;

/* ==========================================================================
    Channel Lineup  -- Version: 1.0.0 - Updated: 3/14/2014
   ========================================================================== */

.clu {
  .mobile-only {
    display: none;
  }
  .box {
    .location {
      margin: 0 2em;
      padding: 0.5em;
    }
    .table-input {
      border-right: 1px solid #A4A8AB;
      padding-right: 2em;
      .table-filter-input {
        width: 70%;
        margin-left: 2em;
      }
    }
    .channel-search {
      .table-input {
        margin-top: 2em;
      }
    }
  }
  .pdf-before {
    &> img {
      height: 1em;
      width: 1em;
    }
  }
  table {
    @include bp(small) {
      @include font-size(10)
    }
    th, td {
      border: 1px solid #b4d6f3;
    }
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    thead {
      display: table;
      width: 100%;
      background-color: #4997dc;
      tr {
        display: table-row;
        width: 100%;
      }
      th {
        width: 18.5%;
        padding: 1em;
        color: $white;
        font-weight: 100;
        &.channels {
          width: 26%;
        }
        @include bp(small) {
          @include padding(.5em,0);
        }
      }
    }
    &.packages-7 {
      thead {
        th {
          width: 10.5%;
          @include bp(small) {
            width: 11.1%;
          }
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    &.packages-6 {
      thead {
        th {
          width: 12.33%;
          @include bp(small) {
            width: 13%;
          }
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    &.packages-5 {
      thead {
        th {
          width: 14.8%;
          @include bp(small) {
            width: 15.6%
          }
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    &.packages-3 {
      thead {
        th {
          width: 24.6%;
          @include bp(small) {
            width: 26%
          }
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    tbody {
      display: block;
      width: 100%;
      max-height: 500px;
      @include bp(medium) {
        max-height: 350px;
      }
      overflow: hidden;
      tr {
        display: table;
        width: 100%;
        background: $white;
        & > :nth-child(odd) {
          background-color: #e7f2fb;
        }
      }
      th {
        padding: 1em;
        &.channels {
          width: 26%;
          text-align: left;
          background-color: #e7f2fb;
          img {
            vertical-align: bottom;
            max-width: 5em;
            max-height: 2em;
          }
        }
        .channel-name {
          color: $text;
        }
        .table-content {
          color: #4596df;
        }
        @include bp(small) {
           @include padding(.5em);
           .channel-logo { display: none; }
        }
      }
      td {
        width: 18.5%;
        padding: .5em;
        color: #4596df;
        font-size: 1.5em;
        .channel-name {
          color: $text;
        }
        .table-content {
          color: #4596df;
        }
        @include bp(small) {
           @include padding(.5em);
           .channel-logo { display: none; }
        }
      }
    }
    &.packages-7 {
      tbody {
        td {
          width: 10.5%;
          @include bp(small) {
            width: 11.1%;
          }
        }
        th {
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    &.packages-6 {
      tbody {
        td {
          width: 12.33%;
          @include bp(small) {
            width: 13%;
          }
        }
        th {
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    &.packages-5 {
      tbody {
        td {
          width: 14.8%;
          @include bp(small) {
            width: 15.6%
          }
        }
        th {
          &.channels {
            width: 26%;
            @include bp(small) {
              width: 22%;
            }
          }
        }
      }
    }
    &.packages-3 {
      tbody {
        td {
          width: 24.6%;
          @include bp(small) {
            width: 26%
          }
        }
        &.channels {
          width: 26%;
          @include bp(small) {
            width: 22%;
          }
        }
      }
    }
    // tfoot {
    //   background-color: #4596DF;
    //   color: #fff;
    //   float: left;
    //   width: 100%;
    //   tr {
    //     display: table;
    //     td {
    //       padding: 1em;
    //     }
    //   }
    // }
  }

  .table-legend {
    max-width: 33%;
    table {
      thead {
        th {
          padding: 0.5em;
        }
      }
      tbody {
        th {
          padding: 0.25em;
        }
        td {
          padding: 0;
        }
      }
    }
  }
  .table-footer {
    display: block;
    margin-top: 1em;
  }
  .channel-logo {
    margin-right: .5em;
  }
  fieldset {
    &.channel-search {
      min-width: 100%;
    }
  }
}
.clu-wrapper {
  .clu {
    .box {
      margin: 2em 0;
    }
    .link {
      .tune-in-link {
        margin: 2em 0;
        padding-bottom: 2em;
      }
    }
  }
}

@media (max-width: $medium) {
  .clu {
    .box {
      .table-input {
        border: none;
      }
    }
  }
}

@media (max-width: $small) {
  .clu {
    .mobile-only {
      display: block;
    }
    fieldset {
      &.channel-search {
        min-width: 75%;
      }
    }
  }
}