// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Layout -- Version: 1.9.0.3 - Updated: 7/11/2014
   ========================================================================== */

.twc-full {
  width: 100%;
}

.twc-container {
  display: block;
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: 2em 0;
  overflow: visible;
}

.twc-content {
  position: relative;
  overflow: auto;
  z-index: auto !important;
}

/* ==========================
    Column Control
   ========================== */

.columnControl {
  clear: both;
}

.parsys_column {
  float: left;
  min-height: 1px; // force width on empty divs
  width: 100%;
  margin-left: 2.5%;
  border: 0;
  @include background-clip;
}

.columnControl {
  > .parsys_column, .parsys_column .parsys0 {
    margin-top: 0;
    margin-left: 0;
  }
}

.columnClear {
  clear: both;
}

.marginless > [class*='twc-col'] {
  margin-left: 0 !important;
}

[class*='twc-col1_100-c'] {
  width: 100%;
}

.push {
  float: right;
}

.pull {
  float: left;
  margin-left: 0;
}

.columnControl > .parsys_column > .parsys_column:first-child {
  margin-top: 0;
  margin-left: 0;
}

/* ==========================
    2 Column Layouts
   ========================== */

  [class*='twc-col2'] .vertical-center {
    margin: 8% auto 0;
    position: relative;
  }

/* ==========================
    50/50
   ========================== */

[class*='twc-col2_5050-c'] {
  width: 48.75%;
  .marginless & {
    width: 50%;
  }
}

/* ==========================
    55/45 * 45/55
   ========================== */

[class*='twc-col2_5545-c'] {
  width: 43.75%;
  .marginless & {
    width: 45%;
  }
}

[class*='twc-col2_5545-c0'], [class*='twc-col2_4555-c'] {
  width: 53.75%;
  .marginless & {
    width: 55%;
  }
}

[class*='twc-col2_4555-c0'] {
  width: 43.75%;
  .marginless & {
    width: 45%;
  }
}

/* ==========================
    60/40 * 40/60
   ========================== */

[class*='twc-col2_6040-c'] {
  width: 38.75%;
  .marginless & {
    width: 40%;
  }
}

[class*='twc-col2_6040-c0'] {
  width: 58.75%;
  .marginless & {
    width: 60%;
  }
}

[class*='twc-col2_4060-c'] {
  width: 58.75%;
  .marginless & {
    width: 60%;
  }
}

[class*='twc-col2_4060-c0'] {
  width: 38.75%;
  .marginless & {
    width: 40%;
  }
}

/* ==========================
    The Golden Ratio
   ========================== */

[class*='twc-col2_6238-c'] {
  width: 36.75%;
  .marginless & {
    width: 38%;
  }
}

[class*='twc-col2_6238-c0'] {
  width: 60.75%;
  .marginless & {
    width: 62%;
  }
}

[class*='twc-col2_3862-c'] {
  width: 60.75%;
  .marginless & {
    width: 62%;
  }
}

[class*='twc-col2_3862-c0'] {
  width: 36.75%;
  .marginless & {
    width: 38%;
  }
}

/* ==========================
    67/33 * 33/67
   ========================== */

[class*='twc-col2_6733-c'] {
  width: 31.75%;
  .marginless & {
    width: 33%;
  }
}

[class*='twc-col2_6733-c0'], [class*='twc-col2_3367-c'] {
  width: 65.75%;
  .marginless & {
    width: 67%;
  }
}

[class*='twc-col2_3367-c0'] {
  width: 31.75%;
  .marginless & {
    width: 33%;
  }
}

/* ==========================
    70/30 * 30/70
   ========================== */

[class*='twc-col2_7030-c'] {
  width: 28.75%;
  .marginless & {
    width: 30%;
  }
}

[class*='twc-col2_7030-c0'], [class*='twc-col2_3070-c'] {
  width: 68.75%;
  .marginless & {
    width: 70%;
  }
}

[class*='twc-col2_3070-c0'] {
  width: 28.75%;
  .marginless & {
    width: 30%;
  }
}

/* ==========================
    75/25 * 25/75
   ========================== */

[class*='twc-col2_7525-c'] {
  width: 23.75%;
  .marginless & {
    width: 25%;
  }
}

[class*='twc-col2_7525-c0'] {
  width: 73.75%;
  .marginless & {
    width: 75%;
  }
}

[class*='twc-col2_2575-c'] {
  width: 73.75%;
  .marginless & {
    width: 75%;
  }
}

[class*='twc-col2_2575-c0'] {
  width: 23.75%;
  .marginless & {
    width: 25%;
  }
}

/* ==========================
    76/24 * 24/76
   ========================== */

[class*='twc-col2_7624-c'] {
  width: 22.75%;
  .marginless & {
    width: 24%;
  }
}

[class*='twc-col2_7624-c0'], [class*='twc-col2_2476-c'] {
  width: 74.75%;
  .marginless & {
    width: 76%;
  }
}

[class*='twc-col2_2476-c0'] {
  width: 22.75%;
  .marginless & {
    width: 24%;
  }
}

/* ==========================
    82/18
   ========================== */

[class*='twc-col2_8218-c'] {
  width: 16.75%;
  .marginless & {
    width: 18%;
  }
}

[class*='twc-col2_8218-c1'] {
  padding-left: 1em;
}

[class*='twc-col2_8218-c0'] {
  width: 80.75%;
  .marginless & {
    width: 82%;
  }
}

/* ==========================
    3 Column Layouts
   ========================== */

/* ==========================
    14/72/14
   ========================== */

[class*='twc-col3_157015-c'] {
  width: 13%;
  margin-left: 0;
}

[class*='twc-col3_157015-c1'] {
  width: 69%;
  > .parsys {
    padding: 0 2%;
  }
}

/* ==========================
    17/56/17
   ========================== */

[class*='twc-col3_175617-c'] {
  width: 21.9%;
  margin: 0;
  padding: 0 2%;
}

[class*='twc-col3_175617-c1'] {
  width: 56.2%;
  > .parsys {
    padding: 0 2%;
  }
}

/* ==========================
    33/33/33
   ========================== */

[class*='twc-col3_333333-c'] {
  width: 31.6666667%;
  .marginless & {
    width: 33.3333334%;
  }
}

/* ==========================
    40/30/30 Column Control
   ========================== */
[class*='twc-col3_403030-c'] {
    width: 28.125%;
}
.marginless [class*='twc-col2_403030-c'] {
    width: 30%;
}

[class*='twc-col3_403030-c0']{
    width: 38.75%;
}
.marginless [class*='twc-col2_403030-c0']{
    width: 40%;
}

/* ==========================
    50/25/25
   ========================== */

[class*='twc-col3_502525-c'] {
  width: 23.125%;
  .marginless & {
    width: 25%;
  }
}

[class*='twc-col3_502525-c0'] {
  width: 48.75%;
  .marginless & {
    width: 50%;
  }
}

/* ==========================
    25/25/50
   ========================== */

[class*='twc-col3_252550-c'] {
  width: 23.125%;
  .marginless & {
    width: 25%;
  }
}

[class*='twc-col3_252550-c2'] {
  width: 48.75%;
  .marginless & {
    width: 50%;
  }
}

/* ==========================
    25/50/25
   ========================== */

[class*='twc-col3_255025-c'] {
  width: 23.125%;
  .marginless & {
    width: 25%;
  }
}

[class*='twc-col3_255025-c1'] {
  width: 48.75%;
  .marginless & {
    width: 50%;
  }
}

/* ==========================
    25/55/20
   ========================== */

[class*='twc-col3_255520-c'] {
  width: 23.125%;
  .marginless & {
    width: 25%;
  }
}

[class*='twc-col3_255520-c1'] {
  width: 53.75%;
  .marginless & {
    width: 55%;
  }
}

[class*='twc-col3_255520-c2'] {
  width: 18.125%;
  .marginless & {
    width: 20%;
  }
}

/* ==========================
    20/60/20
   ========================== */

[class*='twc-col3_206020-c'] {
  width: 18.125%;
  .marginless & {
    width: 20%;
  }
}

[class*='twc-col3_206020-c1'] {
  width: 58.75%;
  .marginless & {
    width: 60%;
  }
}


/* ==========================
    4 Columns
   ========================== */

/* ==========================
    25/25/25/25
   ========================== */

[class*='twc-col4_25252525-c'] {
  width: 23.125%;
  .marginless & {
    width: 25%;
  }
}

.twc-submenu {
  [class*='twc-col4_25252525-c'] {
    width: 25%;
    margin: 0;
    padding: 0 2%;
  }
  [class*='twc-col'] {
    border: solid transparent;
    border-width: 0 0 0 1px;
    border-image: url("../images/tall-divider-gray.png") 2 2 stretch stretch;
    &:first-child {
      border-image: none;
    }
  }
}

/* ==========================
    5 Columns
   ========================== */

[class*='twc-col5_2020202020-c'] {
  width: 18%;
  .marginless & {
    width: 20%;
  }
}

/* ==========================
    6 Columns
   ========================== */

[class*='twc-col6_151515151515-c'] {
  width: 14.583333%;
  .marginless & {
    width: 16.6666667%;
  }
}

/* ==========================
    7 Columns
   ========================== */

[class*='twc-col7_12121212121212-c'] {
  width: 12.142857142857%;
  .marginless & {
    width: 14.28571428571429%;
  }
}

/* ==========================
    Multi Column
   ========================== */

[class*='two_column_'] {
  @include columns(2, 2em);
}

[class*='three_column_'] {
  @include columns(3, 2em);
}

[class*='four_column_'] {
  @include columns(4, 2em);
}

/* ==========================
	  Main Content
   ========================== */

.subHead {
  display: block;
  margin: .5em 0;
}

p.subHead a {
  @include font-size(13);
  &:before {
    font-family: $fontawesome;
    content: "\f104";
    padding-right: 5px;
  }
}

a.subHead:before {
  font-family: $fontawesome;
  content: "\f104";
  padding-right: 5px;
}

.page-header, .content-header {
  @include border-radius(3px 3px 0 0);
}

.page-footer, .content-footer {
  @include border-radius(0 0 3px 3px);
}

.twc-box-column {
  padding: 1.5em;
  margin-bottom: 2em;
  background: $text-white;
  @include border-radius(3px);
  @include box-shadow(0 1px 2px 0 #888);
  overflow: auto;
  border-top: 1px solid #ddd;
}

.page-header + .twc-box-column {
  @include border-radius(0 0 3px 3px);
}

.twc-borderBottom {
  h3 {
    margin-bottom: .5em;
  }
  padding-bottom: .5em;
  border-bottom: 1px solid #CDCFD1;
}

/* ==========================
	  Aside / Sidebar Section
   ========================== */

.twc-share-module {
  display: inline-block;
}

.twc-block {
  display: inline;
  ul.twc-share, a {
    display: inline-block;
    float: left;
    padding: .5em 1em;
    background: #4f799f;
    @include border-radius();
    color: #f2f4f6;
  }
}

.twc-share-module {
  li, .twc-print {
    float: right;
    padding: .5em 2em;
    color: #d4dadf;
    @include font-size(13);
    text-transform: uppercase;
  }
}

ul.twc-share li {
  border-bottom: 0;
}

.twc-print {
  margin: 0;
  padding: 0 7px;
  &:hover {
    background: #265a83;
  }
}

.twc-block .twc-share {
  float: right;
  li {
    float: left;
    height: 18px;
    padding: 0 7px;
    border-right: 1px solid #ababab;
    &:first-child {
      border-right: none;
    }
  }
  a {
    display: block;
    float: left;
    text-indent: -9999em;
    padding: 0;
    margin: 0;
    @include opacity(.7);
    &:hover {
      @include opacity(1);
    }
  }
}

.twc-share li:last-child {
  border-right: 0;
}

.twc-arrow {
  background: url(../images/arrow-white-right.png) no-repeat scroll 100% center transparent;
  padding-right: 15px;
}

.viewAll {
  display: inline-block;
  margin: 1em 0;
  font-weight: 500;
  &:after {
    padding-left: 5px;
    font-family: $fontawesome;
    font-size: inherit;
    font-weight: inherit;
    content: '\f105';
  }
}

@media (max-width: 66.15em) {
  .twc-container {
      padding: 2.5%;
  }
}

@media (max-width: $medium) {

  /* ==========================
      2 and 3 Columns
     ========================== */
  .marginless [class*='twc-col2'] {
    width: 100%;
  }

  [class*='twc-col2'] {
    width: 100%;
    margin-left: 0;
  }
  [class*='twc-col2_5050-c'] {
    .tablet & {
      width: 48.75%;
      margin-left: 2.5%;
      .marginless & {
        width: 50%;
      }
    }
  }
  [class*='twc-col2_7525-c'].marginless, [class*='twc-col2_6040-c'].marginless {
    width: 100%;
  }
  .marginless [class*='twc-col2_2476-c'] {
    width: 100%;
  }
  /* ==========================
      17/56/17
     ========================== */
  [class*='twc-col3'] {
    width: 100%;
    margin-left: 0;
  }
  /* ==========================
      50/25/25
     ========================== */
  [class*='twc-col3_502525-c'] {
    width: 48.75%;
    .marginless & {
      width: 50%;
    }
  }
  [class*='twc-col3_502525-c0'] {
    width: 100%;
    .marginless & {
      width: 100%;
    }
  }
  [class*='twc-col3_502525-c2'] {
    margin-left: 2.5%;
  }
  /* ==========================
      25/25/50
     ========================== */
  [class*='twc-col3_252550-c'] {
    width: 48.75%;
    .marginless & {
      width: 50%;
    }
  }
  [class*='twc-col3_252550-c1'] {
    margin-top: 0;
    margin-left: 2.5%;
  }
  [class*='twc-col3_252550-c2'] {
    margin-left: 0;
    width: 100%;
    .marginless & {
      width: 100%;
    }
  }
  /* ==========================
      33/33/33
     ========================== */
  [class*='twc-col3_333333-c'] {
    width: 100%;
    margin-left: 0;
    .marginless & {
      width: 100%;
    }
    .tablet & {
      width: 31.6666667%;
      margin-left: 2.5%;
      .marginless & {
        width: 33.3333334%;
      }
    }
  }

  [class*='twc-col3_403030-c'] {
    width: 100%;
}
  /* ==========================
      4 Columns
     ========================== */
  [class*='twc-col4_25252525-c'] {
    width: 48.75%;
    .marginless & {
      width: 50%;
    }
    &:nth-of-type(2n+1) {
      margin-left: 0;
      clear: both;
    }
  }
  [class*='twc-col4_25252525-c1'] {
    margin-top: 0;
  }
  /* ==========================
      5 Columns
     ========================== */
  .marginless [class*='twc-col5_2020202020-c'] {
    width: 50%;
  }

  [class*='twc-col5_2020202020-c'] {
    width: 23.125%;
  }

  [class*='twc-col5_2020202020-c']:nth-of-type(5) {
    width: 100%;
    margin-left: 0;
  }

  [class*='twc-col5_5-c'] {
    width: 48.75%;
    .marginless & {
      width: 50%;
    }
    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
  [class*='twc-col5_5-c1'] {
    margin-top: 0;
  }
  /* ==========================
  	  6 Columns
     ========================== */
  [class*='twc-col6_151515151515-c'] {
    width: 31.666667%;
    margin-left: 2.5%;
    .marginless & {
      width: 33.3333334%;
    }
    &:nth-of-type(4) {
      margin-left: 0;
    }
  }
  [class*='twc-col6_151515151515-c1'], [class*='twc-col6_151515151515-c2'] {
    margin-top: 0;
    margin-bottom: 2em;
  }
  /* ==========================
  	  7 Columns
     ========================== */
[class*='twc-col7_12121212121212-c'] {
    width: 31.666667%;
    margin-left: 2.5%;
    .marginless & {
      width: 33.3333334%;
    }
    &:nth-of-type(4),&:nth-of-type(7) {
      margin-left: 0;
    }
  }
  [class*='twc-col7_12121212121212-c'] {
    margin-top: 0;
    margin-bottom: 2em;
  }

}

@media (max-width: $small) {
  [class*='_column_'] {
    @include columns(1,0);
  }

  [class*="twc-col"] {
    width: 100%;
    margin-left: 0;
    .tablet & {
      width: 100%;
      margin-left: 0;
    }
  }
  /* ==========================
      2 Columns
     ========================== */
  [class*='twc-col2'] {
    width: 100%;
    .marginless & {
       width: 100%;
    }
  }

  /* ==========================
      3 Columns
     ========================== */
  /* ==========================
      25/50/25
     ========================== */
  [class*='twc-col3_252550-c'] {
    width: 100%;
    .marginless & {
      width: 50%;
    }
  }

  /* ==========================
      5 Columns
     ========================== */
    [class*='twc-col5_2020202020-c'] {
      width: 48.75%;
      margin-left: 2.5%;
      .marginless & {
        width: 50%;
      }
      &:nth-of-type(5) {
        width: 100%;
      }
      &:nth-of-type(2n+1) {
        margin-left: 0;
      }
    }
       /* ==========================
      6 Columns
     ========================== */
    [class*='twc-col6_151515151515-c'] {
      width: 31.666667%;
      margin-left: 2.5%;
      .marginless & {
        width: 33.3333334%;
      }
      &:nth-of-type(4) {
        margin-left: 0;
      }
    }
    [class*='twc-col6_151515151515-c1'], [class*='twc-col6_151515151515-c2'] {
      margin-top: 0;
      margin-bottom: 1em;
    }
    footer [class*='twc-col6_151515151515-c'] {
      position: relative;
      width: 33.334%;
      margin: 0;
      text-align: center;
      &:nth-of-type(1n+2) {
        margin-top: 0;
      }
    }
  /* ==========================
      7 Columns
     ========================== */

    [class*='twc-col7_12121212121212-c'] {
        width: 31.666667%;
        margin-left: 2.5%;
        .marginless & {
          width: 33.3333334%;
        }
        &:nth-of-type(4),&:nth-of-type(7) {
          margin-left: 0;
        }
        &:nth-of-type(7) {
          width: 100%;
        }
      }
      [class*='twc-col7_12121212121212-c'] {
        margin-top: 0;
        margin-bottom: 1em;
      }


 footer [class*='twc-col7_12121212121212-c'] {
    width: 33.334%;
    margin: 0;
    text-align: center;
    &:nth-of-type(1n+2) {
      margin-top: 0;
    }
  }

}
