// Pull modules for individually compiled css files
@import "../modules/allModules";

/* ==========================================================================
    Pricing -- Version: 1.0.0.1 - Updated: 2/18/2014
   ========================================================================== */

.pricing {
  float: none;
  font-family: $twc-book;
  color: $text;
  .h4 {
    margin-bottom: 0;
    background: inherit;
    font-family: $twc-book;
    color: inherit;
    span.dollars {
      font-size: 33px;
    }
    sup {
      position: relative;
      font-size: 14px;
      top: -.5em; }
  }
  .term {
    font-size: 11px;
    display: inline-block;
    text-align: right;
    line-height: 1;
    margin-left: -1.35em;
    &.under {
      display: block;
      margin-left: 0;
      text-align: center;
    }
  }
}

@media (max-width: 48em) {
  .price.section {
    margin-top: 0.75em;
  }
}

@media (max-width: 40em) {
  .price.section {
    margin-top: 0.75em;
  }
}