/* ==========================================================================
    Colors & Gradients -- Version: 1.9.0.0 - Updated: 12/29/2013
   ========================================================================== */
.color-block {
  padding: 4em 0;
  color: #fff;
}

.color-block.small {
  padding: 1em 0;
}

.color-block.text {
  color: #333;
}

.whiteBackground {
  background: #fff;
}

.twc-backgroundGradient-1 {
  background-color: #191a1b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#191a1b), to(#161719));
  background-image: -webkit-linear-gradient(top, #191a1b, #161719);
  background-image: -moz-linear-gradient(top, #191a1b, #161719);
  background-image: -ms-linear-gradient(top, #191a1b, #161719);
  background-image: -o-linear-gradient(top, #191a1b, #161719);
  background-image: linear-gradient(top, #191a1b, #161719);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#191a1b', EndColorStr='#161719')";
  zoom: 1;
}

.twc-backgroundGradient-2 {
  background-color: #333534;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333534), to(#1a1b1f));
  background-image: -webkit-linear-gradient(top, #333534, #1a1b1f);
  background-image: -moz-linear-gradient(top, #333534, #1a1b1f);
  background-image: -ms-linear-gradient(top, #333534, #1a1b1f);
  background-image: -o-linear-gradient(top, #333534, #1a1b1f);
  background-image: linear-gradient(top, #333534, #1a1b1f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333534', EndColorStr='#1a1b1f')";
  zoom: 1;
}

.twc-backgroundGradient-3 {
  background-color: #4c4d51;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4d51), to(#2f2f33));
  background-image: -webkit-linear-gradient(top, #4c4d51, #2f2f33);
  background-image: -moz-linear-gradient(top, #4c4d51, #2f2f33);
  background-image: -ms-linear-gradient(top, #4c4d51, #2f2f33);
  background-image: -o-linear-gradient(top, #4c4d51, #2f2f33);
  background-image: linear-gradient(top, #4c4d51, #2f2f33);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c4d51', EndColorStr='#2f2f33')";
  zoom: 1;
}

.twc-backgroundGradient-4 {
  background-color: #eeeeef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
  background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
  background-image: linear-gradient(top, #eeeeef, #dddfe2);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeef', EndColorStr='#dddfe2')";
  zoom: 1;
}

.twc-backgroundGradient-5, .twc-content {
  background-image: #e9eaee;
  background-image: -moz-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9eaee), color-stop(20%, #f2f4f6), color-stop(80%, #f2f4f6), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: -o-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: -ms-linear-gradient(top, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  background-image: linear-gradient(to bottom, #e9eaee 0%, #f2f4f6 20%, #f2f4f6 80%, #fdfdfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eaee', endColorstr='#fdfdfd',GradientType=0 );
}

.twc-backgroundGradient-6 {
  background-color: #d8d8da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d8da), to(white));
  background-image: -webkit-linear-gradient(top, #d8d8da, white);
  background-image: -moz-linear-gradient(top, #d8d8da, white);
  background-image: -ms-linear-gradient(top, #d8d8da, white);
  background-image: -o-linear-gradient(top, #d8d8da, white);
  background-image: linear-gradient(top, #d8d8da, white);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d8d8da', EndColorStr='white')";
  zoom: 1;
  background-image: #d3d3d4;
  background-image: -moz-linear-gradient(top, #d3d3d4 0%, #e7e7e8 3%, white 16%, white 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d4), color-stop(3%, #e7e7e8), color-stop(16%, white), color-stop(100%, white));
  background-image: -webkit-linear-gradient(top, #d3d3d4 0%, #e7e7e8 3%, white 16%, white 100%);
  background-image: -o-linear-gradient(top, #d3d3d4 0%, #e7e7e8 3%, white 16%, white 100%);
  background-image: -ms-linear-gradient(top, #d3d3d4 0%, #e7e7e8 3%, white 16%, white 100%);
  background-image: linear-gradient(to bottom, #d3d3d4 0%, #e7e7e8 3%, white 16%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d4', endColorstr='#ffffff',GradientType=0 );
}

.twc-backgroundGradient-7 {
  background-color: #f8fafc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafc), to(#dddfe2));
  background-image: -webkit-linear-gradient(top, #f8fafc, #dddfe2);
  background-image: -moz-linear-gradient(top, #f8fafc, #dddfe2);
  background-image: -ms-linear-gradient(top, #f8fafc, #dddfe2);
  background-image: -o-linear-gradient(top, #f8fafc, #dddfe2);
  background-image: linear-gradient(top, #f8fafc, #dddfe2);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8fafc', EndColorStr='#dddfe2')";
  zoom: 1;
}

.twc-mainBackground-EBF {
  background-color: #2b2d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2d32), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #2b2d32, #f7f7f7);
  background-image: -moz-linear-gradient(top, #2b2d32, #f7f7f7);
  background-image: -ms-linear-gradient(top, #2b2d32, #f7f7f7);
  background-image: -o-linear-gradient(top, #2b2d32, #f7f7f7);
  background-image: linear-gradient(top, #2b2d32, #f7f7f7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b2d32', EndColorStr='#f7f7f7')";
  zoom: 1;
}

.twc-mainStageBackground-EBF {
  background: #eee;
}

.twc-mainNavBackground-EBF {
  background-color: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(black));
  background-image: -webkit-linear-gradient(top, #404040, black);
  background-image: -moz-linear-gradient(top, #404040, black);
  background-image: -ms-linear-gradient(top, #404040, black);
  background-image: -o-linear-gradient(top, #404040, black);
  background-image: linear-gradient(top, #404040, black);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040', EndColorStr='black')";
  zoom: 1;
}

.twc-cartHeader-EBF {
  background-color: #f8fafc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafc), to(#e0ebf5));
  background-image: -webkit-linear-gradient(top, #f8fafc, #e0ebf5);
  background-image: -moz-linear-gradient(top, #f8fafc, #e0ebf5);
  background-image: -ms-linear-gradient(top, #f8fafc, #e0ebf5);
  background-image: -o-linear-gradient(top, #f8fafc, #e0ebf5);
  background-image: linear-gradient(top, #f8fafc, #e0ebf5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8fafc', EndColorStr='#e0ebf5')";
  zoom: 1;
}

.twc-progressionBarArrow-EBF {
  background-color: #5d92c0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5d92c0), to(#2c608f));
  background-image: -webkit-linear-gradient(top, #5d92c0, #2c608f);
  background-image: -moz-linear-gradient(top, #5d92c0, #2c608f);
  background-image: -ms-linear-gradient(top, #5d92c0, #2c608f);
  background-image: -o-linear-gradient(top, #5d92c0, #2c608f);
  background-image: linear-gradient(top, #5d92c0, #2c608f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5d92c0', EndColorStr='#2c608f')";
  zoom: 1;
}

.twc-selectProductBar-EBF {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e5e5e6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e5e5e6);
  background-image: -moz-linear-gradient(top, #f6f6f6, #e5e5e6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e5e5e6);
  background-image: -o-linear-gradient(top, #f6f6f6, #e5e5e6);
  background-image: linear-gradient(top, #f6f6f6, #e5e5e6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#e5e5e6')";
  zoom: 1;
}

.twc-productBox-EBF {
  background-color: #2b2d32;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2d32), to(#f7f8f7));
  background-image: -webkit-linear-gradient(top, #2b2d32, #f7f8f7);
  background-image: -moz-linear-gradient(top, #2b2d32, #f7f8f7);
  background-image: -ms-linear-gradient(top, #2b2d32, #f7f8f7);
  background-image: -o-linear-gradient(top, #2b2d32, #f7f8f7);
  background-image: linear-gradient(top, #2b2d32, #f7f8f7);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b2d32', EndColorStr='#f7f8f7')";
  zoom: 1;
}

/* ==========================
  Primary Color Palette
   ========================== */
.paletteBox {
  text-align: center;
}

.paletteBox div > div > div {
  height: 300px;
}

.palette {
  overflow: auto;
  text-align: center;
}

.palette .twc-row:nth-of-type(-n+2) .light {
  color: #fff;
}

.outline {
  border: 1px solid #333;
}

/* ==========================
  Steel Dark
   ========================== */
.steelDark-1 {
  background: #191a1b;
}

.steelDark-2 {
  background: #2d2e30;
}

.steelDark-3 {
  background: #3c3e41;
}

.steelDark-4 {
  background: #4d4f53;
}

.steelDark-5 {
  background: #747679;
}

.steelDark-6 {
  background: #98999b;
}

.steelDark-7 {
  background: #d4d5d6;
}

.steelDark-8 {
  background: #e6e6e7;
}

.steelDark-9 {
  background: #f6f6f6;
}

/* ==========================
  Steel Sky
   ========================== */
.steelSky-1 {
  background: #0a1c2b;
}

.steelSky-2 {
  background: #12314c;
}

.steelSky-3 {
  background: #184266;
}

.steelSky-4 {
  background: #205381;
}

.steelSky {
  background: #4f799e;
}

.steelSky-6 {
  background: #7b9cb9;
}

.steelSky-7 {
  background: #c8d6e3;
}

.steelSky-8 {
  background: #dfe7ee;
}

.steelSky-9 {
  background: #f3f6f9;
}

/* ==========================
  Sky Dark
   ========================== */
.skyDark-1 {
  background: #001c34;
}

.skyDark-2 {
  background: #00315c;
}

.skyDark-3 {
  background: #00427c;
}

.skyDark-4 {
  background: #00549f;
}

.skyDark-5, .skyDark {
  background: #387ab4;
}

.skyDark-6 {
  background: #6b9cc7;
}

.skyDark-7 {
  background: #c2d6e8;
}

.skyDark-8, .skyDark-lighter {
  background: #dbe7f1;
}

.skyDark-9 {
  background: #f2f6fa;
}

/* ==========================
  Rich Black
   ========================== */
.richBlack-3 {
  background: #fff;
  border: 1px solid #333;
  color: #333;
}

.richBlack-4 {
  background: #000;
}

.richBlack-5 {
  background: #383838;
}

.richBlack-6 {
  background: #6b6b6b;
}

.richBlack-7 {
  background: #c2c2c2;
}

.richBlack-8 {
  background: #f2f2f2;
}

.richBlack-9 {
  background: #f2f6fa;
}

.plumDark-1 {
  background: #1e0a23;
}

.plumDark-2 {
  background: #35123d;
}

.plumDark-3 {
  background: #471852;
}

.plumDark-4 {
  background: #5b1f69;
}

.plumDark-5 {
  background: #7f508a;
}

.plumDark-6 {
  background: #a07da8;
}

/* ==========================
  typography
   ========================== */
.typography-1 {
  background: #010101;
}

.text-black {
  color: #010101;
}

.typography-2 {
  background: #174061;
}

.text-darkblue {
  color: #174061;
}

.typography-3 {
  background: #222e36;
}

.text-blueBlack {
  color: #222e36;
}

.typography-4 {
  background: #3376b2;
}

.text-link {
  color: #3376b2;
}

.typography-5 {
  background: #333;
}

.text {
  color: #333;
}

.typography-6 {
  background: #666;
}

.text-grey {
  color: #666;
}

/* ==========================
  backgrounds
   ========================== */
.background-1 {
  background: #161d22;
}

.background-2 {
  background: #1e262c;
}

.background-3 {
  background: #424e57;
}

.background-4 {
  background: #445f74;
}

.background-5 {
  background: #5d84a3;
}

.background-6 {
  background: #8e96a0;
}

.background-7 {
  background: #c6c9cf;
}

.background-8 {
  background: #d2d5da;
}

.background-9 {
  background: #f2f4f6;
}

/* ==========================
    Component Gradients
   ========================== */
.grad-steel-blue {
  background-color: #92b9dd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92b9dd), to(#5384af));
  background-image: -webkit-linear-gradient(top, #92b9dd, #5384af);
  background-image: -moz-linear-gradient(top, #92b9dd, #5384af);
  background-image: -ms-linear-gradient(top, #92b9dd, #5384af);
  background-image: -o-linear-gradient(top, #92b9dd, #5384af);
  background-image: linear-gradient(top, #92b9dd, #5384af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#92b9dd', EndColorStr='#5384af')";
  zoom: 1;
}

.grad-deep-blue {
  background-color: #5d92c0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5d92c0), to(#1e5688));
  background-image: -webkit-linear-gradient(top, #5d92c0, #1e5688);
  background-image: -moz-linear-gradient(top, #5d92c0, #1e5688);
  background-image: -ms-linear-gradient(top, #5d92c0, #1e5688);
  background-image: -o-linear-gradient(top, #5d92c0, #1e5688);
  background-image: linear-gradient(top, #5d92c0, #1e5688);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5d92c0', EndColorStr='#1e5688')";
  zoom: 1;
}

.grad-steel-grey {
  background-color: #babbbc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#babbbc), to(#3d3f43));
  background-image: -webkit-linear-gradient(top, #babbbc, #3d3f43);
  background-image: -moz-linear-gradient(top, #babbbc, #3d3f43);
  background-image: -ms-linear-gradient(top, #babbbc, #3d3f43);
  background-image: -o-linear-gradient(top, #babbbc, #3d3f43);
  background-image: linear-gradient(top, #babbbc, #3d3f43);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#babbbc', EndColorStr='#3d3f43')";
  zoom: 1;
}

.grad-deep-grey {
  background-color: #99999b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99999b), to(#515151));
  background-image: -webkit-linear-gradient(top, #99999b, #515151);
  background-image: -moz-linear-gradient(top, #99999b, #515151);
  background-image: -ms-linear-gradient(top, #99999b, #515151);
  background-image: -o-linear-gradient(top, #99999b, #515151);
  background-image: linear-gradient(top, #99999b, #515151);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99999b', EndColorStr='#515151')";
  zoom: 1;
}

/* ==========================
  Background Gradients
   ========================== */
[class*='palettBox backgroundGradient-'] {
  height: 300px;
  text-transform: uppercase;
}

.paletteBox p {
  margin: 20px 0;
  text-transform: uppercase;
}

p.upper {
  position: relative;
  top: 20%;
  border-top: 1px dashed #c2c2c2;
}

p.lower {
  position: relative;
  top: 46%;
  border-bottom: 1px dashed #c2c2c2;
}

.gradient {
  filter: none;
}

/* ie9 (.ie9) */
.twc-ie9 [class*='gradient'] {
  filter: none;
}
