/* ==========================================================================
   	Box Shadow Component -- Version: 1.0.0 - Updated: 01/28/2014
   ========================================================================== */

.shadow-content{ min-height: 500px; }

.box {
	position: relative;
	padding: 1em;
	width: 70%;
	background: #FFF;
	margin: 5em auto; }