#logoHeader,
#logoHeader a {
  color: #fff;
}
#logoHeader .logoHeaderCTA {
  margin-top: -1em;
}
#logoHeader .logoHeaderCTA .horizontal:only-of-type {
  margin-top: 1.5em;
}
#logoHeader .logoHeaderCTA .horizontal:nth-of-type(2) {
  margin-top: 1em;
}

#logoHeader .logoHeaderCTA ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.45rem;
  padding-right: 1em;
  padding-left: 1em;
  border-left: 1px solid #535456;
  border-right: 1px solid #535456;
}
#logoHeader .logoHeaderCTA ul li:first-of-type {
  padding-left: 0;
  border: none;
}
#logoHeader .logoHeaderCTA ul li:last-of-type {
  padding-right: 0;
  border: none;
}
#logoHeader .logoHeaderCTA .imageWrapper,
#logoHeader .logoHeaderCTA .contentWrapper {
  display: inline-block;
  vertical-align: middle;
}
#logoHeader .logoHeaderCTA .imageWrapper img {
  min-width: 24px;
  margin-right: 0.5em;
}
#logoHeader .logoHeaderCTA .empty.imageWrapper  .emptyCart {
  display: block;
}
#logoHeader .logoHeaderCTA .empty.imageWrapper  .fullCart {
  display: none;
}
#logoHeader .logoHeaderCTA .full.imageWrapper  .emptyCart {
  display: none;
}
#logoHeader .logoHeaderCTA .full.imageWrapper  .fullCart {
  display: block;
}
#logoHeader .logoHeaderCTA .full ~ .contentWrapper {
  opacity: 1;
}
#logoHeader .logoHeaderCTA .empty ~ .contentWrapper {
  opacity: 0.65;
}
#logoHeader .logoHeaderCTA .contentWrapper p {
  margin-bottom: 0;
}

@media (max-width: 48em) {
  #logoHeader .logoHeaderCTA ul li {
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #logoHeader .logoHeaderCTA ul li:first-of-type {
    padding-left: 0;
  }
  #logoHeader .logoHeaderCTA ul li:last-of-type {
    padding-right: 0;
  }
}
@media (max-width: 40em) {
  #logoHeader .logoHeaderCTA {
    max-width: 50%;
    text-align: right;
    margin-top: -0.5em;
  }

  #logoHeader .logoHeaderCTA ul li {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  #logoHeader .logoHeaderCTA ul li:first-of-type {
    padding-left: 0;
  }
  #logoHeader .logoHeaderCTA ul li:last-of-type {
    padding-right: 0;
  }
  #logoHeader .logoHeaderCTA .imageWrapper img {
    margin-right: 0;
  }
}