@import '../../init';
@import 'old';

#content {
	@import 'reset';

	#gateway {
		.gateway-tabs {
			// List
			ul {}

			// List Items
			li {
				line-height: 4em;

				// Links
				a {
					color: $color-sky-dark-lightish;
				}

				// First
				&:first-child {
					&.active {}
				}

				// Last
				&:last-child {
					&.active {}
				}

				// Active Tab
				&.active {
					color: #00549f;

					a {
						color: $color-sky-dark-darkish;
					}
				}
			}
		}
	}
}

html {
	overflow-y: scroll;
}