.tabs {
  display: table;
  width: 100%;
  border-radius: 3px; }
  .tabs ul {
    display: table-row; }
  .tabs li {
    display: table-cell;
    position: relative;
    padding: 1em;
    border-radius: 3px 3px 0 0;
    background-color: #3779b3;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
    .tabs li a {
      display: inline-block;
      position: relative;
      font-family: 'TWC Round Book',Arial,Sans-Serif;
      font-weight: normal;
      text-decoration: none;
      color: #fff; }
    .tabs li.active {
      background: #fff;
      background-image: none;
      color: #222; }
      .tabs li.active a {
        color: #222; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }

/* Gateway tabs */
.gateway-tabs {
  display: table;
  width: 100%;
  border-radius: 3px; }
  .gateway-tabs ul {
    display: table-row; }
  .gateway-tabs li {
    display: table-cell;
    position: relative;
    padding: 1em;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
    .gateway-tabs li a {
      display: inline-block;
      position: relative;
      font-family: 'TWC Round Book',Arial,Sans-Serif;
      font-weight: normal;
      text-decoration: none;
      color: #fff; }
    .gateway-tabs li.active {
      background: #fff;
      background-image: none;
      color: #222; }
      .gateway-tabs li.active a {
        color: #222; }

#gateway .gateway-tabs {
  display: table;
  width: 100%;
  border-radius: 3px; }
  #gateway .gateway-tabs ul {
    display: table-row; }
  #gateway .gateway-tabs li {
    width: 50%;
    border: 2px solid #c2d6e8; }
    #gateway .gateway-tabs li a {
      padding: 1em; }
    #gateway .gateway-tabs li.active {
      background: rgba(255, 255, 255, 0.95);
      background-image: none; }

.twc-ie #gateway .gateway-tabs li {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#05000000,endColorstr=#05000000); }

#content {
  /* reset */ }
  #content html {
    overflow-y: scroll; }
  #content .tabs {
    border-radius: 0; }
    #content .tabs ul {
      display: table-row; }
    #content .tabs li {
      display: table-cell;
      padding: 0;
      border-radius: 0;
      background-color: #fff;
      background-image: none;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      color: #333; }
      #content .tabs li a {
        color: inherit; }
      #content .tabs li.active {
        color: #222; }
        #content .tabs li.active a {
          color: inherit; }
  #content .tab-content {
    display: none; }
    #content .tab-content.active {
      display: block; }
  #content .gateway-tabs {
    display: table;
    width: 100%;
    border-radius: 3px; }
    #content .gateway-tabs ul {
      display: table-row; }
    #content .gateway-tabs li {
      display: table-cell;
      position: relative;
      padding: 0;
      background-image: none;
      background-color: #fff;
      color: #333;
      border-radius: 0;
      color: #00549f; }
      #content .gateway-tabs li a {
        color: inherit; }
      #content .gateway-tabs li.active {
        background: #fff;
        background-image: none;
        color: #00549f;
        cursor: default; }
        #content .gateway-tabs li.active a {
          color: inherit;
          cursor: default; }
  #content #gateway .gateway-tabs {
    border-radius: 0; }
    #content #gateway .gateway-tabs li {
      border-width: 0; }
      #content #gateway .gateway-tabs li a {
        padding: 0; }
      #content #gateway .gateway-tabs li.active {
        background: #fff;
        background-image: none; }
  #content .twc-ie #gateway .gateway-tabs li {
    background-image: none; }
  #content #gateway .gateway-tabs li {
    width: auto;
    line-height: 4em;
    padding: 0 1em;
    border-style: solid; }
    #content #gateway .gateway-tabs li:not(.active) {
      background-color: transparent;
      color: #6b9cc7;
      border-top: 2px solid transparent; }
      #content #gateway .gateway-tabs li:not(.active):hover {
        color: #00549f;
        transition-property: color;
        transition-duration: .3s; }
    #content #gateway .gateway-tabs li.active {
      box-shadow: 5px 0px 15px -5px rgba(0, 0, 0, 0.5);
      background-color: white;
      position: relative;
      z-index: 100;
      cursor: default;
      color: #00549f;
      border-top: 2px solid #00549f; }
      #content #gateway .gateway-tabs li.active::after {
        bottom: -20px;
        content: '';
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: #fff;
        z-index: 200; }
    #content #gateway .gateway-tabs li:last-child.active {
      box-shadow: -5px 0px 15px -5px rgba(0, 0, 0, 0.5); }

html {
  overflow-y: scroll; }

/*# sourceMappingURL=style-10.css.map */
