@import '../../init';
@import 'old';

@mixin caret {
	font-awesome: caret-down;
	position: absolute;
	left: 0;
	bottom: -7px;
	height: 20px;
	width: 100%;
	z-index: 200;
	color: $color-sky-dark-darkish;
	line-height: 1;
	font-size: 35px;
}
#content {
	@import 'reset';

	#gateway {
		.gateway-tabs {
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
			z-index: 187;
			position: relative;

			// List
			ul {}

			// List Items
			li {
				width: auto;
				line-height: 4em;
				padding: 0 1em;
				border-style: solid;
				background-color: $color-sky-dark-darkish;
				color: #fff;

				&:not(.active) {
					// color: #999;


					&:hover {
						&::after {
							@include caret;
						}
						a {
							transition-property: opacity;
							transition-duration: .3s;
							opacity: 1;
						}
					}

					a {
						opacity: .6;
						&:hover {}
					}
				}

				// Active Tab
				&.active {
					position: relative;
					z-index: 100;
					background-color: $color-sky-dark-darkish;

					&::after {
						@include caret;
					}

					a {}
				}

				// Links
				a {}

				// First
				&:first-child {
					&.active {}
				}

				// Last
				&:last-child {
					&.active {
					}
				}
			}
		}
		.gateway {
			padding-top: 10px;
		}
	}
}

html {
	overflow-y: scroll;
}