@import '../../init';
@import 'old';

$border-color: $color-steel-dark-lighter;

#content {
	@import 'reset';

	#gateway {
		.gateway-tabs {
			// List
			ul {}

			// List Items
			li {
				width: auto;
				line-height: 4em;
				padding: 0 1em;
				border-style: solid;
				border-radius: 8px 8px 0 0;

				&:not(.active) {
					background-color: transparent;
					color: #999;
					background-color: #f6f6f6;
					box-shadow: inset 0px -5px 29px 0px rgba(0,0,0,0.08);


					&:hover {
						color: $color-sky-dark-darkish;
						transition-property: color;
						transition-duration: .3s;
					}

					a {
						&:hover {}
					}
				}

				// Active Tab
				&.active {
					position: relative;
					z-index: 100;
					background-color: white;
					position: relative;
					z-index: 100;
					cursor: default;
					color: $color-sky-dark-darkish;
					border-right: 1px solid #ddd;
					border-top: 1px solid #eee;

					&::after {
						bottom: -20px;
						content: '';
						display: block;
						height: 20px;
						left: 0;
						position: absolute;
						width: 100%;
						background-color: #fff;
						z-index: 200;
					}

					a {}
				}

				// Links
				a {}

				// First
				&:first-child {
					&.active {}
				}

				// Last
				&:last-child {
					&.active {
						border-left: 1px solid #ddd;
						border-right: none;
					}
				}
			}
		}
	}
}

html {
	overflow-y: scroll;
}