/* ==========================================================================
    Accordion -- Version: 1.9.0.0 - Updated: 1/11/2014
   ========================================================================== */
.expandable li, .expandableHybrid li {
  position: relative; }
  .expandable li h6, .expandableHybrid li h6 {
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-bottom: 1px solid #e1e1e1;
    background-color: #3779b3;
    background-image: linear-gradient(top, #3779b3, #02447e);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3779b3', EndColorStr='#02447e')";
    zoom: 1;
    color: #fff;
    padding-right: 1em; }
  .expandable li.js-notexpandable h6:after, .expandable li.js-notexpandableHybrid h6:after, .expandableHybrid li.js-notexpandable h6:after, .expandableHybrid li.js-notexpandableHybrid h6:after {
    float: right;
    font-family: "FontAwesome";
    content: '\f105';
    color: inherit;
    position: absolute;
    right: 0.5em; }
  .expandable li.js-expandable h6:after, .expandable li.js-expandableHybrid h6:after, .expandableHybrid li.js-expandable h6:after, .expandableHybrid li.js-expandableHybrid h6:after {
    float: right;
    font-family: "FontAwesome";
    content: '\f107';
    color: inherit;
    position: absolute;
    right: 0.5em; }
  .expandable li.js-expandable.js-active h6:after, .expandable li.js-expandableHybrid.js-active h6:after, .expandableHybrid li.js-expandable.js-active h6:after, .expandableHybrid li.js-expandableHybrid.js-active h6:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod=" auto expand ", M11=cos(-180deg), M12=-sin(-180deg), M21=sin(-180deg), M22=cos(-180deg))";
    filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod=" auto expand ", M11=cos(-180deg), M12=-sin(-180deg), M21=sin(-180deg), M22=cos(-180deg))";
    zoom: 1; }
  .expandable li ul, .expandableHybrid li ul {
    display: none;
    border-right: 1px solid #e1e1e1; }
    .expandable li ul li.js-notexpandableHybrid a:after, .expandableHybrid li ul li.js-notexpandableHybrid a:after {
      float: right;
      font-family: "FontAwesome";
      content: '\f105';
      color: #C2C2C2; }
    .expandable li ul li.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-expandableHybridSub a:after {
      float: right;
      font-family: "FontAwesome";
      content: '\f105';
      color: #C2C2C2; }
    .expandable li ul li.js-active.js-expandableHybridSub, .expandableHybrid li ul li.js-active.js-expandableHybridSub {
      background: #e3effb; }
      .expandable li ul li.js-active.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-active.js-expandableHybridSub a:after {
        float: right;
        font-family: "FontAwesome";
        content: '\f105';
        color: #C2C2C2; }
  .expandable li li, .expandableHybrid li li {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-bottom: 1px dotted #e1e1e1; }
  .expandable li.js-last, .expandableHybrid li.js-last {
    border-bottom: none; }
  .expandable li.liState, .expandableHybrid li.liState {
    background: #c8d6e3; }
  .expandable li.filler, .expandableHybrid li.filler {
    background-color: #1c5e98;
    background-image: linear-gradient(top, #1c5e98, #1c5e98);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#1c5e98', EndColorStr='#1c5e98')";
    zoom: 1; }

.activeContent {
  display: none; }

@media (max-width: 48em) {
  .expandable li ul, .expandableHybrid li ul {
    border-right: none; }
  .expandable li ul li.js-notexpandableHybrid a:after, .expandableHybrid li ul li.js-notexpandableHybrid a:after {
    float: right;
    font-family: "FontAwesome";
    content: '\f105';
    color: #C2C2C2; }
  .expandable li ul li.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-expandableHybridSub a:after {
    float: right;
    font-family: "FontAwesome";
    content: '\f107';
    color: #C2C2C2; }
  .expandable li ul li.js-active.js-expandableHybridSub, .expandableHybrid li ul li.js-active.js-expandableHybridSub {
    background: #e3effb; }
  .expandable li ul li.js-active.js-expandableHybridSub a:after, .expandableHybrid li ul li.js-active.js-expandableHybridSub a:after {
    float: right;
    font-family: "FontAwesome";
    content: '\f106';
    color: #C2C2C2; } }

/*# sourceMappingURL=accordion.css.map */
