/* ==========================================================================
    Buttons -- Version: 1.9.0.3 - Updated: 2/27/2014
   ========================================================================== */
button {
  cursor: pointer; }

.cta, .btn, .button, label.cta {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
  .cta a, .cta button, .cta input[type="button"], .btn a, .btn button, .btn input[type="button"], .button a, .button button, .button input[type="button"], label.cta a, label.cta button, label.cta input[type="button"] {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: .75em 1em;
    border-radius: 3px;
    background-clip: padding-box;
    border: none;
    background: none;
    font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    color: #3376b2; }
  .cta.block, .btn.block, .button.block, label.cta.block {
    display: block; }

div.geoloc-btn button {
  margin: 0; }

.cta.omega a, .cta.omega button, .cta.omega input[type="button"], .cta.js-omega a, .cta.js-omega button, .cta.js-omega input[type="button"], .cta.blue a, .cta.blue button, .cta.blue input[type="button"], .btn.blue a, .btn.blue button, .btn.blue input[type="button"], .button.omega a, .button.omega button, .button.omega input[type="button"] {
  background-color: #3779b3;
  background-image: linear-gradient(top, #3779b3, #02447e);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3779b3', EndColorStr='#02447e')";
  zoom: 1;
  color: #fff; }
  .cta.omega a:hover, .cta.omega button:hover, .cta.omega input[type="button"]:hover, .cta.js-omega a:hover, .cta.js-omega button:hover, .cta.js-omega input[type="button"]:hover, .cta.blue a:hover, .cta.blue button:hover, .cta.blue input[type="button"]:hover, .btn.blue a:hover, .btn.blue button:hover, .btn.blue input[type="button"]:hover, .button.omega a:hover, .button.omega button:hover, .button.omega input[type="button"]:hover {
    background-color: #265a83;
    background-image: linear-gradient(top, #265a83, #1b405e);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#265a83', EndColorStr='#1b405e')";
    zoom: 1; }

.cta.flat a, .cta.flat button, .cta.flat input[type="button"] {
  background-color: #7BABDC;
  background-image: linear-gradient(top, #7BABDC, #7BABDC);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7BABDC', EndColorStr='#7BABDC')";
  zoom: 1;
  color: #fff; }
  .cta.flat a:hover, .cta.flat button:hover, .cta.flat input[type="button"]:hover {
    background-color: #375a7e;
    background-image: linear-gradient(top, #375a7e, #375a7e);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#375a7e', EndColorStr='#375a7e')";
    zoom: 1; }

.cta.red a {
  background-color: #fff;
  color: #8f1714;
  background-image: none;
  border: 1px solid #8f1714; }
  .cta.red a:hover {
    background-color: #8d1819;
    color: #fff; }

.white a,
.whiteCTA a {
  background-color: #fff;
  background-image: none;
  border: 1px solid #0252a1;
  color: #0252a1; }
  .white a:active,
  .whiteCTA a:active {
    background-color: #0052a1;
    color: #fff; }
  .white a:hover,
  .whiteCTA a:hover {
    background-color: #00315c;
    border: 1px solid #00315c;
    color: #fff; }

.flatOmega a {
  background-color: #0252a1;
  background-image: none;
  border: 1px solid #0252a1;
  color: #fff; }
  .flatOmega a:active {
    background-color: #00315c;
    border: 1px solid #00315c; }
  .flatOmega a:hover {
    background-color: #02a9e0;
    border: 1px solid #02a9e0; }

.btn.blue a:active, .btn.blue a.active, .btn.blue a:focus, .btn.blue button:active, .btn.blue button.active, .btn.blue button:focus, .btn.blue input:active, .btn.blue input.active, .btn.blue input:focus, .cta.blue a:active, .cta.blue a.active, .cta.blue a:focus, .cta.blue button:active, .cta.blue button.active, .cta.blue button:focus, .cta.blue input:active, .cta.blue input.active, .cta.blue input:focus, .btn.omega a:active, .btn.omega a.active, .btn.omega a:focus, .btn.omega button:active, .btn.omega button.active, .btn.omega button:focus, .btn.omega input:active, .btn.omega input.active, .btn.omega input:focus, .button.omega a:active, .button.omega a.active, .button.omega a:focus, .button.omega button:active, .button.omega button.active, .button.omega button:focus, .button.omega input:active, .button.omega input.active, .button.omega input:focus, .cta.omega a:active, .cta.omega a.active, .cta.omega a:focus, .cta.omega button:active, .cta.omega button.active, .cta.omega button:focus, .cta.omega input:active, .cta.omega input.active, .cta.omega input:focus, .cta.js-omega a:active, .cta.js-omega a.active, .cta.js-omega a:focus, .cta.js-omega button:active, .cta.js-omega button.active, .cta.js-omega button:focus, .cta.js-omega input:active, .cta.js-omega input.active, .cta.js-omega input:focus {
  background: #444545;
  background-image: 0; }

.btn.black a, .btn.black button, .btn.black input, .cta.black a, .cta.black button, .cta.black input, .button.black a, .button.black button, .button.black input {
  background-color: #3e3e3e;
  background-image: linear-gradient(top, #3e3e3e, #2b2b2b);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e3e3e', EndColorStr='#2b2b2b')";
  zoom: 1;
  color: #fff; }
  .btn.black a:hover, .btn.black a.hover, .btn.black button:hover, .btn.black button.hover, .btn.black input:hover, .btn.black input.hover, .cta.black a:hover, .cta.black a.hover, .cta.black button:hover, .cta.black button.hover, .cta.black input:hover, .cta.black input.hover, .button.black a:hover, .button.black a.hover, .button.black button:hover, .button.black button.hover, .button.black input:hover, .button.black input.hover {
    background-color: #797979;
    background-image: linear-gradient(top, #797979, #6c6c6c);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#797979', EndColorStr='#6c6c6c')";
    zoom: 1;
    color: #fff; }
  .btn.black a:active, .btn.black a.active, .btn.black a:focus, .btn.black button:active, .btn.black button.active, .btn.black button:focus, .btn.black input:active, .btn.black input.active, .btn.black input:focus, .cta.black a:active, .cta.black a.active, .cta.black a:focus, .cta.black button:active, .cta.black button.active, .cta.black button:focus, .cta.black input:active, .cta.black input.active, .cta.black input:focus, .button.black a:active, .button.black a.active, .button.black a:focus, .button.black button:active, .button.black button.active, .button.black button:focus, .button.black input:active, .button.black input.active, .button.black input:focus {
    background: #2b2b2b;
    background-image: 0; }

.btn.block a, .btn.block button, .btn.block input, .cta.block a, .cta.block button, .cta.block input, .button a, .button button, .button input {
  display: block; }

.btn.badge a, .btn.badge button, .btn.badge input, .cta.badge a, .cta.badge button, .cta.badge input {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-clip: padding-box; }

/* Buttons with checkbox */
.btn input[type="checkbox"], .cta input[type="checkbox"] {
  margin: 0;
  margin-left: .5em; }

.btn.blue.checked a, .btn.blue.js-checked a, .cta.blue.checked a, .cta.blue.js-checked a, .btn.omega.checked a, .btn.omega.js-checked a, .cta.omega.checked a, .cta.omega.js-checked a {
  background-color: #33cc33;
  background-image: linear-gradient(top, #33cc33, #008700);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33cc33', EndColorStr='#008700')";
  zoom: 1; }

.btn:disabled a, .btn:disabled button, .btn:disabled input, .btn.disabled a, .btn.disabled button, .btn.disabled input, .btn.blue:disabled a, .btn.blue:disabled button, .btn.blue:disabled input, .btn.blue.disabled a, .btn.blue.disabled button, .btn.blue.disabled input, .btn.omega:disabled a, .btn.omega:disabled button, .btn.omega:disabled input, .btn.omega.disabled a, .btn.omega.disabled button, .btn.omega.disabled input, .button.omega:disabled a, .button.omega:disabled button, .button.omega:disabled input, .button.omega.disabled a, .button.omega.disabled button, .button.omega.disabled input, .cta:disabled a, .cta:disabled button, .cta:disabled input, .cta.disabled a, .cta.disabled button, .cta.disabled input, .cta.blue:disabled a, .cta.blue:disabled button, .cta.blue:disabled input, .cta.blue.disabled a, .cta.blue.disabled button, .cta.blue.disabled input, .cta.omega:disabled a, .cta.omega:disabled button, .cta.omega:disabled input, .cta.omega.disabled a, .cta.omega.disabled button, .cta.omega.disabled input {
  cursor: default;
  background-color: #666;
  background-image: linear-gradient(top, #666, #666);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#666')";
  zoom: 1;
  color: #fff; }
  .btn:disabled a:hover, .btn:disabled a:active, .btn:disabled button:hover, .btn:disabled button:active, .btn:disabled input:hover, .btn:disabled input:active, .btn.disabled a:hover, .btn.disabled a:active, .btn.disabled button:hover, .btn.disabled button:active, .btn.disabled input:hover, .btn.disabled input:active, .btn.blue:disabled a:hover, .btn.blue:disabled a:active, .btn.blue:disabled button:hover, .btn.blue:disabled button:active, .btn.blue:disabled input:hover, .btn.blue:disabled input:active, .btn.blue.disabled a:hover, .btn.blue.disabled a:active, .btn.blue.disabled button:hover, .btn.blue.disabled button:active, .btn.blue.disabled input:hover, .btn.blue.disabled input:active, .btn.omega:disabled a:hover, .btn.omega:disabled a:active, .btn.omega:disabled button:hover, .btn.omega:disabled button:active, .btn.omega:disabled input:hover, .btn.omega:disabled input:active, .btn.omega.disabled a:hover, .btn.omega.disabled a:active, .btn.omega.disabled button:hover, .btn.omega.disabled button:active, .btn.omega.disabled input:hover, .btn.omega.disabled input:active, .button.omega:disabled a:hover, .button.omega:disabled a:active, .button.omega:disabled button:hover, .button.omega:disabled button:active, .button.omega:disabled input:hover, .button.omega:disabled input:active, .button.omega.disabled a:hover, .button.omega.disabled a:active, .button.omega.disabled button:hover, .button.omega.disabled button:active, .button.omega.disabled input:hover, .button.omega.disabled input:active, .cta:disabled a:hover, .cta:disabled a:active, .cta:disabled button:hover, .cta:disabled button:active, .cta:disabled input:hover, .cta:disabled input:active, .cta.disabled a:hover, .cta.disabled a:active, .cta.disabled button:hover, .cta.disabled button:active, .cta.disabled input:hover, .cta.disabled input:active, .cta.blue:disabled a:hover, .cta.blue:disabled a:active, .cta.blue:disabled button:hover, .cta.blue:disabled button:active, .cta.blue:disabled input:hover, .cta.blue:disabled input:active, .cta.blue.disabled a:hover, .cta.blue.disabled a:active, .cta.blue.disabled button:hover, .cta.blue.disabled button:active, .cta.blue.disabled input:hover, .cta.blue.disabled input:active, .cta.omega:disabled a:hover, .cta.omega:disabled a:active, .cta.omega:disabled button:hover, .cta.omega:disabled button:active, .cta.omega:disabled input:hover, .cta.omega:disabled input:active, .cta.omega.disabled a:hover, .cta.omega.disabled a:active, .cta.omega.disabled button:hover, .cta.omega.disabled button:active, .cta.omega.disabled input:hover, .cta.omega.disabled input:active {
    background-color: #666;
    background-image: linear-gradient(top, #666, #666);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#666')";
    zoom: 1;
    color: #fff; }

input[type="submit"]:disabled {
  background-color: #bcbcbc;
  background-image: linear-gradient(top, #bcbcbc, #838383);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bcbcbc', EndColorStr='#838383')";
  zoom: 1;
  color: #fff; }
  input[type="submit"]:disabled:hover, input[type="submit"]:disabled:active {
    background-color: #bcbcbc;
    background-image: linear-gradient(top, #bcbcbc, #838383);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bcbcbc', EndColorStr='#838383')";
    zoom: 1;
    color: #fff; }

/* ==========================
  Share
   ========================== */
.cta.omega.share a {
  background: #4F799F;
  margin-bottom: 1em; }
  .cta.omega.share a:hover, .cta.omega.share a .cta.omega.share.hover {
    background: #265A83; }

/* ==========================
  Flag
   ========================== */
.btn.flag {
  padding: .375em 1em; }

/* =========================
    Checkbox button
  ========================*/
label.cta.omega {
  padding: .75em 1em;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #3779b3;
  background-image: linear-gradient(top, #3779b3, #02447e);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3779b3', EndColorStr='#02447e')";
  zoom: 1;
  font-family: "TWC Round Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
  color: #fff; }
  label.cta.omega:hover {
    background-color: #265a83;
    background-image: linear-gradient(top, #265a83, #1b405e);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#265a83', EndColorStr='#1b405e')";
    zoom: 1; }
  label.cta.omega.js-checked {
    background-color: #33cc33;
    background-image: linear-gradient(top, #33cc33, #008700);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33cc33', EndColorStr='#008700')";
    zoom: 1; }

label.cta input {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0.5em; }

.cta.green a {
  background-color: #078f1a;
  border: 1px solid #078f1a;
  color: #fff; }
  .cta.green a:hover {
    background-color: #103f06;
    border: 1px solid #103f06; }

.cta.orange a {
  background-color: #f28300;
  background-image: linear-gradient(top, #f28300 0%, #f28300 100%);
  color: #fff; }

/* Firefox */
@-moz-document url-prefix() {
  /* Remove button padding in FF */
  button::-moz-focus-inner {
    padding: 0;
    border: 0 none; }
  input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0 none; } }

/* ie (.twc-ie) */
/* make buttons play nice in IE */
.twc-ie button {
  overflow: visible;
  width: auto; }
@media (max-width: 40em) {
  .cta.mobile-full, .btn.mobile-full, .button.mobile-full {
    width: 100%; }
  .cta.mobile-full a, .btn.mobile-full a, .button.mobile-full a {
    display: block;
    text-align: center; }
  .cta.mobile-full + .cta.mobile-full, .btn.mobile-full + .cta.mobile-full, .button.mobile-full + .cta.mobile-full, .cta.mobile-full + .btn.mobile-full, .btn.mobile-full + .btn.mobile-full, .button.mobile-full + .btn.mobile-full, .cta.mobile-full + .button.mobile-full, .btn.mobile-full + .button.mobile-full, .button.mobile-full + .button.mobile-full {
    margin-top: 1em; }
  .mobile-full button {
    width: 100%; } }

/*# sourceMappingURL=buttons.css.map */
