/*Dan*/
/* ==========================================================================
    Compare Table -- Version: 1.0.6 - Updated: 3/21/2014
   ========================================================================== */
.compEritTable {
  /* .ul */
  /* .js-active */ }
  .compEritTable .base {
    background: #6c9bc7; }
    .compEritTable .base:hover {
      background: #71b0ea; }
  .compEritTable .light-blue {
    background: #ecf1f7; }
    .compEritTable .light-blue:hover {
      background: #e3effb; }
  .compEritTable .lightest-blue {
    background: #f5f6fb; }
    .compEritTable .lightest-blue:hover {
      background: #e3effb; }
  .compEritTable .alt-blue, .compEritTable .alt {
    background: #387ab4; }
    .compEritTable .alt-blue:hover, .compEritTable .alt:hover {
      background: #3f97e3; }
  .compEritTable .plum {
    background: #80508a; }
    .compEritTable .plum:hover {
      background: #a364b0; }
  .compEritTable .light-plum {
    background: #f3e9f4; }
    .compEritTable .light-plum:hover {
      background: #fbf0fd; }
  .compEritTable hr {
    margin: 0.5em 0;
    border: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #fff; }
  .compEritTable .compEritTable-row {
    margin-bottom: 0; }
  .compEritTable .compare-table-row-detail {
    margin-bottom: 0.5em; }
  .compEritTable ul {
    /* .table */
    /* .details-content */ }
    .compEritTable ul.table {
      display: table;
      width: 100%;
      /* .li */ }
      .compEritTable ul.table li {
        display: table-cell;
        padding: .5em .75em;
        vertical-align: top; }
        .compEritTable ul.table li.mobile-only {
          display: none; }
        .compEritTable ul.table li p {
          margin-bottom: 0; }
        .compEritTable ul.table li h5, .compEritTable ul.table li h6 {
          margin-bottom: 0; }
        .compEritTable ul.table li.desc-details {
          display: block; }
        .compEritTable ul.table li a.viewDetail:after {
          content: "\f107";
          font-family: FontAwesome;
          padding-left: 0.5em; }
        .compEritTable ul.table li a.viewDetail.active:after {
          content: "\f106"; }
        .compEritTable ul.table li span.badge {
          position: absolute;
          bottom: 30%;
          left: 85%;
          z-index: 9998; }
        .compEritTable ul.table li ul li, .compEritTable ul.table li ol li {
          display: list-item; }
        .compEritTable ul.table li ol li {
          list-style: decimal; }
      .compEritTable ul.table li.viewDetail ul.content-list li {
        display: block; }
    .compEritTable ul.details-content {
      display: none;
      padding: 1em;
      overflow: auto;
      border-radius: 0 0 5px 5px;
      background: #fff;
      /* .cta */ }
      .compEritTable ul.details-content .cta {
        margin-top: 2em;
        margin-bottom: 0; }
  .compEritTable.js-active {
    /* .ul */ }
    .compEritTable.js-active ul {
      /* .li */ }
  .compEritTable.five-column-compare {
    /* .js-active */ }
    .compEritTable.five-column-compare.js-active ul li.package {
      border-radius: 5px 0 0 0; }
    .compEritTable.five-column-compare.js-active ul li.pricing {
      border-bottom: none; }
    .compEritTable.five-column-compare.js-active ul li.order {
      border-radius: 0 5px 0 0; }
    .compEritTable.five-column-compare ul li.package {
      width: 23%;
      border-radius: 5px 0 0 5px;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid #fff;
      border-left: 1px solid #E1E1E1;
      border-bottom: 1px solid #E1E1E1; }
    .compEritTable.five-column-compare ul li.feature {
      width: 23%;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #E1E1E1; }
    .compEritTable.five-column-compare ul li.desc {
      width: 24%;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #E1E1E1; }
    .compEritTable.five-column-compare ul li.pricing {
      position: relative;
      width: 15%;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #E1E1E1;
      text-align: center; }
      .compEritTable.five-column-compare ul li.pricing hr {
        margin-top: 0.25em;
        margin-right: 1em;
        margin-bottom: 0.25em;
        margin-left: 1em;
        border: 0;
        height: 1px;
        background: #e1e1e1; }
      .compEritTable.five-column-compare ul li.pricing .viewMore {
        display: block; }
    .compEritTable.five-column-compare ul li.order {
      width: 15%;
      border-radius: 0 5px 5px 0;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid #E1E1E1;
      border-bottom: 1px solid #E1E1E1;
      text-align: center;
      vertical-align: middle; }
  .compEritTable .pricing .viewMore {
    text-align: center; }
  .compEritTable.three-column-compare {
    /* .js-active */ }
    .compEritTable.three-column-compare.js-active ul li.package {
      border-radius: 5px 0 0 0; }
    .compEritTable.three-column-compare.js-active ul li.order {
      border-radius: 0 5px 0 0; }
    .compEritTable.three-column-compare ul li.package {
      width: 22%;
      border-left: 1px solid #E1E1E1;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid #E1E1E1;
      border-radius: 5px 0 0 5px; }
    .compEritTable.three-column-compare ul li.desc {
      width: 60%;
      height: 50%;
      border-top: 1px solid #E1E1E1;
      border-bottom: 1px solid #E1E1E1;
      border-right: 1px solid rgba(255, 255, 255, 0.6); }
    .compEritTable.three-column-compare ul li.order {
      width: 14%;
      border-top: 1px solid #E1E1E1;
      border-right: 1px solid #E1E1E1;
      border-bottom: 1px solid #E1E1E1;
      border-radius: 0 5px 5px 0;
      text-align: center; }
  .compEritTable div.viewMore span.viewDetail {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #3376b2;
    cursor: pointer; }
  .compEritTable div.viewMore span.viewDetail:hover {
    color: #1b405d; }
  .compEritTable div.viewMore span.viewDetail:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 0.5em; }

@-moz-document url-prefix() {}

@media (max-width: 48em) {
  .compEritTable ul.table {
    overflow: auto; }
  .compEritTable .badge {
    display: none; }
  .compEritTable .compEritTable-row {
    overflow: auto; }
  .compEritTable.five-column-compare .mobile-only {
    display: none; }
  .compEritTable.five-column-compare.js-active ul li.package {
    border-radius: 5px 0 0 0; }
  .compEritTable.five-column-compare.js-active ul li.pricing {
    border-radius: 0; }
  .compEritTable.five-column-compare.js-active ul li.order {
    border-radius: 0 5px 0 0; }
  .compEritTable.three-column-compare ul li {
    display: table-cell;
    float: left; }
  .compEritTable.three-column-compare ul li.package {
    width: 50%;
    border-radius: 5px 0 0 0;
    border-bottom: none; }
  .compEritTable.three-column-compare ul li.desc {
    width: 50%;
    height: 50%;
    border-right: 1px solid #E1E1E1;
    border-bottom: none;
    border-radius: 0 5px 0 0; }
  .compEritTable.three-column-compare ul li.desc h5 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .compEritTable.three-column-compare ul li.order {
    width: 100%;
    border-top: 1px solid #fff;
    border-left: 1px solid #E1E1E1;
    border-radius: 0 0 5px 5px; }
  .compEritTable.three-column-compare.js-active ul li.order,
  .compEritTable.three-column-compare.js-active ul li.order.plum,
  .compEritTable.three-column-compare.js-active ul li.order.alt {
    border-radius: 0 5px 0 0;
    background: #fff;
    border-bottom: none;
    border-left: none;
    border-right: none; } }

@media (max-width: 40em) {
  .compEritTable ul li.feature {
    line-height: normal;
    color: inherit;
    font-weight: normal;
    font-size: inherit; }
  .compEritTable.five-column-compare.richtext div ul li, .compEritTable.five-column-compare.richtext div ol li {
    float: none !important; }
  .compEritTable.five-column-compare.js-active ul li.order,
  .compEritTable.five-column-compare.js-active ul li.order.plum,
  .compEritTable.five-column-compare.js-active ul li.order.alt,
  .compEritTable.five-column-compare.js-active ul li.view-more {
    border-radius: 0; }
  .compEritTable.five-column-compare ul.table li {
    display: list-item; }
  .compEritTable.five-column-compare ul.details-content {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1; }
  .compEritTable.five-column-compare ul li {
    padding: .5em; }
  .compEritTable.five-column-compare ul li.package {
    width: 50%;
    border-radius: 5px 0 0 0;
    border-bottom: 1px solid #fff; }
  .compEritTable.five-column-compare ul li.feature {
    width: 50%;
    border-radius: 0 5px 0 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #E1E1E1; }
  .compEritTable.five-column-compare ul li.feature span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .compEritTable.five-column-compare ul li.desc {
    width: 100%;
    border-radius: 0;
    border-top: none;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: none; }
  .compEritTable.five-column-compare ul li.pricing {
    width: 50%;
    border-radius: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1; }
  .compEritTable.five-column-compare ul li.order {
    width: 50%;
    border-radius: 0;
    border-left: none;
    border-top: 1px solid #fff; }
  .compEritTable.five-column-compare ul li.order .cta {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .compEritTable.five-column-compare ul li.view-more {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    text-align: center;
    border-radius: 0 0 3px 3px; }
  .compEritTable.five-column-compare ul.table li {
    display: inline-block;
    float: left; }
  .compEritTable.five-column-compare ul.table li.mobile-only {
    display: block; } }

/*# sourceMappingURL=compEritTable.css.map */
