/* ==========================================================================
    Icons -- Version: 1.9.0.2 - Updated: 2/3/2014
   ========================================================================== */
[class*='icon-'] span:after,
[class*='icon-'] span:before {
  font-family: "FontAwesome";
  text-align: center;
  text-decoration: none;
  color: inherit;
  line-height: 1; }

[class*='icon-'] {
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  margin-right: .3em; }
  [class*='icon-'].blue-icon {
    color: #3376b2; }
  [class*='icon-'].green-icon {
    color: #558654; }
  [class*='icon-'].red-icon {
    color: #f00; }

.noIcon,
.noIcon:before,
.noIcon:after {
  content: none; }

[class*='icon-'] span:after {
  margin-left: .5em; }

[class*='icon-'] span:before {
  margin-right: .5em; }

.twc-icon-only span:after {
  margin: 0; }

/* The Icons */
[class*="icon-before"].icon-search span:before,
[class*="icon-after"].icon-search span:after,
[class*="icon-only"].icon-search span:after {
  content: '\f002'; }

nav.twc-search-dropdown span.twc-icon.icon-search:before {
  font-family: "FontAwesome";
  content: '\f002'; }

[class*="icon-before"].icon-envelope span:before,
[class*="icon-after"].icon-envelope span:after,
[class*="icon-only"].icon-envelope span:after {
  content: '\f003'; }

[class*="icon-before"].icon-heart span:before,
[class*="icon-after"].icon-heart span:after,
[class*="icon-only"].icon-heart span:after {
  content: '\f004'; }

[class*="icon-before"].icon-star span:before,
[class*="icon-after"].icon-star span:after,
[class*="icon-only"].icon-star span:after {
  content: '\f005'; }

[class*="icon-before"].icon-star-empty span:before,
[class*="icon-after"].icon-star-empty span:after,
[class*="icon-only"].icon-star-empty span:after {
  content: '\f006'; }

[class*="icon-before"].icon-user span:before,
[class*="icon-after"].icon-user span:after,
[class*="icon-only"].icon-user span:after {
  content: '\f007'; }

[class*="icon-before"].icon-ok span:before,
[class*="icon-after"].icon-ok span:after,
[class*="icon-only"].icon-ok span:after {
  content: '\f00c'; }

[class*="icon-before"].icon-remove span:before,
[class*="icon-after"].icon-remove span:after,
[class*="icon-only"].icon-remove span:after {
  content: '\f00d'; }

[class*="icon-before"].icon-file span:before,
[class*="icon-after"].icon-file span:after,
[class*="icon-only"].icon-file span:after {
  content: '\f016'; }

[class*="icon-before"].icon-envelope-alt span:before,
[class*="icon-after"].icon-envelope-alt span:after,
[class*="icon-only"].icon-envelope-alt span:after {
  content: '\f0e0'; }

[class*="icon-before"].icon-sitemap span:before,
[class*="icon-after"].icon-sitemap span:after,
[class*="icon-only"].icon-sitemap span:after {
  content: '\f0e8'; }

[class*="icon-before"].icon-glass span:before,
[class*="icon-after"].icon-glass span:after,
[class*="icon-only"].icon-glass span:after {
  content: '\f000'; }

[class*="icon-before"].icon-music span:before,
[class*="icon-after"].icon-music span:after,
[class*="icon-only"].icon-music span:after {
  content: '\f001'; }

[class*="icon-before"].icon-film span:before,
[class*="icon-after"].icon-film span:after,
[class*="icon-only"].icon-film span:after {
  content: '\f008'; }

[class*="icon-before"].icon-th-large span:before,
[class*="icon-after"].icon-th-large span:after,
[class*="icon-only"].icon-th-large span:after {
  content: '\f009'; }

[class*="icon-before"].icon-th span:before,
[class*="icon-after"].icon-th span:after,
[class*="icon-only"].icon-th span:after {
  content: '\f00a'; }

[class*="icon-before"].icon-th-list span:before,
[class*="icon-after"].icon-th-list span:after,
[class*="icon-only"].icon-th-list span:after {
  content: '\f00b'; }

[class*="icon-before"].icon-zoom-in span:before,
[class*="icon-after"].icon-zoom-in span:after,
[class*="icon-only"].icon-zoom-in span:after {
  content: '\f00e'; }

[class*="icon-before"].icon-zoom-out span:before,
[class*="icon-after"].icon-zoom-out span:after,
[class*="icon-only"].icon-zoom-out span:after {
  content: '\f010'; }

[class*="icon-before"].icon-off span:before,
[class*="icon-after"].icon-off span:after,
[class*="icon-only"].icon-off span:after {
  content: '\f011'; }

[class*="icon-before"].icon-signal span:before,
[class*="icon-after"].icon-signal span:after,
[class*="icon-only"].icon-signal span:after {
  content: '\f012'; }

[class*="icon-before"].icon-cog span:before,
[class*="icon-after"].icon-cog span:after,
[class*="icon-only"].icon-cog span:after {
  content: '\f013'; }

[class*="icon-before"].icon-trash span:before,
[class*="icon-after"].icon-trash span:after,
[class*="icon-only"].icon-trash span:after {
  content: '\f014'; }

[class*="icon-before"].icon-home span:before,
[class*="icon-after"].icon-home span:after,
[class*="icon-only"].icon-home span:after {
  content: '\f015'; }

[class*="icon-before"].icon-file-alt span:before,
[class*="icon-after"].icon-file-alt span:after,
[class*="icon-only"].icon-file-alt span:after {
  content: '\f016'; }

[class*="icon-before"].icon-time span:before,
[class*="icon-after"].icon-time span:after,
[class*="icon-only"].icon-time span:after {
  content: '\f017'; }

[class*="icon-before"].icon-road span:before,
[class*="icon-after"].icon-road span:after,
[class*="icon-only"].icon-road span:after {
  content: '\f018'; }

[class*="icon-before"].icon-download-alt span:before,
[class*="icon-after"].icon-download-alt span:after,
[class*="icon-only"].icon-download-alt span:after {
  content: '\f019'; }

[class*="icon-before"].icon-download span:before,
[class*="icon-after"].icon-download span:after,
[class*="icon-only"].icon-download span:after {
  content: '\f01a'; }

[class*="icon-before"].icon-upload span:before,
[class*="icon-after"].icon-upload span:after,
[class*="icon-only"].icon-upload span:after {
  content: '\f01b'; }

[class*="icon-before"].icon-inbox span:before,
[class*="icon-after"].icon-inbox span:after,
[class*="icon-only"].icon-inbox span:after {
  content: '\f01c'; }

[class*="icon-before"].icon-play-circle span:before,
[class*="icon-after"].icon-play-circle span:after,
[class*="icon-only"].icon-play-circle span:after {
  content: '\f01d'; }

[class*="icon-before"].icon-repeat span:before,
[class*="icon-after"].icon-repeat span:after,
[class*="icon-only"].icon-repeat span:after {
  content: '\f01e'; }

[class*="icon-before"].icon-refresh span:before,
[class*="icon-after"].icon-refresh span:after,
[class*="icon-only"].icon-refresh span:after {
  content: '\f021'; }

[class*="icon-before"].icon-list-alt span:before,
[class*="icon-after"].icon-list-alt span:after,
[class*="icon-only"].icon-list-alt span:after {
  content: '\f022'; }

[class*="icon-before"].icon-lock span:before,
[class*="icon-after"].icon-lock span:after,
[class*="icon-only"].icon-lock span:after {
  content: '\f023'; }

[class*="icon-before"].icon-flag span:before,
[class*="icon-after"].icon-flag span:after,
[class*="icon-only"].icon-flag span:after {
  content: '\f024'; }

[class*="icon-before"].icon-headphones span:before,
[class*="icon-after"].icon-headphones span:after,
[class*="icon-only"].icon-headphones span:after {
  content: '\f025'; }

[class*="icon-before"].icon-volume-off span:before,
[class*="icon-after"].icon-volume-off span:after,
[class*="icon-only"].icon-volume-off span:after {
  content: '\f026'; }

[class*="icon-before"].icon-volume-down span:before,
[class*="icon-after"].icon-volume-down span:after,
[class*="icon-only"].icon-volume-down span:after {
  content: '\f027'; }

[class*="icon-before"].icon-volume-up span:before,
[class*="icon-after"].icon-volume-up span:after,
[class*="icon-only"].icon-volume-up span:after {
  content: '\f028'; }

[class*="icon-before"].icon-qrcode span:before,
[class*="icon-after"].icon-qrcode span:after,
[class*="icon-only"].icon-qrcode span:after {
  content: '\f029'; }

[class*="icon-before"].icon-barcode span:before,
[class*="icon-after"].icon-barcode span:after,
[class*="icon-only"].icon-barcode span:after {
  content: '\f02a'; }

[class*="icon-before"].icon-tag span:before,
[class*="icon-after"].icon-tag span:after,
[class*="icon-only"].icon-tag span:after {
  content: '\f02b'; }

[class*="icon-before"].icon-tags span:before,
[class*="icon-after"].icon-tags span:after,
[class*="icon-only"].icon-tags span:after {
  content: '\f02c'; }

[class*="icon-before"].icon-book span:before,
[class*="icon-after"].icon-book span:after,
[class*="icon-only"].icon-book span:after {
  content: '\f02d'; }

[class*="icon-before"].icon-bookmark span:before,
[class*="icon-after"].icon-bookmark span:after,
[class*="icon-only"].icon-bookmark span:after {
  content: '\f02e'; }

[class*="icon-before"].icon-print span:before,
[class*="icon-after"].icon-print span:after,
[class*="icon-only"].icon-print span:after {
  content: '\f02f'; }

[class*="icon-before"].icon-camera span:before,
[class*="icon-after"].icon-camera span:after,
[class*="icon-only"].icon-camera span:after {
  content: '\f030'; }

[class*="icon-before"].icon-font span:before,
[class*="icon-after"].icon-font span:after,
[class*="icon-only"].icon-font span:after {
  content: '\f031'; }

[class*="icon-before"].icon-bold span:before,
[class*="icon-after"].icon-bold span:after,
[class*="icon-only"].icon-bold span:after {
  content: '\f032'; }

[class*="icon-before"].icon-italic span:before,
[class*="icon-after"].icon-italic span:after,
[class*="icon-only"].icon-italic span:after {
  content: '\f033'; }

[class*="icon-before"].icon-text-height span:before,
[class*="icon-after"].icon-text-height span:after,
[class*="icon-only"].icon-text-height span:after {
  content: '\f034'; }

[class*="icon-before"].icon-text-width span:before,
[class*="icon-after"].icon-text-width span:after,
[class*="icon-only"].icon-text-width span:after {
  content: '\f035'; }

[class*="icon-before"].icon-align-left span:before,
[class*="icon-after"].icon-align-left span:after,
[class*="icon-only"].icon-align-left span:after {
  content: '\f036'; }

[class*="icon-before"].icon-align-center span:before,
[class*="icon-after"].icon-align-center span:after,
[class*="icon-only"].icon-align-center span:after {
  content: '\f037'; }

[class*="icon-before"].icon-align-right span:before,
[class*="icon-after"].icon-align-right span:after,
[class*="icon-only"].icon-align-right span:after {
  content: '\f038'; }

[class*="icon-before"].icon-align-justify span:before,
[class*="icon-after"].icon-align-justify span:after,
[class*="icon-only"].icon-align-justify span:after {
  content: '\f039'; }

[class*="icon-before"].icon-list span:before,
[class*="icon-after"].icon-list span:after,
[class*="icon-only"].icon-list span:after {
  content: '\f03a'; }

[class*="icon-before"].icon-indent-left span:before,
[class*="icon-after"].icon-indent-left span:after,
[class*="icon-only"].icon-indent-left span:after {
  content: '\f03b'; }

[class*="icon-before"].icon-indent-right span:before,
[class*="icon-after"].icon-indent-right span:after,
[class*="icon-only"].icon-indent-right span:after {
  content: '\f03c'; }

[class*="icon-before"].icon-facetime-video span:before,
[class*="icon-after"].icon-facetime-video span:after,
[class*="icon-only"].icon-facetime-video span:after {
  content: '\f03d'; }

[class*="icon-before"].icon-picture span:before,
[class*="icon-after"].icon-picture span:after,
[class*="icon-only"].icon-picture span:after {
  content: '\f03e'; }

[class*="icon-before"].icon-pencil span:before,
[class*="icon-after"].icon-pencil span:after,
[class*="icon-only"].icon-pencil span:after {
  content: '\f040'; }

[class*="icon-before"].icon-map-marker span:before,
[class*="icon-after"].icon-map-marker span:after,
[class*="icon-only"].icon-map-marker span:after {
  content: '\f041'; }

[class*="icon-before"].icon-adjust span:before,
[class*="icon-after"].icon-adjust span:after,
[class*="icon-only"].icon-adjust span:after {
  content: '\f042'; }

[class*="icon-before"].icon-tint span:before,
[class*="icon-after"].icon-tint span:after,
[class*="icon-only"].icon-tint span:after {
  content: '\f043'; }

[class*="icon-before"].icon-edit span:before,
[class*="icon-after"].icon-edit span:after,
[class*="icon-only"].icon-edit span:after {
  content: '\f044'; }

[class*="icon-before"].icon-share span:before,
[class*="icon-after"].icon-share span:after,
[class*="icon-only"].icon-share span:after {
  content: '\f045'; }

[class*="icon-before"].icon-check span:before,
[class*="icon-after"].icon-check span:after,
[class*="icon-only"].icon-check span:after {
  content: '\f046'; }

[class*="icon-before"].icon-move span:before,
[class*="icon-after"].icon-move span:after,
[class*="icon-only"].icon-move span:after {
  content: '\f047'; }

[class*="icon-before"].icon-step-backward span:before,
[class*="icon-after"].icon-step-backward span:after,
[class*="icon-only"].icon-step-backward span:after {
  content: '\f048'; }

[class*="icon-before"].icon-fast-backward span:before,
[class*="icon-after"].icon-fast-backward span:after,
[class*="icon-only"].icon-fast-backward span:after {
  content: '\f049'; }

[class*="icon-before"].icon-backward span:before,
[class*="icon-after"].icon-backward span:after,
[class*="icon-only"].icon-backward span:after {
  content: '\f04a'; }

[class*="icon-before"].icon-play span:before,
[class*="icon-after"].icon-play span:after,
[class*="icon-only"].icon-play span:after {
  content: '\f04b'; }

[class*="icon-before"].icon-pause span:before,
[class*="icon-after"].icon-pause span:after,
[class*="icon-only"].icon-pause span:after {
  content: '\f04c'; }

[class*="icon-before"].icon-stop span:before,
[class*="icon-after"].icon-stop span:after,
[class*="icon-only"].icon-stop span:after {
  content: '\f04d'; }

[class*="icon-before"].icon-forward span:before,
[class*="icon-after"].icon-forward span:after,
[class*="icon-only"].icon-forward span:after {
  content: '\f04e'; }

[class*="icon-before"].icon-fast-forward span:before,
[class*="icon-after"].icon-fast-forward span:after,
[class*="icon-only"].icon-fast-forward span:after {
  content: '\f050'; }

[class*="icon-before"].icon-step-forward span:before,
[class*="icon-after"].icon-step-forward span:after,
[class*="icon-only"].icon-step-forward span:after {
  content: '\f051'; }

[class*="icon-before"].icon-eject span:before,
[class*="icon-after"].icon-eject span:after,
[class*="icon-only"].icon-eject span:after {
  content: '\f052'; }

[class*="icon-before"].icon-chevron-left span:before,
[class*="icon-after"].icon-chevron-left span:after,
[class*="icon-only"].icon-chevron-left span:after {
  content: '\f053'; }

[class*="icon-before"].icon-chevron-right span:before,
[class*="icon-after"].icon-chevron-right span:after,
[class*="icon-only"].icon-chevron-right span:after {
  content: '\f054'; }

[class*="icon-before"].icon-plus-sign span:before,
[class*="icon-after"].icon-plus-sign span:after,
[class*="icon-only"].icon-plus-sign span:after {
  content: '\f055'; }

[class*="icon-before"].icon-minus-sign span:before,
[class*="icon-after"].icon-minus-sign span:after,
[class*="icon-only"].icon-minus-sign span:after {
  content: '\f056'; }

[class*="icon-before"].icon-remove-sign span:before,
[class*="icon-after"].icon-remove-sign span:after,
[class*="icon-only"].icon-remove-sign span:after {
  content: '\f057'; }

[class*="icon-before"].icon-ok-sign span:before,
[class*="icon-after"].icon-ok-sign span:after,
[class*="icon-only"].icon-ok-sign span:after {
  content: '\f058'; }

[class*="icon-before"].icon-question-sign span:before,
[class*="icon-after"].icon-question-sign span:after,
[class*="icon-only"].icon-question-sign span:after {
  content: '\f059'; }

[class*="icon-before"].icon-info-sign span:before,
[class*="icon-after"].icon-info-sign span:after,
[class*="icon-only"].icon-info-sign span:after {
  content: '\f05a'; }

[class*="icon-before"].icon-screenshot span:before,
[class*="icon-after"].icon-screenshot span:after,
[class*="icon-only"].icon-screenshot span:after {
  content: '\f05b'; }

nav.twc-custLoc-dropdown span.twc-icon-after:before {
  font-family: "FontAwesome";
  content: '\f05b';
  padding-left: .5em; }

[class*="icon-before"].icon-remove-circle span:before,
[class*="icon-after"].icon-remove-circle span:after,
[class*="icon-only"].icon-remove-circle span:after {
  content: '\f05c'; }

[class*="icon-before"].icon-ok-circle span:before,
[class*="icon-after"].icon-ok-circle span:after,
[class*="icon-only"].icon-ok-circle span:after {
  content: '\f05d'; }

[class*="icon-before"].icon-ban-circle span:before,
[class*="icon-after"].icon-ban-circle span:after,
[class*="icon-only"].icon-ban-circle span:after {
  content: '\f05e'; }

[class*="icon-before"].icon-arrow-left span:before,
[class*="icon-after"].icon-arrow-left span:after,
[class*="icon-only"].icon-arrow-left span:after {
  content: '\f060'; }

[class*="icon-before"].icon-arrow-right span:before,
[class*="icon-after"].icon-arrow-right span:after,
[class*="icon-only"].icon-arrow-right span:after {
  content: '\f061'; }

[class*="icon-before"].icon-arrow-up span:before,
[class*="icon-after"].icon-arrow-up span:after,
[class*="icon-only"].icon-arrow-up span:after {
  content: '\f062'; }

[class*="icon-before"].icon-arrow-down span:before,
[class*="icon-after"].icon-arrow-down span:after,
[class*="icon-only"].icon-arrow-down span:after {
  content: '\f063'; }

[class*="icon-before"].icon-share-alt span:before,
[class*="icon-after"].icon-share-alt span:after,
[class*="icon-only"].icon-share-alt span:after {
  content: '\f064'; }

[class*="icon-before"].icon-resize-full span:before,
[class*="icon-after"].icon-resize-full span:after,
[class*="icon-only"].icon-resize-full span:after {
  content: '\f065'; }

[class*="icon-before"].icon-resize-small span:before,
[class*="icon-after"].icon-resize-small span:after,
[class*="icon-only"].icon-resize-small span:after {
  content: '\f066'; }

[class*="icon-before"].icon-plus span:before,
[class*="icon-after"].icon-plus span:after,
[class*="icon-only"].icon-plus span:after {
  content: '\f067'; }

[class*="icon-before"].icon-minus span:before,
[class*="icon-after"].icon-minus span:after,
[class*="icon-only"].icon-minus span:after {
  content: '\f068'; }

[class*="icon-before"].icon-asterisk span:before,
[class*="icon-after"].icon-asterisk span:after,
[class*="icon-only"].icon-asterisk span:after {
  content: '\f069'; }

[class*="icon-before"].icon-exclamation-sign span:before,
[class*="icon-after"].icon-exclamation-sign span:after,
[class*="icon-only"].icon-exclamation-sign span:after {
  content: '\f06a'; }

[class*="icon-before"].icon-warning-sign span:before,
[class*="icon-after"].icon-warning-sign span:after,
[class*="icon-only"].icon-warning-sign span:after {
  content: '\f071'; }

[class*="icon-before"].icon-calendar span:before,
[class*="icon-after"].icon-calendar span:after,
[class*="icon-only"].icon-calendar span:after {
  content: '\f073'; }

[class*="icon-before"].icon-random span:before,
[class*="icon-after"].icon-random span:after,
[class*="icon-only"].icon-random span:after {
  content: '\f074'; }

[class*="icon-before"].icon-comment span:before,
[class*="icon-after"].icon-comment span:after,
[class*="icon-only"].icon-comment span:after {
  content: '\f075'; }

[class*="icon-before"].icon-chevron-up span:before,
[class*="icon-after"].icon-chevron-up span:after,
[class*="icon-only"].icon-chevron-up span:after {
  content: '\f077'; }

[class*="icon-before"].icon-chevron-down span:before,
[class*="icon-after"].icon-chevron-down span:after,
[class*="icon-only"].icon-chevron-down span:after {
  content: '\f078'; }

[class*="icon-before"].icon-retweet span:before,
[class*="icon-after"].icon-retweet span:after,
[class*="icon-only"].icon-retweet span:after {
  content: '\f079'; }

[class*="icon-before"].icon-shopping-cart span:before,
[class*="icon-after"].icon-shopping-cart span:after,
[class*="icon-only"].icon-shopping-cart span:after {
  content: '\f07a'; }

[class*="icon-before"].icon-folder-close span:before,
[class*="icon-after"].icon-folder-close span:after,
[class*="icon-only"].icon-folder-close span:after {
  content: '\f07b'; }

[class*="icon-before"].icon-folder-open span:before,
[class*="icon-after"].icon-folder-open span:after,
[class*="icon-only"].icon-folder-open span:after {
  content: '\f07c'; }

[class*="icon-before"].icon-bar-chart span:before,
[class*="icon-after"].icon-bar-chart span:after,
[class*="icon-only"].icon-bar-chart span:after {
  content: '\f080'; }

[class*="icon-before"].icon-twitter-sign span:before,
[class*="icon-after"].icon-twitter-sign span:after,
[class*="icon-only"].icon-twitter-sign span:after {
  content: '\f081'; }

[class*="icon-before"].icon-facebook-sign span:before,
[class*="icon-after"].icon-facebook-sign span:after,
[class*="icon-only"].icon-facebook-sign span:after {
  content: '\f082'; }

[class*="icon-before"].icon-camera-retro span:before,
[class*="icon-after"].icon-camera-retro span:after,
[class*="icon-only"].icon-camera-retro span:after {
  content: '\f083'; }

[class*="icon-before"].icon-cogs span:before,
[class*="icon-after"].icon-cogs span:after,
[class*="icon-only"].icon-cogs span:after {
  content: '\f085'; }

[class*="icon-before"].icon-comments span:before,
[class*="icon-after"].icon-comments span:after,
[class*="icon-only"].icon-comments span:after {
  content: '\f086'; }

[class*="icon-before"].icon-thumbs-up-alt span:before,
[class*="icon-after"].icon-thumbs-up-alt span:after,
[class*="icon-only"].icon-thumbs-up-alt span:after {
  content: '\f087'; }

[class*="icon-before"].icon-thumbs-down-alt span:before,
[class*="icon-after"].icon-thumbs-down-alt span:after,
[class*="icon-only"].icon-thumbs-down-alt span:after {
  content: '\f088'; }

[class*="icon-before"].icon-star-half span:before,
[class*="icon-after"].icon-star-half span:after,
[class*="icon-only"].icon-star-half span:after {
  content: '\f089'; }

[class*="icon-before"].icon-heart-empty span:before,
[class*="icon-after"].icon-heart-empty span:after,
[class*="icon-only"].icon-heart-empty span:after {
  content: '\f08a'; }

[class*="icon-before"].icon-signout span:before,
[class*="icon-after"].icon-signout span:after,
[class*="icon-only"].icon-signout span:after {
  content: '\f08b'; }

[class*="icon-before"].icon-linkedin-sign span:before,
[class*="icon-after"].icon-linkedin-sign span:after,
[class*="icon-only"].icon-linkedin-sign span:after {
  content: '\f08c'; }

[class*="icon-before"].icon-pushpin span:before,
[class*="icon-after"].icon-pushpin span:after,
[class*="icon-only"].icon-pushpin span:after {
  content: '\f08d'; }

[class*="icon-before"].icon-external-link span:before,
[class*="icon-after"].icon-external-link span:after,
[class*="icon-only"].icon-external-link span:after {
  content: '\f08e'; }

[class*="icon-before"].icon-signin span:before,
[class*="icon-after"].icon-signin span:after,
[class*="icon-only"].icon-signin span:after {
  content: '\f090'; }

[class*="icon-before"].icon-trophy span:before,
[class*="icon-after"].icon-trophy span:after,
[class*="icon-only"].icon-trophy span:after {
  content: '\f091'; }

[class*="icon-before"].icon-github-sign span:before,
[class*="icon-after"].icon-github-sign span:after,
[class*="icon-only"].icon-github-sign span:after {
  content: '\f092'; }

[class*="icon-before"].icon-upload-alt span:before,
[class*="icon-after"].icon-upload-alt span:after,
[class*="icon-only"].icon-upload-alt span:after {
  content: '\f093'; }

[class*="icon-before"].icon-lemon span:before,
[class*="icon-after"].icon-lemon span:after,
[class*="icon-only"].icon-lemon span:after {
  content: '\f094'; }

[class*="icon-before"].icon-phone span:before,
[class*="icon-after"].icon-phone span:after,
[class*="icon-only"].icon-phone span:after {
  content: '\f095'; }

[class*="icon-before"].icon-check-empty span:before,
[class*="icon-after"].icon-check-empty span:after,
[class*="icon-only"].icon-check-empty span:after {
  content: '\f096'; }

[class*="icon-before"].icon-bookmark-empty span:before,
[class*="icon-after"].icon-bookmark-empty span:after,
[class*="icon-only"].icon-bookmark-empty span:after {
  content: '\f097'; }

[class*="icon-before"].icon-phone-sign span:before,
[class*="icon-after"].icon-phone-sign span:after,
[class*="icon-only"].icon-phone-sign span:after {
  content: '\f098'; }

[class*="icon-before"].icon-twitter span:before,
[class*="icon-after"].icon-twitter span:after,
[class*="icon-only"].icon-twitter span:after {
  content: '\f099'; }

[class*="icon-before"].icon-facebook span:before,
[class*="icon-after"].icon-facebook span:after,
[class*="icon-only"].icon-facebook span:after {
  content: '\f09a'; }

[class*="icon-before"].icon-unlock span:before,
[class*="icon-after"].icon-unlock span:after,
[class*="icon-only"].icon-unlock span:after {
  content: '\f09c'; }

[class*="icon-before"].icon-credit-card span:before,
[class*="icon-after"].icon-credit-card span:after,
[class*="icon-only"].icon-credit-card span:after {
  content: '\f09d'; }

[class*="icon-before"].icon-rss span:before,
[class*="icon-after"].icon-rss span:after,
[class*="icon-only"].icon-rss span:after {
  content: '\f09e'; }

[class*="icon-before"].icon-hdd span:before,
[class*="icon-after"].icon-hdd span:after,
[class*="icon-only"].icon-hdd span:after {
  content: '\f0a0'; }

[class*="icon-before"].icon-bullhorn span:before,
[class*="icon-after"].icon-bullhorn span:after,
[class*="icon-only"].icon-bullhorn span:after {
  content: '\f0a1'; }

[class*="icon-before"].icon-bell span:before,
[class*="icon-after"].icon-bell span:after,
[class*="icon-only"].icon-bell span:after {
  content: '\f0a2'; }

[class*="icon-before"].icon-certificate span:before,
[class*="icon-after"].icon-certificate span:after,
[class*="icon-only"].icon-certificate span:after {
  content: '\f0a3'; }

[class*="icon-before"].icon-hand-right span:before,
[class*="icon-after"].icon-hand-right span:after,
[class*="icon-only"].icon-hand-right span:after {
  content: '\f0a4'; }

[class*="icon-before"].icon-hand-left span:before,
[class*="icon-after"].icon-hand-left span:after,
[class*="icon-only"].icon-hand-left span:after {
  content: '\f0a5'; }

[class*="icon-before"].icon-hand-up span:before,
[class*="icon-after"].icon-hand-up span:after,
[class*="icon-only"].icon-hand-up span:after {
  content: '\f0a6'; }

[class*="icon-before"].icon-hand-down span:before,
[class*="icon-after"].icon-hand-down span:after,
[class*="icon-only"].icon-hand-down span:after {
  content: '\f0a7'; }

[class*="icon-before"].icon-circle-arrow-left span:before,
[class*="icon-after"].icon-circle-arrow-left span:after,
[class*="icon-only"].icon-circle-arrow-left span:after {
  content: '\f0a8'; }

[class*="icon-before"].icon-circle-arrow-right span:before,
[class*="icon-after"].icon-circle-arrow-right span:after,
[class*="icon-only"].icon-circle-arrow-right span:after {
  content: '\f0a9'; }

[class*="icon-before"].icon-circle-arrow-up span:before,
[class*="icon-after"].icon-circle-arrow-up span:after,
[class*="icon-only"].icon-circle-arrow-up span:after {
  content: '\f0aa'; }

[class*="icon-before"].icon-circle-arrow-down span:before,
[class*="icon-after"].icon-circle-arrow-down span:after,
[class*="icon-only"].icon-circle-arrow-down span:after {
  content: '\f0ab'; }

[class*="icon-before"].icon-globe span:before,
[class*="icon-after"].icon-globe span:after,
[class*="icon-only"].icon-globe span:after {
  content: '\f0ac'; }

[class*="icon-before"].icon-wrench span:before,
[class*="icon-after"].icon-wrench span:after,
[class*="icon-only"].icon-wrench span:after {
  content: '\f0ad'; }

[class*="icon-before"].icon-tasks span:before,
[class*="icon-after"].icon-tasks span:after,
[class*="icon-only"].icon-tasks span:after {
  content: '\f0ae'; }

[class*="icon-before"].icon-filter span:before,
[class*="icon-after"].icon-filter span:after,
[class*="icon-only"].icon-filter span:after {
  content: '\f0b0'; }

[class*="icon-before"].icon-briefcase span:before,
[class*="icon-after"].icon-briefcase span:after,
[class*="icon-only"].icon-briefcase span:after {
  content: '\f0b1'; }

[class*="icon-before"].icon-fullscreen span:before,
[class*="icon-after"].icon-fullscreen span:after,
[class*="icon-only"].icon-fullscreen span:after {
  content: '\f0b2'; }

[class*="icon-before"].icon-group span:before,
[class*="icon-after"].icon-group span:after,
[class*="icon-only"].icon-group span:after {
  content: '\f0c0'; }

[class*="icon-before"].icon-link span:before,
[class*="icon-after"].icon-link span:after,
[class*="icon-only"].icon-link span:after {
  content: '\f0c1'; }

[class*="icon-before"].icon-cloud span:before,
[class*="icon-after"].icon-cloud span:after,
[class*="icon-only"].icon-cloud span:after {
  content: '\f0c2'; }

[class*="icon-before"].icon-beaker span:before,
[class*="icon-after"].icon-beaker span:after,
[class*="icon-only"].icon-beaker span:after {
  content: '\f0c3'; }

[class*="icon-before"].icon-cut span:before,
[class*="icon-after"].icon-cut span:after,
[class*="icon-only"].icon-cut span:after {
  content: '\f0c4'; }

[class*="icon-before"].icon-copy span:before,
[class*="icon-after"].icon-copy span:after,
[class*="icon-only"].icon-copy span:after {
  content: '\f0c5'; }

[class*="icon-before"].icon-paper-clip span:before,
[class*="icon-after"].icon-paper-clip span:after,
[class*="icon-only"].icon-paper-clip span:after {
  content: '\f0c6'; }

[class*="icon-before"].icon-save span:before,
[class*="icon-after"].icon-save span:after,
[class*="icon-only"].icon-save span:after {
  content: '\f0c7'; }

[class*="icon-before"].icon-sign-blank span:before,
[class*="icon-after"].icon-sign-blank span:after,
[class*="icon-only"].icon-sign-blank span:after {
  content: '\f0c8'; }

[class*="icon-before"].icon-reorder span:before,
[class*="icon-after"].icon-reorder span:after,
[class*="icon-only"].icon-reorder span:after {
  content: '\f0c9'; }

[class*="icon-before"].icon-list-ul span:before,
[class*="icon-after"].icon-list-ul span:after,
[class*="icon-only"].icon-list-ul span:after {
  content: '\f0ca'; }

[class*="icon-before"].icon-list-ol span:before,
[class*="icon-after"].icon-list-ol span:after,
[class*="icon-only"].icon-list-ol span:after {
  content: '\f0cb'; }

[class*="icon-before"].icon-strikethrough span:before,
[class*="icon-after"].icon-strikethrough span:after,
[class*="icon-only"].icon-strikethrough span:after {
  content: '\f0cc'; }

[class*="icon-before"].icon-underline span:before,
[class*="icon-after"].icon-underline span:after,
[class*="icon-only"].icon-underline span:after {
  content: '\f0cd'; }

[class*="icon-before"].icon-table span:before,
[class*="icon-after"].icon-table span:after,
[class*="icon-only"].icon-table span:after {
  content: '\f0ce'; }

[class*="icon-before"].icon-magic span:before,
[class*="icon-after"].icon-magic span:after,
[class*="icon-only"].icon-magic span:after {
  content: '\f0d0'; }

[class*="icon-before"].icon-truck span:before,
[class*="icon-after"].icon-truck span:after,
[class*="icon-only"].icon-truck span:after {
  content: '\f0d1'; }

[class*="icon-before"].icon-pinterest span:before,
[class*="icon-after"].icon-pinterest span:after,
[class*="icon-only"].icon-pinterest span:after {
  content: '\f0d2'; }

[class*="icon-before"].icon-pinterest-sign span:before,
[class*="icon-after"].icon-pinterest-sign span:after,
[class*="icon-only"].icon-pinterest-sign span:after {
  content: '\f0d3'; }

[class*="icon-before"].icon-google-plus-sign span:before,
[class*="icon-after"].icon-google-plus-sign span:after,
[class*="icon-only"].icon-google-plus-sign span:after {
  content: '\f0d4'; }

[class*="icon-before"].icon-google-plus span:before,
[class*="icon-after"].icon-google-plus span:after,
[class*="icon-only"].icon-google-plus span:after {
  content: '\f0d5'; }

[class*="icon-before"].icon-money span:before,
[class*="icon-after"].icon-money span:after,
[class*="icon-only"].icon-money span:after {
  content: '\f0d6'; }

[class*="icon-before"].icon-caret-down span:before,
[class*="icon-after"].icon-caret-down span:after,
[class*="icon-only"].icon-caret-down span:after {
  content: '\f0d7'; }

[class*="icon-before"].icon-caret-up span:before,
[class*="icon-after"].icon-caret-up span:after,
[class*="icon-only"].icon-caret-up span:after {
  content: '\f0d8'; }

[class*="icon-before"].icon-caret-left span:before,
[class*="icon-after"].icon-caret-left span:after,
[class*="icon-only"].icon-caret-left span:after {
  content: '\f0d9'; }

[class*="icon-before"].icon-caret-right span:before,
[class*="icon-after"].icon-caret-right span:after,
[class*="icon-only"].icon-caret-right span:after {
  content: '\f0da'; }

[class*="icon-before"].icon-columns span:before,
[class*="icon-after"].icon-columns span:after,
[class*="icon-only"].icon-columns span:after {
  content: '\f0db'; }

[class*="icon-before"].icon-sort span:before,
[class*="icon-after"].icon-sort span:after,
[class*="icon-only"].icon-sort span:after {
  content: '\f0dc'; }

[class*="icon-before"].icon-sort-down span:before,
[class*="icon-after"].icon-sort-down span:after,
[class*="icon-only"].icon-sort-down span:after {
  content: '\f0dd'; }

[class*="icon-before"].icon-sort-up span:before,
[class*="icon-after"].icon-sort-up span:after,
[class*="icon-only"].icon-sort-up span:after {
  content: '\f0de'; }

[class*="icon-before"].icon-envelope span:before,
[class*="icon-after"].icon-envelope span:after,
[class*="icon-only"].icon-envelope span:after {
  content: '\f0e0'; }

[class*="icon-before"].icon-linkedin span:before,
[class*="icon-after"].icon-linkedin span:after,
[class*="icon-only"].icon-linkedin span:after {
  content: '\f0e1'; }

[class*="icon-before"].icon-undo span:before,
[class*="icon-after"].icon-undo span:after,
[class*="icon-only"].icon-undo span:after {
  content: '\f0e2'; }

[class*="icon-before"].icon-dashboard span:before,
[class*="icon-after"].icon-dashboard span:after,
[class*="icon-only"].icon-dashboard span:after {
  content: '\f0e4'; }

[class*="icon-before"].icon-comment-alt span:before,
[class*="icon-after"].icon-comment-alt span:after,
[class*="icon-only"].icon-comment-alt span:after {
  content: '\f0e5'; }

[class*="icon-before"].icon-comments-alt span:before,
[class*="icon-after"].icon-comments-alt span:after,
[class*="icon-only"].icon-comments-alt span:after {
  content: '\f0e6'; }

[class*="icon-before"].icon-paste span:before,
[class*="icon-after"].icon-paste span:after,
[class*="icon-only"].icon-paste span:after {
  content: '\f0ea'; }

[class*="icon-before"].icon-lightbulb span:before,
[class*="icon-after"].icon-lightbulb span:after,
[class*="icon-only"].icon-lightbulb span:after {
  content: '\f0eb'; }

[class*="icon-before"].icon-exchange span:before,
[class*="icon-after"].icon-exchange span:after,
[class*="icon-only"].icon-exchange span:after {
  content: '\f0ec'; }

[class*="icon-before"].icon-cloud-download span:before,
[class*="icon-after"].icon-cloud-download span:after,
[class*="icon-only"].icon-cloud-download span:after {
  content: '\f0ed'; }

[class*="icon-before"].icon-cloud-upload span:before,
[class*="icon-after"].icon-cloud-upload span:after,
[class*="icon-only"].icon-cloud-upload span:after {
  content: '\f0ee'; }

[class*="icon-before"].icon-suitcase span:before,
[class*="icon-after"].icon-suitcase span:after,
[class*="icon-only"].icon-suitcase span:after {
  content: '\f0f2'; }

[class*="icon-before"].icon-building span:before,
[class*="icon-after"].icon-building span:after,
[class*="icon-only"].icon-building span:after {
  content: '\f0f7'; }

[class*="icon-before"].icon-plus-sign-alt span:before,
[class*="icon-after"].icon-plus-sign-alt span:after,
[class*="icon-only"].icon-plus-sign-alt span:after {
  content: '\f0fe'; }

[class*="icon-before"].icon-double-angle-left span:before,
[class*="icon-after"].icon-double-angle-left span:after,
[class*="icon-only"].icon-double-angle-left span:after {
  content: '\f100'; }

[class*="icon-before"].icon-double-angle-right span:before,
[class*="icon-after"].icon-double-angle-right span:after,
[class*="icon-only"].icon-double-angle-right span:after {
  content: '\f101'; }

[class*="icon-before"].icon-double-angle-up span:before,
[class*="icon-after"].icon-double-angle-up span:after,
[class*="icon-only"].icon-double-angle-up span:after {
  content: '\f102'; }

[class*="icon-before"].icon-double-angle-down span:before,
[class*="icon-after"].icon-double-angle-down span:after,
[class*="icon-only"].icon-double-angle-down span:after {
  content: '\f103'; }

[class*="icon-before"].icon-angle-left span:before,
[class*="icon-after"].icon-angle-left span:after,
[class*="icon-only"].icon-angle-left span:after {
  content: '\f104'; }

[class*="icon-before"].icon-angle-right span:before,
[class*="icon-after"].icon-angle-right span:after,
[class*="icon-only"].icon-angle-right span:after {
  content: '\f105'; }

[class*="icon-before"].icon-angle-up span:before,
[class*="icon-after"].icon-angle-up span:after,
[class*="icon-only"].icon-angle-up span:after {
  content: '\f106'; }

[class*="icon-before"].icon-angle-down span:before,
[class*="icon-after"].icon-angle-down span:after,
[class*="icon-only"].icon-angle-down span:after {
  content: '\f107'; }

[class*="icon-before"].icon-desktop span:before,
[class*="icon-after"].icon-desktop span:after,
[class*="icon-only"].icon-desktop span:after {
  content: '\f108'; }

[class*="icon-before"].icon-laptop span:before,
[class*="icon-after"].icon-laptop span:after,
[class*="icon-only"].icon-laptop span:after {
  content: '\f109'; }

[class*="icon-before"].icon-tablet span:before,
[class*="icon-after"].icon-tablet span:after,
[class*="icon-only"].icon-tablet span:after {
  content: '\f10a'; }

[class*="icon-before"].icon-mobile-phone span:before,
[class*="icon-after"].icon-mobile-phone span:after,
[class*="icon-only"].icon-mobile-phone span:after {
  content: '\f10b'; }

[class*="icon-before"].icon-circle-blank span:before,
[class*="icon-after"].icon-circle-blank span:after,
[class*="icon-only"].icon-circle-blank span:after {
  content: '\f10c'; }

[class*="icon-before"].icon-quote-left span:before,
[class*="icon-after"].icon-quote-left span:after,
[class*="icon-only"].icon-quote-left span:after {
  content: '\f10d'; }

[class*="icon-before"].icon-quote-right span:before,
[class*="icon-after"].icon-quote-right span:after,
[class*="icon-only"].icon-quote-right span:after {
  content: '\f10e'; }

[class*="icon-before"].icon-spinner span:before,
[class*="icon-after"].icon-spinner span:after,
[class*="icon-only"].icon-spinner span:after {
  content: '\f110'; }

[class*="icon-before"].icon-circle span:before,
[class*="icon-after"].icon-circle span:after,
[class*="icon-only"].icon-circle span:after {
  content: '\f111'; }

[class*="icon-before"].icon-reply span:before,
[class*="icon-after"].icon-reply span:after,
[class*="icon-only"].icon-reply span:after {
  content: '\f112'; }

[class*="icon-before"].icon-github-alt span:before,
[class*="icon-after"].icon-github-alt span:after,
[class*="icon-only"].icon-github-alt span:after {
  content: '\f113'; }

[class*="icon-before"].icon-folder-close-alt span:before,
[class*="icon-after"].icon-folder-close-alt span:after,
[class*="icon-only"].icon-folder-close-alt span:after {
  content: '\f114'; }

[class*="icon-before"].icon-folder-open-alt span:before,
[class*="icon-after"].icon-folder-open-alt span:after,
[class*="icon-only"].icon-folder-open-alt span:after {
  content: '\f115'; }

[class*="icon-before"].icon-expand-alt span:before,
[class*="icon-after"].icon-expand-alt span:after,
[class*="icon-only"].icon-expand-alt span:after {
  content: '\f116'; }

[class*="icon-before"].icon-collapse-alt span:before,
[class*="icon-after"].icon-collapse-alt span:after,
[class*="icon-only"].icon-collapse-alt span:after {
  content: '\f117'; }

[class*="icon-before"].icon-gamepad span:before,
[class*="icon-after"].icon-gamepad span:after,
[class*="icon-only"].icon-gamepad span:after {
  content: '\f11b'; }

[class*="icon-before"].icon-flag-alt span:before,
[class*="icon-after"].icon-flag-alt span:after,
[class*="icon-only"].icon-flag-alt span:after {
  content: '\f11d'; }

[class*="icon-before"].icon-flag-checkered span:before,
[class*="icon-after"].icon-flag-checkered span:after,
[class*="icon-only"].icon-flag-checkered span:after {
  content: '\f11e'; }

[class*="icon-before"].icon-code span:before,
[class*="icon-after"].icon-code span:after,
[class*="icon-only"].icon-code span:after {
  content: '\f121'; }

[class*="icon-before"].icon-reply-all span:before,
[class*="icon-after"].icon-reply-all span:after,
[class*="icon-only"].icon-reply-all span:after {
  content: '\f122'; }

[class*="icon-before"].icon-mail-reply-all span:before,
[class*="icon-after"].icon-mail-reply-all span:after,
[class*="icon-only"].icon-mail-reply-all span:after {
  content: '\f122'; }

[class*="icon-before"].icon-star-half-empty span:before,
[class*="icon-after"].icon-star-half-empty span:after,
[class*="icon-only"].icon-star-half-empty span:after {
  content: '\f123'; }

[class*="icon-before"].icon-location-arrow span:before,
[class*="icon-after"].icon-location-arrow span:after,
[class*="icon-only"].icon-location-arrow span:after {
  content: '\f124'; }

[class*="icon-before"].icon-crop span:before,
[class*="icon-after"].icon-crop span:after,
[class*="icon-only"].icon-crop span:after {
  content: '\f125'; }

[class*="icon-before"].icon-question span:before,
[class*="icon-after"].icon-question span:after,
[class*="icon-only"].icon-question span:after {
  content: '\f128'; }

[class*="icon-before"].icon-info span:before,
[class*="icon-after"].icon-info span:after,
[class*="icon-only"].icon-info span:after {
  content: '\f129'; }

[class*="icon-before"].icon-exclamation span:before,
[class*="icon-after"].icon-exclamation span:after,
[class*="icon-only"].icon-exclamation span:after {
  content: '\f12a'; }

[class*="icon-before"].icon-eraser span:before,
[class*="icon-after"].icon-eraser span:after,
[class*="icon-only"].icon-eraser span:after {
  content: '\f12d'; }

[class*="icon-before"].icon-calendar-empty span:before,
[class*="icon-after"].icon-calendar-empty span:after,
[class*="icon-only"].icon-calendar-empty span:after {
  content: '\f133'; }

[class*="icon-before"].icon-chevron-sign-left span:before,
[class*="icon-after"].icon-chevron-sign-left span:after,
[class*="icon-only"].icon-chevron-sign-left span:after {
  content: '\f137'; }

[class*="icon-before"].icon-chevron-sign-right span:before,
[class*="icon-after"].icon-chevron-sign-right span:after,
[class*="icon-only"].icon-chevron-sign-right span:after {
  content: '\f138'; }

[class*="icon-before"].icon-chevron-sign-up span:before,
[class*="icon-after"].icon-chevron-sign-up span:after,
[class*="icon-only"].icon-chevron-sign-up span:after {
  content: '\f139'; }

[class*="icon-before"].icon-chevron-sign-down span:before,
[class*="icon-after"].icon-chevron-sign-down span:after,
[class*="icon-only"].icon-chevron-sign-down span:after {
  content: '\f13a'; }

[class*="icon-before"].icon-unlock-alt span:before,
[class*="icon-after"].icon-unlock-alt span:after,
[class*="icon-only"].icon-unlock-alt span:after {
  content: '\f13e'; }

[class*="icon-before"].icon-ellipsis-horizontal span:before,
[class*="icon-after"].icon-ellipsis-horizontal span:after,
[class*="icon-only"].icon-ellipsis-horizontal span:after {
  content: '\f141'; }

[class*="icon-before"].icon-ellipsis-vertical span:before,
[class*="icon-after"].icon-ellipsis-vertical span:after,
[class*="icon-only"].icon-ellipsis-vertical span:after {
  content: '\f142'; }

[class*="icon-before"].icon-play-sign span:before,
[class*="icon-after"].icon-play-sign span:after,
[class*="icon-only"].icon-play-sign span:after {
  content: '\f144'; }

[class*="icon-before"].icon-ticket span:before,
[class*="icon-after"].icon-ticket span:after,
[class*="icon-only"].icon-ticket span:after {
  content: '\f145'; }

[class*="icon-before"].icon-minus-sign-alt span:before,
[class*="icon-after"].icon-minus-sign-alt span:after,
[class*="icon-only"].icon-minus-sign-alt span:after {
  content: '\f146'; }

[class*="icon-before"].icon-check-minus span:before,
[class*="icon-after"].icon-check-minus span:after,
[class*="icon-only"].icon-check-minus span:after {
  content: '\f147'; }

[class*="icon-before"].icon-check-sign span:before,
[class*="icon-after"].icon-check-sign span:after,
[class*="icon-only"].icon-check-sign span:after {
  content: '\f14a'; }

[class*="icon-before"].icon-edit-sign span:before,
[class*="icon-after"].icon-edit-sign span:after,
[class*="icon-only"].icon-edit-sign span:after {
  content: '\f14b'; }

[class*="icon-before"].icon-external-link-sign span:before,
[class*="icon-after"].icon-external-link-sign span:after,
[class*="icon-only"].icon-external-link-sign span:after {
  content: '\f14c'; }

[class*="icon-before"].icon-share-sign span:before,
[class*="icon-after"].icon-share-sign span:after,
[class*="icon-only"].icon-share-sign span:after {
  content: '\f14d'; }

[class*="icon-before"].icon-compass span:before,
[class*="icon-after"].icon-compass span:after,
[class*="icon-only"].icon-compass span:after {
  content: '\f14e'; }

[class*="icon-before"].icon-collapse span:before,
[class*="icon-after"].icon-collapse span:after,
[class*="icon-only"].icon-collapse span:after {
  content: '\f150'; }

[class*="icon-before"].icon-collapse-top span:before,
[class*="icon-after"].icon-collapse-top span:after,
[class*="icon-only"].icon-collapse-top span:after {
  content: '\f151'; }

[class*="icon-before"].icon-expand span:before,
[class*="icon-after"].icon-expand span:after,
[class*="icon-only"].icon-expand span:after {
  content: '\f152'; }

[class*="icon-before"].icon-eur span:before,
[class*="icon-after"].icon-eur span:after,
[class*="icon-only"].icon-eur span:after {
  content: '\f153'; }

[class*="icon-before"].icon-gbp span:before,
[class*="icon-after"].icon-gbp span:after,
[class*="icon-only"].icon-gbp span:after {
  content: '\f154'; }

[class*="icon-before"].icon-usd span:before,
[class*="icon-after"].icon-usd span:after,
[class*="icon-only"].icon-usd span:after {
  content: '\f155'; }

[class*="icon-before"].icon-dollar span:before,
[class*="icon-after"].icon-dollar span:after,
[class*="icon-only"].icon-dollar span:after {
  content: '\f155'; }

[class*="icon-before"].icon-btc span:before,
[class*="icon-after"].icon-btc span:after,
[class*="icon-only"].icon-btc span:after {
  content: '\f15a'; }

[class*="icon-before"].icon-file span:before,
[class*="icon-after"].icon-file span:after,
[class*="icon-only"].icon-file span:after {
  content: '\f15b'; }

[class*="icon-before"].icon-youtube-sign span:before,
[class*="icon-after"].icon-youtube-sign span:after,
[class*="icon-only"].icon-youtube-sign span:after {
  content: '\f166'; }

[class*="icon-before"].icon-youtube span:before,
[class*="icon-after"].icon-youtube span:after,
[class*="icon-only"].icon-youtube span:after {
  content: '\f167'; }

[class*="icon-before"].icon-eye-open span:before,
[class*="icon-after"].icon-eye-open span:after,
[class*="icon-only"].icon-eye-open span:after {
  content: '\f06e'; }

/*# sourceMappingURL=icons.css.map */
