/* ==========================================================================
    LOB  -- Version: 1.0.0 - Updated: 5/30/2014
   ========================================================================== */
.image-banner h3, .image-banner p {
  color: #fff; }

.pyr-panel img {
  height: 200px;
  background-size: auto;
  background-position: 85% 15%; }

.allLOBs {
  margin-bottom: 2em;
  padding: 0;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 2px 0 #888888; }

.twc-LOBTopics {
  position: relative;
  padding: 2em;
  border-radius: 3px 0 0 3px;
  background-color: #487a97;
  overflow: hidden; }

.twc-LOBTopics h3 {
  color: #fff; }

.twc-LOBTopics h5 {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  color: #fff; }

.twc-LOBTopics li.active {
  width: 150%;
  padding: .5em 50% .5em 1em;
  background: #ebebeb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: linear-gradient(to right, #ebebeb 0%, #ebebeb 23%, #ffffff 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=1 ); }

.twc-LOBTopics li.active h5 {
  color: #333; }

.twc-LOBTopics ul h5.arrow:after {
  float: right;
  font-family: 'FontAwesome', sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  content: '\f107';
  color: #B1B2AF;
  transition: all .4s ease-in-out; }

.twc-LOBTopics ul li.expanded > h5.arrow:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.twc-LOBTopics ul li ul li ul li.topic h5.arrow:after {
  color: #B1B2AF; }

.twc-LOBTopics h5 + ul {
  display: none; }

.twc-LOBTopics ul li.topic ul li {
  display: none; }

.twc-LOBTopics ul {
  padding-left: 0em; }

.twc-LOBTopics li {
  padding: .5em 0em !important;
  width: 100% !important; }

.twc-topicLOBs {
  position: relative;
  padding: 2em 2em 0em 0; }

.twc-LOBs h3 {
  margin: 0 0 10px; }

.twc-LOBtopics li.active {
  border-bottom: 1px solid #fff; }

.twc-LOBTopics li.js-last,
.twc-topicLOBs li.js-last,
.LOB-resources li.js-last,
.SBS li.js-last {
  border-bottom: none; }

.twc-topicLOBs ul.content {
  margin-bottom: 2em; }

.twc-topicLOBs ul.content div {
  display: block;
  margin-bottom: 1em;
  background: #f7f7f7; }

.twc-topicLOBs ul.content div > li {
  display: table-cell;
  width: 33%;
  padding: 1em;
  border-bottom: none; }

.twc-topicLOBs li > p {
  margin-top: 1em;
  color: #333; }

.allLOBs .info-box {
  background: none repeat scroll 0 0 #F7F7F7;
  display: block;
  margin-bottom: 1em;
  padding: 1em; }

.allLOBs .topics-content-container {
  margin-left: 14px; }

@-moz-document url-prefix() {}.twc-ie8 .allLOBs {
  filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=2, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=2, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=2, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=2, Direction=270)"; }

.twc-ie8 section {
  border: 1px solid #c2c2c2; }

.twc-ie8 .twc-topicLOBs ul.content li:first-child,
.twc-ie8 .twc-topicLOBs ul.content li:first-child + li,
.twc-ie8 .twc-topicLOBs ul.content li:first-child + li + li {
  display: inline-block;
  width: 28%;
  padding: 2%;
  margin-bottom: 10px;
  border-bottom: none;
  vertical-align: top; }

.twc-ie8 li.LOBLabel.active,
.twc-ie8 li.LOBLabel.removeBorder {
  border-bottom: none; }

.twc-ie8 .selectBox {
  min-height: 150px; }

.allLOBs .leftRail-list .leftRail-topics li.js-last {
  border-bottom: 1px dotted #e1e1e1 !important; }

.allLOBs .leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
  background: none repeat scroll 0 0 #FFFFFF; }

.pyr-topics .text.section:nth-of-type(6), .text.section:nth-of-type(7) {
  width: auto !important; }

.allLOBs .leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
  width: 115% !important; }

.allLOBs li.topic {
  width: 100% !important; }

.pyr-topics .text {
  margin-bottom: 0em !important; }

.programYourOwn .text {
  margin-bottom: 0em !important; }

@media (max-width: 48em) {
  .twc-LOBTopics ul {
    padding-left: 1em; }
  .twc-LOBTopics li {
    padding: 0.5em 0em !important; }
  .twc-topicLOBs {
    display: block;
    padding: 0; }
  .allLOBs .twc-col2_7525-c1 {
    border-left: none; }
  .needmorehelp {
    padding: 1em;
    background-color: #fff;
    color: #333;
    text-align: left; }
  .LOB-resources.more {
    background: none; }
  .allLOBs .dropdown {
    float: right; }
  .allLOBs .leftRail-list .leftRail-topics a {
    color: #00008B; }
  .allLOBs .leftRail-list .leftRail-topics li.active a {
    color: #00008B; }
  .allLOBs .leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
    width: 100% !important; } }

@media (max-width: 40em) {
  .allLOBs .leftRail-list .leftRail-topics ul li.topic {
    padding: 0 0 0 0 !important;
    border-bottom: 1px solid white; }
  .allLOBs .tabs li {
    max-width: 33.3333334%; }
  .twc-LOBTopics .text.section {
    width: auto; }
  .twc-LOBTopics ul {
    padding-left: 1em; }
  .twc-LOBTopics li {
    padding: 0em 0em !important; }
  .allLOBs .topic-content {
    padding-top: 5px;
    padding-bottom: 5px; }
  .allLOBs .leftRail-list .leftRail-topics li.active, .leftRail-list .leftRail-topics li.js-active {
    width: 100% !important; }
  .allLOBs .leftRail-list .leftRail-topics a {
    color: #00008B; }
  .allLOBs .leftRail-list .leftRail-topics li.active a {
    color: #00008B; } }

/*# sourceMappingURL=lob.css.map */
