/* ==========================================================================
    Tile List - Version: 1.9.0.3 - Updated: 2/25/2014
   ========================================================================== */
.tileList {
  display: table;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  background: #fff;
  border-radius: 3px;
  background-clip: padding-box;
  box-shadow: 0 1px 2px 0 #888;
  overflow: hidden;
  width: 100%; }
  .tileList ul {
    display: table-row;
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 1em;
    padding-left: 0; }
  .tileList li {
    float: none;
    display: table-cell;
    width: 16.6666667%;
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 1em;
    padding-left: 0;
    text-align: center;
    /*
    &.nextHover, &.js-nextHover {
      @include margin();
    }
*/ }
    .tileList li.js-first {
      border: 0; }
    .tileList li:hover {
      background: #f3f6f9; }
    .tileList li img {
      display: block;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 1em;
      margin-left: auto; }
    .tileList li:hover img {
      filter: alpha(opacity=90);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9; }
    .tileList li a {
      display: block;
      padding-top: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 0.5em;
      border-left: 1px dotted #666;
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      font-size: 1.6rem;
      color: #010101; }
    .tileList li:first-child a {
      border: none; }
  .tileList p {
    font-size: 14px;
    font-size: 1.4rem; }

[class*='25-25-50'] .labelList h5.label:last-of-type {
  height: 22px; }

[class*='twc-col3_252550-c'] ul {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0; }

[class*='twc-col3_252550-c'] li {
  clear: left;
  width: 100%;
  padding: 2px 0;
  border-bottom: 1px dotted #ccc; }
  [class*='twc-col3_252550-c'] li.js-last {
    border-bottom: none; }
  [class*='twc-col3_252550-c'] li a {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 2;
    color: #3376b2;
    text-transform: none; }
  @media (max-width: 48em) {
  section {
    margin-left: 0;
    margin-bottom: 20px; }
  .tileList {
    width: 100%;
    background: #fff; }
  .tileList li {
    display: inline-block;
    zoom: 1;
    display: inline;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    border-left: 0;
    border-bottom: 1px solid #ccc;/*
      &.nextHover, &.js-nextHover {
        @include margin();
      }
*/ }
  .tileList li.js-first {
    border: 0;
    border-bottom: 1px solid #ccc; }
  .tileList li:hover {
    background: #f6f6f6;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left; }
  .tileList li img {
    display: none; }
  .tileList li a {
    border: none;
    font-size: 16px;
    font-size: 1.6rem;
    color: #3376b2;
    text-align: center; }
  .tileList li a:after {
    padding: 0 .5em;
    font-family: "FontAwesome";
    font-size: 20px;
    font-size: 2rem;
    content: '\f105';
    color: #b1b2af;
    float: right;
    margin-top: -.125em; }
  .tileList .parsys_column ul, .tileList .parsys_column[class*='twc-col']:nth-child(2) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  [class*='25-25-50'] .twc-col3_252550-c2 {
    margin-top: 1em; } }
  @media (max-width: 40em) {
  [class*='25-25-50'] .labelList h5.label:last-of-type {
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  [class*='twc-col3_252550-c'] li {
    clear: left;
    width: 100%;
    padding: 2px 0;/*border-bottom: none;*/
    list-style: disc; } }

/*# sourceMappingURL=tileList.css.map */
