/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.twc-content {
  background-image: none;
  background: #fff;
}

#sticky-subnav {
  padding: 10px 0;
  padding: 1rem 0;
  overflow: hidden;
  transition: opacity 0.5s;
  display: table;
  margin: 0 auto;
  border-bottom: 1px solid #00315c;
  width: 100%;
}

#sticky-subnav.js-sticky {
  visibility: visible;
  opacity: 1;
  left: 0;
  right: 0;
  position: fixed;
  height: auto;
  top: 0;
  z-index: 9999;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
}

#sticky-subnav > .parsys {
  max-width: 980px;
  display: table;
  margin: 0 auto;
}

#sticky-subnav .twc-container {
  text-align: center;
  padding: 1em 0;
  position: relative;
  display: table-row;
  max-width: initial;
}

#sticky-subnav .cta {
  display: table-cell;
  padding: 0 12px;
}

#sticky-subnav .cta:first-of-type {
  padding-left: 0;
}

#sticky-subnav .cta:last-of-type {
  padding-right: 0;
}

#sticky-subnav .cta a {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: .556em 1.445em;
  margin-right: 1%;
  border-radius: 7px;
  text-align: center;
  transition: all 200ms ease-out;
  color: #00549f;
  font-family: "TWC Round Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  position: relative;
  border: 1px solid #00549f;
  background-color: #fff;
}

#sticky-subnav .cta a:hover {
  color: #fff;
  background-color: #02a9e0;
  border-color: #02a9e0;
}

#sticky-subnav .cta:last-of-type a {
  margin-right: 0;
}

#sticky-subnav.js-closed {
  display: none;
}

#sticky-subnav ~ #sticky-spacer {
  display: none !important;
}

.closeSticky span:after {
  padding-left: 0.5em;
}

#sticky-carousel-subnav-wrapper #sticky-subnav {
  display: block;
}

#sticky-carousel-subnav-wrapper #sticky-subnav > .parsys {
  display: block;
  max-width: 780px;
}

#sticky-carousel-subnav-wrapper .twc-container {
  display: block;
}

#sticky-carousel-subnav-wrapper .cta {
  display: inherit;
}

#sticky-carousel-subnav-wrapper [class*='btn-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#sticky-carousel-subnav-wrapper .btn-prev::before {
  left: -100px;
}

#sticky-carousel-subnav-wrapper .btn-prev::before::before {
  font-family: FontAwesome;
  content: '\f053';
}

#sticky-carousel-subnav-wrapper .btn-next {
  right: -100px;
}

#sticky-carousel-subnav-wrapper .btn-next::before {
  font-family: FontAwesome;
  content: '\f054';
}

@media (max-width: 40em) {
  #sticky-subnav .cta {
    padding: 0 2px;
  }
  #sticky-subnav .cta a {
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0.556em .2em;
  }
}

/*# sourceMappingURL=style.css.map */
