body {
	max-width:980px;
	font-family:Arial, Helvetica, sans-serif;
}
.focus {
	width: 100%;
	margin:0;
	font-size:0;
	color:#FFFFFF;
}
.focus article {
	width:33.33333%;
	font-size:initial;
	display:inline-block;
	vertical-align:top;
}
.focus article:last-child > div {
	margin-right:0;
}
.focus article > div {
	min-height:270px;
	position:relative;
}
.focus .backLayer {
	background:url(background.jpg);
	margin-right: 5%;
	min-height: 260px;
	padding:5%;
}
.focus article:nth-child(2) .backLayer {
	background:url(mm-catskill-bank.jpg) no-repeat bottom right;
	background-size:cover;
}
.focus h4,
.focus h5,
.focus p {
	margin:0;
}
/*.focus p {
	font-size:13px;
}*/
.focus article:nth-child(3) p {
	margin-top:169px;
}
.focus article:nth-child(2) figure {
	width:50%;
	display:block;
	margin:0;
}
.focus article span {
	display:block;
}
.focus button {
	border:none;
	border-radius:3px;
	margin-top:1%;
	cursor:pointer;
	font-weight:bold;
	font-size:13px;
	padding:10px 15px;
	color:#FFF;
	background:rgb(141,141,141);
	background:-moz-linear-gradient(top,  rgba(141,141,141,1) 0%, rgba(101,101,101,1) 100%);
	background:-webkit-linear-gradient(top,  rgba(141,141,141,1) 0%,rgba(101,101,101,1) 100%);
	background:linear-gradient(to bottom,  rgba(141,141,141,1) 0%,rgba(101,101,101,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#656565',GradientType=0 );
}
.focus button:hover {
	background:#AEB0B2;
}
@media screen and (max-width: 768px) {
	.focus article {
		width:100%;
	}
	.focus .backLayer {
		margin-right:0;
		margin-bottom:5%;
	}
	.focus article:nth-child(2) .backLayer {
		background-position: bottom right;
	}
	.focus article:nth-child(3) .backLayer {
		background-position:right top;
	}
}
@media screen and (max-width: 480px) {
	.focus article:nth-child(1) .backLayer {
		background-position:center left;
	}
}
@media screen and (max-width: 420px) {
	.focus article:nth-child(3) .backLayer {
		background-position:-200px top;
	}
}