body {
	max-width:980px;
	font-family:Arial, Helvetica, sans-serif;
}
.focus {
	width: 100%;
	margin:0;
	font-size:0;
	color:#FFFFFF;
}
.focus article {
	width:33.33333%;
	font-size:initial;
	display:inline-block;
	vertical-align:top;
}
.focus article:last-child > div {
	margin-right:0;
}
.focus article > div {
	min-height:260px;
	position:relative;
}
.focus .backLayer {
	background:url(background.jpg);
	margin-right: 5%;
}
.focus .frontLayer {
	min-height: 260px;
    padding: 5%;
    position: relative;
}
.focus article:nth-child(1) .backLayer {
	background:url(iStock_000044718556_Large_duotone-edited2_small.jpg) no-repeat center center;
	background-size:cover;
}
.focus article:nth-child(2) .frontLayer {
	background:url(person.png) no-repeat bottom right;
}
.focus article:nth-child(3) .backLayer {
	background:url(11659_homepage_730x48852_small.jpg) no-repeat -200px top;
	background-size:cover;
}
.focus .caption {
	position:absolute;
	right:5%;
	bottom:5%;
}
.focus .caption ul {
	padding:0;
	margin:0;
}
.focus h4,
.focus h5,
.focus p {
	margin:0;
}
/*.focus article:nth-child(2) span > div {
	width:50%;
}*/
.focus article:nth-child(2) figure {
	width:50%;
	display:block;
	margin:0;
	background:tomato;
}
.focus article span {
	display:block;
}
.focus hgroup h4 {
	text-transform:uppercase;
}
.focus br.clear {
	clear:both;
	visibility:hidden;
	height:0;
	display:block;
	width:100%;
	color:transparent;
}
.focus br.clear:after {
	content:".";
}
.focus .caption {
	right:5%;
	bottom:5%;
	padding:0;
	margin:0;
}
.focus .caption li {
	list-style-type:none;
	font-size:.65em;
	line-height:1;
}
.focus .caption em {
	font-weight:bold;
	font-style:normal;
}
.focus hgroup {
	border-radius:50%;
	margin-bottom:2%;
	width:115px;
	height:115px;
	padding:10px;
	display:block;
	position:relative;
	border-top:3px solid #727573;
	border-bottom:2px solid #000;
	text-align: center;
	background: rgb(72,72,72);
	background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(4,4,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#040404',GradientType=0 );
}
.focus button {
	border:none;
	border-radius:3px;
	margin-top:5%;
	cursor:pointer;
	font-weight: bold;
	font-size:13px;
	padding:10px 15px;
	color:#FFF;
	background: rgb(141,141,141);
	background: linear-gradient(to bottom,  rgba(141,141,141,1) 0%,rgba(101,101,101,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#656565',GradientType=0 );
}
.focus button:hover {
	background:#AEB0B2;
}
.focus .pseudoTable {
	height:100%;
	display:table;
}
.focus .pseudoTable > span {
	display: table-cell;
    vertical-align: middle;
}
@media screen and (max-width: 768px) {
	.focus article {
		width:100%;
	}
	.focus .backLayer {
		margin-right:0;
		margin-bottom:5%;
	}
	.focus article:nth-child(2) .frontLayer {
		background:url(person-large.png) no-repeat right 30px;
	}
	.focus article:nth-child(3) .backLayer {
		background-position:right top;
	}
}
@media screen and (max-width: 480px) {
	.focus article:nth-child(1) .backLayer {
		background-position:center left;
	}
	.focus article:nth-child(2) .frontLayer {
		background:url(person.png) no-repeat right bottom;
	}
	.focus hgroup {
		width:100px;
		height:100px;
		padding:5px;
	}
	.focus hgroup h4 {
		font-size:80%;
	}
	.focus hgroup h5 {
		font-size:70%;
	}
}
@media screen and (max-width: 420px) {
	.focus article:nth-child(3) .backLayer {
		background-position:-200px top;
	}
}
/*# sourceMappingURL=focus2.css.map */